<!doctype html>
<html lang="en">
<!-- 	@@include('./_head.html')
 -->	<body class="home">
		<main>
			<%#= partial "svg_bundle"%>
<%= yield %>
<%= partial "partials/branding"%>
</main>
<!-- 		@@include('_ga.html')
 -->
		<script src="/pace.js"></script>
	</body>
</html>