<!doctype html>
<html lang="en">
<%= partial "partials/head" %>
<body class="home">
	<main>
		<%= yield %>
	</main>
	<%= partial "partials/svg_bundle" %>
	<%= partial "partials/ga" %>
	<script src="/pace.js"></script>
	</body>
</html>