---
# Main SASS file
---
// English fonts
@import url('//fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500');

// import sass files
@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";

// Defaults
@import "base.scss";

// Layouts
@import "nav.scss";
@import "landing.scss";
@import "footer.scss";

// Modules
@import "slick.scss";
@import "media.scss";
@import "stats.scss";
@import "listing.scss";
@import "break.scss";
@import "cards.scss";