---
# Master SASS file
---
@import "variables.scss";
@import "mixins.scss";
@import "journal.scss";
@import "manifesto.scss";


:root {
    --blackInk: #262626;
    --sunDown: #FFB2B2;
    // type scale
    --int: 1.556;
    --scale-0: 1rem;
    --scale--1: calc(var(--scale-0) / var(--int));
    --scale--2: calc(var(--scale-1) / var(--int));
    // testing vw based scale
    --scale-1: 1.4vw;
    --scale-2: 1.8vw;
    --scale-3: 2.4vw;
    --scale-4: 3.6vw;
    --scale-5: 4.6vw;
    
    --font-size-1: 1.4vw;

    --space-1: 1.250rem; // 20px
    --space-2: 1.667rem; // 30px
    --space-3: 2.222rem; // 40px
    --space-4: 3.333rem; // 60px
    --space-5: 4.444rem; // 80px
    --space-6: 5.556rem; // 100px
    --section-space: 6.667rem; // 120px
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
    line-height: 1.12;
    scroll-behavior: smooth;
}

@include responsive('min-width: #{$width-tablet}') {
    html { font-size: 112.5%; } /* 1rem = 18px */
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure,
.main-grid,
header,
footer {
    display: grid;
    grid-gap: var(--space-2);
    grid-template-columns: repeat(12, 1fr);
    padding-left: var(--space-3);
    padding-right: 0;
}

.menu {
    grid-column: 4 / 4;
}

.page-wrapper h1 {
    margin: 0;
    grid-column: 5 / 8;
}

.page-wrapper h2 {
    font-size: var(--scale-4);
    font-weight: normal;
    padding-top: var(--space-5);
    grid-column: 1 / 8;
}

header {
    padding-top: var(--space-2);
    padding-bottom: var(--space-3);
}

.call-out {
    position: absolute;
    white-space: nowrap;
    top: var(--space-2);
    right: var(--space-2);
    font-size: var(--scale-1);
}

h4.call-out {
    display: inline-block;
    transform-origin: right top;
    transform: rotate(90deg) translateX(100%);
    padding-left: var(--space-2);
}

.graphic img {
    grid-column: 2 / -2;
}

.section-margins {
    padding-top: var(--space-1);
    padding-bottom: var(--section-space);
}