---
# Master SASS file
---
@import url('//fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700');

@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "grid.scss";
@import "helpers.scss";
@import "page.scss";
@import "vision.scss";
@import "blog.scss";
@import "calendar.scss";
@import "manifesto.scss";
@import "press.scss";
@import "keypoints.scss";
@import "text-list.scss";
@import "text-links.scss";
@import "buttons.scss";
@import "program.scss";
@import "project.scss";
@import "checklist.scss";
@import "product.scss";
@import "hero.scss";
@import "updates.scss";
@import "tabs.scss";
@import "quotes.scss";
@import "contribute.scss";
@import "footer_small.scss";
@import "nav_overlay.scss";
@import "nav_overlay.scss";
@import "team.scss";
@import "image-grid.scss";
@import "jobs.scss";
@import "publication.scss";
@import "report.scss";
@import "values.scss";
@import "donate.scss";
@import "partners.scss";
@import "form.scss";

// @import "slick.scss";

:root {
    --black: #1A1A1A;
    --blackInk: #262626;
    --sunDown: #FFB2B2;
    --sunSet: #E74640;
    --accent: #F2DEDC;
    --checkBlue: #2D77FC;
    --vividBlue: #0055DD;
    --coral: #FF864D;
    --eastSide: #9F82C4;
    --cornflowerBlue: #5F9EE5;
    --texasRose: #FFB34D;
    --deepSea: #008D5E;
    --green: #04733B;
    --silver: #A7A7A7;
    --softOrange: #DAA06D;
    --brightGreen:#36B687;
    --brightNavy: #3358d5;
    --lightNavy: #6F89E2;
    --paleNavy: #C1CCF4;
    --paleBlue: #BBD6F4;
    --brightYellow: #FDEA51;
    
    // type scale
    --int: 1.333;
    --scale-0: 4vw;
    @include responsive('min-width: #{$width-tablet}') {
        --scale-0: 2.4vw;
    }
    @include responsive('min-width: #{$width-desktop}') {
        --scale-0: 1.8vw;
    }
    --scale--1: calc(var(--scale-0) / var(--int));
    --scale--2: calc(var(--scale-1) / var(--int));
    // testing vw based scale
    --scale-1: calc(var(--scale-0) * var(--int));
    --scale-2: calc(var(--scale-1) * var(--int));
    --scale-2-5: calc(var(--scale-1) * 1.18 * var(--int));
    --scale-3: calc(var(--scale-2) * var(--int));
    --scale-4: calc(var(--scale-3) * var(--int));
    --scale-5: calc(var(--scale-4) * var(--int));
    --scale-6: calc(var(--scale-5) * var(--int));
    --scale-7: calc(var(--scale-6) * var(--int));
    --scale-8: calc(var(--scale-7) * var(--int));
    --scale-9: calc(var(--scale-8) * var(--int));
    --scale-10: calc(var(--scale-9) * var(--int));
    
    --font-size-1: 1.4vw;
    --space-1: 1rem; // ?
    --space-2: 1.250rem; // 20px
    --space-3: 1.667rem; // 30px
    --space-4: 2.222rem; // 40px
    --space-5: 3.333rem; // 60px
    --space-6: 4.444rem; // 80px
    --space-7: 5.556rem; // 100px
    --space-8: 5.556rem; // 120px
    --section-space: var(--space-6);
    @include responsive('min-width: #{$width-tablet}') {
        --space-1: 1.250rem; // 20px
        --space-2: 1.667rem; // 30px
        --space-3: 2.222rem; // 40px
        --space-4: 3.333rem; // 60px
        --space-5: 4.444rem; // 80px
        --space-6: 5.556rem; // 100px
        --space-7: 5.556rem; // 120px
        --section-space: var(--space-7); // 120px
        --space-8: 7.778rem; // 140px
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

html {
    font-size: 3vmin;
    line-height: 1.12;
    scroll-behavior: smooth;
    @include responsive('min-width: #{$width-tablet}') {
        font-size: 18px;
    }
    color: var(--blackInk);
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.graphic,
.main-grid,
footer {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    overflow: visible;
    &.bleed {
        padding-left: 0;
        padding-right: 0;
    }
    &.bleed-left {
        padding-left: 0;
    }
    &.bleed-right {
        padding-right: 0;
    }
}

@include responsive('max-width: #{$width-mobile}') {
    *[class^="main-grid__"] {
        margin-bottom: var(--space-2);
        .bleed {
            padding-left: 0;
            padding-right: 0;
        }
        .bleed-left {
            padding-left: 0;
        }
        .bleed-right {
            padding-right: 0;
        }
    }
}

@include responsive('min-width: #{$width-tablet}') {
    figure.graphic,
    .main-grid,
    header,
    footer {
        display: grid;
        grid-gap: var(--space-2);
        grid-template-columns: repeat(12, 1fr);
    }
    .menu {
        grid-column: 1 / 6;
    }
    .front h1,
    .page-wrapper h1 {
        grid-column: 6 / 10;
        align-self: center;
        line-height: 1;
    }
}

@include responsive('min-width: #{$width-desktop}') {
    figure.graphic,
    .main-grid,
    header,
    footer {
        display: grid;
        grid-gap: var(--space-2);
        grid-template-columns: repeat(12, 1fr);
    }
    .menu {
        grid-column: 1 / 5;
    }
    .front h1,
    .page-wrapper h1 {
        grid-column: 5 / 8;
        align-self: center;
        line-height: 1;
    }
}

header {
    svg:not(:root) {
        overflow: visible;
    };
}

.front header {
    padding-bottom: var(--space-3);
}

// When menu is not open
.site:not([data-menu]) .header {
    .nav-overlay {
        visibility: hidden;
    }
}

// When menu is open
.site[data-menu] {
    overflow: hidden;
}

.site[data-menu] .header {
    .menu {
        z-index: 99;
        background-color: var(--sunDown);
        position: relative;
        width: 100%;
    }
    .nav-overlay {
      visibility: visible;
    }
}

header .meedan {
    z-index: 100;
    display: flex;
    align-items: center;
}

header .meedan svg {
    fill: var(--blackInk);
}

.front:not([data-menu]) header .meedan svg {
    fill: var(--sunDown);
}

.front[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

.team[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

.values[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

.campaign[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

.publication[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

.report[data-menu] header .meedan svg {
    fill: var(--blackInk);
}

header .menu-icon svg {
    stroke: var(--blackInk);
}

.front:not([data-menu]) .menu-icon svg {
    stroke: var(--sunDown);
}

.front[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.team[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.values[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.campaign[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.report[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.publication[data-menu] .menu-icon svg {
    stroke: var(--blackInk);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--space-2);
    padding-left: var(--space-3);
    padding-right: var(--space-2);
    padding-bottom: var(--space-2);
    .menu-icon {
        height: 2rem;
        display: flex;
        align-items: center;
    }
    &:hover {
        svg {
            fill: var(--blackInk);
        }
        cursor: pointer;
    }
}

header h1 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    font-size: var(--scale-2);
    @include responsive('min-width: #{$width-desktop}') {
        font-size: var(--scale-1);
    }
    margin: 0;
    align-self: center;
    a {
        color: var(--blackInk);
        text-decoration: none;
    }
}

.dark h1 {
    a { 
        color: var(--sunDown);
    }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .page-wrapper header h1,
    .front header h1 {
        padding-left: var(--space-3);
    }
    .page-wrapper header h2,
    .front h2 {
        padding-right: 2rem;
    }
}

.page-wrapper header h2 {
    grid-column: 1 / 11;
    font-size: var(--scale-5);
    @include responsive('min-width: #{$width-desktop}') {
        font-size: var(--scale-6);
    }
    line-height: 1;
    padding-top: var(--space-5);
    padding-left: var(--space-3);
    overflow-wrap: break-word;
    hyphens: auto;
}

.front {
    background-color: var(--accent);
}

.front header h2 {
    grid-column: 1 / 12;
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 1 / 10;
    }
    font-size: var(--scale-2);
    @include responsive('min-width: #{$width-desktop}') {
        font-size: var(--scale-2);
    }
    padding-top: var(--space-5);
    padding-left: var(--space-3);
}

.front .graphic {
    position: relative;
    // margin-bottom: var(--section-space);
}

.front .graphic img {
    grid-column: 2 / 12;
}

@include responsive('min-width: #{$width-desktop}') {
    .front .graphic img {
        grid-column: 2 / -2;
    }
}

.front .graphic:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 68%;
    background-color: var(--blackInk);
    z-index: -1;
}

.callout {
    position: absolute;
    white-space: nowrap;
    top: var(--space-4);
    right: var(--space-4);
    overflow: visible;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .callout {
        display: none;
        // top: var(--space-6);
    }
}

.callout text {
    // font-size: 26px;
    font-size: var(--scale-2);
    @include responsive('min-width: #{$width-desktop}') {
        // font-size: 32px;
        font-size: var(--scale-1);
    }
    fill: var(--blackInk);
}

.dark .callout text {
    fill: var(--sunDown);
}

.dark p a {
    color: inherit;
}

// .front h4.callout {
//     display: inline-block;
//     transform-origin: right top;
//     transform: rotate(90deg) translateX(100%);
//     padding-left: var(--space-2);
// }

.cursor {
    visibility: hidden;
    opacity: 0;
    width: var(--space-6);
    height: var(--space-6);
    border: 2px solid var(--blackInk);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 111;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--scale-0);
    .close {
        display: none;
    }
}

.front .cursor,
.team .cursor,
.report .cursor,
.publication .cursor,
.values .cursor {
    border-color: var(--sunDown);
}

.cursor.cursor-active {
    visibility: visible;
    opacity: 1;
}

.site[data-menu] .cursor {
    .close {
        display: inline;
    }
    .open {
        display: none;
    }
} 

.front[data-menu] .cursor,
.team[data-menu] .cursor,
.report[data-menu] .cursor,
.publication[data-menu] .cursor,
.values[data-menu] .cursor,
.campaign[data-menu] .cursor,
.project[data-menu] .cursor,
.program[data-menu] .cursor {
    color: var(--blackInk);
    border-color: var(--blackInk);
}