---
# Master SASS file
---
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "journal.scss";
@import "manifesto.scss";


:root {
    --blackInk: #262626;
    --sunDown: #FFB2B2;
    --accent: #F2DEDC;
    
    // type scale
    --int: 1.333;
    --scale-0: 2.4vw;
    @include responsive('min-width: #{$width-tablet}') {
        --scale-0: 1.8vw;
    }
    --scale--1: calc(var(--scale-0) / var(--int));
    --scale--2: calc(var(--scale-1) / var(--int));
    // testing vw based scale
    --scale-1: calc(var(--scale-0) * var(--int));
    --scale-2: calc(var(--scale-1) * var(--int));
    --scale-2-5: calc(var(--scale-1) * 1.18 * var(--int));
    --scale-3: calc(var(--scale-2) * var(--int));
    --scale-4: calc(var(--scale-3) * var(--int));
    --scale-5: calc(var(--scale-4) * var(--int));
    --scale-6: calc(var(--scale-5) * var(--int));
    --scale-7: calc(var(--scale-6) * var(--int));
    --scale-8: calc(var(--scale-7) * var(--int));
    --scale-9: calc(var(--scale-8) * var(--int));
    --scale-10: calc(var(--scale-9) * var(--int));
    
    --font-size-1: 1.4vw;
    --space-1: 0.833rem; // 15px
    --space-2: 1.250rem; // 20px
    --space-3: 1.667rem; // 30px
    --space-4: 2.222rem; // 40px
    --space-5: 3.333rem; // 60px
    --space-6: 4.444rem; // 80px
    --space-7: 5.556rem; // 100px
    --section-space: var(--space-6);
    @include responsive('min-width: #{$width-tablet}') {
        --space-1: 1.250rem; // 20px
        --space-2: 1.667rem; // 30px
        --space-3: 2.222rem; // 40px
        --space-4: 3.333rem; // 60px
        --space-5: 4.444rem; // 80px
        --space-6: 5.556rem; // 100px
        --section-space: 6.667rem; // 120px
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

html {
    font-size: 3vmin;
    line-height: 1.12;
    scroll-behavior: smooth;
    @include responsive('min-width: #{$width-tablet}') {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include responsive('min-width: #{$width-tablet}') {
    figure,
    .main-grid,
    header,
    footer {
        display: grid;
        grid-gap: var(--space-2);
        grid-template-columns: repeat(12, 1fr);
    }
    .menu {
        grid-column: 1 / 5;
    }
    .page-wrapper h1 {
        grid-column: 5 / 8;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-icon {
        height: 2rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
}

.page-wrapper h1 {
    font-weight: normal;
    margin: 0;
    align-self: center;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .page-wrapper .meedan {
        display: none;
    }
    .page-wrapper .menu {
        float: left;
    }
    .page-wrapper h2 {
        padding-right: 4rem;
    }
}

.front .page-wrapper h2 {
    grid-column: 1 / 9;
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 1 / 7;
    }
    font-size: var(--scale-4);
    @include responsive('min-width: #{$width-desktop}') {
        font-size: var(--scale-3);
    }
    font-weight: normal;
    padding-top: var(--space-5);
}

.front header .meedan svg {
    fill: var(--sunDown);
}

.front header .menu svg {
    stroke: var(--sunDown);
}

header {
    padding-top: var(--space-2);
    padding-bottom: var(--space-3);
    padding-left: var(--space-3);
    padding-right: 0;
    svg:not(:root) {
        overflow: visible;
    };
}

.callout {
    position: absolute;
    white-space: nowrap;
    top: var(--space-4);
    right: var(--space-4);
    font-size: var(--scale-1);
    font-weight: normal;
}

.callout text {
    font-size: 26px;
    fill: var(--sunDown);
}

@include responsive('min-width: #{$width-desktop}') {
    .callout text {
        font-size: 32px;
    }
}

// .front h4.callout {
//     display: inline-block;
//     transform-origin: right top;
//     transform: rotate(90deg) translateX(100%);
//     padding-left: var(--space-2);
// }

.front .graphic {
    position: relative;
    margin-bottom: var(--section-space);
}

.front .graphic img {
    grid-column: 1 / -2;
}

@include responsive('min-width: #{$width-desktop}') {
    .front .graphic img {
        grid-column: 2 / -2;
    }
}

.front .graphic:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 68%;
    background-color: var(--blackInk);
    z-index: -1;
}

.section-padding {
    padding-top: var(--space-4);
    padding-bottom: var(--section-space);
}

.section-margin {
    margin-top: var(--space-4);
    margin-bottom: var(--section-space);
}

.dark {
    background-color: var(--blackInk);
    color: var(--sunDown);
}