---
layout: "default"
slug: "bridge-TOS"
---
<main class="policy">
  <h2>Bridge Terms of Service</h2>
  <p>Modified September 18th, 2015 &nbsp;</p>
  <h3>1. General Information Regarding These Terms of Service</h3>
  <p>Bridge is a platform developed by Meedan Labs, Inc, (&ldquo;Meedan&rdquo; &ldquo;we&rdquo; &ldquo;us&rdquo;). Our goal in developing Bridge was to make the world a more crosslingual and crosscultural and in general a better place. Really. We hope these Terms of Service (the &lsquo;TOS&rsquo; or &lsquo;Terms&rsquo;) reflect our commitment to carry these values through to the formal agreement with our Users. These terms have been lovingly prepared by us, and are being licensed under a Creative Commons 4.0 Attribution (BY) unported license. We have cribbed heavily from the open licensed TOS of the excellent people at WordPress.com (Automattic, Inc), Harvard University&rsquo;s Berkman Center, and Creative Commons. Should you decide to make use of these terms, as is permitted under the licensing, do attribute Meedan and the organizations and companies named above. And, it would be super if you would share with us (<a href="mailto:feedback@meedan.com">feedback@meedan.com</a>) any insights your lawyers have as they review these terms. &nbsp;</p>

  <h3>2. The Services</h3>
  <p>Meedan provides Bridge users with the ability to translate and annotate social media content from the internet. We do this through web and mobile applications, through an API, and through &nbsp;associated plugins and widgets. Collectively these are referred to as &ldquo;the Service(s).&rdquo; The Services includes all software, data, text, images, content made available or accessed by any Bridge technology and any website we support to express these services. The sites included in the services include but are not limited to: http://meedan.com, http://speakbridge.io, http://bridge-embed.com, http://bridg.es, and associated subdomains. &nbsp;</p>

  <p>The Service does not, however, include any third party software, application, widget, or integration used in concert with Bridge.&nbsp;An example of such might be Google Analytics. Any such third party technologies have their own terms of service. As new features and changes in the code are made they inherit the full force of these TOS.&nbsp;Moreover, we maintain and reserve the right to modify any aspect of the services at any time. All rights, title and interest in and to the Service, including intellectual property rights, remains with and belongs to Meedan. </p>

  <h3>3. Your Agreement to the Terms</h3>
  <p>These Terms describe Meedan&rsquo;s offerings to you, the User, and describe your obligations to us, Meedan, and to other users of our Services, and is an agreement between you, the User, and us, Meedan, the service provider (the &ldquo;Agreement&rdquo;). In order to use our services you must accept the Terms and <a href="/en/bridge/bridge_privacy.html">Meedan&rsquo;s Privacy Policy</a>. BY INSTALLING, OR OTHERWISE USING THE SERVICES, YOU AGREE TO THESE TERMS, including the Privacy Policy which is incorporated here by reference and INCLUDING THE BINDING ARBITRATION PROVISION BELOW. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT INSTALL OR OTHERWISE USE THE SERVICES. </p>

  <p>If you are accessing our services in a working capacity, say, for instance, you are a journalist setting up a Bridge project for a breaking story, or a social media manager using Bridge for your brand, and you are entering into this TOS on behalf of a legal entity, then you represent and warrant that you have the authority to enter into these terms on behalf of that entity and to bind any affiliates, users, clients, or other associated parties to these TOS. If you do not have such authority, or if you do not agree with this TOS, you may not use the Service. In the case that you are binding a company or other legal entity to this TOS, the terms &lsquo;you&rsquo; or &lsquo;your&rsquo; refer to that entity and all affiliates, members, and administrators, as applicable. You acknowledge that this TOS is a contract between you and Meedan, and it governs your use of the Service.</p>

  <p>You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.</p>

  <h3>4. Changes to the Terms</h3>

  <p>We reserve the right to modify the Terms at any time, without prior notice, by making changes to this page. You are responsible for regularly reviewing these terms.&nbsp;Your continued use of the site after such changes serves as an acknowledgment and acceptance of the amended Terms. </p>

  <h3>5. Age of User&nbsp;</h3>
  <p>Bridge is not directed to children younger than 13, and service on the Website is only offered to users 13 years of age or older. If you are under 13 years old, please do not register to use the Website. Any person who registers as a user or provides their personal information to the Website represents that they are 13 years of age or older.</p>

  <h3>6. Translation, Accuracy, and Translation Rights </h3>
  <p>Bridge allows you to translate across language boundaries on the internet as a means of increasing knowledge dissemination and improving global communications. We view our work to create translations as enabling an annotation layer on top of publicly available knowledge. </p>

  <ul>
      <li>We do not assume any translation rights&nbsp;to any content our users choose to translate, annotate (with text, voice, image, or video), or transcribe (with text or audio). </li>
      <li>We do not make any claims to the quality, accuracy of these translations and annotations. </li>
      <li>We do not make any claims to the relative quality indicated through reputational, rating, or experience metrics that might be expressed for individual translators or individual translations.</li>
  </ul>

  <p>We provide the ability for users to invoke Machine Translation pre-processing of content and we also provide the ability for users to add terms into public glossaries. </p>

  <p>WE MAKE NO GUARANTEE NOR MAKE ANY CLAIM TO THE ACCURACY OR QUALITY OF ANY TRANSLATED CONTENT OF ANY SORT ON BRIDGE. ALWAYS ENGAGE WITH A PROFESSIONAL TRANSLATION AGENCY IF YOU WANT PROFESSIONAL TRANSLATION. &nbsp;</p>

  <p>In using our service you acknowledge this express limitation. If you are a content creator whose works have been translated by a Bridge user and you wish to opt out of any future translation please send a note expressing this to <a href="mailto:donottranslate@meedan.com">donottranslate@meedan.com</a>&nbsp;with detailed information on the account or specific content you wish to have removed from Bridge. </p>

  <h3>7. Privacy Policy</h3>
  <p>Any information that you or other users provide to Meedan is subject to our <a href="/en/bridge/bridge_privacy.html">Privacy Policy</a>. Our Privacy Policy set forward our obligations regarding the collection and use of your information. Meedan is committed to responsibly handling the information and data we collect through our Services in compliance with this policy. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to any countries where we may have servers located. You will have various affordances in the services for controlling our in-app and out-of-app, email, phone, and SMS communications, but we reserve the right to notify you of activity related to your status or or account security even if you have opted out of system notifications. Please review the Privacy Policy so you are aware of how we collect and use your personal information.</p>

  <h3>8. Passwords</h3>
  <p>You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use strong passwords with your account. Password character length is the only true measure of a password&rsquo;s strength, we encourage you to create strong passwords. If your account is hacked or your password falls into the wrong hands, Meedan cannot and will not be liable for any loss or damage arising from this loss of control of your account, though we will always make every good faith effort to return a lost account to you if we determine your account was hacked. </p>

  <h3>9. User Guidelines </h3>
  <p>Because Bridge is an international site, and because we recognize that laws governing media use, personal publishing, free speech, and communications vary from country to country, these user guidelines do not substitute for, nor protect users from obligations that may be codified in their national media and communications laws. We are particularly aware that the varying political, social, and cultural sensitivities of our users demand we take an active approach to ensuring everyone can participate in a respectful, inclusive online environment. </p>

  <p>In consideration of your use of the site, you agree to:</p>
  <ul>
      <li>Provide accurate information about you as may be prompted by any registration forms on the site (&ldquo;Registration Data&rdquo;).</li>
      <li>Maintain the security and confidentiality of your password and identification.</li>
      <li>Maintain and promptly update the Registration Data, and any other information you provide to Company, to keep it accurate, current and complete</li>
      <li>Notify Meedan immediately if you suspect unauthorized use of your Bridge account.</li>
  </ul>

  <p>You agree not to engage in any of the following activities:</p>
  <ul>
      <li>Violating laws and rights: You may not (a) use any Service for any illegal purpose or in violation of any local, state, national, or international laws, (b) violate or encourage others to violate any right of or obligation to a third party, including by infringing, misappropriating, or violating intellectual property, confidentiality, or privacy rights.</li>
      <li>Solicitation: You may not use the Services or any information provided through the Services for the transmission of advertising or promotional materials, including junk mail, spam, chain letters, pyramid schemes, or any other form of unsolicited or unwelcome solicitation.</li>
      <li>Disruption: You may not use the Services in any manner that could disable, overburden, damage, or impair the Services, or interfere with any other party&rsquo;s use and enjoyment of the Services; including by (a) uploading or otherwise disseminating any virus, adware, spyware, worm or other malicious code, or (b) interfering with or disrupting any network, equipment, or server connected to or used to provide any of the Services, or violating any regulation, policy, or procedure of any network, equipment, or server.</li>
      <li>Harming others: You may not post or transmit Content on or through the Services that is harmful, offensive, obscene, abusive, invasive of privacy, defamatory, hateful or otherwise discriminatory, false or misleading, or incites an illegal act; You may not intimidate or harass another through the Services; and, You may not post or transmit any personally identifiable information about persons under 13 years of age on or through the Services.</li>
      <li>Impersonation or unauthorized access: You may not impersonate another person or entity, or misrepresent your affiliation with a person or entity when using the Services; You may not use or attempt to use another&rsquo;s account or personal information; and, You may not attempt to gain unauthorized access to the Services, or the computer systems or networks connected to the Services, through hacking password mining or any other means.</li>
      <li>You may not sell or transfer your account to another person, unless it is an organizational account and you are transferring ownership of that account to another admin.</li>
      <li>You expressly represent and warrant that your use of the Services is not contrary to applicable U.S. Sanctions. Such use is prohibited, and we reserve the right to terminate accounts or access of those in the event of a breach of this condition.</li>
  </ul>

  <h3>10. Content rights, responsibilities, and representations</h3>
  <p>With respect to content you submit or make available for inclusion on publicly accessible areas of the Services, you grant Meedan a non-exclusive, royalty-free, perpetual, and worldwide license to use your content in connection with the operation of the Services, including, without limitation, the license rights to copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate, use as training or machine learning corpora, machine translate, reformat, and/or to incorporate it into a collective work.</p>

  <p>Content Posted on Other Websites</p>
  <p>We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which Bridge or our Services link, and that link back to our Services. Meedan does not have any control over those websites and webpages, and is not responsible for their contents or their use. By linking to an outside website or webpage, Meedan does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Meedan disclaims any responsibility for any harm resulting from your use of these websites and webpages.</p>

  <p>User Representations and Warranties</p>
  <p>By posting any content, you represent and warrant that you have all right, title, and interest to such posted content, including but not limited to any consent, authorization, release, clearance or license from any third party (such as, but not limited to, any release related to rights of privacy or publicity) necessary for you to provide, post, upload, input or submit the content, and that posting such content does not violate or constitute the infringement of any patent, copyright, trademark, trade secret, right of privacy, right of publicity, moral rights, or other intellectual property right recognized by any applicable jurisdiction of any person or entity, or otherwise constitute the breach of any agreement with any other person or entity. You further represent and warrant that you are who you say you are, that you have not submitted false or inaccurate information about yourself, and that all information contained in the posted content is true and your own work or work you are authorized to submit, and that the posted content does not contain any threatening, harassing, libelous, false, defamatory, offensive, obscene, or pornographic, material, or other material that would violate any other applicable law or regulation. You agree that you will not knowingly and with intent to defraud provide material and misleading information. You represent and warrant that the content you supply does not violate the Terms.</p>

  <h3>11. Bridge API Terms</h3>

  <p>Customers may access the services via the Bridge Application Program Interface ("API" or, “APIs”). Use of the API, either directly or through a third-party product that accesses the Service, is bound by the Bridge standard Terms of Use (in which these terms are included), where your use of the API is considered a use of the Services, plus the following API specific terms:</p>
  <ol>
    <li>You expressly understand and agree that Meedan Labs shall not be liable for any damages or losses resulting from your use of the API or third-party products that access data via the API.</li>
    <li>You expressly understand that Meedan Labs shall at its discretion and without notice make changes to the API which might cause interruption of the services, or may remove services or calls made via the API. Good Karma, and general human decency would have us communicating any changes to the API with our developer and customer community before making changes, but we are not legally bound to preserve API structures or continue API services. Our doing so might require you to change your code and/or your business model. Again, though, we don’t want to be _that_ company and mean to avoid such crappy behavior.</li>
    <li>By using the Bridge APIs to push content onto your webpages or applications, you agree to inform users about how your app or website or service copies, caches, stores or retains any content or data, and refresh any stored or cached content or data at a reasonable interval, and to include a privacy policy which is readily accessible from all pages of your app or website and which complies with all applicable laws, including but not limited to the California Online Privacy Protection Act of 2003.</li>
    <li> By using the Bridge API to publish/push content into the Bridge platform, you agree to ensure that content abides by the Bridge Terms of Service.</li>
    <li>Place excessive API calls to our systems or otherwise overburden our systems, as determined by the Company in its sole discretion.</li>
    <li>Share or misuse your API token.</li>
    <li>Use any information provided by Bridge users (including content) to market any products or services that are competitive with Bridge or any Meedan Labs products, or allow third parties to do so. This obligation survives any expiration or termination of these terms of use.</li>
    <li>Use or allow the use of Bridge APIs or any App to send or facilitate the sending of unsolicited communications or for any fraudulent purpose, including phishing.</li>
    <li>Modify, decompile, reverse engineer or otherwise alter or seek to derive the trade secrets and other inherent intellectual property of the Bridge APIs.</li>
    <li>Use the Bridge APIs (i) to create or enable any App, website, tool, or other mechanism that is, or enables, or operates in conjunction with, any malware, spyware, adware, other malicious programs or code, or (ii) in any manner that would violate any applicable law or governmental regulation.</li>
    <li>Display, cache or store user passwords.</li>
  </ol>

  <h3>12. Disputes between Users.</h3>
  <p>You are solely responsible for your conduct. We reserve the right, but have no obligation, to monitor disputes between you and other users.</p>

  <h3>13. Account Termination</h3>
  <p>Meedan reserves the right to terminate your Account or restrict access to your Account, or to delete any content posted through your Account, with or without notice, for any or for no reason, and without any liability to you. </p>

  <h3>14. DISCLAIMER OF WARRANTIES</h3>
  <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, MEEDAN OFFERS THE SERVICES (INCLUDING ALL CONTENT AVAILABLE ON OR THROUGH THE SERVICES) AS-IS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND CONCERNING THE SERVICES, EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. MEEDAN DOES NOT WARRANT THAT THE FUNCTIONS OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT CONTENT MADE AVAILABLE ON OR THROUGH THE SERVICES WILL BE ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY SERVERS USED BY CC ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. MEEDAN DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE OF THE CONTENT AVAILABLE THROUGH THE SERVICES IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE.</p>

  <h3>15. LIMITATION OF LIABILITY</h3>
  <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL MEEDAN BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME, LOST PROFITS, PAIN AND SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR SERVICES, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY THAT ARISE IN CONNECTION WITH THE SERVICES (OR THE TERMINATION THEREOF FOR ANY REASON), EVEN IF MEEDAN HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
  <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, MEEDAN IS NOT RESPONSIBLE OR LIABLE WHATSOEVER IN ANY MANNER FOR ANY CONTENT POSTED ON OR AVAILABLE THROUGH THE SERVICES (INCLUDING CLAIMS OF INFRINGEMENT RELATING TO THAT CONTENT), FOR YOUR USE OF THE SERVICES, OR FOR THE CONDUCT OF THIRD PARTIES ON OR THROUGH THE SERVICES.</p>
  <p>Certain jurisdictions do not permit the exclusion of certain warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply to you. IN THESE JURISDICTIONS, THE FOREGOING EXCLUSIONS AND LIMITATIONS WILL BE ENFORCED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW.</p>

  <h3>16. Indemnification</h3>
  <p>To the extent authorized by law, you agree to indemnify and hold harmless Meedan, its employees, officers, directors, affiliates, and agents from and against any and all claims, losses, expenses, damages, and costs, including reasonable attorneys fees, resulting directly or indirectly from or arising out of (a) your violation of the Terms, (b) your use of any of the Services, and/or &copy; the Content you make available on any of the Services.</p>

  <h3>17. Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;) </h3>
  <p>Meedan respects copyright, and we prohibit users of the Services from submitting, uploading, posting, or otherwise transmitting any Content on the Services that violates another person&rsquo;s proprietary rights.</p>

  <p>To report allegedly infringing Content hosted on a website owned or controlled by Meedan, send a Notice of Infringing Materials as set out in Meedan&rsquo;s Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;) Notice &amp; Takedown Procedure. </p>

  <h3>DMCA Notice and Takedown Procedure</h3>
  <p>It is our policy to expeditiously respond to clear notices of alleged copyright infringement that comply with the United States Digital Millennium Copyright Act (DMCA). This page describes the information that should be present in these notices. It is designed to make submitting notices of alleged infringement to Meedan as straightforward as possible while reducing the number of notices that we receive that are fraudulent or difficult to understand or verify. The form of notice specified below is consistent with the form suggested by the DMCA (the text of which can be found at the <a href="http://www.copyright.gov">U.S. Copyright Office Web Site</a>), but we will respond to notices of this form from other jurisdictions as well.</p>

  <p>It is expected that all users of any part of the Meedan site will comply with applicable copyright laws. However, if the Meedan receives proper notification of claimed copyright infringement, our response to these notices will include removing or disabling access to material claimed to be the subject of infringing activity and/or terminating subscribers, regardless of whether we may be liable for such infringement under United States law or the laws of another jurisdiction.</p>

  <p>If we remove or disable access in response to such a notice, we will make a good-faith attempt to contact the owner or administrator of the affected site or content so that they may make a counter notification pursuant to Sections 512(g)(2) and (3) of the DMCA. We may also document notices of alleged infringement on which we act.</p>

  <h3>Designated Agent</h3>
  <p>Meedan&rsquo;s Designated Agent to receive notification of alleged infringement under the DMCA is: Ed Bice</p>
  <p>Email: <a href="mailto:DMCA@meedan.com">DMCA@meedan.com</a></p>
  <p>Physical Mail: 1355 Market, Suite 488 San Francisco, CA 94103</p>
  <p></p>
  <p>Upon receipt of proper notification of claimed infringement, Meedan will follow the procedures outlined herein and in the DMCA.</p>

  <h3>Infringement Notification</h3>
  <p>If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide Meedan&rsquo;s Registered Agent (listed above) the following information in a written communication (preferably via email): </p>
  <ul>
      <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; </li>
      <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Meedan to locate the material; </li>
      <li>Information reasonably sufficient to permit Meedan to contact the complaining party, such as an address, telephone number, and, if available, an email address at which the complaining party may be contacted; </li>
      <li>The following statement: &ldquo;I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law&rdquo;; </li>
      <li>The following statement: &ldquo;I swear, under penalty of perjury, that the information in the notification is accurate, and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed&rdquo;; </li>
      <li>and A physical or electronic signature of the owner or a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
  </ul>

  <p>Please note that you may be liable for damages (including costs and attorneys&rsquo; fees) if you materially misrepresent that material is infringing your copyrights. Accordingly, if you are not sure whether material available online infringes your copyright, we suggest that you first contact an attorney.</p>

  <h3>Counter Notification</h3>
  <p>A provider of content subject to a claim of infringement may make a counter notification pursuant to sections 512(g)(2) and (3) of the DMCA. To file a counter notification with us, please provide Meedan&rsquo;s Registered Agent (listed above) the following information in a written communication (preferably via email):</p>

  <ul>
      <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
      <li>Your name, address, and telephone number;</li>
      <li>The following statement: &ldquo;I consent to the jurisdiction of Federal District Court for the [insert the federal judicial district in which your address is located]&rdquo;;</li>
      <li>The following statement: &ldquo;I will accept service of process from [insert the name of the person who submitted the infringement notification] or his/her agent&rdquo;;</li>
      <li>The following statement: &ldquo;I swear, under penalty of perjury, that I have a good faith belief that the affected material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled&rdquo;; and</li>
      <li>Your signature, in physical or electronic form.</li>
  </ul>

  <p>Upon receipt of such counter notification, Meedan will promptly provide the person who provided the original infringement notification with a copy of the counter notification, and inform that person that Meedan will replace the removed material or cease disabling access to it in 10 business days. Meedan will replace the removed material and cease disabling access to it not less than 10, nor more than 14, business days following receipt of the counter notice, unless our Designated Agent first receives notice from the person who submitted the original infringement notification that such person has filed an action seeking a court order to restrain the subscriber from engaging in infringing activity relating to the material on our system or network.</p>

  <h3>Repeat Infringers</h3>

  <p>In accordance with Section 512(i)(1)(a) of the DMCA, Meedan will, in appropriate circumstances, disable and/or terminate the accounts of users who are repeat infringers.</p>

  <p>Accommodation of Standard Technical Measures</p>

  <p>It is Meedan&rsquo;s policy to accommodate and not interfere with standard technical measures used by copyright owners to identify or protect copyrighted works that Meedan determines are reasonable under the circumstances.</p>

  <h3>16. Termination</h3>
  <p>By Meedan:&nbsp;Meedan may modify, suspend, or terminate the operation of, or access to, all or any portion of the Services at any time for any reason. Additionally, your individual access to, and use of, the Services may be terminated by Meedan at any time and for any reason.</p>
  <p>By you: If you wish to terminate this agreement, you may immediately stop accessing or using the Services at any time.</p>

  <p>Automatic upon breach: Your right to access and use the Services (including use of your account) terminates automatically upon your breach of any of the Terms. </p>
  <p>Survival: The disclaimer of warranties, the limitation of liability, and the jurisdiction and applicable law provisions will survive any termination. The license grants applicable to Your </p>
  <p>Content are not impacted by the termination of the Terms and shall continue in effect subject to the terms of the applicable license. Your warranties and indemnification obligations will survive for one year after termination.</p>

  <h3>18. Translation </h3>
  <p>These Terms of Service were originally written in English (US). We may translate these Terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.</p>

  <h3>19. Miscellaneous</h3>
  <p>This Agreement constitutes the entire agreement between the Company and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of the Company, or by the posting by the Company of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (&ldquo;JAMS&rdquo;) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys&rsquo; fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties&rsquo; original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Meedan may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
</main>