/////////////////////////// Imports
@import "compass/reset";
@import "compass/css3";
@import "colors";
@import "animation";
@import "transitions";
@import "clearfix";

/////////////////////////// Breakpoint
$breakpoint: 699px;

/////////////////////////// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,900);

/////////////////////////// Base styles
///
/// Later in the cascade, these are overridden for different sites.
///
body {
  padding-bottom: 1em;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1em;
  font-size: 23px;
  font-weight: 400;
  background: {
    color: $warm-grey;
    image: image-url("meedan_logo_trans.png");
    repeat: no-repeat;
    position: top left;
    size: cover;
  };
}

img {
  max-width: 90%;
}

h1 {
  font-weight: 200;
}

em {
  font-weight: bold;
}

h2, h3 {
  font-weight: 500;
  font-family: "open sans", "helvetica neue", "helvetica";
  text-transform: uppercase;
  font-size: 1em;
}

a {
  color: $accent-blue;
  text-decoration: none;
  border-bottom: 3px $light-blue solid;
}

div {
  padding: 5em;
  border-bottom: 4px solid darken($warm-grey, 2%);
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  padding: 1em 1em;
}

nav {
  border-bottom: 4px solid darken($warm-grey, 2%);
  #logo {
    display: inline-block;
  }
}

/////////////////////////// Sections
///
nav {
  background: {
    color: white;
    image: image-url("a.jpg");
    repeat: no-repeat;
    position: top left;
    size: cover;
  };
  padding-top: 4em;
}

/////////////////////////// Hed
///
.hed {
  font-size: 2em;
  background: {
    color: $warm-grey;
  };
  color: $darkest-color;
  padding: 1em;
  text-align: center;
}

/////////////////////////// Projects
///
.projects {
  background: {
    color: $warm-grey;
    image: image-url("gradient.png");
    repeat: no-repeat;
    position: top left;
    size: cover;
  };
  a {
    color: $darkest-color;
    font-size: 1.5em;
    background-color: white;
    padding: 1em 0.5em;
  }
}

/////////////////////////// Funders
///
.funders {}

/////////////////////////// Media Coverage
///
.media-coverage {
  background-color: $accent-orange;
  // @include box-shadow(inset 0 0 50px desaturate($accent-orange, 40%));
  a {
    color: $darkest-color;
    border-bottom: 3px solid darken($accent-orange, 10%);
  }
}

/////////////////////////// Contact information
///
.vcard {
  font-size: 18px;
  font-weight: 200;
  div {
    @include reset-box-model;
  }
  color: darken($warm-grey, 20%);
  a {
    color: darken($warm-grey, 20%);
    text-decoration: underline;
    border-bottom-width: 0;
  }
  .org {
    color: darken($warm-grey, 20%);
  }
}

///////////////////////////////////////////////////////
/// Only for Meedan labs dot com 
///
body.meedan-labs {
  font-family: "lato", "Helvetica Neue";
  @media all and (max-width: $breakpoint) {
    font-size: 18px;
    .hed {
      font-size: 18px;
      font-weight: 400;
      color: #333;
    }
    div {
      padding: 1em;
    }
  }
}

///////////////////////////////////////////////////////
/// Only for Meedan dot org
///
body.meedan-org {
  font-family: "open sans", "Helvetica Neue";
  font-size: 18px;
}