---
title: Asia Pacific
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program regions bg-color--yellow-orange
permalink: /check-global/regions/asia-pacific
h2: Asia Pacific
standfirst: | 
    Political misinformation, attacks on independent media, and internet shutdowns have been on the rise in the region. While there are more platforms and more fact-checkers in the region, there exists a huge digital divide both in terms of availability of infrastructure for people to access information and a knowledge gap in accessing digital opportunities.   
description: | 
    Political misinformation, attacks on independent media, and internet shutdowns have been on the rise in the region. While there are more platforms and more fact-checkers in the region, there exists a huge digital divide both in terms of availability of infrastructure for people to access information and a knowledge gap in accessing digital opportunities.   
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">In Depth</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        The region has been witnessing an erosion of democracy due to rising attacks on independent media, human rights violations, political and communal misinformation and internet shutdowns. Existing structural inequalities in the form of digital divide in access to the internet and information and marginalization along the lines of religion and gender are adding to the challenge. 
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Political <br/>misinformation</div>
            <div class="description">Political misinformation has posed a huge challenge to democratic processes and integrity of elections in the region. State-actors, media groups, and social media users have been responsible for spreading misinformation, thereby resulting in a lack of trust in the media. </div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Attack on independent <br/>media and censorship</div>
            <div class="description">Independent media in the region face the threat of being attacked with journalists and activists facing online threats. Women face higher risks of being harassed. Freedom of media also faces obstacles in the form of censorship and internet shutdowns in the region.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Hate speech<br/> and violence</div>
            <div class="description">Hate speech on online platforms has posed the risk of offline violence. In countries like Myanmar and India, hateful content against certain communities give way to hatred and violence.</div>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-8">Program Managers</h3>
        </div>
    </div>
</div>
<div class="module module-featured-2-columns section-bottom-margin bleed-right">
    <div class="module-wrapper module-bg module-bg-color--east-side">
        <div class="text">
            <div class="graphic cutout">
                <img src="//images.ctfassets.net/g118h5yoccvd/4W4zBZJbLGmMHwVoiJgY4C/063f2118d51ca14a23e0190b61e167f2/shalini.png" alt="Shalini" />
            </div>
            <div class="header">
                <h4 class="title">Shalini Joshi</h4>
            </div>
            <div class="description">
                Shalini Joshi has worked as a media educator and journalist in India and is cofounder of Khabar Lahariya, an independent women-led newsroom in India. 
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="mailto:shalini@meedan.com">Contact Shalini<span>→</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text">
            <div class="graphic cutout">
                <img src="//images.ctfassets.net/g118h5yoccvd/517yqCoX9S1njA5duhdEMg/d36e64e9a5c950c4a034b9b1c8523f1b/sneha.png" alt="Sneha" />
            </div>
            <div class="header">
                <h4 class="title">Sneha Alexander</h4>
            </div>
            <div class="description">
                Sneha Alexander is a public policy graduate with work experiences as a data journalist and fact-checker in India.
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="mailto:sneha@meedan.com">Contact Sneha<span>→</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% include module_story_grid.html count="2" title="● Blog posts by Shalini Joshi" words_by="o2SUkfpjcZYozMKy01Wis" %}

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-8">Funded Partners</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="https://verafiles.org/">
            <div class="name">VERAfiles</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.rappler.com/">
            <div class="name">Rappler</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://basabali.org">
            <div class="name">BASAbali</div>
            <div class="description">Indonesia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.tempo.co/">
            <div class="name">Tempo</div>
            <div class="description">Indonesia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="http://sadbhavanatrust.org.in/">
            <div class="name">Sadbhavana Trust</div>
            <div class="description">India</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://tfc-taiwan.org.tw">
            <div class="name">Taiwan Fact Check Center</div>
            <div class="description">Taiwan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point">
            <div class="name">Chambal Media</div>
            <div class="description">India</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://digitalrightsfoundation.pk/">
            <div class="name">Digital Rights Foundation</div>
            <div class="description">Pakistan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://opendevelopmentcambodia.net">
            <div class="name">Open Development</div>
            <div class="description">Cambodia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.facebook.com/DisabiltyEmp/about/">
            <div class="name">Disability Empowerment Society</div>
            <div class="description">Nepal</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point">
            <div class="name">Saraswati Foundation</div>
            <div class="description">Nepal</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://iyap.global">
            <div class="name">International Youth Alliance For Peace</div>
            <div class="description">Sri Lanka</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point">
            <div class="name">Carol Dawonlay</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>

{% include module_updates.html 
    count="4" 
    title="● Updates" 
    updates_list_id = "4QdE6h5eHkAOf559be7ttv" 
%}

{% include footer_small.html %}