---
title: Latin America
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program regions bg-color--light-cyan
permalink: /check-global/regions/latin-america
h2: Latin America
standfirst: | 
    Through the Check Global project we support initiatives that are helping hold the line for democracy, information and media freedom, with a focus on independent media and diverse communities; women, LGBTQ+, periferias (urban, rural) and indigenous populations across the region.  
description: | 
    Through the Check Global project we support initiatives that are helping hold the line for democracy, information and media freedom, with a focus on independent media and diverse communities; women, LGBTQ+, periferias (urban, rural) and indigenous populations across the region. 
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">In Depth</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        Threats in the region take different forms: misinformation, state violence and negligent ‘rushing through’ of legislation to govern technology. We support initiatives in: fact checking; media literacy (news deserts and indigenous people); media security training; policy making; archiving. 
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">News <br/>deserts</div>
            <div class="description">Decades of media concentrated ownership created news deserts in the region, in <a href="https://www.atlas.jor.br/desertos-de-noticia/">Brazil 62%</a> of the cities do not have local media news organizations. Lack of independent information makes it difficult for the population to demand accountability from government officials.</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Self-censorship and <br />authoritarian excesses</div>
            <div class="description">With an increasing distrust in the media fueled by local government in the form of <a href="https://latamjournalismreview.org/articles/attacks-journalists-brazil-2020-bolsonaro/">public threats</a> and persecutions, the region suffers from <a href="https://www.washingtonpost.com/world/2021/06/26/nicaragua-ortega-politicians-journalists-flee/">direct authoritarian</a> excess as well as journalists' self censorship, fearing threats to their lives.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Lack of <br />official data</div>
            <div class="description">Indigenous communities and quilombola leaders responsible for protecting the environment have been under increasing threats by governments. Due to the <a href="https://english.elpais.com/opinion/2020-06-19/the-death-of-the-future-covid-19-among-brazils-indigenous-peoples.html">lack of official data</a>, journalists, activists and civil society organisations are in charge of investigating and gathering this data.</div>
        </div>
    </div>
</div>
<div class="module module-featured-2-columns section-margin bleed-right">
    <div class="module-wrapper module-bg module-bg-color--bright-red">
        <div class="text">
            <div class="header">
                <div class="tag">Program Manager</div>
                <h4 class="title">Isabella Barroso</h4>
            </div>
            <div class="description">
                Journalist, technology consultant, and digital security trainer. Working at the intersection of society, technology, and feminist communities. Currently researching the implications of content moderation policies on intersectional feminist collectives in Latin America and its impact on their archiving practices.
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="mailto:isabella@meedan.com">Contact Isabella Barroso<span>↗</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="graphic cutout">
            <img src="//images.ctfassets.net/g118h5yoccvd/DgPivbZeNzVXe6fDV4o6Y/2f70861c2f8746731997f767f01947f6/isa_23_b.png" alt="Isabella Barroso" />
        </div>
    </div>
</div>

{% include module_story_grid.html count="2" title="● Blog posts by Isabella Barroso" words_by="57swkb0x1YLvhHB31YFb3U" %}

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-8">Funded Partners</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="//chicaspoderosas.org/about/">
            <div class="name">Chicas Poderosas</div>
            <div class="description">Latin America</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.agenciamural.org.br">
            <div class="name">Agência Mural</div>
            <div class="description">Brasil</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.animalpolitico.com">
            <div class="name">Animal Político</div>
            <div class="description">Mexico</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Transmedia</div>
            <div class="description">Brasil</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.etechecagem.com/">
            <div class="name">Eté Checagem</div>
            <div class="description">Brasil</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//rudacolectiva.com/">
            <div class="name">Ruda Coletiva</div>
            <div class="description">Latin America</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//mulherias.blogosfera.uol.com.br/">
            <div class="name">Coletivo Mulherias</div>
            <div class="description">Brasil</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.instagram.com/cirandeiras/">
            <div class="name">Coletivo Cirandeiras</div>
            <div class="description">Brasil</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.periodismodebarrio.org/">
            <div class="name">Periodismo de Barrio</div>
            <div class="description">Cuba</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//eltoque.com/">
            <div class="name">elTOQUE</div>
            <div class="description">Cuba</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.instagram.com/chicaspoderosasec/">
            <div class="name">Isabel Gonzales and Chicas Poderosas</div>
            <div class="description">Ecuador</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//web.karisma.org.co/">
            <div class="name">Fundacíon Karisma</div>
            <div class="description">Columbia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="//www.codingrights.org/">
            <div class="name">Coding Rights</div>
            <div class="description">Brazil and Latin America</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>

<div class="module module-featured-2-columns clickable section-margin">
    <div class="module-wrapper module-bg-color--black-ink dark">
        <div class="text">
            <div class="header">
                <div class="tag">Featured Project</div>
                <h4 class="title"><a href="https://meedan.com/files/viral_politics.pdf">Viral Politics: Tales from the Pandemia</a></h4>
            </div>
            <div class="description">
                Our ‘Viral Politics’ zine was launched in December 2020, exploring themes of media, technology and the pandemic, illustrated by nine comic artists from APAC, NAWA, Africa and Latin America. 
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="https://meedan.com/blog/launching-the-check-global-zine-viral-politics-tales-from-the-pandemia/">Read about the project<span>→</span></a>
                        </li>
                        <li>
                            <a href="https://meedan.com/files/viral_politics.pdf">Download the zine<span>↓</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://meedan.com/files/viral_politics.pdf" class="graphic" title="Download the zine"> 
            <img class="display--block" src="//images.ctfassets.net/g118h5yoccvd/57XLwZZSIWEa0I1wN3Gp1N/75c5e68e3cd9e8e68224db7660280083/viral-politics-4.jpg" alt="Viral Politics: Tales from the Pandemia" />
        </a>
    </div>
</div>


{% include module_updates.html 
    count="4" 
    title="● Highlights from our team and partners" 
    updates_list_id = "6e5hOgeXnbnVYZYIrZCR5J" 
%}  

{% include footer_small.html %}