---
title: North Africa, Western Asia
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program regions bg-color--east-side
permalink: /check-global/regions/north-africa-western-asia-nawa
h2: North Africa, Western Asia
standfirst: | 
    The North Africa Western Asia region was where our Check work really started. We have worked with numerous partners over the years, as well as students on university journalism courses, with aims of developing journalism and specific skills such as verification. A variety of work has also been funded through the NAWA- Investigative Fund.  
description: | 
    The North Africa Western Asia region was where our Check work really started. We have worked with numerous partners over the years, as well as students on university journalism courses, with aims of developing journalism and specific skills such as verification. A variety of work has also been funded through the NAWA- Investigative Fund. 
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">In Depth</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        North Africa Western Asia orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pulvinar nunc, id luctus felis. Nunc erat diam, dictum eu odio ullamcorper, sodales facilisis magna. Vestibulum mollis lorem ac magna accumsan, ut porta neque. 
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Infrastructure <br />and internet access</div>
            <div class="description">Poor infrastructure is an issue in both rural and urban areas, where access to power and the Internet can make it hard to communicate, mobilise, share sources, and publish work. These conditions also fluctuate inconsistently.</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Barriers<br /> to journalism</div>
            <div class="description">Bureaucracy and other state pressures can make it very hard for alternative journalists or organisations to be registered and therefore deemed to be operating legally. Oppositional websites and platforms are frequently shut down and journalists arrested.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Alternative media <br />labelled as ‘fake news’</div>
            <div class="description">State actors often use their own mainstream media platforms, or those used by activists (such as Facebook), to attack and criminalise opposing media sources and narratives, dismissing them as ‘fake news’.</div>
        </div>
    </div>
</div>
<div class="module module-featured-2-columns section-margin bleed-right">
    <div class="module-wrapper module-bg module-bg-color--coral">
        <div class="text">
            <div class="header">
                <div class="tag">NAWA Programme Manager</div>
                <h4 class="title">Azza el Masri </h4>
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisd do eiusmod tempor incididunt ut labore et dolore magna aliquanostrud exercitation.
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="">Contact Azza<span>↗</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="graphic cutout">
            <img src="//images.ctfassets.net/g118h5yoccvd/5rDtROnrB7iVWfWGF6xhgm/33c6ba9f5867a03217cb8ade9a2eaea3/Azza_circle.png" alt="Azza" />
        </div>
    </div>
</div>

{% include module_story_grid.html count="2" title="● Blog posts by Azza" words_by="4JqOrlVgCscDebeRwxYBu8" %}

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">NAWA Partners</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="#">
            <div class="name">Digital Rights Foundation</div>
            <div class="description">Pakistan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Metras</div>
            <div class="description">Palestine</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Syrian Archive</div>
            <div class="description">Syria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Sowt</div>
            <div class="description">Jordan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Yemeni Archive</div>
            <div class="description">Yemen</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>

{% include footer_small.html %}