---
title: North Africa, Western Asia
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program regions bg-color--green-cyan
permalink: /check-global/regions/north-africa-western-asia-nawa
h2: North Africa, Western Asia
standfirst: | 
    The North Africa Western Asia region was where our Check work really started. We have worked with numerous partners over the years, as well as students on university journalism courses, with aims of developing journalism and specific skills such as verification. A variety of work has also been funded through the NAWA-Investigative Fund.  
description: | 
    The North Africa Western Asia region was where our Check work really started. We have worked with numerous partners over the years, as well as students on university journalism courses, with aims of developing journalism and specific skills such as verification. A variety of work has also been funded through the NAWA-Investigative Fund. 
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">In Depth</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        Following various uprisings in the NAWA region since 2011, it is too easy to assume these led to improved conditions. However, the region still faces numerous pressures on civilians, activist groups, and journalists. Some of these are more direct, while others are a result of poor infrastructure, making it clear that organisations working to counter these barriers require more support. 
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Infrastructure <br />and internet access</div>
            <div class="description">Poor infrastructure is an issue in both rural and urban areas, where access to power and the Internet can make it hard to communicate, mobilise, share sources, and publish work. These conditions also fluctuate inconsistently.</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Barriers<br /> to journalism</div>
            <div class="description">Bureaucracy and other state pressures can make it very hard for alternative journalists or organisations to be registered and therefore deemed to be operating legally. Oppositional websites and platforms are frequently shut down and journalists arrested.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Alternative media <br />labelled as ‘fake news’</div>
            <div class="description">State actors often use their own mainstream media platforms, or those used by activists (such as Facebook), to attack and criminalise opposing media sources and narratives, dismissing them as ‘fake news’.</div>
        </div>
    </div>
</div>

<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">NAWA Partners</h3>
        </div>
    </div>
</div>
<div class="module module-key-points">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="https://metras.co/">
            <div class="name">Metras</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://mnemonic.org/">
            <div class="name">Mnemonic</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://wsrw.org/en">
            <div class="name">Watching Western Sahara</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.sowt.com/en">
            <div class="name">Sowt</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="http://radiomedenine.com/">
            <div class="name">Radio Mednine</div>
            <div class="description">Tunisia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="http://radiomedenine.com/">
            <div class="name">Radio Mednine</div>
            <div class="description">Tunisia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://nawaat.org/">
            <div class="name">Nawaat</div>
            <div class="description">Tunisia</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://syriauntold.com/en/">
            <div class="name">SyriaUntold</div>
            <div class="description">Syria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://thepublicsource.org/">
            <div class="name">The Public Source</div>
            <div class="description">Lebanon</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://megaphone.news/">
            <div class="name">Megaphone</div>
            <div class="description">Lebanon</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://ul.edu.lb/">
            <div class="name">Lebanese University</div>
            <div class="description">Lebanon</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://english.legal-agenda.com/">
            <div class="name">The Legal Agenda</div>
            <div class="description">Lebanon</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>
<div class="main-grid section-margin">
    <div class="main-grid__1-8">
        We also work with additional organisations and individuals in Egypt, Yemen, Syria, who are not included here for security reasons.
     </div>
</div>

<div class="module module-featured-2-columns clickable section-margin">
    <div class="module-wrapper module-bg-color--bright-red">
        <div class="text">
            <div class="header">
                <div class="tag">Featured Project</div>
                <h4 class="title"><a href="https://meedan.com/blog/beirut-response-fund-for-independent-media-in-lebanon/">Beirut Response Fund</a></h4>
            </div>
            <div class="description">
                As an example of how we respond reactively to crises, in 2020 we reallocated funds to support journalists, organisations and students affected by the explosion in Beirut’s pier districts, helping them to continue operating.  
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="https://meedan.com/blog/beirut-response-fund-for-independent-media-in-lebanon/">Read more about the project<span>→</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://meedan.com/blog/beirut-response-fund-for-independent-media-in-lebanon/" title="Beirut Response Fund" class="graphic">
            <img class="display--block" src="//images.ctfassets.net/g118h5yoccvd/7yu3pvm6ivohoCzFytmIdW/c4ac65e059f26ed6210af7c6f1c2effe/meedan_beirut-response-fund.jpg" alt="Check Global Executive Sumary" />
        </a>
    </div>
</div>

{% include module_updates.html 
    count="4" 
    title="● Updates" 
    updates_list_id = "3XnIccZaUegQCvGqIwynB6" 
%}

{% include footer_small.html %}