---
title: Sub-Saharan Africa
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program regions bg-color--yellow-green
permalink: /check-global/regions/sub-saharan-africa
h2: Sub-Saharan Africa
standfirst: | 
    The Sub-Saharan Africa region is characterized by fragile media ecosystems, targeted misinformation and disinformation campaigns by state and non-state actors, internet shutdowns, censorship, and suppression of freedom of expression.  
description: | 
    The Sub-Saharan Africa region is characterized by fragile media ecosystems, targeted misinformation and disinformation campaigns by state and non-state actors, internet shutdowns, censorship, and suppression of freedom of expression. These especially affect marginalized groups, who often lack access to platforms and are misrepresented and denied meaningful representation in the media. 
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="font-size--scale-2">
            These especially affect marginalized groups, who often lack access to platforms and are misrepresented and denied meaningful representation in the media.
        </p>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">In Depth</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        The region is characterized by fragile media ecosystems, resulting from loss of revenue, outright attacks on journalists, shrinking spaces for civil society and underrepresentation of women and other key groups. Community media is gaining prominence in Kenya, Ghana and Zimbabwe, as have organizations highlighting and giving platforms to marginalized groups. 
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Gender <br />inequality</div>
            <div class="description">Women are underrepresented in key decision-making and content production roles in the media in Sub-Saharan Africa, and this has in turn led to a lack of representative content that addresses issues that they care about and that affect them directly.</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Fragile media<br /> ecosystems</div>
            <div class="description">Government interference in the media in Tanzania and Zimbabwe, internet shutdowns in Ethiopia and Uganda, and loss of revenues in Ghana and Kenya has threatened and weakened the media, and they have consequently struggled to stay independent, objective and profitable.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Election misinformation<br /> and disinformation</div>
            <div class="description">Targeted false information is a potential challenge that could affect elections in the region, and as a growing number of people get their information online, we are likely to see attempts to subvert elections through social media and messaging platforms.</div>
        </div>
    </div>
</div>
<div class="module module-featured-2-columns section-margin bleed-right color--yellow-green">
    <div class="module-wrapper module-bg module-bg-color--black-ink dark">
        <div class="text">
            <div class="header">
                <div class="tag">Program Manager</div>
                <h4 class="title">Eric Mugendi</h4>
            </div>
            <div class="description">
                Mugendi is a verification expert, having managed one of Africa’s leading fact-checking organizations. He has an interest in  technology for good, and has also contributed to the growth of citizen-driven civic tech initiatives in East Africa.
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="mailto:mugendi@meedan.com">Eric Mugendi<span>↗</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="graphic cutout">
            <img src="//images.ctfassets.net/g118h5yoccvd/6lPoxDX40zqmEi5GG2SPst/7d5b742ab750060c91986943d51ce816/Mugendi_2circles.png" alt="Eric Mugendi" />
        </div>
    </div>
</div>

{% include module_story_grid.html count="2" title="● Blog posts by Eric Mugendi" words_by="18FtmHTul8o99S7bphXZGX" %}

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-8">Funded Partners</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="https://cite.org.zw/">
            <div class="name">CITE</div>
            <div class="description">Zimbabwe</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://ghanafact.com/">
            <div class="name">GhanaFact</div>
            <div class="description">Ghana</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://debunk.media/">
            <div class="name">Debunk Media</div>
            <div class="description">Kenya</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://peoplescheck.org/">
            <div class="name">People’s Check</div>
            <div class="description">Nigeria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.daljir.com/">
            <div class="name">Radio Daljir</div>
            <div class="description">Nigeria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://zeropauvreafrique.org/">
            <div class="name">Zéro Pauvre Afrique</div>
            <div class="description">Guinea-Conakry</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.instagram.com/familywelfarefoundation/?hl=en">
            <div class="name">Family Welfare Foundation</div>
            <div class="description">Tanzania</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://mciug.org/">
            <div class="name">Media Challenge Initiative</div>
            <div class="description">Uganda</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="https://www.kictanet.or.ke/the-global-disease-online-gender-inequality/">
            <div class="name">KICTAnet</div>
            <div class="description">Kenya</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>

{% include module_updates.html 
    count="4" 
    title="● Updates" 
    updates_list_id = "5erNP3Q1cpXE0nkUi863N0" 
%}

{% include footer_small.html %}