---
layout: "default"
slug: "annual-report-2015"
ogp:
  og:
    description: 'The 2015 Meedan Annual Report'
    image:
      '': http://meedan.com/images/annual-report/group.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---

<div class="annual-report--section lead-photo image-banner-wrap">
  <div class="image-banner"></div>
  <div class="caption">2015 media training session by Meedan partner Welad El Balad in Egypt. CC-BY Welad El Balad</div>
</div>

<div class="annual-report--section lead-text">
  <h1><span class="the">The</span> 2015 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
</div>

<div class="annual-report--section ceo-note">
  <div class="inner">
    <h2>CEO’s Note</h2>
    <p>This past year saw the continued retreat of media freedom in the countries where Meedan’s team conducts our work. As such, it was a very challenging year for the team and the organization. The Cairo based independent media project we worked for much of 2015 to prepare, Al Manassa, was spun off to complete Egyptian ownership in December of 2015. A great success in terms of our goal of seeding and supporting independent media in the region, but in reality a very clear compromise to pressures from those who will not abide foreign involvement in creative projects and programs. 
    </p>

    <p>These pressures represent an existential threat to all projects like Meedan that are premised on connecting cross-cultural communities. Against this we can only raise good intentions, do creative work, and continue an organizational culture that forwards friendly optimism in spite of the hostility, cynicism, and bureaucracy that prevails. 
    </p>

    <p>Working during challenging times and across ten time zones this means that team meetings are not optional; they are critical to maintaining the organization. In 2015 we gathered our team members and some of our Checkdesk partners in a small town in the mountains of Italy’s Marche region, Coldigioco. Coldigioco alternately translates as the ‘hill of play (gioco)’ or the ‘hill of the yoke (guoco-slang).’ Trying to have a good time building tools in service of web based collaborations we could find no two better metaphors. Our Checkdesk is, like the yoke, a tool that we hope can bring together several oxen — well, in our case, journalists — to do the work of tilling the rocky and treacherous soil of the social web. Building an internal culture where our work — designing, coding, reporting, training, writing, translating, writing — is confused with play is an ongoing aspiration. But, put forward in this public, annual report, you have me on the record wanting to encourage a sense of creativity, of play, for this team of people working on some of the most challenging problems our world faces at a moment in history when human suffering in the Middle East and the subsequent life endangering migrations are at levels unseen since WWII. So the abiding hope is that regardless the M&amp;E reports, regardless the elusive bugs, that we come to our work to build digital bridges as if we are on the Col di Gioco. 
    </p>

    <p>I am certain that the next years will see social media journalism continue to evolve as social moves to real time and blurry camera phones move to hi def streaming video. In all the stops along the way we will still be needing to solve for the fundamental challenge of bringing meaning and context behind the good actors and the bad actors alike. Meedan has, I often say, staked out a set of some of the most challenging and most important digital challenges in the world. The underlying premise is that if we can build the tools with our users, and if we can train with some of the best journalists in the world that the long arc of the internet will bend toward deeper context and truer tellings and that the world will begin to improve the way it understands itself. Through this lens perhaps the next stage of globalization will be seen as an opening to the creative collaborations and discoveries this planet so needs. In spite of the evidence to the contrary we will try to continue our organizational tilting at the windmills, at play. 
    </p>

    <p>Salam,</p>
    <p>
      <span class="full-name"><a href="http://twitter.com/edbice">Ed Bice</a></span>
      <span class="title">CEO &amp; Board Chair</span>
      <span class="note">Filed from somewhere between Cairo, San Francisco, and Coldigioco</span>
    </p>
  </div>
</div>

<div class="annual-report--section image-banner-wrap">
  <div class="image-banner team-2"></div>
  <div class="caption">Meedan developers, Karim Ratib and Caio Almeida. CC-BY 2015 Meedan</div>
</div>

<div class="annual-report--section mission-statement">
  <div class="inner">
    <h2>Our Mission</h2>
    <p>Meedan builds web and mobile tools and implements creative projects for journalists and translators. Like our namesake — “town square” in Arabic — our tools serve as a gathering place for talented people working to add context to the social web. Our approach is to design and implement human-centered, creative, and ambitious projects with world-class partners, including, corporations, media companies, universities, and researchers. Through all these projects we explore and support research, curriculum development, and new forms of digital storytelling.  Our vision is a world that is better able to see, understand, and value its diversity. This, we hope, will lead to the real promise of a digitally networked planet, a global conversation that is wider, deeper, and more effective.</p>


    <h2>Where we were in 2015</h2>

     
     <p>In 2015 Meedan and our network of partners conducted training, reporting, and hosted events in the Arab world (Egypt &amp; Lebanon), Europe (Latvia, Estonia, Italy, UK, Sweden), Asia (Philippines, Hong Kong), and North America (USA and Canada). Events we presented at included:
     </p>

     <ul>
       <li><span class="location-europe">Stockholm, Sweden</span> <em>Stockholm Internet Forum 2015</em> - Hosted official pre-conference day gathering activists and researchers from MENA</li>
       <li><span class="location-europe">Turin, Italy</span> <em>Prix Italia 2015</em> - Moderated an international panel on verification and eyewitness media</li>
       <li><span class="location-europe">London, UK</span> <em>EBU Verification Network Conference at BBC</em> - Led advanced verification training for journalists from BBC, ARD, and other major European newsrooms.</li>
       <li><span class="location-us">Pittsburgh, US</span> <em>Carnegie Mellon Human Rights Media Center</em></li>
       <li><span class="location-us">Pittsburgh, US</span> <em>Knight Prototype Fund Demo Day</em> - Presented on Checkdesk project</li>
       <li><span class="location-asia">Manila, Philippines</span> <em>RightsCon15</em> - Presented on Checkdesk project</li>
       <li><span class="location-us">New York, USA</span> <em>Personal Democracy Forum</em> - Moderated panel on verification</li>
       <li><span class="location-canada">Vancouver, Canada</span> <em>Hacks/Hackers Vancouver</em> - Presented on Checkdesk project</li>
       <li><span class="location-europe">Coldigioco, Italy</span> <em>Checkdesk Partners Meeting</em> - 20 team members and partners from Al Manassa, Bellingcat, Global Voices, Oxford Internet Institute, and Mada Masr training, designing, coding, and brainstorming. </li>
     </ul>
  </div>
</div>

<div class="annual-report--section image-banner-wrap">
  <div class="image-banner team-3"></div>
  <div class="caption">Part of the Meedan team gathered in Vancouver. CC-BY Meedan</div>
</div>

<div class="annual-report--section programs">
  <h2>Our Programs</h2>

  <ul>
    <li>
      <h3>Checkdesk: Developing citizen journalism in the Arab region</h3>
      <p>The Checkdesk program seeks to develop digital media literacy and citizen journalism in the Arab world, through the provision of high quality reporting tools (Checkdesk), training resources (ArabCitizenMedia.org) and reporting by grassroots media collectives.
      </p>
    </li>

    <li>
      <h3>The Verification Handbook for Investigative Journalism in Arabic</h3>
      <p>In addition to contributing a case study, Meedan led the official translation into Arabic of the second Verification Handbook (for Investigative Journalism) published by the European Journalism Center and set for release in 2016.
      </p>
    </li>

    <li>
      <h3>The <br> First Draft <br> Coalition</h3>
      <p>The First Draft Coalition is a network of organizations with skills and expertise in verification and eyewitness media. Convened by Google News Lab in April 2015 to develop best practices and training resources for digital newsgathering , Meedan is a founding member of the coalition and has published regular articles and research and attended a number of international events to present on our work.</p>
    </li>
  </ul>
</div>

<div class="annual-report--section financials">
  <div class="inner">
    <h2>2015 Financials</h2>

    <table>
      <tr>
        <td><h3>Revenues</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$142,831</td>
      </tr>
      <tr>
        <td>Program service revenue </td>
        <td>$32,495</td>
      </tr>
      <tr>
        <td>Investment income</td>
        <td>$204</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$175,530</td>
      </tr>
      <tr>
        <td><h3>Expenditures</h3></td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$1,060,735</td>
      </tr>
    </table>
  </div>
</div>

<div class="annual-report--section contact-us">
  <h2>Meedan’s Board of Directors:</h2>
  <ul>
    <li>Muna AbuSulayman</li>
    <li>Ed Bice </li>
    <li>Jon Corshen</li>
    <li>Hanan Heikal</li>
    <li>Wael Fakharany</li>
  </ul>
</div>

<div class="annual-report--section contact-us">
  <h2>Contact</h2>

  <div>
    <span>Meedan Inc.</span>
    <span>1355 Market, Suite 488</span>
    <span>San Francisco, CA</span>
    <span>94103</span>
  </div>

  <a class="hello" href="mailto:hello@meedan.com">hello@meedan.com</a>
</div>

<div class="annual-report--section donate">
  <h2>Donate</h2>

  <p>Support Meedan in building world class tools for journalists, citizen journalists and translators.
  </p>

  <a class="button" href="https://donorbox.org/support-meedan-in-2016">Become a Meedan Supporter</a>
</div>