// The Checkdesk product page

body.project--checkdesk {
  background: white;
}
.checkdesk-branding {
  background-color: $logoyellow;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  color: white;
  vertical-align: middle;
  padding: .5em;
  position: relative;
  text-shadow: 0 0 5px $firefly30;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p.slogan {
    font-weight: 300;
    font-size: 1.25em;
  }
  img.checkdesk-splash {
    width:80%;
    max-width: 1050px;
  }
  @media all and (max-width: $breakpoint) {
    img.checkdesklogo {
      width: 8em;
    }
    img.checkdesk-splash {
      padding-top: 0em;
      width:80%;
    }
  }
}


section.checkdesk-quotes {
  background: rgba($firefly80, 1);
  color: $firefly10;
  padding: 1em;
  a {
    color: rgba(white, 0.6);
    border-bottom: 2px solid rgba(white, 0.2);
  }
  p {
    padding: .5em;
  }
}

section.checkdesk-github {
  background: $firefly80;
  color: $firefly10;
  padding: 1em;
  a.tinyletter {
    font-size: .5em;
    text-decoration: none;
    border-bottom-width: 0;
  }
  p {
    padding: .75em;
  }
}

section.checkdesk-partners {
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .partners--logos {
    padding: 1em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 200px;
      margin: .5em 1.5em;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80% !important;
      }
    }
  }
}

section.checkdesk-history {
  background: rgba($firefly80, 1);
  color: $firefly2;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p {
    padding: .5em;
  }
}

section.checkdesk-support {
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p {
    padding: .5em;
  }
  .support--logos {
    padding: 1em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 200px;
      margin: .5em 1.5em;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80% !important;
      }
    }
  }
}

section.checkdesk-explanations {
  @extend %clearfix;
  width: 100%;
  padding: 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  p.tagline {
    font-weight: 600;
  }
}

.description {
  clear: none;
  background: white;
  text-align: left;
  padding: .25em;
  @include column(40%);
}

.screenshot {
  @include column(60%);
  background: white;
  padding: .5em;
  min-width: 320px;
  img {
    max-width: 100%;
    min-width: 320px;
  }
}
