// The Checkdesk product page

body.project--checkdesk {
  background: white;
}

.checkdesk-branding {
  background-color: $logoyellow;
  background-position: cover 100% no-repeat;
  width: 100%;
  margin: 0 auto;
  color: white;
  vertical-align: middle;
  padding: .5em;
  position: relative;
  text-shadow: 0 0 5px $firefly30;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p.slogan {
    font-weight: 300;
    font-size: 1.25em;
  }
  img.checkdesk-splash {
    width: 80%;
    max-width: 1050px;
    margin-top: -40px;
    transition: margin 1s;
  }
  @media all and (max-width: $breakpoint) {
    img.checkdesklogo {
      width: 8em;
    }
    img.checkdesk-splash {
      padding-top: 0em;
      width: 80%;
    }
  }
}

$form-width: 500px;

section.newsletter {
  form {
    z-index: 1;
    text-align: left;
    width: $form-width;
    margin: 0 auto;
    position: relative;
    input[type='submit'] {
      border: 1px solid rgba(0, 0, 0, 0.08);
      width: $form-width;
      color: white;
      border-radius: 4px;
      border-width: 0;
      padding: 1.3em;
      font-size: 0.9em;
      display: block;
      margin: 1em 0;
      background-color: $firefly80;
    }
    input[type='email'],
    input[type='text'] {
      position: relative;
      padding: 1em 0.3em 0.5em;
      font-size: 1.3em;
      line-height: 1.5;
      font-weight: 500;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-width: 1px;
      box-shadow: none;
      z-index: 1;
      display: block;
      width: $form-width;
    }
    label {
      z-index: 2;
      display: inline-block;
      position: absolute;
      line-height: 1.7;
      top: 0px;
      left: 0px;
      font-size: 0.8em;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.4);
      padding: 0.4em;
      transition: all .1s ease;
      filter: opacity(0.8);
      color: $firefly80;
    }
  }
}

section.checkdesk-quotes {
  background: rgba($firefly80, 1);
  color: $firefly10;
  padding: 1em;
  a {
    color: rgba(white, 0.6);
    border-bottom: 2px solid rgba(white, 0.2);
  }
  p {
    padding: .5em;
  }
}

section.checkdesk-github {
  background: $firefly80;
  color: $firefly10;
  padding: 1em;
  a.tinyletter {
    font-size: .5em;
    text-decoration: none;
    border-bottom-width: 0;
  }
  a {
    color: white;
    border-bottom: 2px solid white;
  }
  a:hover {
    background-color: $firefly10;
  }
  p {
    padding: .75em;
  }
}

section.checkdesk-partners {
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .partners--logos {
    padding: 3em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 200px;
      margin: .5em 1.5em;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80% !important;
      }
      &.welad, &.mada {
        max-width: 70px;
      }
    }
  }
}

section.checkdesk-history {
  background: rgba($firefly80, 1);
  color: $firefly2;
  padding: 1em;
  a {
    color: white;
    border-bottom: 2px solid white;
  }
  a:hover {
    background-color: $firefly10;
  }
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p {
    padding: .5em;
  }
}

section.checkdesk-support {
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p {
    padding: .5em;
  }
  .support--logos {
    padding: 1em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 200px;
      margin: .5em 1.5em;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80% !important;
      }
    }
  }
}

section.checkdesk-explanations {
  @extend %clearfix;
  width: 100%;
  padding: 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  p.tagline {
    font-weight: 600;
  }
}

.description {
  clear: none;
  background: white;
  text-align: left;
  padding: .25em;
  @include column(40%);
}

.screenshot {
  @include column(60%);
  background: white;
  padding: .5em;
  min-width: 320px;
  img {
    max-width: 100%;
    min-width: 320px;
  }
}

.footer {
  background: rgba($firefly80, 1);
  color: $firefly2;
  margin-top: 2em;
  padding: 1em;
  a {
    border-bottom: none;
  }
  a:hover {
    background-color: $firefly10;
  }
}