// The Checkdesk product page
//

body.project--checkdesk {
  background: white;
}

// Branding section 
//
.checkdesk-branding {
  background-color: $logoyellow;
  background-position: cover 100% no-repeat;
  width: 100%;
  margin: 0 auto;
  color: white;
  vertical-align: middle;
  padding: .5em;
  position: relative;
  text-shadow: 0 0 5px $firefly30;
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  p.slogan {
    font-weight: 300;
    font-size: 1.25em;
  }
  img.checkdesk-splash {
    width: 80%;
    max-width: 1050px;
  }
  @media all and (max-width: $breakpoint) {
    img.checkdesklogo {
      width: 8em;
    }
    img.checkdesk-splash {
      padding-top: 0em;
      width: 80%;
    }
  }
}

// Sections with Defaults 
// 
// (Note: any <section> element must have a header <h*> element)
//
section {
  color: $firefly80;
  padding: 1em 1em 4em;
  p {
    margin: 0 auto;
  }
}

// Inverted color <section>s
//
.checkdesk-history,
.checkdesk-github,
.footer {
  background: $firefly80;
  color: $firefly10;
  a {
    @extend %link--inverted;
  }
}

.checkdesk-newsletter {
  background: $firefly2;
}

// Partners
//
section.checkdesk-partners {
  .partners--logos {
    @extend %flex-container;
    a {
      @extend %flex-item;
      @extend %link--image;
    }
    img.welad,
    img.mada {
      max-height: 70px;
    }
  }
}

// Support Logos
//
section.checkdesk-support {
  .support--logos {
    @extend %flex-container;
    a {
      @extend %flex-item;
      @extend %link--image;
      padding: 1em;
    }
  }
}

// Explanations
//
section.checkdesk-explanations {
  @extend %clearfix;
  width: 100%;
  padding: 2em 0.5em;
  max-width: 1000px;
  margin: 0 auto;
  p {
    padding: 1em;
  }
  p.tagline {
    font-weight: 600;
  }
}

// Descriptions
//
.description {
  clear: none;
  background: white;
  text-align: left;
  padding: .25em;
  @include column(40%);
}

// Screenshots
//
.screenshot {
  @include column(60%);
  background: white;
  padding: .5em;
  min-width: 320px;
  img {
    max-width: 100%;
    min-width: 320px;
  }
}