section.checkdesk-branding {
  border: 3px solid blue;
  background-color: $logoyellow;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  color: white;
  vertical-align: middle;
  padding: 1em;
  position: relative;
  text-shadow: 0 0 5px black;
  h1 { font-size:1.5em;
      font-weight:600;
    }
  p {
     &.slogan {font-weight:300; font-size: 1.25em;}
   }
  img{
      @media all and (max-width: $breakpoint) {
       margin: 0;
       width: 40%;
       }
       &.checkdesklogo {
       width: 10em;

       }
       &.checkdesksplash{
       width:40em;
       @media all and (max-width: $breakpoint) {
       margin: 0;
       width: 40%;
        }
       }
      }




  @media all and (max-width: $breakpoint) {
    height: auto;
  }

}




section.checkdesk-quotes {
  border: 3px solid pink;
  background: rgba($firefly80, 1);
  color: $firefly10;
  padding:1em;
  p{
    padding:.5em;
  }
}

section.checkdesk-github {
  border: 3px solid green;
  background: $firefly80;
  color: $firefly10;
  padding:1.5em;
  a {
    &.tinyletter{font-size:.5em;
      text-decoration: none;
      border-bottom-width: 0;
    }
  }

}

section.checkdesk-partners {
  border: 3px solid red;
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding:1em;
  h1 { font-size:1.5em;
      font-weight:600;
     }

}

section.checkdesk-history {
  border: 3px solid red;
  background: rgba($firefly80, 1);
  color: $firefly2;
  padding:1em;
  h1 { font-size:1.5em;
      font-weight:600;
     }
  p{
    padding: .5em;
  }
}

section.checkdesk-support {
  border: 3px solid red;
  background: rgba($firefly2, 1);
  color: $firefly80;
  padding:1em;
  h1 { font-size:1.5em;
      font-weight:600;
     }
  p{
    padding: .5em;
  }
.support--logos {
    padding: 1em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 200px;
      margin: .5em 1.5em;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80%!important;
      }
    }
}
}


section.checkdesk-explanations{
  border: 3px solid green;
  background: white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-center;
  align-items: center;
  width:100%
  p {
   &.tagline {
   font-weight: 600;
   }
  }

}


.flexcol-onethird {
      border: 2px solid red;
flex: 1 1 0%;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0%;
  padding: 0.5em;
  img {max-width:75%;
      }

}
      
.flexcol-twothird {
  border: 5px solid blue;
  flex: 0 0 auto !important;
  flex-grow: 0;
flex-shrink: 0;
flex-basis: auto;
  width: 33.33%!important;
  padding: 1em;
}
    



  

