// Meedan Org Theme colors
//
$darkest-color: #311c4e;
$warm-grey: #f1f2ed;
$accent-orange: #f99157;
$accent-blue: #6d9ed3;
$photo-feb10-blue: #596d74;
$light-blue: lighten($accent-blue, 30%);

// Meedan Labs theme colors
// From the Rylander deck June 11 2014
//
$meedanlabs-orange: #f17522;
$meedanlabs-rich-orange: #ea4918;
$meedanlabs-burnt-orange: #843f18;
$meedanlabs-green: #9dc538;
$meedanlabs-green-dark: #01722f;
$meedanlabs-green-saturated: #00a013;
$meedanlabs-green-alt: #91a000;
$meedanlabs-yellow: #fbd202;
$meedanlabs-blue: #37a0de;
$meedanlabs-grey: #7f7f7f;

// Color definitions
// =================================================

// Greys
$lightest-grey: hsl(0, 0%, 97%);
$light-grey: hsl(0, 0%, 93%);
$grey: hsl(0, 0%, 80%);
$medium-grey: darken($grey, 15%);
$dark-grey: darken($grey, 45%);
$darker-grey: darken($dark-grey, 35%);
$darkest-grey: darken($darker-grey, 25%);

// A syntax highlighting pallete
$syntax-bkg: hsl(212, 75%, 14%);
$syntax-one: hsl(344, 100%, 69%);
$syntax-two: hsl(104, 100%, 43%);
$syntax-three: hsl(208, 100%, 50%);
$syntax-four: hsl(151, 100%, 75%);
$syntax-five: hsl(52, 100%, 50%);
$syntax-six: hsl(37, 100%, 50%);

// Misc Colors
$dark-blue: hsl(204, 100%, 33%);
$calm-blue: rgba($dark-blue, 0.5);
$midnight-blue: hsl(210, 100%, 20%);
$cinnamon-brown: hsl(30, 100%, 27%);
$frenchpass-blue: hsl(210, 100%, 87%);
$cornflower-blue: hsl(210, 67%, 80%);
$sulu-green: hsl(86, 78%, 70%);
$terminal-green: hsl(90, 96%, 36%);
$bright-green: hsl(72, 54%, 54%);
$confetti-yellow: hsl(53, 82%, 63%);
$cinnamon-orange: hsl(25, 100%, 38%);
$reef-green: hsl(86, 100%, 77%);
$dark-brown: hsl(22, 9%, 56%);
$donjuan: hsl(0, 11%, 34%);
$thrush-brown: hsl(26, 63%, 40%);
$buttermilk-yellow: hsl(48, 100%, 77%);
$firetruck-red: hsl(3, 100%, 36%);
$postit-yellow: hsl(46, 100%, 95%);
$bright-blue: hsl(204, 100%, 45%);
$verdun-green: hsl(90, 100%, 20%);
$yellow-orange: hsl(32, 100%, 79%);
$paris-daisy-yellow: hsl(53, 100%, 70%);
$flamingo-orange: hsl(16, 85%, 57%);
$hot-cinnamon-orange: hsl(16, 73%, 50%);
$default-box-shadow-color: hsl(0, 0%, 76%);
$outrageous-orange: #ff6e4a;

// Social network colors
$twitter-blue: hsl(203, 75%, 45%);

// exact Twitter brand color
$google-blue: hsl(217, 99%, 65%);

// bright blue eg in google groups
$twitter-blueish: $syntax-three;

// same hue neighborhood, but not exact
$facebook-blue: hsl(219, 56%, 34%);
$youtube-red: hsl(1, 90%, 55%);

// A debugging theme
$debug-bkg: lighten(hsl(212, 75%, 14%), 30%);
$debug-one: hsl(344, 100%, 69%);
$debug-two: hsl(104, 100%, 43%);
$debug-three: hsl(208, 100%, 50%);
$debug-four: hsl(151, 100%, 75%);
$debug-five: hsl(52, 100%, 50%);
$debug-six: hsl(37, 100%, 50%);
$default-debug-color: $debug-six;

// XRW's colors
$faded-blue: #3a546c;
$bright-faded-blue: #0b2a46;
$turkish-rose: #6a4452;
$bright-turkish-rose: #801e4f;
$snowflake: rgba(white, 0.8);

// ARK's colors from Checkdesk
$firefly: #10212f;
$firefly90: #283743;
$firefly80: #404d59;
$firefly60: #6f7a82;
$firefly40: #9fa6ac;
$firefly30: #b7bcc0;
$firefly20: #cfd3d5;
$firefly10: #e7e8ea;
$firefly5: #f3f4f4;
$firefly2: #fafbfb;

$dodgerBlue: #2e77fc;
$dodgerBlue80: #3b8afd;
$dodgerBlue60: #7db1fe;
$dodgerStrong: #2155b4;

// Checkdesk colors
//
$checkdesk-yellow: #e4ba2a;

// Bridge Colors
// 
// From the bridge style guide
// https://docs.google.com/presentation/d/1XvNZoW_syyfy0ge6f74UwiLuoh4oiZwAc3HFRjctFzY/edit#slide=id.g9f58dd25a_0_3
$bridge-orange: #f16457;
$bridge-dark-orange: #a6453e;
$bridge-darkest-orange: #2b110f;