// Meedan Org Theme colors
//
$darkest-color: #311c4e;
$warm-grey: #f1f2ed;
$accent-orange: #f99157;
$accent-blue: #6d9ed3;
$photo-feb10-blue: #596d74;
$light-blue: lighten($accent-blue, 30%);

// Meedan Labs theme colors
// From the Rylander deck June 11 2014
//
$meedanlabs-orange: #f17522;
$meedanlabs-rich-orange: #ea4918;
$meedanlabs-burnt-orange: #843f18;
$meedanlabs-green: #9dc538;
$meedanlabs-green-dark: #01722f;
$meedanlabs-green-saturated: #00a013;
$meedanlabs-green-alt: #91a000;
$meedanlabs-yellow: #fbd202;
$meedanlabs-blue: #37a0de;
$meedanlabs-grey: #7f7f7f;
$outrageous-orange: #ff6e4a;
$faded-blue: #3A546C;
$turkish-rose: #6A4452;