section.contact {
  padding: 1em 0px 2em 0px;
  @extend %clearfix;
  background: $turkish-rose;
  color: rgba(white, 0.8);
  li {
    display: inline-block;
    p {
      @include reset-box-model;
    }
  }
}

.social-media {
  width: 100%;
  margin-top: 10px;
  padding: 30px 0px 0px 0px;
  background-color: $faded-blue;
  a {
    text-decoration: none !important;
    border-bottom: none !important;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.contact--visit {
  ul li {
    clear: none;
    display: block;
    width: 100%;
  }
}

.contact--write,
.contact--visit,
.contact--call {
  @include column(33%);
  height: 25em;
}