section.contact {
  @extend %clearfix;
  background: rgba($firefly80, 1);
  color: $firefly10;
  li {
    display: inline-block;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
.contact--visit {
  .locations li {
    @include column(33%);
    clear: none;
    font-family: Roboto, "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    height: 20em;
    h4 {
      font-size: 0.8em;
      font-weight: 100;
      margin: 1em;
    }
    p {
      filter:opacity(0.7);
      font-size: 0.8em;
      font-weight: 100;
      margin: 0 auto;
    }
  }
}
.contact--call,
.contact--write {
  a {
    font-size: 1.6em;
    border: 1px solid rgba(white, 0.5);
    padding: 1em 0.8em;
    color: rgba(white, 0.8);
    display: block;
    font-family: Roboto, "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 100;
    transition: 0.6s;
    &:hover {
      color: rgba(white, 1);
      border-color: rgba(white, 1);
      transition: 0s;
    }
    @media all and (max-width: $breakpoint) {
      font-size: 1em;
    }
  }
}
.contact--social-media {
  columns: 100% 4;
  margin: 2em 0 0;
  padding: 0;
  transition: 200ms;
  width: 100%;
  a {
    text-decoration: none;
    border-bottom: none;
    transition: 0.5s;
    &:hover {
      filter:opacity(0.7);
    }
    img {
      width: 45px;
    }
  }
}
