section.contact {
  @extend %clearfix;
  // background: $turkish-rose;
  // color: rgba(white, 0.8);
  & > p {
    padding: 0 4em 2em;
  }
  li {
    display: inline-block;
    p {
      @include reset-box-model;
    }
  }
  footer {
    .contact--write,
    .contact--visit,
    .contact--call {
      @include column(33%);
      height: 16em;
    }
  }
}

ul.social-media {
  width: 100%;
  margin: 3em 0;
  padding: 0px 0px 0px 0px;
  background-color: rgba($faded-blue, 1);
  transition: 400ms;
  &:hover {
    transition: 400ms;
  }
  li {
    padding: 1em;
    transition: 400ms;
    &:hover {
      transform: rotateZ(-10deg);
      transition: 400ms;
    }
  }
  a {
    text-decoration: none !important;
    border-bottom: none !important;
  }
}

.contact--visit {
  ul li {
    clear: none;
    display: block;
    width: 100%;
    font-size: 0.7em;
  }
}
