///////////////////////// Definitions
///
dl {
  // WIP
  font-family: baskerville, palatino, georgia, serif;
  dfn {
    font-weight: 500;
    font-size: 1.8em;
    display: none;
  }
  dd {
    display: inline;
  }
  .definition {
    font-size: 0.8em;
    @media all and (max-width: $breakpoint) {
      font-size: 1em;
    }
  }
  dd.part-of-speech,
  dd.pronunciation {
    display: inline;
  }
  dt {}
  em {
    font-weight: 100;
    font-size: 0.8em;
    font-style: italic;
  }
  i {
    display: inline;
  }
  abbr {
    font-family: monospace;
  }
}