$form--min-width: 320px;
$form--max-width: 600px;
$form--color: $firefly30;

%form--input-rounded-left {
  border-radius: 4px;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

%form--input-rounded-right {
  border-radius: 4px;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

%form--base {
  margin: 2em auto;
  position: relative;
  min-width: $form--min-width;
  max-width: $form--max-width;
  input {
    padding: 0.4em;
    border: 2px solid $form--color;
    @extend %form--input-rounded-left;
  }
  input[type='submit'] {
    @extend %form--input-rounded-right;
    color: white;
    background-color: $form--color;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-color: $form--color;
  }
}

%form--label {
  input[type='email'],
  input[type='text'],
  input[type='submit'] {
    z-index: 1;
  }
  label {
    z-index: 2;
    position: absolute;
    top: -2em;
    font-size: 0.8em;
    font-weight: 300;
    color: rgba($firefly80, 0.4);
  }
}

// Default form elements
.form-group {
  @extend %form--base;
  @extend %flex--container;
  @extend %form--label;
  input[type="email"] {
    flex: 1;
  }
}