$form-min-width: 320px;
$form-max-width: 600px;

form {
  z-index: 1;
  text-align: left;
  min-width: $form-min-width;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: $form-max-width;
  p {
    padding: 0.4em;
    margin: 0;
    width: 100%;
  }
  input[type='submit'] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: white;
    border-radius: 4px;
    border-width: 0;
    padding: 1.3em;
    font-size: 0.9em;
    display: block;
    margin: 1em 0;
    background-color: $firefly80;
  }
  input[type='email'],
  input[type='text'] {
    width: 100%;
    position: relative;
    padding: 1em 0.3em 0.5em;
    font-size: 1.3em;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-width: 1px;
    box-shadow: none;
    z-index: 1;
    display: block;
  }
  label {
    z-index: 2;
    display: inline-block;
    position: absolute;
    line-height: 1.7;
    top: 0px;
    left: 0px;
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    padding: 0.4em;
    filter: opacity(0.8);
    color: $firefly80;
  }
}