// # Meedan gradients
// 
// Gradient support based on the gradients in the buttons compass extension
// Based on a component of fancy-buttons by imathis
// See _buttons.scss

@mixin gradient($color1, $color2) {
  $top-shine: lighten($color1, 18);
  $bottom-glow: lighten($color2, 10);
  $top-middle: $color1;
  $middle: lighten($color2, 3);
  $bottom-middle: $color2;
  @include background-image(linear-gradient($top-shine, $top-middle 10%, $middle 50%, $bottom-middle 50%, $bottom-glow));
}

@mixin gradient-active($color1, $color2) {
  $top: lighten($color2, 6);
  $bottom: lighten($color2, 14);
  $top-middle: lighten($color2, 8);
  $middle: lighten($color2, 4);
  $bottom-middle: lighten($color2, 1);
  @include background-image(linear-gradient($top, $top-middle 30%, $middle 50%, $bottom-middle 50%, $bottom));
}

@mixin matte-gradient($color1, $color2) {
  @include background-image(linear-gradient($color1, $color2));
}

@mixin matte-gradient-active($color1, $color2) {
  $top: lighten($color2, 5);
  $bottom: lighten($color2, 15);
  $middle: lighten($color2, 8);
  @include background-image(linear-gradient($top, $middle 40%, $middle 85%, $bottom));
}

/* incase an inverted custom gradient isn't specified */
@mixin custom-gradient-active($color1, $color2) {
  @include custom-gradient($color1, $color2);
}