.latest {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-bottom: 6em;
  .medium-channel {
    vertical-align: text-top;
    display: inline-block;
  }

  .medium-links {
    display: none;
    a {
      &:after {
        content: " ➜";
      }
    }
  }
}
