.medium-channels {
  background-color: rgba($warm-grey, 0.7);
  padding: 20px 0px 60px 0px;
  margin-bottom: 2em !important;
  overflow: hidden;
  .medium-channel {
    background-color: black !important;
    @include box-shadow($warm-grey 5px 0px 20px);
    vertical-align: text-top;
    display: inline-block;
    iframe {
      max-height: 540px !important;
    }
  }
}