section.partners {
  background-color: white;
  &.kf {
    border: 1px solid red;
  }
}

.support--logos {
  padding: 1em;
  @extend %flex--container;
  a {
    @extend %link--image;
    flex: 1 1 auto;
    padding: 2em;
    &.af img, &.welad img, &.mada img, &.ff img, &.bc img {
      max-width: 300px !important;
      max-height: 100px !important;
    }
    &.ibm img {
      max-width: 80px;
    }
  }
  img {
    max-width: 200px;
    max-height: 60px;
  }
}