section.partners {
  background-color: white;
  .support--logos {
    padding: 2em;
    a {
      text-decoration: none;
      border-bottom-width: 0;
    }
    img {
      max-width: 150px;
      margin: 1.3em 1em;
      transition: 1s;
      vertical-align: middle;
      @media all and (max-width: $breakpoint) {
        max-width: 80%!important;
      }
    }
    .ce {
      filter: invert(1) brightness(3.0);
    }
    .mada, .welad, .kiva, .af {
      max-width:60px;
    }
    .kf {
      max-width:250px
    }
    .bc {
      max-width:300px;
    }
    .gv {
      max-width:330px;
    }
    .ibm {
      max-width: 100px;
    }
    .cs {
      max-width:125px
    }
    .bcu {
      max-width:100px;
      filter: brightness(3.6);
    }
    .ff {
      max-width:350px;
    }
    .iie{
      max-width: 200px;
    }
    .smex {
      max-width: 180px;
    }
    .ng, .vcf {
      max-width:250px
    }
    .macarthur {
    }
  }
}
