section.partners {
  background-color: white;
  .support--logos {
    padding: 2em;
    @extend %flex--container;
    a {
      @extend %flex--item;
      @extend %link--image;
      text-decoration: none;
      border-bottom-width: 0;
      width: 20%;
      padding: 1em;
      display: block;
    }
    img {
      min-width: 120px;
      max-width: 170px;
      max-height: 170px;
      @media all and (max-width: $breakpoint) {
        max-width: 80% !important;
      }
      &.wide {
        min-width: 120px;
        max-width: 170px;
        max-height: 170px;
      }
    }
    .mada, .kiva, .ibm, .ipi {
      max-height: 100px;
      max-width: 90px;
      // border: 1px solid red;
    }
  }
}