%fixed-to-bottom-centered-p {
  position: relative;
  p {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
}

section.projects {
  width: 100%;
  @extend %clearfix;
  @extend %fixed-to-bottom-centered-p;

  & > div {

    @include column(50%);
    padding: 3em 0;
    height: 12em;

    img {
      @media all and (max-width: $breakpoint) {
        width: 100%;
      }
    }

    p {
      color:$snowflake;
      max-width: 50%;
    }
    a {
      border: none !important;
      // color: #fff;
    }
  }
  .projects--checkdesk {
    background: linear-gradient(135deg, rgba($faded-blue, 0.8), rgba($faded-blue, 0.6));
  }
  .projects--bridge {
    background-color: rgba($turkish-rose, 0.7);
    p {
      color: inherit;
    }
    img {
      filter: invert(1);
    }
  }
}
