section.projects {
  & > div {
    @include column(50%);
    padding: 8em 0;
    height: 20em;
    img {
      @media all and (max-width: $breakpoint) {
        width: 90%;
      }
    }

    p {
      color:$snowflake;
      @media all and (max-width: $breakpoint) {
        width: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
    a {
      border: none;
    }
  }

  .projects--checkdesk {
    background: linear-gradient(195deg, $faded-blue, $firefly80);
  }

  .projects--bridge {
    background: linear-gradient(145deg, rgba($bright-turkish-rose, 1), $turkish-rose);
    img {
      width: 10em;
      margin-top: 5px;
    }
  }
}
