section.projects {
  width: 100%;
  @extend %clearfix;

  & > div {

    @include column(50%);
    padding: 5em 2em;
    height: 20em;

    img {
      @media all and (max-width: 800px) {
        width: 100%;
      }
    }

    p {
      color: rgba(#ffffff,0.8);
      bottom: 5em;
    }
    a {
      border: none !important;
      color: #fff;
    }
  }
  .projects--checkdesk {
    background-color: $faded-blue;
    p {
      margin-top: 1.4em;
    }
  }
  .projects--bridge {
    background-color: $turkish-rose;
  }
}
