section.team {
  margin: 0 auto;
  text-align: center;
  padding: 5em 0px 1em 0px;
  background-color: $warm-grey;
  @extend %clearfix;
  p {
    margin-bottom: 2em;
  }
  h3 {
    margin: .5em;
    padding: 0;
  }
  ul {
    clear: both;
  }
  li {
    font-size: 16px;
    padding: 1em;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    img {
      max-width: 50px;
      @include border-radius(50%);
    }
  }
}