section.team {
  ul {
    @extend %flex--container;
    flex-align: flex-start;
    text-align: center;
  }
  .name {
    padding-top: .5em;
    font-weight: 500;
  }
  li {
    @extend %flex--item;
    display: inline-block;
    font-family: $font--stack-roboto;
    font-size: 0.7em;
    height: 15vh;
    line-height: 1.5;
    min-height: 200px;
    padding: 1em 3em 1.5em 1em;
    text-align: center;
    vertical-align: top;
    width: 200px;
    @media all and (max-width: $breakpoint) {
      padding: 0.5em;
      width: 120px;
      img {
        width: 50px;
      }
    }
    img {
      max-width: 100px;
      border-radius: 50%;
    }
  }
}