@import url("http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600");

@import url("http://fonts.googleapis.com/css?family=Roboto:100,200,500");

@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
  font-size: 20px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  color: $firefly80;
}

// Headers
//
// (The h1 is in branding.scss)
h2,
h3,
h4 {
  display: block;
  font-size: 1.5em;
  font-family: Roboto, "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 3em 1em 2em;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @media all and (max-width: $breakpoint) {
    padding: 2em 1em;
  }
}

section > p:nth-of-type(1) {
  padding: 0 0 2em;
}

em {
  font-style: italic;
}

ul {
  text-align: center;
  padding: 0;
  margin: 0.5em 0;
  @media all and (max-width: $breakpoint) {
    margin-top: 0.5em 0 0;
  }
}

li {
  display: inline-block;
  padding: 0 1em 1em;
  @media all and (max-width: $breakpoint) {
    padding: 0 0.5em 0.5em;
    display: block;
  }
}

// At small sizes, make the links more like buttons
li > a {
  @media all and (max-width: $breakpoint) {
    padding: 1.4em;
    display: block;
  }
}

p {
  padding: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  max-width: 35em;
  line-height: 1.85;
  @media all and (max-width: $breakpoint) {
    padding: 1em 0.7em;
    line-height: 1.65;
    width: 80%;
  }
}

%link--default {
  color: lighten($photo-feb10-blue, 10%);
  text-decoration: none;
  border-bottom: 1px $firefly10 solid;
}

%link--inverted {
  color: rgba(white, 0.7);
  padding: 0.18em;
  a:hover {
    background-color: rgba($firefly10, 0.5);
  }
}

%link--image {
  text-decoration: none;
  border-bottom-width: 0;
  &:hover {
    background-color: transparent;
  }
}

a {
  @extend %link--default;
}