@import "normalize-scss/normalize";

/// Responsive configuration
///
/// @example - responsive breakpoint using $breakpoint as a max-width
///     @media all and (max-width: $breakpoint) { .. styles for small screens  .. }
///
$breakpoint: 900px;

/// Local styles
///
/// These are not bower components, just some local Sass on the filesystem. Each file often corresponds to a section.classname in the HTML.
@import "colors";
@import "typography";
@import "contact";
@import "projects";
@import "branding";
@import "logo-grid";
@import "forms";

* {
  box-sizing: border-box;
}

/// Gallagher Clearfix
///
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/// Section defaults
///
/// Section elements are the primary building blocks.
/// Each section should have a header.
%section-defaults {
  padding-bottom: 4em;
  width: 100%;
  overflow-x: hidden;
}

section {
  @extend %section-defaults;
}

/// Component: Homepage latest news
///
/// This is the medium channels. For now we have a fixed height (ew) because medium doesn't give us a lot of control. Probably we will migrate this to a custom RSS feed that gives us more control over the design.
///
.home .latest {
  padding-bottom: 1em;
  background-color: $firefly2;
  .medium-channels {
    @extend %flex-container;
    justify-content: center;

    .medium-channel {
      margin: 1em 1em;

      iframe {
        height: 620px !important;
      }
    }
  }
}

$item-width: 160px;
/// Homepage team grid
///
/// We use breakpoints to control how many items wide it is.
///
/// This is another flex-based layout, similar to the logos component.
.home .team ul {
  @extend %flex-container;
  margin: 0 auto;
  padding: 0;

	@media (min-width: $item-width * 2) {
		width: $item-width * 2 + 10px;
	}

  @media (min-width: $item-width * 4) {
  	width: $item-width * 4 + 10px;
  }

  @media (min-width: $item-width * 8) {
  	width: $item-width * 8 + 10px;
  }

  .name {
    font-weight: 500;
    padding-top: .5em;
  }

  li {
    flex: 0 1 auto;
    font-family: $font-stack--roboto;
    font-size: 0.7em;
    height: 15em;
    width: $item-width;
  }

  img {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    width: 100%;
    filter: sepia(25%);
  }
}

/// Explanation component
///
/// These are screenshots with with paragraphs of text. The amount of text is usually just one paragraph. There is a header for each screenshot and paragraph.
.explanations {
  margin: 0 auto;
  padding: 1;
  width: 100%;
  max-width: 800px;

  h4 {
    font-size: 1;
    font-weight: 100;
    padding: 3em 0em .5em 0em;
    width: 100%;
  }

  p {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: top;
    text-align: left;
    width: 100%;
    padding: 1em 1em;

    @media (max-width: $breakpoint) {
      width: 100%;
      padding: 1em;
    }
  }

  img.screenshot {
    display: inline-block;
    margin: 2% 5%;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}

/// A page footer
///
.footer {
  @extend section;

  background-color: $firefly90;
  padding: 1em;

  a {
    color: white;
  }
}

.home .photo-frame {
  background-color: $firefly90;
  background-image: url("../images/1x/banners/banner-2.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 2s;
  transition: 2s;
  color: white;
  padding: 4em 0;
  text-shadow: 0 0 5px black;
}

/// Component: Language toggle
///
/// A navigational component. On some pages the content is available in more than one language.
nav.language-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8em;
  padding: 0.3em 1em;
  background-color: rgba(white, 0.1);
  border-radius: 5em;

  a {
    color: rgba(black, 0.5);
    text-decoration: none;
    padding: 0.2em 0.3em 0;
  }

  :lang(ar) & a.arabic,
  :lang(en) & a.english {
    color: black;
    font-weight: 700;
  }

  a.english {
    float: left;
    font-size: 0.8em;
    margin-top: 0.2em;
  }

  a.arabic {
    float: right;
  }
}

body.ar {
  direction: rtl;
}

.footer {
  font-size: smaller;
}

body.home {
  background-color: white;
}

body.bridge {
  .branding,
  .api,
  .history,
  .footer {
    background: $firefly80;
    color: rgba(white, 0.8);
  }

  .supporters, .explanations {
    background-color: white;
    color: $firefly80;
  }
}

body.checkdesk {
  .explanations {
    background-color: white;
    color: $firefly80;
  }

  .team {
    background-color: $warm-grey;
  }

  .branding {
    background-color: $checkdesk-yellow;
    color: white;
  }

  /// Inverted colors for some sections
  .history,
  .github,
  .footer {
    background-color: $firefly80;
    color: $firefly10;

    a {
      color: rgba(white, 0.7);
      padding: 0.18em;

      a:hover {
        background-color: rgba($firefly10, 0.5);
      }
    }
  }

  .newsletter {
    background-color: $firefly2;
    padding-bottom: 2em;
  }

  .supporters {
    background-color: $firefly2;
  }
}

.twocolumn {
  justify-content: center;
  @extend %flex-container;
}

.quote {
  padding: 3em;
  vertical-align: top;
  display: inline;
  width: 100%;

  @media all and (max-width: $breakpoint) {
    min-width: 100%;
  }

  p {
  	font-size: 1.2em;
  }
  p.bottomquote {
    font-weight: 700;
    padding: 0;
    display: inline;
  }
}