@import "../../compass-mixins/lib/compass";
@import "../../compass-mixins/lib/animation/core";
@import "../../compass-mixins/lib/animation/animate/fading";
@import "../../compass-mixins/lib/compass/css3/box";
@import "reset";
@import "base";
@import "colors";
@import "layout";
@import "gradients";
@import "definition-lists";
@import "typography";
@import "clearfix";
@import "team";
@import "contact";
@import "support";
@import "photo-frame";
@import "medium";

.branding {
  padding-top: 2em;
}

.logo {
  width: 200px;
  margin-top: 3em;
  transition: 0.6s;
  @media all and (max-width: $breakpoint) {
    max-width: 90%;
  }
}

nav {
  padding: 2em 0 1.5em;
  display: block;
  @media all and (max-width: $breakpoint) {
    padding: 1em 0 0.75em;
  }
}

.about {
  padding-bottom: 30px;
  margin-top: 0px;
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}

.contact {
  clear: both;
}

.latest {
  background-color: rgba($warm-grey, 0.7);
  width: 100%;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.slogan {
  font-size: 1.5em;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}