// # meedan-style
// 
// Import foundational styles like colors and layout.
// 
// ## Bower components
// - First you must `bower install meedan-style`.
// - See `bower.json` to see which version is installed.
// - See `bower_components` to see the Sass used.
//
@import "meedan-style/layout";
@import "meedan-style/colors";
@import "meedan-style/forms";
@import "meedan-style/animations";

// Bower dependencies that we're using in JS
//
// @import "angular-toggle-switch/angular-toggle-switch";

// ## Configuration
$breakpoint: 900px;
$logo-width: 250px;

// ## Meedan.com styles and utilities
//
// (Not bower components, just Sass.)
@import "typography";
@import "contact";
@import "projects";

// Used by the flex boxes in .projects and .latest
//
%centered-boxes {
  padding: 2em 2em;
  width: 40%;
  margin: 1em;
  @media all and (max-width: $breakpoint) {
    width: 100%;
  }
}

// ## Resets
ul, body {
  margin: 0;
}

// ## Base colors
body {
  background-color: $warm-grey;
}

// ## Default <section>s
// 
// Section elements are the *primary building blocks*.
// Each section should have a header.
section {
  padding-bottom: 4em;
  width: 100%;
}

// ## The branding section 
// At the top of homepage and product pages, this usually has an inverted color scheme, a large .logo image and the h1.
// At smaller sizes the logo has a percent-based width.
//
.branding {
  @extend %flex-container;
  flex-flow: column nowrap;
  padding: 2em 1em 4em;
  h1 {
    margin: 0;
    font-size: 3.5em;
  }
  .logo {
    width: $logo-width;
  }
  .splash {
    max-width: 800px;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 80%;
  }
  .slogan {
    font-size: 1.25em;
  }
  @media all and (max-width: $breakpoint) {
    .logo {
      max-width: $logo-width;
      width: 70%;
    }
  }
}

// ## Homepage latest news
//
.home .latest {
  padding-bottom: 6em;
  .medium-channels {
    @extend %flex-container;
    justify-content: center;
    .medium-channel {
      margin: 1em 1em;
      iframe {
        height: 620px !important;
      }
    }
  }
}

// ## "Logos" sections 
// This flex-based layout handles two to 24 logos at a time.
// Because some logos have very different dimensions, 
// we have to do some custom handling.
//
.home .partners .logos,
.bridge .support .logos,
.checkdesk .support .logos,
.checkdesk .partners .logos {
  @extend %flex-container;
  justify-content: space-between;
  align-items: center;
  a {
    @extend %flex-item;
    @extend %link-image;
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
    img, svg {
      max-width: 170px;
      max-height: 50px;
    }
  }
  .kf {
    max-width: 400px;
  }
  a.bc, a.mada {
    img, svg {
      max-height: 90px;
    }
  }
}

// ## The support logos are bigger
.support .logos {
  img, svg {
    max-width: 400px;
  }
}

// ## Homepage team grid component
//
.home .team {
  ul {
    @extend %flex-container;
  }
  .name {
    font-weight: 500;
    padding-top: .5em;
  }
  li {
    @extend %flex-item;
    font-family: $font-stack--roboto;
    font-size: 0.7em;
    height: 15em;
    width: 200px;
  }
  img {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    width: 100%;
  }
}

// ## Explanation component
// 
// These are screenshots with with paragraphs of text. The amount of text is usually just one paragraph. There is a header for each screenshot and paragraph.

.explanations {
  background-color: rgba(white, 1);
  color: $firefly80;
  margin: 0 auto;
  padding: 1em;
  h4 {
    font-size: 0.8em;
    font-weight: 100;
    padding: 2em 0em;
    width: 100%;
  }
  p {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: top;
    text-align: left;
    width: 100%;
    padding: 1em 2em;
    @media (max-width: $breakpoint) {
      width: 100%;
      padding: 0;
    }
  }
  .screenshot {
    display: inline-block;
    margin: 10% 3%;
    border: 1px solid $firefly2;
    min-width: 400px;
    box-shadow: 0px 0px 50px $firefly20;
  }
}

// ## A page footer
//
.footer {
  @extend section;
  background-color: $firefly90;
  padding: 1em;
  a {
    color: white;
  }
}

// ## Bridge page themes
%theme-portland-purple {
  .branding,
  .api,
  .history,
  .footer {
    background: $portland-purple;
    color: rgba(white, 0.8);
  }
  .support {
    background-color: white;
  }
}

// ## Bridge orange page theme
%theme-bridge-orange {
  background: $bridge-orange;
  color: rgba(white, 0.8);
}

// Checkdesk firefly page theme
%theme-checkdesk-firefly {
  .team {
    background-color: $warm-grey;
  }
  .branding {
    background-color: $checkdesk-yellow;
  }
  // Inverted colors for some sections
  .history,
  .github,
  .footer {
    background-color: $firefly80;
    color: $firefly10;
    a {
      color: rgba(white, 0.7);
      padding: 0.18em;
      a:hover {
        background-color: rgba($firefly10, 0.5);
      }
    }
  }
  .newsletter {
    background-color: $firefly2;
  }
  .partners {
    background-color: white;
  }
}

// # Page specific code: Apply the themes
// 
// ## Home page
body.home {
  background-color: white;
}

// ## Bridge page
body.bridge {
  @extend %theme-portland-purple;
}

// ## Checkdesk page
body.checkdesk {
  @extend %theme-checkdesk-firefly;
}