---
title: Meedan
layout: front
class: front
description: | 
    We are a technology non-profit that builds software and initiatives to strengthen global journalism, digital literacy and accessibility of information for the world.
h2: | 
    This is Meedan.<br /> We are a technology non-profit that builds software and initiatives to strengthen global journalism, digital literacy and accessibility of information for the world.
---
{% include module_featured.html %}
{% include module_updates.html title="● Updates" count="4" %}
{% include module_story_grid_homepage.html trail="true" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}    
