---
title: Meedan
layout: front
class: front
description: | 
    This is Meedan. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
h2: | 
    This is Meedan.<br />We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
image: https://images.ctfassets.net/g118h5yoccvd/2OPYjZpx8wwxprIQSNpA7N/4dd787ff3d2163853cd42dd3e42840ea/ed-in-coldigioco.jpg
---
{% include module_story_grid_homepage.html trail="true" %}
{% include module_manifesto_text.html %}
{% include footer_small.html theme="dark" %}