---
layout: "default"
slug: "annual-report-2016"
ogp:
  og:
    description: 'The 2016 Meedan Annual Report'
    image:
      '': http://meedan.com/images/annual-report/group.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---

<div class="annual-report__section lead-photo image-banner-wrap">
  <div class="image-banner"></div>
  <div class="caption">Meedan’s flagship project of 2016 was Electionland, a 1000-person collaborative effort led by ProPublica to cover access to the ballot and problems that prevent people from exercising their right to vote during the 2016 US election. CC-BY 2016 Meedan</div>
</div>

<div class="annual-report__section lead-text">
  <h1><span class="the">The</span> 2016 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
</div>

<div class="annual-report__section ceo-note">
  <div class="inner">
    <h2>CEO’s Note</h2>

    <p>At Meedan we care about language. We began after all as a project to show the way media narratives vary between language communities. We understand the relationship between language and meaning. So, as we consider 2016 at Meedan, we have to give a nod to the fact that in the base-ten language we use to order our numeric system cycles of ten are a big deal.</p>
    <p>Meedan was established as a 501(c)3 non-profit in March of 2006.</p>
    <p>We didn’t imagine at that time that our journey down the path of building open source tools for journalists and translators in the Middle East would lead us to a front row seat to the 2011 Arab uprisings. And, we didn’t imagine that the software for verification and fact-checking we began coding in 2011 in response to that experience would five years later collide with monitoring the US Presidential election and a global preoccupation with determining truth and credibility. Ten years into Meedan we have found ourselves for a second time in the organization five years ahead of history.</p>
    <p>Ten years into Meedan we have found ourselves for a second time in the organization five years ahead of history.</p>
    <p>In 2016 we continued our work on Check, our open source tool for verifying in fact checking citizen media, with our engineering team doing a full rewrite of the Check application based on a full redesign delivered by our product team working closely with partners. In August, 94 days before the US election, Google News Lab invited us to a meeting to discuss a plan to customize Check to serve as the backend for a nationwide, ProPublica-led effort to crowdsource coverage of fraud and voter intimidation for those elections. First Draft coordinated the efforts of more than 600 journalism school students, Dig Deeper developed workflows and plans for the physical newsroom, and ProPublica managed 24 hours of complete madness as hundreds of local media partners and several national partners including Gannet, NYTimes and PBS pieced together a picture from thousands of reports from social media, sms messages, and voter protection reports. In the end 1200 reports were checked by this effort, generating 300 stories from our media partners. It was a once in a lifetime project for our team - six members of which spent the election working with 120 journalists, students, and techies from Electionland HQ at the City University of New York.</p>
    <p>2016 was, of course, also a year of many many other great projects at Meedan. An Xiao Mina and Abir Kopty led an amazing research and prototyping project using our translation tool with Mercy Corps for realtime translation needs for displaced populations in the Mediterranean. Dima Saber and her amazing team at the M&amp;E Labs at Birmingham City University led research, training and evaluation for Check, including inspired work with young journalists at Lebanese University. Nora Younis and her team at Al Manassa continued an inspired effort to reinvent collaborative citizen involved journalism. Our work with Amnesty International and the Berkeley Law School Human Rights Center brought verification training to young law school students and digital humanitarians on four continents. And, Bellingcat and the Syrian Archive team they partnered with continued their work to take our tools along as they arguably are inventing new forms of networked investigative journalism. And, Kim Bui and six top US Journalism Schools used Check to track the rise of hate crimes in the wake of the 2016 election, on Documenting Hate.</p>
    <p>All this from a team of 15 spread across 10 time zones working from six countries.</p>
    <p>Our tenth year was, in a nod to the base-ten, a very good year to be Meedan.</p>
    <p>Thanks to all our supporters, partners, and users for making it so.</p>
    <p>Peace x10,</p>
    <p>
      <span class="full-name"><a href="http://twitter.com/edbice">Ed Bice</a></span>
      <span class="title">CEO &amp; Board Chair</span>
      <span class="note"></span>
    </p>
  </div>
</div>

<div class="annual-report__section image-banner-wrap">
  <div class="image-banner team-3"></div>
  <div class="caption">Caio Almeida, senior software engineer at Meedan talking at RubyConf. CC-BY 2016 Meedan</div>
</div>

<div class="annual-report__section mission-statement">
  <div class="inner">
    <h2>Our Mission</h2>
    <p>Meedan builds web and mobile tools and implements creative projects for journalists and translators. Like our namesake — “town square” in Arabic — our tools serve as a gathering place for talented people working to add context to the social web. Our approach is to design and implement human-centered, creative, and ambitious projects with world-class partners, including, corporations, media companies, universities, and researchers. Through all these projects we explore and support research, curriculum development, and new forms of digital storytelling. Our vision is a world that is better able to see, understand, and value its diversity. This, we hope, will lead to the real promise of a digitally networked planet, a global conversation that is wider, deeper, and more effective.</p>

    <h2>Where we were in 2016</h2>

    <p>In 2016 Meedan and our network of partners conducted training, reporting, and hosted events in the Arab world (Egypt and Lebanon), Europe (Latvia, Estonia, Italy, UK, Sweden, Serbia, Germany), Asia (Philippines, Hong Kong), and North America (USA and Canada).</p>


    <div class="annual-report__section financials">
      <div class="inner">
        <h2>Timeline for our Events and Features</h2>

        <table>
          <tr>
            <td><h3>Month</h3></td>
            <td><h3>Event</h3></td>
            <td><h3>Feature</h3></td>
          </tr>
          <tr>
            <td><h3>March</h3></td>
            <td><span>RightsCon<br/>(demoed Check, Bridge, translated RightsCon, did a session with Amnesty)</span></td>
            <td></td>
          </tr>
          <tr>
            <td><h3>April</h3></td>
            <td><span>International Journalism Festival</span></td>
            <td></td>
          </tr>
          <tr>
            <td><h3>August</h3></td>
            <td>
              <span>Check training in Latvia (SSE Riga Summer School)</span>
              <br/>
              <span>Translated The Conference, Malmo</span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><h3>September</h3></td>
            <td>
              <span><a href="https://twitter.com/elex_translated">Elections Translated</a></span>
              <br/>
              <span>RubyConf Brazil</span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><h3>October</h3></td>
            <td>
              <span>RubyConf Portugal</span>
              <br/>
              <span>Electionland Bootcamp</span>
              <br/>
              <span>Electionland trainings with students</span>
            </td>
            <td>
              <span class="check-feature">Slack notifications for teams</span>
              <br/>
              <span class="check-feature">Adding Quotes to be fact-checked</span>
              <br/>
              <span class="check-feature">New layout for team pages</span>
            </td>
          </tr>
          <tr>
            <td><h3>November</h3></td>
            <td>
              <span>Electionland</span>
              <br/>
              <span>Research trip in Serbia</span>
            </td>
            <td>
              <span class="check-feature">Search functionality released as a hidden feature</span>
            </td>
          </tr>
          <tr>
            <td><h3>December</h3></td>
            <td><span>Serbia research trip report prepared</span></td>
            <td><span class="check-feature">Public release of search feature and search icon was added to the header</span></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="annual-report__section image-banner-wrap">
  <div class="image-banner team-2"></div>
  <div class="caption">Tom Trewinnard, Meedan’s Director of Business Development talking about collaborative verification for First Draft News. CC-BY 2016 Meedan</div>
</div>

<div class="annual-report__section programs">
  <h2>Our Programs</h2>

  <ul>
    <li>
      <h3>Check: Digital Media Literacy for Global Fact Checking &amp; Verification</h3>
      <p>The Check program seeks to develop digital media literacy and citizen journalism in MENA, Europe, US and South East Asia, through the provision of high quality reporting tools (Check), training resources (ArabCitizenMedia.org) and reporting by grassroots media collectives.</p>
    </li>

    <li>
      <h3>Bridge: Translation tools for Crisis Responders</h3>
      <p>Bridge is Meedan's mobile translation tool, supporting cross-language communication between refugees and first responders in Europe. Powered by human translators, Bridge lets refugees and aid workers communicate through translated short messaging. In partnership with Mercy Corps.</p>
    </li>

    <li>
      <h3>Electionland</h3>
      <p>Meedan's Check platform was the collaborative workbench supporting the ambitious Electionland project, which brought together over 1000 journalists and student journalists for the US Presidential Elections 2016 to find and verify reports of voting problems at polling places. The Electionland case study, including details of Check's role in the project is available <a href="https://medium.com/meedan-updates/the-electionland-playbook-lessons-from-a-1000-person-collaborative-journalism-project-efa816d84ecd">here</a>.</p>
    </li>

    <li>
      <h3>The <br> First Draft <br> Coalition</h3>
      <p>The First Draft Coalition is a network of organizations with skills and expertise in verification and eyewitness media. Convened by Google News Lab in April 2015 to develop best practices and training resources for digital newsgathering, Meedan is a founding member of the coalition and has published regular articles and research and attended a number of international events to present on our work.</p>
    </li>
  </ul>
</div>

<div class="annual-report__section image-banner-wrap">
  <div class="image-banner team-4"></div>
  <div class="caption">Meedanis Abir Kopty (right) and An Xiao Mina (left) led design research in Presevo, Serbia, for Bridge, in conjunction with MercyCorps. CC-BY 2016 Meedan</div>
</div>

<div class="annual-report__section financials">
  <div class="inner">
    <h2>2016 Financials</h2>

    <table>
      <tr>
        <td colspan="2"><h3>Revenues</h3></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$499,992</td>
      </tr>
      <tr>
        <td>Program service revenue</td>
        <td>$322,127</td>
      </tr>
      <tr>
        <td>Other revenue</td>
        <td>$3,764</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$825,883</td>
      </tr>
      <tr>
        <td colspan="2"><h3>Expenditures</h3></td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$1,174,784</td>
      </tr>
    </table>
  </div>
</div>

<div class="annual-report__section contact-us">
  <h2>Meedan’s Board of Directors:</h2>
  <ul>
    <li>Muna AbuSulayman</li>
    <li>Ed Bice (Board Chair)</li>
    <li>Jon Corshen</li>
    <li>Hanan Heikal</li>
    <li>Wael Fakharany</li>
  </ul>
</div>

<div class="annual-report__section contact-us">
  <h2>Contact</h2>

  <div>
    <span>Meedan Inc.</span>
    <span>1355 Market, Suite 488</span>
    <span>San Francisco, CA</span>
    <span>94103</span>
  </div>

  <a class="hello" href="mailto:hello@meedan.com">hello@meedan.com</a>
</div>

<div class="annual-report__section donate">
  <h2>Donate</h2>

  <p>Support Meedan in building world class tools for journalists, citizen journalists and translators.
  </p>

  <a class="button" href="https://donorbox.org/support-meedan">Become a Meedan Supporter</a>
</div>
