---
layout: "default"
slug: "annual-report-2016"
ogp:
  og:
    description: 'The 2016 Meedan Annual Report'
    image:
      '': http://meedan.com/images/annual-report/group.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---

<div class="annual-report--section lead-photo image-banner-wrap">
  <div class="image-banner placeholder"></div>
  <div class="caption">Placeholder text. CC-BY Meedan 2016</div>
</div>

<div class="annual-report--section lead-text">
  <h1><span class="the">The</span> 2016 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
</div>

<div class="annual-report--section ceo-note">
  <div class="inner">
    <h2>CEO’s Note</h2>

    <p>In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced.
    </p>

    <p>The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.
    </p>

    <p>A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s by Aldus Corporation, which employed it in graphics and word-processing templates for its desktop publishing program PageMaker.
    </p>


    <p>Salam,</p>
    <p>
      <span class="full-name"><a href="http://twitter.com/edbice">Ed Bice</a></span>
      <span class="title">CEO &amp; Board Chair</span>
      <span class="note">Filed from somewhere between Cairo, San Francisco, and Coldigioco</span>
    </p>
  </div>
</div>

<div class="annual-report--section image-banner-wrap">
  <div class="image-banner placeholder"></div>
  <div class="caption">Placeholder image. CC-BY 2016 Meedan</div>
</div>

<div class="annual-report--section mission-statement">
  <div class="inner">
    <h2>Our Mission</h2>
    <p>It is not known exactly when the text obtained its current standard form; it may have been as late as the 1960s. Dr. Richard McClintock, a Latin scholar who was the publications director at Hampden–Sydney College in Virginia, discovered the source of the passage sometime before 1982 while searching for instances of the Latin word "consectetur", rarely used in classical literature.[4][a] The physical source of the Lorem Ipsum text may be the 1914 Loeb Classical Library Edition of the De Finibus, where the Latin text, presented on the even-numbered pages, breaks off on page 34 with "Neque porro quisquam est qui do-" and continues on page 36 with "lorem ipsum ...", suggesting that the galley type of that page 36 was mixed up to make the dummy text seen today.[6]</p>


    <h2>Where we were in 2016</h2>


     <p>This is H. Rackham's 1914 translation – in the aforementioned Loeb Classical Library edition – with the major source of lorem ipsum highlighted:
     </p>

     <ul>
       <li><span class="location-europe">Stockholm, Sweden</span> <em>Stockholm Internet Forum 2016</em> - Hosted official pre-conference day gathering activists and researchers from MENA</li>
       <li><span class="location-europe">Turin, Italy</span> <em>Prix Italia 2016</em> - Moderated an international panel on verification and eyewitness media</li>
       <li><span class="location-europe">London, UK</span> <em>EBU Verification Network Conference at BBC</em> - Led advanced verification training for journalists from BBC, ARD, and other major European newsrooms.</li>
       <li><span class="location-us">Pittsburgh, US</span> <em>Carnegie Mellon Human Rights Media Center</em></li>
       <li><span class="location-us">Pittsburgh, US</span> <em>Knight Prototype Fund Demo Day</em> - Presented on Checkdesk project</li>
       <li><span class="location-asia">Manila, Philippines</span> <em>RightsCon15</em> - Presented on Checkdesk project</li>
       <li><span class="location-us">New York, USA</span> <em>Personal Democracy Forum</em> - Moderated panel on verification</li>
       <li><span class="location-canada">Vancouver, Canada</span> <em>Hacks/Hackers Vancouver</em> - Presented on Checkdesk project</li>
       <li><span class="location-europe">Coldigioco, Italy</span> <em>Checkdesk Partners Meeting</em> - 20 team members and partners from Al Manassa, Bellingcat, Global Voices, Oxford Internet Institute, and Mada Masr training, designing, coding, and brainstorming. </li>
     </ul>
  </div>
</div>

<div class="annual-report--section image-banner-wrap">
  <div class="image-banner placeholder"></div>
  <div class="caption">Placeholder image. CC-BY Meedan</div>
</div>

<div class="annual-report--section programs">
  <h2>Our Programs</h2>

  <ul>
    <li>
      <h3>Checkdesk: Developing citizen journalism in the Arab region</h3>
      <p>The Checkdesk program seeks to develop digital media literacy and citizen journalism in the Arab world, through the provision of high quality reporting tools (Checkdesk), training resources (ArabCitizenMedia.org) and reporting by grassroots media collectives.
      </p>
    </li>

    <li>
      <h3>The Verification Handbook for Investigative Journalism in Arabic</h3>
      <p>In addition to contributing a case study, Meedan led the official translation into Arabic of the second Verification Handbook (for Investigative Journalism) published by the European Journalism Center and set for release in 2016.
      </p>
    </li>

    <li>
      <h3>The <br> First Draft <br> Coalition</h3>
      <p>The First Draft Coalition is a network of organizations with skills and expertise in verification and eyewitness media. Convened by Google News Lab in April 2016 to develop best practices and training resources for digital newsgathering , Meedan is a founding member of the coalition and has published regular articles and research and attended a number of international events to present on our work.</p>
    </li>
  </ul>
</div>

<div class="annual-report--section financials">
  <div class="inner">
    <h2>2016 Financials</h2>

    <table>
      <tr>
        <td><h3>Revenues</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Program service revenue </td>
        <td>$</td>
      </tr>
      <tr>
        <td>Investment income</td>
        <td>$</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$</td>
      </tr>
      <tr>
        <td><h3>Expenditures</h3></td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$</td>
      </tr>
    </table>
  </div>
</div>

<div class="annual-report--section contact-us">
  <h2>Meedan’s Board of Directors:</h2>
  <ul>
    <li>Muna AbuSulayman</li>
    <li>Ed Bice </li>
    <li>Jon Corshen</li>
    <li>Hanan Heikal</li>
    <li>Wael Fakharany</li>
  </ul>
</div>

<div class="annual-report--section contact-us">
  <h2>Contact</h2>

  <div>
    <span>Meedan Inc.</span>
    <span>1355 Market, Suite 488</span>
    <span>San Francisco, CA</span>
    <span>94103</span>
  </div>

  <a class="hello" href="mailto:hello@meedan.com">hello@meedan.com</a>
</div>

<div class="annual-report--section donate">
  <h2>Donate</h2>

  <p>Support Meedan in building world class tools for journalists, citizen journalists and translators.
  </p>

  <a class="button" href="https://donorbox.org/support-meedan">Become a Meedan Supporter</a>
</div>
