// Check, Bridge and Homepage Branding
//
// The branding section has a large .logo image and the h1.
// At smaller sizes the logo has a percent-based width.
[class$='--branding'] {
  animation: fadeIn 1.2s;
  padding: $grid-unit-6 0 $grid-unit-4;
  width: 100%;

  > img {
    animation: fadeIn 1.2s;
    display: block;
    margin: 0 auto;
    max-width: 525px;
    width: 100%;

    @include when-smaller-than(medium) {
      width: 90%;
    }
  }

  .logo-and-slogan {
    margin: $grid-unit-3 auto;

    > img {
      width: 300px;
      @include when-smaller-than(small) {
        width: 90%;
      }
    }
  }

  .slogan {
    color: $white-70;
    font: $font--headline;
    margin: 0 auto;
    padding: 0;
  }
}
