/// Contact section
///
.contact {

  .button {
    border-bottom: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .contact--visit {
    .locations {
      display: flex;

      li {
        clear: none;
        text-align: center;
        width: 50%;

        @include when-smaller-than(medium) {
          font: $font--body-1;
        }
      }
    }
  }

  .contact--social-media {
    display: flex;
    vertical-align: center;

    li {
      width: 25%;
    }

    a {
      align-items: center;
      border-bottom: 0;
      display: flex;
      height: 90px;
      justify-content: center;
      text-decoration: 0;

      img {
        max-width: $grid-unit-8;
        width: 100%;
      }
    }
  }
}
