.contact {
  .button {
    border-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: units(2);
    max-width: 300px;

    p {
      @include when-smaller-than(medium) {
        font: $font--caption;
      }
      color: rgba($white, 0.7);
      font: $font--body-2;
      margin: 0;
      padding: 0;
    }
  }

  .contact__visit {
    .locations {
      align-items: center;
      display: flex;
      margin-right: units(2);
    }
  }

  .contact__social-media {
    align-items: center;
    display: flex;

    a {
      align-items: center;
      border-bottom: 0;
      display: flex;
      justify-content: flex-start;
      text-decoration: 0;

      img {
        max-width: units(4);
        width: 100%;
      }
    }
  }
}
