/// Contact section
///
.contact {
  padding-top: units(4);

  .button {
    border-bottom: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    padding-bottom: units(6);

    p {
      margin: 0;
      padding: 0;
      font: $font--caption;
      font-weight: 300;
    }
  }

  .contact--visit {
    .locations {
      display: flex;
      align-items: center;

      li {
        clear: none;
        width: 50%;
      }
    }
  }

  .contact--social-media {
    display: flex;
    vertical-align: center;

    li {
      width: 25%;
    }

    a {
      align-items: center;
      border-bottom: 0;
      display: flex;
      height: 90px;
      justify-content: center;
      text-decoration: 0;

      img {
        max-width: units(6);
        width: 100%;
      }
    }
  }
}
