$form--max-width: $grid-unit-70;
$form--min-width: $grid-unit-30;

// Inverted form colors
//
[class$='--form-inverted'] {

  // All labels
  label {
    color: $white-50;
  }

  // All inputs
  input {
    color: $white;
  }

  input[type='email'] {
    color: $white;

    &:focus {
      border-bottom: 1px solid $white;
    }

    // When clicking in this element, light up the button
    &:focus ~ input[type='submit'] {
      background-color: $white;
      color: $check-blue;
    }
  }

  // Submit button
  input[type='submit'] {
    color: $black-54;
  }
}

// Form: fancy label
//
// Uses absolute positioning.
%form--fancy-label {
  position: relative;

  label {
    position: absolute;
    top: -$grid-unit-2;
    z-index: 2;
  }
}

form {
  padding: $grid-unit-4 $grid-unit-2;


  // Form groups
  //
  .form-group {
    @extend %form--fancy-label;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $form--max-width;
    padding: $grid-unit-2 0;

    label {
      font: $font--body-2;
      padding: $grid-unit 0;
    }

    input {
      border-color: transparent;
      border-radius: 0;
      font: $font--subheading-2;
      padding: $grid-unit;
      width: 100%;

      &[type='submit'] {
        @extend %button;
        border-radius: 4px;
        border-width: 0;
        flex: 1;
        margin: 0 $grid-unit;
      }
    }
  }

  // Email input
  input[type='email'] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $black-16;
    color: $black-87;
    flex: 4;

    &:focus {
      border-bottom: 2px solid $check-blue;
      outline: none;
    }
  }

  // The label on the checkbox
  input[type='checkbox'] ~ label {
    color: $black-54;
  }
}
