@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 280px;
  overflow-x: hidden;
}

.section-inner {
  @include when-smaller-than(small) {
    margin: 0 units(1);
  }

  @include when-larger-than(small) {
    margin: 0 auto;
    padding: 0 units(4);
    max-width: 960px;
  }

  > * {
    margin: 0;
    max-width: 1440px;
  }
}

.row {
  @include when-larger-than(medium) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

// English default
// Other stylesheets (and fonts) are loaded conditionally in the html head
:lang(en) {
  direction: ltr;
}
