---
layout: "default"
slug: "annual-report-2014"
title: "The 2014 Meedan.org Annual Report"
---

<div class="annual-report--section lead-photo image-banner">
  <figure>
    <div class="image"></div>
    <figcaption>A typical day in 2014 at the Meedan San Francisco office on Mission Street.</figcaption>
  </figure>
</div>


<div class="annual-report--section lead-text">
  <h1><span class="the">The</span> 2014 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">Meedan is a hybrid nonprofit/for-profit organization. We share code, people, offices, and values across two companies: <em>Meedan.org</em> is a registered 501(c) 3 established in 2006 that works on non-commercial projects to support global journalism. <em>Meedan Labs</em> is a for-profit spun off in 2014 to develop software for collaborative social media translation. This Annual Report reflects the state of Meedan.org and its financial health.
  </p>
</div>

<div class="annual-report--section ceo-note">
  <div class="inner">
    <h2>CEO&rsquo;s Note</h2>

    <p>This is a note from the CEO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="byline">&mdash;<a href="twitter.com/edbice">Ed Bice</a></div>
    <div class="byline">CEO &amp; Board Chair</div>
  </div>
</div>

<div class="annual-report--section image-banner team-2">
</div>

<div class="annual-report--section mission-statement">
    <div class="inner">
      <h2>Our Mission</h2>
      <p>Meedan builds web and mobile tools and implements creative projects for journalists and translators. Like our namesake the Arabic town square, our tools serve as a gathering place for talented people working to add context to the social web. Our approach is human-centered, creative, and ambitious. Our partners are a world-class group of media companies, universities, and NGOs. We look to a world where understanding facilitated by global conversation is a bit wider, deeper, and more effective.
      </p>

      <p>To get there, we want to build the best tools and platforms in support of global journalism and translation. We are a team of designers, technologists and journalists who focus on open source investigation of digital media and crowdsourced translation of social media. With our partners, we support research, curriculum development, and new forms of digital storytelling.
      </p>
    </div>
</div>

<div class="annual-report--section areas-served">

  <div class="image">
  </div>

  <div class="inner">
    <h2>Areas served in 2014</h2>

     <ul>
      <li>
        <h3>Middle East</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
      <li>
        <h3>North Africa</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </li>
      <li>
        <h3>Eastern Europe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
    </ul>
  </div>
</div>

<div class="annual-report--section image-banner team-3">
</div>

<div class="annual-report--section programs">
    <h2>Our Programs</h2>

    <ul>
      <li>
        <h3>Checkdesk</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
      <li>
        <h3>Verification Handbook</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </li>
      <li>
        <h3>Yallah Forum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
    </ul>
</div>


<div class="annual-report--section financials">
  <div class="inner">
    <h2>2014 Financials</h2>

    <table>
      <tr>
        <td><h3>Revenues</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$1,907,512</td>
      </tr>
      <tr>
        <td>Program service revenue </td>
        <td>$1,907,512</td>
      </tr>
      <tr>
        <td>Investment income</td>
        <td>$339</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$1,941,564</td>
      </tr>
      <tr>
        <td><h3>Expenditures</h3></td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total:</h3></td>
        <td>$871,408</td>
      </tr>
    </table>

  </div>
</div>

<div class="annual-report--section contact-us">
  <div class="inner">
    <h2>Contact</h2>

    <div>
      <span>Meedan Inc.</span>
      <span>972 Mission St, 5th Floor</span>
      <span>San Francisco, CA</span>
      <span>94103</span>
    </div>

    <ul>
      <li>Ed Bice, CEO &mdash; <a href="mailto:ed@meedan.com">ed@meedan.com</a></li>
      <li>Tom Trewinnard, Business Development Manager &mdash; <a href="mailto:tom@meedan.com">tom@meedan.com</a></li>
    </ul>
  </div>
</div>

<div class="annual-report--section donate">
  <h2>Donate</h2>

  <p>Support Meedan in building world class tools for journalists, citizen journalists and translators. </p>

  <a class="button" href="https://donorbox.org/support-meedan-in-2016">Become a Meedan Supporter</a>
</div>