---
layout: "default"
slug: "annual-report-2014"
title: "The 2014 Meedan.org Annual Report"
---

<div class="annual-report--section lead-photo">
  <div class="image-banner"></div>
  <div class="caption">A typical day in 2014 at the Meedan offices at 972 Mission Street, where we have been for 5 years. Visitors are always welcome. Stop by if you are in San Francisco. CC-BY 2014 Meedan</div>
</div>


<div class="annual-report--section lead-text">
  <h1><span class="the">The</span> 2014 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">Meedan is a hybrid nonprofit/for-profit organization. We share code, people, offices, and values across two companies: <em>Meedan.org</em> is a registered 501(c) 3 established in 2006 that works on non-commercial projects to support global journalism. <em>Meedan Labs</em> is a for-profit spun off in 2014 to develop software for collaborative social media translation. This Annual Report reflects the state of Meedan.org and its financial health.
  </p>
</div>

<div class="annual-report--section ceo-note">
  <div class="inner">
    <h2>CEO&rsquo;s Note</h2>

    <p>2014 will go down in the history books as a year the world failed to improve itself. With a majority of our programing in the Arab region, Meedan’s work and partners have been reporting on, but also living through, this failure. Meedanis (the people of Meedan) and our partners have been, through this year, continuing our work in journalism and translation.  Our social media verification platform Checkdesk-enabled partners like the Egyptian hyperlocal media initiative Welad El Belad, the Syrian media collective Shabab Souria, and the UK-based Open Journalism pioneers Bellingcat to do reporting on the region that has entered into and influenced the international debate.</p>

    <div class="byline">&mdash;<a href="twitter.com/edbice">Ed Bice</a></div>
    <div class="byline">CEO &amp; Board Chair</div>
  </div>
</div>

<div class="annual-report--section">
  <div class="image-banner team-2"></div>
  <div class="caption">The Meedan team meeting with international partners, prototyping and doing user research together. CC-BY 2014 Meedan</div>
</div>

<div class="annual-report--section mission-statement">
    <div class="inner">
      <h2>Our Mission</h2>
      <p>Meedan builds web and mobile tools and implements creative projects for journalists and translators. Like our namesake the Arabic town square, our tools serve as a gathering place for talented people working to add context to the social web. Our approach is human-centered, creative, and ambitious. Our partners are a world-class group of media companies, universities, and NGOs. We look to a world where understanding facilitated by global conversation is a bit wider, deeper, and more effective.
      </p>

      <p>To get there, we want to build the best tools and platforms in support of global journalism and translation. We are a team of designers, technologists and journalists who focus on open source investigation of digital media and crowdsourced translation of social media. With our partners, we support research, curriculum development, and new forms of digital storytelling.
      </p>
    </div>
</div>

<div class="annual-report--section areas-served">

  <div class="inner">
    <h2>Areas Served in 2014</h2>

     <p>In 2014, Meedan and our network of partners conducted training, reporting, and hosted events in the Arab world (Egypt, Lebanon, Palestine, Jordan, Syria, Qatar) and Eastern Europe (Ukraine) in addition to the United States and the United Kingdom.</P>
  </div>
</div>

<div class="annual-report--section">
<div class="image-banner team-3"></div>
<div class="caption">An and Karim at work. CC-BY 2014 Meedan</div>
</div>

<div class="annual-report--section programs">
    <h2>Our Programs</h2>

    <ul>
      <li>
        <h3>Checkdesk</h3>
        <p>The Checkdesk program seeks to develop digital media literacy and citizen journalism in the Arab world, through the provision of high quality reporting tools (Checkdesk), training resources (ArabCitizenMedia.org) and reporting by grassroots media collectives.</p>
      </li>
      <li>
        <h3>Verification Handbook</h3>
        <p>In addition to contributing a case study, Meedan led the official translation into Arabic of the Verification Handbook&mdash;the first authoritative and comprehensive guide to digital verification techniques and tools, published by the European Journalism Center.</p>
      </li>
      <li>
        <h3>Yallah Forum</h3>
        <p>YALLAH (Youth Allied to Lead, Learn and Help) Forum is a cross-language forum developed by Meedan to support the international exchange programs of Qatar Foundation International. YALLAH allows English and Arabic speaking students to share ideas, conversations and experiences across languages.</p>
      </li>
    </ul>
</div>


<div class="annual-report--section financials">
  <div class="inner">
    <h2>2014 Financials</h2>

    <table>
      <tr>
        <td><h3>Revenues</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$1,907,512</td>
      </tr>
      <tr>
        <td>Program service revenue </td>
        <td>$1,907,512</td>
      </tr>
      <tr>
        <td>Investment income</td>
        <td>$339</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$1,941,564</td>
      </tr>
      <tr>
        <td><h3>Expenditures</h3></td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total:</h3></td>
        <td>$871,408</td>
      </tr>
    </table>

  </div>
</div>

<div class="annual-report--section contact-us">
  <div class="inner">
    <h2>Contact</h2>

    <div>
      <span>Meedan Inc.</span>
      <span>972 Mission St, 5th Floor</span>
      <span>San Francisco, CA</span>
      <span>94103</span>
    </div>

    <ul>
      <li>Ed Bice, CEO &mdash; <a href="mailto:ed@meedan.com">ed@meedan.com</a></li>
      <li>Tom Trewinnard, Business Development Manager &mdash; <a href="mailto:tom@meedan.com">tom@meedan.com</a></li>
    </ul>
  </div>
</div>

<div class="annual-report--section donate">
  <h2>Donate</h2>

  <p>Meedan has a vision of a wider world web in which citizens can collaborate across languages, and global conversation is a bit broader, deeper and more effective. Support Meedan in building world class tools for journalists, citizen journalists and translators. </p>

  <a class="button" href="https://donorbox.org/support-meedan-in-2016">Become a Meedan Supporter</a>
</div>

