// Homepage apps component
//
[class$='--apps'] {
  .apps {
    align-items: stretch;
    display: flex;
    justify-content: center;
    @include when-smaller-than(large) {
      flex-flow: column nowrap;
    }
  }

  .app {
    background: $dark-purple;
    border-radius: $grid-unit;
    color: $white-70;
    margin: $grid-unit-2 $grid-unit;
    max-width: 90%;
    padding: $grid-unit-4;

    @include when-smaller-than(large) {
      margin: $grid-unit auto;
    }

    p {
      font: $font--body-2;
    }

    .blurb {
      min-height: $grid-unit-24;
    }

    .tagline {
      color: $white-70;
      margin-top: -40px;
      padding: 0 0 $grid-unit-4;

      &::before {
        border-bottom: 5px solid $bridge-orange;
        content: '';
        display: block;
        height: 3px;
        margin: 20px auto;
        width: 100px;
      }
    }

    img {
      height: $grid-unit-24;
      max-width: 260px;
      width: 260px;

      @include when-smaller-than(medium) {
        width: 98%;
      }
    }

    @include when-smaller-than(medium) {
      width: 100%;
    }

    // Only in the Check side
    &--check {

      // Refinements to account for different logo sizes
      img {
        margin-bottom: 9px;
        margin-top: 6px;
      }

      .tagline {
        &::before {
          border-bottom-color: $check-blue;
        }
      }
    }

    // Only on the bridge side
    &--bridge {
      img {
        padding-top: $grid-unit-2;
      }
    }

    .learn {
      a {
        background-color: $white-10;
        border-radius: $grid-unit / 2;
        color: $white;
        font-weight: bold;
        margin: 0 $grid-unit;
        padding: $grid-unit $grid-unit-2;
        text-decoration: none;
      }
    }
  }

  @include when-smaller-than(medium) {
    p {
      padding: 0 0 $grid-unit-4;
      width: 95%;
    }
  }
}
