// Homepage apps component
//
[class$='--apps'] {
  background-color: $black-02;

  .apps {
    align-items: stretch;
    display: flex;
    justify-content: center;
    padding: 0 $width--small-gutter;
    @include when-smaller-than(large) {
      flex-flow: column nowrap;
    }
  }

  .app {
    background: $dark-purple;
    border-radius: 4px;
    color: $white-70;
    margin: $width--small-gutter;
    max-width: $width--primary-card;
    padding: $width--large-gutter;
    display: flex;
    flex-direction: column;

    @include when-smaller-than(large) {
      margin: $width--small-gutter auto;
      max-width: 90%;
    }

    p {
      font: $font--body-2;

      a {
        border-bottom: 0;
      }
    }

    .blurb {
      min-height: units(24);
    }

    .tagline {
      color: $white-70;
      padding: 0 0 $width--large-gutter;
    }

    .logo-container {
      height: 200px;

      &::after {
        border-bottom: 5px solid $bridge-orange;
        content: '';
        display: block;
        height: 3px;
        margin: -40px auto 0;
        width: 100px;
      }
    }

    img {
      height: units(24);
      max-width: 260px;
      width: 260px;

      @include when-smaller-than(medium) {
        width: 98%;
      }
    }

    @include when-smaller-than(medium) {
      width: 100%;
    }

    // Only on the Bridge side
    // Refinements to make them line up properly
    &--bridge {
      .logo-container {
        padding-top: 10px;

        &::after {
          margin-top: -50px;
        }
      }
    }

    // Only in the Check side
    &--check {
      .logo-container {
        &::after {
          border-bottom-color: $check-blue;
        }
      }
    }

    .learn {
      margin-top: auto;

      a {
        background-color: $white-10;
        border-radius: units(.5);
        color: $white;
        font-weight: bold;
        margin: 0 units(1);
        padding: units(1) $width--small-gutter;
        text-decoration: none;
      }
    }
  }

  @include when-smaller-than(medium) {
    p {
      padding: 0 0 $width--large-gutter;
      width: 95%;
    }
  }
}
