%button {
  background-color: $check-blue;
  border-radius: 4px;
  color: $white;
  display: block;
  font: $font--body-2;
  margin: $grid-unit-4 auto;
  padding: $grid-unit $grid-unit-2;
  text-decoration: none;
  transition: background-color .4s;
  width: $grid-unit-40;

  &:hover {
    background-color: darken($check-blue, 10%);
    color: $white;
    text-decoration: none;
    transition: background-color .4s;
  }
}

.button {
  @extend %button;
}
