// Colors
//
$check-blue: #3073fd;
$check-blue-20: rgba($check-blue, .2);
$keyboard-grey: #abb5bd;
$light-keyboard-grey: #d1d6db;
$bridge-orange: #FF674A;
$white: #fff;
$black: #000;
$dark-purple: #0c1c3e;
$dark-soft-purple: desaturate($dark-purple, 20%);

// Colors with alpha channel
//
$black-02: rgba($black, .02);
$black-05: rgba($black, .05);
$black-16: rgba($black, .16);
$black-54: rgba($black, .54);
$black-87: rgba($black, .87);
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-50: rgba($white, .5);
$white-70: rgba($white, .7);

// Color scheme: Inverted
//
%colors--inverted {
  background-color: $dark-soft-purple;
  color: $white;

  a {
    color: $white-70;

    &:hover {
      color: $white;
    }
  }
}

%colors--form-default {

  // Email input
  input[type='email'] {
    background-color: transparent;
    border-bottom: 1px solid $black-54;
    color: $black-87;

    &:focus {
      // The outline is hidden (for mouse users only!) w/ js
      // See: http://a11yproject.com/posts/never-remove-css-outlines/
      // See: app.js
      border-bottom: 1px solid $check-blue;
    }

    // When clicking in this element, light up the button
    // TODO refactor this into buttons.scss
    &:focus ~ input[type='submit'] {
      background-color: $check-blue;
      color: $white;
      transition: background-color .3s;
    }
  }

  // Submit button
  input[type='submit'] {
    background-color: $light-keyboard-grey;
    color: $black-87;

    &:hover {
      background-color: $check-blue;
      color: $white;
      transition: background-color .2s;
    }
  }

  // The label on the checkbox
  input[type='checkbox'] ~ label {
    color: $black-54;
  }
}

%colors--form-inverted {

  // All labels
  label {
    color: $white-50;
  }

  // All inputs
  input {
    color: $white;
  }

  input[type='email'] {
    color: $white;

    &:focus {
      border-bottom: 1px solid $white;
    }

    // When clicking in this element, light up the button
    &:focus ~ input[type='submit'] {
      background-color: $white;
      color: $check-blue;
    }
  }

  // Submit button
  input[type='submit'] {
    color: $black-54;
  }
}

// Color scheme: Default
%colors--default {
  background-color: $white;
  color: $black-87;
}
