// Colors
//
$firefly2: #fafbfb;
$firefly10: #e7e8ea;
$firefly5: lighten($firefly10, 5%);
$firefly20: #cfd3d5;
$firefly30: #b7bcc0;
$firefly40: #9fa6ac;
$firefly50: #f3f4f4;
$firefly60: #6f7a82;
$firefly80: #404d59;
$firefly90: #283743;
$firefly: #10212f;
$check-yellow: #e4ba2a;
$check-blue: #3073fd;
$keyboard-grey: #abb5bd;
$light-keyboard-grey: #d1d6db;
$light-bridge-orange: #fff6f1;
$bridge-orange: #ff4f00;
$accent-blue: #6d9ed3;
$photo-feb10-blue: #596d74;
$alto-grey: #e0e0e0;
$white: #fff;
$black: #000;

// Colors with alpha channel
//
$firefly-100-90: rgba($firefly, 90);
$firefly-100-70: rgba($firefly, 70);
$firefly-100-50: rgba($firefly, 50);
$firefly-50-50: rgba($firefly10, .5);
$black-100-10: rgba($black, .1);
$black-100-20: rgba($black, .2);
$white-100-10: rgba($white, .1);
$white-100-50: rgba($white, .5);
$white-100-70: rgba($white, .7);

// Color scheme: Inverted
//
%colors--inverted {
  background-color: $firefly80;
  color: $firefly10;

  a {
    color: $white-100-70;
    padding: .18em;

    &:hover {
      background-color: $firefly-50-50;
    }
  }
}

%colors--form-default {

  // Email input
  input[type='email'] {
    background-color: transparent;
    border-bottom: 1px solid $firefly40;
    color: $firefly;

    &:focus {
      // The outline is hidden (for mouse users only!) w/ js
      // See: http://a11yproject.com/posts/never-remove-css-outlines/
      // See: app.js
      border-bottom: 1px solid $check-blue;
    }

    // When clicking in this element, light up the button
    &:focus ~ input[type='submit'] {
      background-color: $check-blue;
      color: $white;
      transition: background-color .3s;
    }
  }

  // Submit button
  input[type='submit'] {
    background-color: $light-keyboard-grey;
    color: $firefly60;

    &:hover {
      background-color: $check-blue;
      color: $white;
      transition: background-color .2s;
    }
  }

  // The label on the checkbox
  input[type='checkbox'] ~ label {
    color: $firefly40;
  }
}

%colors--form-inverted {

  // All labels
  label {
    color: $white-100-50;
  }

  // All inputs
  input {
    color: $white;
  }

  input[type='email'] {
    color: $white;

    &:focus {
      border-bottom: 1px solid $white;
    }

    // When clicking in this element, light up the button
    &:focus ~ input[type='submit'] {
      background-color: $white;
      color: $check-blue;
    }
  }

  // Submit button
  input[type='submit'] {
    color: $firefly60;
  }
}

// Color scheme: Default
%colors--default {
  background-color: $white;
  color: $firefly80;
}
