
// Out of Eden Walk Red
// @type color
$ooew-red: #960808;

/// Checkdesk colors
/// @group meedan-checkdesk

/// Firefly 2
///@type color
$firefly2: #fafbfb;

/// Firefly 10
///@type color
$firefly10: #e7e8ea;

/// Firefly 20
///@type color
$firefly20: #cfd3d5;

/// Firefly 30
///@type color
$firefly30: #b7bcc0;

/// Firefly 40
///@type color
$firefly40: #9fa6ac;

/// Firefly 5
///@type color
$firefly5: #f3f4f4;

/// Firefly 60
///@type color
$firefly60: #6f7a82;

/// Firefly 80
///@type color
$firefly80: #404d59;

/// Firefly 90
///@type color
$firefly90: #283743;

/// Firefly
///@type color
$firefly: #10212f;

/// Checkdesk Yellow
///@type color
$checkdesk-yellow: #e4ba2a;

/// Keyboard Grey
/// @type Color
$keyboard-grey: #abb5bd;

/// Keyboard Light Grey
/// @type Color
$light-keyboard-grey: #d1d6db;

/// Light Bridge International Orange
/// @type Color
$light-bridge-orange: #fff6f1;

/// Bridge International Orange
/// @type Color
$bridge-orange: #ff4f00;

$warm-grey: #f1f2ed;
$accent-blue: #6d9ed3;
$alto-grey: #e0e0e0;
$another-blue: desaturate(#005bbe, 30%);
$byline-background-color: rgba(yellow, 0.3);
$byline-color: rgba(black, 0.85);
$cerise-pink: #db107c;

$firetruck-red: hsl(3, 100%, 36%);
$light-blue: lighten($accent-blue, 80%);
$light-warm-color: #f2f0eb;
$mercury-grey: #e8e8e8;
$photo-feb10-blue: #596d74;
$portland-purple: #42476f;
$dark-portland-purple: #42476f;
$shadow-grey: #c3c3c3;
$tanzanite-blue: #4910db;
$translation-background-color: #888888;
$translation-border-color: #c3c3c3;
$translation-comment-blue: rgba($photo-feb10-blue, 0.5);
$translation-comment-link-blue: rgba($another-blue, 0.6);
$warm-color: #d2c6b7;