// Homepage Projects
//
%component--projects {
  background: $firefly-100-70;

  .projects {
    @extend %flex-container;
    align-items: stretch;
  }

  .project {
    background: $black-100-20;
    border-radius: 8px;
  }

  // At smaller sizes, the images are fluid
  @media (max-width: $breakpoint) {
    .project,
    svg {
      max-width: 100%;
      width: 100%;
    }
  }

  .project {
    svg {
      height: 160px;
      width: 260px;
    }

    &--bridge {
      svg {
        padding-top: 10px;
        width: 280px;
      }
    }
  }

  h3 {
    color: $white;
    width: 100%;
  }

  .project--bridge,
  .project--check {
    color: $firefly2;
    margin: 1em;
    padding: 2em;
    width: 40%;

    // At smaller sizes
    @media all and (max-width: $breakpoint) {
      width: 100%;
    }

    p {
      font-size: 1em;
      line-height: $line-height--medium;
      padding-bottom: 1em;

      &.blurb {
        min-height: 11em;
      }

      &.blurb,
      &.learn {
        font-size: .8em;
      }

      &.tagline {
        color: $white-100-70;
        font-weight: 500;
        padding: .5em 0 2em 0;
      }

      a {
        background-color: $white-100-10;
        border-radius: 4px;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        margin: 0 .5em;
        padding: 0 .7em;
        text-decoration: none;
      }
    }

    // At smaller sizes
    @media all and (max-width: $breakpoint) {

      p {
        padding: 0;
        width: 95%;
      }
    }
  }
}
