/// Layout: Logos
///
/// Similar to the team layout.
///
$logo-small-width: 150px;
$logo-large-width: 250px;

/// Logo Layout
///
/// A flex-based layout that handles many small blocks. It is implemented in several places. There is custom width handling on each image, where needed. Appears on several pages.
///
/// @author Chris Blow
/// @group meedan-web
%component--logos {
  ul.logos {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    flex-align: center;
    align-items: center;
    @extend %flex-container-stacked-when-small;
    a {
      padding: 1em;
    }
    img, svg {
      max-width: $logo-small-width;
      max-height: 50px;
    }
    .acm, .sida {
      svg, img {
        max-width: 100px;
      }
    }
    .kf {
      svg, img {
        width: $logo-large-width;
      }
    }
    .kf, .gv, .ff, .bcu, .smex, .bc, .vc, .cambridge {
      svg, img {
        max-width: $logo-large-width;
      }
    }
    .bc img {
      max-height: 90px;
    }
    .ng {
      margin-top: 10px;
      a {
        max-width: 100px;
      }
    }
    .firstdraft svg {
      width: 75px;
      margin-top: 10px;
    }
  }
}