/// Layout: Logos
///
/// Similar to the team layout.
///
$logo-small-width: $grid-unit-18;
$logo-large-width: $grid-unit-30;

/// Logo Layout
///
/// A flex-based layout that handles many small blocks. It is implemented in several places. There is custom width handling on each image, where needed. Appears on several pages.
%component--logos {

  .logos {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style-type: none;

    a {
      padding: $grid-unit;
    }

    img,
    svg {
      max-height: $grid-unit-8;
      max-width: $logo-small-width;
    }

    .witness {
      svg,
      img {
        max-width: $grid-unit-10;
      }
    }

    .kf {
      svg,
      img {
        width: $logo-large-width;
      }
    }

    .bc,
    .bcu,
    .ff,
    .gv,
    .kf,
    .smex,
    .vc,
    .cambridge {
      svg,
      img {
        max-width: $logo-large-width;
      }
    }

    .bc {
      img {
        max-height: $grid-unit-10;
      }
    }

    .ng {
      margin-top: $grid-unit;

      a {
        max-width: $grid-unit-12;
      }
    }

    .ipi,
    .dataguild,
    .kiva,
    .ibm,
    .first-draft {
      img,
      svg {
        margin-top: $grid-unit;
        width: $grid-unit-10;
      }
    }
  }
}
