// Component: Quotes
//
%component--quotes {
  @extend %flex-container;

  justify-content: center;

  p {
    font-size: 1em;
    text-align: start;

    &:first-of-type {
      &:lang(en) {
        text-align: left;
      }
    }
  }

  .quote {
    display: inline;
    margin-top: 2em;
    padding: 2em;
    vertical-align: top;
    width: 40%;

    @media all and (max-width: $breakpoint) {
      min-width: 100%;
    }

    .attribution--name,
    .attribution--website {
      display: inline;
      font-weight: 700;
      padding: 0;
    }
  }
}