// Layout: Logos
//
// Similar to the team layout.
//
$logo-small-width: $grid-unit-18;
$logo-large-width: $grid-unit-30;


// Prevent the last logo from being on it's own on a line
// WARN: This uses magic numbers and must be reviewed after the logos change CGB 2017-1-24
//
%ensure-no-widows {
  @media all and (min-width: 1000px) {
    width: 942px;
  }

  @media all and (max-width: 941px) {
    width: 665px;
  }

  @media all and (max-width: 664px) {
    width: 465px;
  }

  @media all and (max-width: 464px) {
    width: 300px;
  }

  margin: 0 auto;
}

// Logo Layout
//
// A flex-based layout that handles many small blocks. It is implemented in several places. There is custom width handling on each image, where needed. Appears on several pages.
%component--logos {
  @extend %ensure-no-widows;

  .logos {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style-type: none;

    li {
      align-items: center;
      display: flex;
      height: $grid-unit-12;
      justify-content: center;
      padding: $grid-unit-2;
    }

    img,
    svg {
      max-height: $grid-unit-8;
      max-width: $logo-small-width;
    }

    .witness {
      svg,
      img {
        max-width: $grid-unit-10;
      }
    }

    .kf {
      svg,
      img {
        width: $logo-large-width;
      }
    }

    .bc,
    .bcu,
    .ff,
    .gv,
    .kf,
    .smex,
    .vc,
    .cambridge {
      svg,
      img {
        max-width: $logo-large-width;
      }
    }

    .bc {
      img {
        max-height: $grid-unit-10;
      }
    }

    .ng {
      a {
        max-width: $grid-unit-12;
      }
    }

    .ipi,
    .dataguild,
    .kiva,
    .ibm,
    .first-draft {
      img,
      svg {
        width: $grid-unit-10;
      }
    }
  }
}
