/// Width of primary logo on the homepage
$width--primary-logo: 200px;

////
/// Checkdesk and Homepage Branding
///
/// The branding section has a large .logo image and the h1.
/// At smaller sizes the logo has a percent-based width.
///
/// We create a %placeholder then @extend it below.
///
/// @group meedan-web
%component--branding {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 4em 1em 1em;
  width: 100%;

  // The main image in a "branding" section
  .screenshot {
    max-width: 900px;
    min-width: 280px;
    padding-top: 0;
    padding-bottom: 0em;
    display: block;
    height: auto;
    width: 80%;
    margin: 0 auto;
    animation: fadeInUp 1s;
  }

  // The phrase under the logos
  .slogan {
  	margin: 0;
    padding: 0;
    font-size: 1.25em;
    animation: fadeIn 1.2s;
  }
}

.btn-scroll-down {
  padding-top: 0em;
  margin-top: 0em;
  @media all and (max-width:450px) {
    padding: 1em 0em;
  }
  svg {
    max-width: 40px !important;
  }
}
