// Layout: Team
//
// Team headshots in a simple grid

$width--team-member: 160px;

%component--team {
  align-items: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin: 24px auto;
  padding: 0;

  @media (min-width: $width--team-member * 2) {
    width: $width--team-member * 2 + $grid-unit-2;
  }

  @media (min-width: $width--team-member * 4) {
    width: $width--team-member * 4 + $grid-unit-2;
  }

  @media (min-width: $width--team-member * 6) {
    width: $width--team-member * 6 + $grid-unit-2;
  }

  @media (min-width: $width--team-member * 8) {
    width: $width--team-member * 8 + $grid-unit-2;
  }

  .name {
    font-weight: 500;
    padding-top: $grid-unit;
  }

  li {
    flex: 0 1 auto;
    font: $font--body-1;
    height: $grid-unit-30;
    width: $width--team-member;
  }

  img {
    border-radius: 50%;
    filter: sepia(25%);
    max-height: $grid-unit-12;
    max-width: $grid-unit-12;
    width: 100%;
  }
}
