// Component: Quotes
//
// Use flex to put two quotes side by side.
%quotes {
  justify-content: center;
  @extend %flex-container;

  .quote {
    vertical-align: top;
    display: inline;
    width: 40%;
    margin-top: 2em;
    padding: 2em;

    @media all and (max-width: $breakpoint) {
      min-width: 100%;
    }

    p {
      font-size: 1em;
    }

    .attribution--name,
    .attribution--website {
      font-weight: 700;
      padding: 0;
      display: inline;
    }
  }
}