/// Contact section
///
/// Containing --call, --visit, --write and --social-media
///
%component--contact {
  background: $firefly-100-70;
  color: $firefly10;

  li {
    display: inline-block;
    vertical-align: top;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .contact--visit {
    .locations {
      display: flex;
      li {
        clear: none;
        font-family: $font-stack--roboto;
        width: 50%;
        text-align: center;

        h4 {
          font-size: 0.8em;
          font-weight: 100;
          margin: 1em;
        }

        p {
          font-size: 0.8em;
          font-weight: 100;
          margin: 0 auto;
        }
      }
    }
  }

  .contact--social-media {
    columns: 100% 4;
    display: flex;
    li {
      width: 25%;
    }
    a {
      text-decoration: none;
      border-bottom: none;
      svg {
        width: 100%;
        max-width: 80px;
      }
    }
  }
}

.contact {
  @extend %component--contact;
}
