/// Explanation component
///
/// These are screenshots with with paragraphs of text.
/// The amount of text is usually just one paragraph.
/// There is a header for each screenshot and paragraph.
%component--explanations {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  .explanation {
    align-items: flex-start;
    display: flex;
    margin-top: 2em;

    .header-and-description {
      padding: $grid-unit-3;
      width: 50%;

      // At smaller sizes
      @include when-smaller-than(large) {
        width: 90%;
      }
    }

    h3 {
      padding: 0 0 1em;
      text-align: left;
    }

    p {
      font-size: 1em;
      margin: 0;
      text-align: start;
      vertical-align: top;
      width: 100%;

      @include when-smaller-than(large) {
        max-width: 100%;
        padding: 0;
      }
    }
  }

  .screenshot {

    img {
      max-width: 100%;
    }

    @include when-smaller-than(large) {
      margin-top: 2em;
      max-width: 425px;
      width: 90%;
    }
  }
}
