/// Explanation component
///
/// These are screenshots with with paragraphs of text.
/// The amount of text is usually just one paragraph.
/// There is a header for each screenshot and paragraph.
%component--explanations {
  margin: 0 auto;
  padding: 1;
  width: 100%;
  max-width: 800px;

  .description {
    @extend %flex-container;
    align-items: flex-start;
    margin-top: 1em;

    .header-and-description {
      width: 50%;

      h4 {
        font-size: 1em;
        font-weight: 500;
        padding: 1em;
        text-align: left;
        width: 100%;
        margin-top: 2em;
      }

      p {
        display: inline-block;
        font-size: 1em;
        vertical-align: top;
        text-align: left;
        width: 100%;
        padding: 1em 1em;

        @media (max-width: $breakpoint) {
          width: 100%;
          padding: 1em;
        }
      }
    }
  }

  .screenshot {
    width: 50%;
    // display: inline-block;
    // margin: 2% 5%;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}