// The primary pages navigation
//

.primary-nav {
  align-items: stretch;
  background-color: $white;
  border-bottom: 1px solid $firefly10;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3;

  .meedan-home {
    align-items: center;
    display: flex;
    padding: 0 $grid-unit-4;
  }

  .pages {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    margin: 0 $grid-unit-2;

    li {
      height: $grid-unit-8;
      padding: 0;
    }

    a {
      display: block;
      font: $font-size--subheading-2;
      line-height: $grid-unit-4;
      padding: $grid-unit-2;
      text-decoration: none;
      transition: border .2s;
      color: $firefly80;

      &:hover {
        box-shadow: inset 0 -3px 0 $check-blue;
        transition: border .2s;
      }

      &:active {
        color: $check-blue;
      }

      @media all and (max-width: $breakpoint) {
        width: 100%;
      }
    }
  }
}

// Locale Nav
//
// A list of links to active and inactive languages (locales).
.locales {
  background-color: $black-100-20;
  border-radius: $grid-unit / 2;
  display: flex;
  margin: $grid-unit;
  overflow: hidden;
  padding: ($grid-unit / 2) $grid-unit;
  position: absolute;
  right: 0;
  top: $grid-unit-8;

  a {
    color: $firefly80;
    font: $font-size--subheading-2;
    margin-left: $grid-unit;
    margin-right: $grid-unit;
    text-decoration: none;
  }

  li {
    border-left-width: 0;
    margin: 0;
    padding: 0;
  }

  // Make sure they don't switch sides when changing langs
  .ar {
    float: right;
  }

  // // At smaller sizes
  // // Put all the languages on one row.
  // @media (max-width: $breakpoint) {
  //   border-bottom: 1px solid $firefly10;
  //   display: flex;
  //   justify-content: center;

  //   a {
  //     height: auto;
  //     padding: $grid-unit;
  //   }
  // }
}

// Locale navigation: current page indicator
.active {
  a {
    color: $black;
    font-weight: bold;
  }
}

// Page navigation: current page indicator
//
// Loop through the main pages.
@each $page in (bridge, check, about)  {
  body.#{$page} {
    .#{$page} {
      @media all and (max-width: $breakpoint) {
        a {
          color: $check-blue;
        }
      }

      @media all and (min-width: $breakpoint) {
        a {
          color: $check-blue;
          box-shadow: inset 0 -3px 0 $check-blue;
        }
      }
    }
  }
}
