// Recent press component
//
%component--recent-press {
  padding-bottom: $grid-unit-2;

  h3 {
    width: 100%;
  }

  // A list of "blurbs"
  .blurbs {
    align-items: stretch;
    display: flex;
    justify-content: center;

    // at smaller sizes
    @media all and (max-width: $breakpoint) {
      flex-flow: column;
      padding-bottom: $grid-unit-4;
    }
  }

  // Single blurb with text and logo
  li {
    color: $firefly80;
    font: $font--body-2;
    padding: 1%;
    width: 30%;

    // at smaller sizes
    @media all and (max-width: $breakpoint) {
      width: 100%;

      p {
        width: 95%;
      }
    }

    p {
      padding: $grid-unit;

      &:hover {
        background-color: $firefly5;
        border-radius: $grid-unit;
        transition: .4s;
      }

      a {
        color: $firefly80;
        text-decoration: none;
      }
    }
  }
}
