/// Contact section
///
/// Containing --call, --visit, --write and --social-media
///
%component--contact {
  background: $firefly-100-70;
  color: $firefly10;

  li {
    display: inline-block;
    vertical-align: top;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .contact--visit {
    .locations {
      display: flex;

      li {
        clear: none;
        text-align: center;
        width: 50%;
      }
    }
  }

  .contact--social-media {
    columns: 100% 4;
    display: flex;

    li {
      width: 25%;
    }

    a {
      border-bottom: none;
      text-decoration: none;

      svg {
        max-width: $grid-unit-8;
        width: 100%;
      }
    }
  }
}

.contact {
  @extend %component--contact;
}
