////
/// Check and Homepage Branding
///
/// The branding section has a large .logo image and the h1.
/// At smaller sizes the logo has a percent-based width.
///
/// We create a %placeholder then @extend it below.
///
/// @group meedan-web
%component--branding {
  padding: $grid-unit-12 $grid-unit-2 $grid-unit-4;
  width: 100%;

  // The main image in a "branding" section
  .screenshot {
    display: block;
    margin: 0 auto;
    max-width: 525px;
    width: 100%;
    animation: fadeIn 1.2s;
  }

  // The phrase under the logos
  .slogan {
    font: $font--headline;
    margin: 0 auto;
    padding: 0;
    color: $white-100-70;
  }
}
