// Component: background-photo
@mixin component--background-photo($image: '../images/banners/banner-2@1x.jpg') {
  background-color: $firefly90;
  background-image: url($image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  margin: 0 auto;
  min-height: 350px;
  padding: 4em 0;
  text-shadow: 0 0 5px $black;
  vertical-align: middle;
  width: 100%;
}
