// Drawings on the homepage
.drawings__home {
  border: 1px solid red;
  position: absolute;
  width: 100%;

  .lines {
    border: 1px solid pink;
    height: 500px;
    position: absolute;
    right: -25%;
    top: -15%;
    transform: rotate(-45deg);
    width: 400px;

    div {
      background-color: $black-05;
      border-radius: 20px;
      height: 40px;
      position: absolute;
      width: 256px;

      &:nth-of-type(1) {
        left: 100px;
        top: 0;
      }

      &:nth-of-type(2) {
        left: 390px;
        top: 220px;
      }

      &:nth-of-type(3) {
        left: 0;
        top: 300px;
      }

      &:nth-of-type(4) {
        left: 340px;
        top: 530px;
      }
    }
  }

  .circles {
    border: 1px solid red;
    height: 500px;
    position: absolute;
    right: -25%;
    top: -15%;
    transform: rotate(-45deg);
    width: 400px;

    div {
      background-color: $black-05;
      border-radius: 20px;
      height: 40px;
      position: absolute;
      width: 256px;

      &:nth-of-type(1) {
        left: 294px;
        top: 400px;
        width: 40px;
      }

      &:nth-of-type(2) {
        left: 685px;
        top: 474px;
        width: 40px;
      }

      &:nth-of-type(3) {
        left: 254px;
        top: 533px;
        width: 40px;
      }
    }
  }

  .triangles {
    border: 1px solid blue;
    height: 500px;
    width: 100%;

    div {
      &:nth-of-type(1) {
        background-color: $bridge-orange;
        border-radius: 5px;
        right: 0;
        // top: 138px;
        width: 152px;
        width: 152px;
      }

      &:nth-of-type(2) {
        background-color: $check-blue;
        border-radius: 5px;
        left: 0;
        // top: 450px;
        width: 80px;
        width: 80px;
      }
    }
  }
}
