// Drawings on the homepage
.drawings__home {
  position: absolute;
  width: 100%;

  .lines {
    height: 500px;
    position: absolute;
    right: 0px;
    top: -100px;
    transform: rotate(-45deg);
    width: 700px;

    div {
      background-color: $black-02;
      border-radius: 20px;
      height: 40px;
      position: absolute;
      width: 456px;

      &:nth-of-type(1) {
        left: 100px;
        top: 0;
      }

      &:nth-of-type(2) {
        left: 390px;
        top: 220px;
      }

      &:nth-of-type(3) {
        left: 0;
        top: 300px;
      }

      &:nth-of-type(4) {
        left: 340px;
        top: 530px;
      }
    }
  }

  .circles {
    height: 500px;
    position: absolute;
    right: 493px;
    top: -100px;
    transform: rotate(-45deg);

    div {
      background-color: $black-02;
      border-radius: 20px;
      height: 40px;
      position: absolute;
      width: 256px;

      &:nth-of-type(1) {
        left: 294px;
        top: 400px;
        width: 40px;
      }

      &:nth-of-type(2) {
        left: 685px;
        top: 474px;
        width: 40px;
      }

      &:nth-of-type(3) {
        left: 254px;
        top: 533px;
        width: 40px;
      }
    }
  }

  .triangles {
    height: 500px;
    position: absoulte;
    bottom: 0;
    border: 1px solid aqua;

    div {
      position: absolute;

      &:nth-of-type(1) {
        background-color: $bridge-orange;
        border-radius: 10%;
        width: units(20);
        height: units(20);
        transform: rotate(45deg);
        right: -1 * units(11);
        top: units(8);
        @include when-smaller-than(medium) {
          width: units(5);
          height: units(5);
          right: -1 * units(3);
        }
      }

      &:nth-of-type(2) {
        background-color: $check-blue;
        border-radius: 10%;
        left: 0;
        width: units(12);
        height: units(12);
        transform: rotate(45deg);
        left: -1 * units(7);
        top: units(52);
        @include when-smaller-than(medium) {
          width: units(7);
          height: units(7);
          left: -1 * units(4);
          top: units(72);
        }
      }
    }
  }
}
