// Explanation component
//
// These are screenshots with with paragraphs of text.
// The amount of text is usually just one paragraph.
// There is a header for each screenshot and paragraph.
[class$='--explanations'] {
  max-width: 800px;
  width: 100%;

  .explanation {
    align-items: flex-start;
    display: flex;
    margin-top: 2em;

    // At smaller sizes
    @include when-smaller-than(medium) {
      display: block;
    }

    .header-and-description {
      padding: units(3) units(3) units(3) 0;
      width: 50%;

      // At smaller sizes
      @include when-smaller-than(large) {
        width: 90%;
      }
    }

    h3 {
      padding: 0 0 units(2);
      text-align: left;
    }

    p {
      margin: 0;
      text-align: start;
      vertical-align: top;
      width: 100%;

      @include when-smaller-than(large) {
        max-width: 100%;
        padding: 0;
      }
    }
  }

  .screenshot {
    img {
      max-width: 300px;

      @include when-smaller-than(medium) {
        margin: 0 auto;
      }
    }

    @include when-smaller-than(medium) {
      margin: 2em auto;
      max-width: 425px;
      width: 90%;
    }
  }
}
