// Explanation component
//
// These are screenshots with with paragraphs of text.
// The amount of text is usually just one paragraph.
// There is a header for each screenshot and paragraph.
[class$='__explanations'] {
  .explanation {
    // At smaller sizes
    @include when-smaller-than(medium) {
      display: block;
    }
    @include when-larger-than(large) {
      margin-top: units(8);
    }
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin-bottom: units(2);
    margin-top: units(5);

    .header-and-description {
      @include when-smaller-than(large) {
        margin-right: 0 !important;
        padding-right: 0;
        width: 100%;
      }

      @include when-larger-than(large) {
        margin-right: units(8);
      }
      padding: 0 units(3) units(3) 0;
      width: 50%;
    }

    h3 {
      padding: 0 0 units(2);
    }

    p {
      @include when-smaller-than(large) {
        max-width: 100%;
        padding: 0;
      }
      margin: 0;
      text-align: start;
      vertical-align: top;
      width: 100%;
    }
  }

  .screenshot {
    @include when-smaller-than(medium) {
      margin: units(2) auto;
    }

    img {
      @include when-smaller-than(medium) {
        margin: 0 auto;
      }
      max-width: 300px;
      width: 100%;
    }
  }
}
