// Check featured client (electionland) blurb
[class$='--featured-client'] {
  color: $black-54;
  padding-bottom: 0;
  position: relative;
  background-color: $black-02;

  .electionland-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;

    img {
      height: units(4);
      vertical-align: top;
      width: units(4);
    }
  }
}
