// Check featured client (electionland) blurb
[class$='__featured-client'] {
  $line-height: units(4.5);
  background-color: $black-02;
  color: $black-54;
  padding-bottom: units(3);
  position: relative;

  > .row {
    align-items: center;
  }

  p {
    padding: 0 0 units(3);
  }

  h3 {
    line-height: $line-height;
    padding-bottom: units(3);
  }

  span {
    align-items: center;
    display: flex;
    height: $line-height;

    a {
      border-bottom: none;
      text-decoration: none;
    }
  }

  img {
    flex-shrink: 0;
    height: units(4);
    margin: 7px units(1) 0;
    width: units(4);
  }

  .electionland-small,
  .crosscheck-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;
  }
}
