// Check featured client (electionland) blurb
[class$='--featured-client'] {
  color: $black-54;
  padding-bottom: 0;
  position: relative;
  background-color: $black-02;
  $line-height: units(4.5);
  padding-bottom: units(3);

  > .row {
    align-items: flex-start;
  }

  p {
    padding: 0 0 units(3);
  }

  h3 {
    line-height: $line-height;
    padding-bottom: units(3);
  }

  span {
    display: flex;
    align-items: center;
    height: $line-height;

    a {
      text-decoration: none;
      border-bottom: none;
    }
  }

  img {
    height: units(4);
    width: units(4);
    margin: 7px units(1) 0;
    flex-shrink: 0;
  }

  .sign-up {
    padding: units(8) units(8) 0 0;
  }

  .electionland-small,
  .crosscheck-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;
  }
}
