
/// Flex container
///
%flex-container {
  align-items: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

/// Flex item
/// 
/// This is the expanded form of "flex: 1 1 auto"
%flex-item {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

/// Flex container stacked when small
/// 
/// Changes the flow direction to "column"
/// And makes things full width.
/// This is an awesome timesaved for responsive layout!
%flex-container-stacked-when-small {
  @media (max-width: 600px) {
    flex-flow: wrap column;

    & > * {
      width: 100%;
    }
  }
}

/// Flex vertically
///
/// Using the `column` value to flow the content vertically.
///
/// @see %flex-container
%flex-vertical {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
