$form--color: $firefly30;
$form--max-width: 600px;
$form--min-width: 220px;

/// Form groups
.form-group {
	display: flex;
	margin: 2em auto;
	max-width: $form--max-width;
	position: relative;
	@media all and (max-width: $form--max-width) {
		max-width: 100%;
		display: block;
		input {
			width: 100%;
		}
	}

	input[type='email'],
	input[type='text'],
	input[type='submit'] {
		z-index: 1;
	}

	label {
		color: rgba($firefly80, 0.4);
		font-size: 0.8em;
		font-weight: 300;
		position: absolute;
		top: -2em;
		z-index: 2;
	}

	input {
		padding: 0.4em;
		border: 1px solid $form--color;
	}

	input[type='submit'] {
		color: black;
		background-color: $form--color;
		padding-left: 1.5em;
		padding-right: 1.5em;
		margin: 0 !important;
		border-color: darken($form--color, 10%);
	}

	input[type="email"] {
		flex: 1;
		line-height: 2;
	}
}

// The form in the bridge branding section
.bridge-form {
  padding: 1em 1.5em 1em 1.5em;

  h2 {
    margin: 0;
    padding: 0;
    text-transform: none;
    letter-spacing: 0;
    font-size: 22px;
  }

  h3 {
    margin: 1em 0;
    padding: 0;
    text-transform: none;
    letter-spacing: 0;
    font-size: 18px;
  }
  input {
    color: black;
  }
}
