@import url('//fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');
$font-stack--arabic: 'Droid Arabic Naskh', serif;

// # Arabic Typography
//
:lang(ar) {
  direction: rtl;
  font-family: $font-stack--arabic;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 1.3;

  .tagline {
    text-align: right;
  }

  .description {
    p {
      text-align: right;
    }
  }
}
