$grid-unit: 8px;
$grid-unit-2: $grid-unit * 2;     // 16px or 1em
$grid-unit-3: $grid-unit * 3;     // 24px or 1.5em
$grid-unit-4: $grid-unit * 4;     // 32px or 2em
$grid-unit-6: $grid-unit * 6;     // 48px or 3em
$grid-unit-8: $grid-unit * 8;     // 64px or 4em
$grid-unit-10: $grid-unit * 10;   // 80px or 5em
$grid-unit-12: $grid-unit * 12;   // 96px or 6em
$grid-unit-18: $grid-unit * 18;   // 144px or 9em
$grid-unit-24: $grid-unit * 24;   // 192px or 12em
$grid-unit-30: $grid-unit * 30;   // 240px or 15em
$grid-unit-35: $grid-unit * 35;   // 280px or 17.5em
$grid-unit-40: $grid-unit * 40;   // 320px or 20em
$grid-unit-70: $grid-unit * 70;   // 560px or 35em
$grid-unit-80: $grid-unit * 80;   // 640px or 40em
$grid-unit-90: $grid-unit * 90;   // 720px or 45em
$grid-unit-100: $grid-unit * 100; // 800px or 50em
$grid-unit-112: $grid-unit * 112; // 896px or 56em

$breakpoint: $grid-unit-112;
