$grid-unit: 8px;
$grid-unit-2: $grid-unit * 2;
$grid-unit-3: $grid-unit * 3;
$grid-unit-4: $grid-unit * 4;
$grid-unit-8: $grid-unit * 8;
$grid-unit-10: $grid-unit * 10;
$grid-unit-12: $grid-unit * 12;
$grid-unit-18: $grid-unit * 18;
$grid-unit-24: $grid-unit * 24;
$grid-unit-30: $grid-unit * 30;
$grid-unit-35: $grid-unit * 35;
$grid-unit-40: $grid-unit * 40;
$grid-unit-70: $grid-unit * 70;
$grid-unit-80: $grid-unit * 80;
$grid-unit-90: $grid-unit * 90;
$grid-unit-100: $grid-unit * 100;
