// Logo Layout
//
// A flex-based layout that handles many small blocks. It is implemented in several places. There is custom width handling on each image, where needed.
//
//
[class*='__logos'] {
  background-color: $black-02;

  .logos {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style-type: none;

    li {
      @extend %card-flat;

      @include when-smaller-than(small) {
        margin-right: 0;
        width: 100%;
      }
      height: units(12);
      margin: units(1) units(2) units(1) 0;
      padding: 0;
      width: units(25);
    }

    a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: units(1);
      width: 100%;
    }

    img {
      max-height: units(6);
      max-width: units(16);
    }

    // Very square
    .first-draft,
    .ibm,
    .kiva,
    .dataguild,
    .hku,
    .hrc {
      img {
        max-height: units(9);
        max-width: units(9);
      }
    }

    // Very oblong
    .kf,
    .ff,
    .bcu,
    .bc,
    .amnesty,
    .shuttleworth,
    .gnl {
      img {
        max-height: units(16);
        max-width: units(20);
      }
    }

    // Oblong svg
    // (because by default svgs have `width: 100` inline)
    .kf img {
      width: units(16);
    }
  }
}
