// Prevent the last logo from being on it's own on a line
// WARN: This uses magic numbers and must be reviewed after the logos change CGB 2017-1-24
//
%ensure-no-widows {
  @media all and (min-width: 1000px) {
    width: 1000px;
  }

  @media all and (max-width: 1000px) {
    width: 605px;
  }

  @media all and (max-width: 605px) {
    width: 300px;
  }

  margin: 0 auto;
}

// Logo Layout
//
// A flex-based layout that handles many small blocks. It is implemented in several places. There is custom width handling on each image, where needed.
//
//
[class$='--logos'] {
  @extend %ensure-no-widows;

  .logos {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style-type: none;

    li {
      align-items: center;
      display: flex;
      height: 80px;
      justify-content: center;
      padding: $grid-unit-2;
      width: 200px;
    }

    img {
      max-height: 50px;
      max-width: 130px;
    }

    // Very square
    .first-draft,
    .ibm,
    .kiva,
    .dataguild,
    .hku,
    .hrc {
      img {
        max-height: 80px;
        width: 80px;
      }
    }

    // Very oblong
    .kf,
    .ff,
    .bcu,
    .bc,
    .amnesty {
      img {
        max-height: 80px;
        max-width: 200px;
        width: 170px;
      }
    }
  }
}
