// Component: Homepage medium channels
//
// This is the medium channels.
// • For now we have a fixed height (ew) because medium doesn't give us a lot of control.
// • TODO: migrate this to a custom RSS feed that gives us more control over the design.
//
[class$='__medium-channels'] {
  background-color: $black-02;

  .medium-channels {
    @include when-smaller-than(medium) {
      margin-left: 0;
    }
    align-items: stretch;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-left: -#{$width--small-gutter};
  }

  .medium-channel {
    @include when-smaller-than(medium) {
      margin: 0;
      width: 100%;
    }
    @extend %card-flat;
    border-radius: $radius--default;
    margin: $width--small-gutter;
    padding: units(2);
    width: 45%;

    a {
      font: $font--body-2;
    }

    .entry {
      margin-top: units(3);
      overflow: hidden;
    }

    .title {
      display: block;
    }

    .tagline {
      font-size: 13px;
    }

    .categories,
    .published {
      color: $black-54;
      font: $font--caption;
      font-weight: 300;
      line-height: 1.5;
      text-transform: uppercase;
    }

    .published {
      display: block;
    }

    .categories {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .categories span {
      display: inline-block;
      font-size: 10px;
      height: units(3);
      hyphens: auto;
      line-height: 1.7;
      margin-right: units(1);
      text-overflow: ellipsis;
    }
  }
}
