// Component: Homepage medium channels
//
// This is the medium channels.
// • For now we have a fixed height (ew) because medium doesn't give us a lot of control.
// • TODO: migrate this to a custom RSS feed that gives us more control over the design.
//
[class$='__medium-channels'] {
  background-color: $black-02;
  padding-bottom: $width--small-gutter;

  .medium-channels {
    @include when-smaller-than(medium) {
      // margin-left: 0;
    }
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    margin-left: -#{$width--small-gutter};
  }

  .medium-channel {
    @include when-smaller-than(medium) {
      width: 100%;
    }

    @include when-larger-than(medium) {
      background-color: $black-02;
      // Crop them to the same height
      height: units(80);
      overflow: hidden;
      position: relative;

      // with a bottom shadow to hide the cut off text
      // sass-lint:disable no-color-literals
      &::after {
        background-image: linear-gradient(rgba($black, 0), rgba($black, .5), rgba($black, .7), $black);
        bottom: 0;
        content: '';
        display: block;
        height: 100px;
        position: absolute;
        width: 500px;
        z-index: 100;
      }
    }
    border-radius: $radius--default;
    margin: $width--small-gutter;
    width: 45%;
  }
}
