/// Locale Navigation
///
/// A list of links to active and inactive languages (locales).
/// See: _language_toggle.erb
.nav.locales {
  border-left: 1px solid $light-keyboard-grey;
  padding: 0.7em;
  font-size: 0.6em;

  @media (max-width: $breakpoint) {
    // Override bootstrap, which attempts to put them one per row.
    display: flex;
  }

  .active a {
    font-weight: bold;
    color: $keyboard-grey;
    border-bottom: 1px solid $light-keyboard-grey;
    // Override bootstrap, which attempts to put a grey background
    background-color: transparent;
  }

  li > a {
    color: $keyboard-grey;
    text-decoration: none;
  }
}

.navbar-header img {
  max-width: 180px;
  padding: 0.7em;
}

.navbar {
  margin-bottom: 0;
}