// About page
//

// About: Branding section
//
.about--branding {
  @extend %component--branding;
  @include component--background-photo('../images/banners/banner-2@1x.jpg');
}

// About: Recent press section
//
.about--recent-press {
  @extend %component--recent-press;
}

// About: Challenges section
//
.about--challenges {
  background-color: $firefly5;
}

// About: Our vision section
//
.about--our-vision {
  @extend %typography--section-dense;
  background-color: $firefly80;
  color: $firefly5;
}

// About: Products photo
//
.about--products-photo {
  @include component--background-photo('../images/banners/products-photo@1x.jpg');
  min-height: $grid-unit-30;
}

// About: Products text
//
.about--products {
  background-color: $firefly5;
}

// About page: public engagement photo
//
.about--public-engage-photo {
  @include component--background-photo('../images/banners/public-engagement-photo@1x.jpg');
  background-position: 40% left;
}

// About: Promo bar div
//
.about--promo-bar {
  margin: $grid-unit-2 $grid-unit;
  font: $font--headline;

  a {
    @extend %button;
    display: inline-block;
    margin: 0 $grid-unit-2;
    width: $grid-unit-24;
    @media all and (max-width: $breakpoint) {
      margin: $grid-unit $grid-unit-2;
    }
  }
}

// About: Team (same as homepage)
//
.about--team {
  ul {
    @extend %component--team;
  }
}
