
// Checkdesk page
//
// Uses default branding component styles
section.checkdesk--branding {
  @extend %component--branding;
  padding-top: $navbar-height * 3;
  background-color: $checkdesk-yellow;
  color: white;

  // At smaller sizes
  @media all and (max-width:$breakpoint){
    padding-top: $navbar-height * 2;
  }
  .screenshot {
    width: auto;
  }
}

// Checkdesk explanations
section.checkdesk--explanations {
  @extend %colors--default;
  @extend %component--explanations;
}

// Checkdesk Quotes
section.checkdesk--quotes {
  @extend %component--quotes;
}

// Checkdesk newsletter
section.checkdesk--newsletter {
  background-color: $firefly2;
  form {
    margin: 0 auto;
    width: 90%;

    input {
      margin: 5px;
    }

    input[type="submit"] {
      width: 150px;
      background-color: $firefly2;
      border-radius: 50px;
    }

    @media all and (min-width: $breakpoint) {
      input[type="submit"] {
        margin-top: 0!important;
        margin-left: 1em!important;
        margin-right: 1em!important;
      }
    }
  }
}

// Checkdesk history
section.checkdesk--history {
  @extend %colors--inverted;
}

// Checkdesk supporters
section.checkdesk--supporters {
  background-color: $firefly2;
  @extend %component--logos;
}

// Checkdesk partners
section.checkdesk--partners {
  @extend %component--logos;
}

// Checkdesk github
section.checkdesk--github {
  @extend %colors--inverted;
}

// Checkdesk footer
div.checkdesk--footer {
  @extend %colors--inverted;
}