
.home {
  h1 {
    margin: 0;
    font-size: 2.5em;
    font: $font-stack--roboto;
    animation: fadeIn 1.2s;
  }

  section.about {
    animation: fadeIn 2.5s;
    padding: 2em 0;
  }
}

// The homepage uses the default branding styles
.home .branding {
  @extend %branding--default;
}

/// Component: Homepage latest news
///
/// This is the medium channels. For now we have a fixed height (ew) because medium doesn't give us a lot of control. Probably we will migrate this to a custom RSS feed that gives us more control over the design.
///
.home section.latest {
  padding-bottom: 1em;
  background-color: $firefly2;
  .medium-channels {
      display: flex;
  flex-flow: wrap row;
  justify-content: center;
  flex-align: center;
  align-items: center;
    justify-content: center;

    .medium-channel {
      margin: 1em 1em;

      iframe {
        height: 620px !important;
      }
    }
  }
}

// Photo frame
.home .photo-frame {
  background-color: $firefly90;
  background-image: url("../images/banners/banner-2@1x.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  transition: 2s;
  color: white;
  padding: 4em 0;
  text-shadow: 0 0 5px black;
}