
// check page
//
// Uses default branding component styles
section.check--branding {
  @extend %component--branding;
  background-color: $check-yellow;
  color: white;
  animation: fadeIn 1.2s;
}

// check explanations
section.check--explanations {
  @extend %colors--default;
  @extend %component--explanations;
}

// check Quotes
section.check--quotes {
  @extend %component--quotes;
}

// check newsletter
section.check--newsletter {
  @extend %colors--inverted;
  @extend %colors--form-inverted;
}

// check history
section.check--history {
  @extend %colors--inverted;
}

// check supporters
section.check--supporters {
  background-color: $firefly2;
  @extend %component--logos;
}

// check partners
section.check--partners {
  @extend %component--logos;
}

// check awards
section.check--awards {
  background-color: $firefly2;
  padding-top: 4em;
  h3 {
    padding-top: 0;
  }
  svg {
    width: 90px;
  }
}

// check github
section.check--github {
  @extend %colors--inverted;
}

// check footer
div.check--footer {
  @extend %colors--inverted;
  @extend %component--footer;
}