
// check page
//
// Uses default branding component styles
.check--branding {
  @extend %component--branding;
  background: $check-blue;
  color: $white;

  // Todo: there are inconsistencies with the check header — CGB Dec 4 2016
  svg {
    width: 250px;
  }
}

$check-gradient: linear-gradient($check-blue, $check-blue-100-20);

// Check electionland blurb
.check--electionland {
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: calc(50% - 400px) 50%;
  background-repeat: repeat-x;
  background-size: cover;
  color: $black-100-50;
  height: 620px;
  padding-bottom: 0;
  position: relative;

  .check-collection {
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 700px;
  }

  @media all and (max-width: 730px) {
    background-position: 40%;
    height: 500px;

    .check-collection {
      width: 90%;
    }
  }

  a {
    border-bottom: 2px solid $white;
    color: $white;
  }

  .electionland-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;

    svg {
      height: $grid-unit-4;
      vertical-align: top;
      width: $grid-unit-4;
    }
  }
}

// check explanations
.check--explanations {
  @extend %colors--default;

  .screenshot {
    margin: 0 auto;
    max-width: 700px;
  }

  @media all and (max-width: 730px) {
    .screenshot {
      width: 98%;
    }
  }
}

// check Quotes
.check--quotes {
  @extend %component--quotes;
}

// check newsletter
.check--newsletter {
  // @extend %colors--inverted;
  // @extend %colors--form-inverted;
}

// check history
.check--history {
  @extend %colors--inverted;
}

// check supporters
.check--supporters {
  @extend %component--logos;
  background-color: $firefly2;
}

// check partners
.check--partners {
  @extend %component--logos;
}

// check awards
.check--awards {
  background-color: $firefly2;
  padding-top: $grid-unit-8;

  h3 {
    padding-top: 0;
  }

  svg {
    width: $grid-unit-18;
  }
}

// check github
.check--github {
  @extend %colors--inverted;
}

// check footer
.check--footer {
  @extend %colors--inverted;
  @extend %component--footer;
}
