
// Checkdesk page
//
// Uses default branding component styles
section.checkdesk--branding {
  @extend %component--branding;
  background-color: $checkdesk-yellow;
  color: white;
  animation: fadeIn 1.2s;
}

// Checkdesk explanations
section.checkdesk--explanations {
  @extend %colors--default;
  @extend %component--explanations;
}

// Checkdesk Quotes
section.checkdesk--quotes {
  @extend %component--quotes;
}

// Checkdesk newsletter
section.checkdesk--newsletter {
  @extend %colors--inverted;
  @extend %colors--form-inverted;
}

// Checkdesk history
section.checkdesk--history {
  @extend %colors--inverted;
}

// Checkdesk supporters
section.checkdesk--supporters {
  background-color: $firefly2;
  @extend %component--logos;
}

// Checkdesk partners
section.checkdesk--partners {
  @extend %component--logos;
}

// Checkdesk awards
section.checkdesk--awards {
  background-color: $firefly2;
  padding-top: 4em;
  h3 {
    padding-top: 0;
  }
  svg {
    width: 90px;
  }
}

// Checkdesk github
section.checkdesk--github {
  @extend %colors--inverted;
}

// Checkdesk footer
div.checkdesk--footer {
  @extend %colors--inverted;
  @extend %component--footer;
}