// Page: Bridge
//
$breakpoint--explainer: 900px;

// Bridge branding section
//
// A different style than checkdesk and homepage.
section.bridge--branding {
  @extend %colors--inverted;
  @extend %component--branding;
}

// Bridge history
section.bridge--history {
  @extend %colors--inverted;
  font-size: 0.8em;
  p {
    text-align: left;
  }
}

// Some sections have white background.
section.bridge--supporters {
  @extend %colors--default;
  @extend %component--logos;
}

section.bridge--explanations {
  @extend %colors--default;
  @extend %component--explanations;
}

.bridge--call-to-action {
  @extend %colors--inverted;
  @extend %colors--inverted-form;
  // Bootstrap forms are used 

  .call-to-action--text {
    display: block;
    text-transform: none;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
  }

  .call-to-action--form {
    width: 100%;
    padding: 1em;
  }

  // Checkbox
  .apply-to-translate {
    font-size: 0.7em;
    font-weight: 200;
  }
}

// Bridge footer
.bridge--footer {
  @extend %colors--inverted;
  @extend %component--footer;
}