// About page
//

// About: Branding section
//
section.about--branding {
  @extend %component--branding;
  background-image: url('../images/banners/about-branding-photo@1x.jpg');
  background-size: cover;
  background-position: center;

  h3 {
    font-weight: 500;
    font-size: 2em;
    padding: 5em 0em;
    color: white;
  }

  @media all and (max-width:450px) {
    // max-height: 600px;
  }
}

// About: Recent press section
//
section.about--recent-press {
  background: $firefly10;
  @extend %component--recent-press;
}

// About: Challenges section
//
section.about--challenges {
  background-color: $firefly10;
}

// About: Our vision section
//
section.about--our-vision {
  background-color: $firefly80;
  color: $firefly10;
}

// About: Products photo
//
.about--products-photo {
  left: 0;
  right: 0;
  z-index: 9999;
  &:before {
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    background-image: url('../images/banners/products-photo@1x.jpg');
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    padding: 6em 0;
    @media only screen and (max-width: 500px) {
      max-height: 150px;
    }
  }
  .content {
    z-index: 1;
    background-color: $firefly10;
  }
}

//
// About page: public engagement photo
.about--public-engagement-photo {
  left: 0;
  right: 0;
  z-index: 9999;
  &:before {
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    background-image: url('../images/banners/public-engagegment-photo@1x.jpg');
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    padding: 15em 0;
    @media only screen and (max-width: 500px) {
      display:none;
    }
  }
  .content{
    background-color: $firefly80;
    color: $firefly10;
  }
}

//
// About: Promo bar div
.about--promo-bar {
  margin: 1em 0.5em;
}


//
// About: Team (same as homepage)
.about--team ul {
  @extend %component--team;
}