// Privacy policy and TOS
//
// A simple text treatment
// The navigation is hidden on this page (in the template)
.policy {
  margin: 0 auto;
  max-width: $grid-unit-70;
  padding-top: $grid-unit-8;
  text-align: left;

  p,
  h2,
  h3 {
    margin: 0;
    padding: $grid-unit-4;
  }

  ol,
  ul {
    display: block;
    list-style-position: inside;
    margin: 0;
    padding: $grid-unit-4;
    text-align: left;

    li {
      display: list-item;
      list-style-type: disc;
      margin: 0;
      text-align: left;
    }
  }
}
