// Meedan.com home page
//
.home {
  background-color: $white;
}

// Component: Apps
//
.home--apps {
  @extend %component--apps;
}

// Component: recent press
//
.home--recent-press {
  @extend %component--recent-press;
}

// Component: (supporter) logos
//
.home--supporters {
  @extend %component--logos;
}

// Component: branding + special logo
//
.home--branding {
  @extend %component--branding;

  padding-top: $grid-unit-12;

  .meedan-logo-text {
    svg {
      animation: fadeIn .8s;
      display: block;
      height: $grid-unit-24;
      margin: $grid-unit-2 auto;
      margin-bottom: $grid-unit-2;

      @media all and (max-width: 400px) {
        width: 90%;
      }
    }
  }

  .slogan {
    font: $font--headline;
    padding: $grid-unit-4 0;
    color: $firefly80;
  }
}

// Home: background-photo section
//
.home--background-photo {
  @include component--background-photo('../images/banners/banner-2@1x.jpg');
}

// Component: Homepage latest news
//
// This is the medium channels.
// • For now we have a fixed height (ew) because medium doesn't give us a lot of control.
// • TODO: migrate this to a custom RSS feed that gives us more control over the design.
//
.home--latest {
  background-color: $firefly2;
  padding-bottom: $grid-unit-2;

  .medium-channels {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;

    .medium-channel {
      // Equal heights (sadly, this crops them)
      height: $grid-unit-90;

      // On mobile, no need to equalize the heights.
      @media all and (max-width: $breakpoint) {
        height: auto;
      }

      margin: $grid-unit-2;
      overflow: hidden;
    }
  }
}
