.annual-report-2014 {
  overflow-x: hidden;

  figcaption {
    padding-top: 1em;
    font-size: 12px;
    color: $firefly40;
  }

  // Default sections
  //
  .section {
    padding: 1em 0;

    h1 {
      text-transform: capitalize;
      font-weight: 400;
      font-size: 1.3em;
      letter-spacing: 0.1em;
    }

    p {
      min-width: 300px;
      padding: 2em;
      text-align: left;
      margin: 0 auto;
    }
  }

  // Image banner sections
  //
  .image-banner {
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 0;

    &.team-2 {
      background-image: url("/images/annual_report/team-2-green.jpg");
    }
    &.team-3 {
      background-image: url("/images/annual_report/team-3-blue.jpg");
    }
  }

  // Signature
  //
  .signature {
    padding: 4em;
  }

  // Minor point
  //
  .minor-point {
    font-size: 0.8em;
    width: 80%;
    max-width: 500px;
  }

  // Body of the note
  //
  .note-body {
    border: 1px solid $firefly20;
    padding: 1em;
    margin: 0 auto;
    width: 75%;
    min-width: 320px;
    margin-bottom: 4em;
  }

  // Fleuron symbol
  //
  .fleuron {
    font-size: 26px;
    color: $firefly40;
    margin-bottom: 4em;
  }

  // Contact information
  //
  // Override default contact section
  //
  .contact {
    background-color: white;
    color: black;
    // background-image: linear-gradient(45deg, black, $hyperlink-blue, black);
    a {
      color: black;
      border-bottom: 4px solid rgba(black, 0.2);
    }
  }
}