@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

.annual-report-2014, 
.annual-report-2015 {

  .inner {
    margin: 3em auto;
    padding: 1em;
    font-size: 1em;
  }

  // Typography
  //
  h2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 4em 0 1em;
  }

  h3 {
    font-size: 20px;
  }

  p {
    min-width: 300px;
    padding: 2em 1em;
    text-align: left;
    margin: 0 auto;
    font-weight: 400;
  }

  ul, ul li {
    font-weight: 400;
  }

  .fleuron {
    padding: 3em 0 2em;
    font-size: 30px;
  }

  // Lead text
  //
  .lead-text {
    font-weight: 300;
    h1 {
      margin: 0;
      text-transform: none;
      font-weight: 400;
      font-size: 2.3em;
      letter-spacing: 1px;
      color: black;
      padding: 2em 0.2em 0;
      font-family: 'Roboto Slab', serif;
    }
    p.intro {
      padding-top: 3em;
      font-weight: 200;
      font-style: italic;
      line-height: 1.6;
      em {
        font-weight: 700;
      }
    }
  }

  // CEO note
  //
  .ceo-note {
    font-weight: 400;
    p {
      padding: 0.5em 1em;
    }
    .full-name,
    .title {
      display: block;
    }
  }

  // Programs list
  //
  .annual-report--section.programs ul,
  .areas-served ul {
    margin: 1em auto;
    width: 90%;
    @media all and (min-width:800px) {
    display: flex;
      p {
        padding: 1em 0;
        min-width: 150px;
      }
      li {
        width: 33.33333%;
        font-size: 0.8em;
        h3 {
          font-size: 14px;
          font-family: 'Roboto Slab', serif;
          border-bottom: 4px double $firefly40;
          text-shadow: 10px yellow;
          min-height: 180px;
          vertical-align: middle;
        }
      }
    }
  }

  .mission-statement ul {
    li {
      padding: 1em;
      text-align: left;
      &:nth-of-type(1) span {
        background-color: #5856D6;
      }
      &:nth-of-type(2) span {
        background-color: #FF2D55;
      }
      &:nth-of-type(3) span {
        background-color: #FF9500;
      }
      &:nth-of-type(4) span {
        background-color: #1AD6FD;
      }
      &:nth-of-type(5) span {
        background-color: #1AD6FD;
      }
      &:nth-of-type(6) span {
        background-color: #0BD318;
      }
      &:nth-of-type(7) span {
        background-color: #34AADC;
      }
      &:nth-of-type(8) span {
        background-color: #EF4DB6;
      }
      span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        background-color: $firefly80;
        color: white;
        border-radius: 2px;
        padding: 2px 6px;
        text-shadow: 1px 1px rgba(#000000, 0.2);
      }
      em {
        font-style: normal;
      }

      @media all and (max-width: $breakpoint) {
        padding: 1em;
        list-style-type: disc;
        list-style-position: inside;
      }
    }
  }

  // Image banner sections
  //
  .image-banner {
    background-size: cover;
    height: 70vh;
  }

  .image-banner-wrap {
    position: relative;
  }

  // Caption on the photo
  //
  .caption {
    // padding-top: 1em;
    font-size: 16px;
    padding: 0.8em 0.3em;
    color: $firefly60;
  }


  // Contact information
  //
  // Override default contact section
  //
  .contact-us {
    background-color: white;
    color: black;
    span {
      display: block;
      width: 320px;
      margin: 0 auto;
    }
    li {
      padding-top: 1em;
    }
    a {
      border-bottom: 3px solid $check-blue;
      @media (max-width: 900px) {
        display: inline-block;
        padding: 0.1em;
      }
    }
  }

  a.hello {
    @extend %button;
    width: 275px;
    border-bottom-width: 0;
    background-color: $firefly40;
  }

  // Financial data
  //
  .financials table {
    border: 1px solid $firefly20;
    width: 80%;
    margin: 0 auto;
    td {
      padding: 1em;
      text-align: left;
      border-bottom: 1px solid $firefly20;
      & + td {
        border-left: 1px solid $firefly20;
      }
      h3 {
        font-weight: normal;
        font-size: 1em;
        padding: 0;
        &.total {
          font-style: italic;

        }
      }
    }
  }
}

.annual-report-2014 {
  .image-banner.team-2 {
    background-image: url("/images/annual-report/team-1-blue-screen.jpg");
  }

  .image-banner.team-3 {
    background-image: url("/images/annual-report/team-3-aqua-screen.jpg");
  }

  .lead-photo .image-banner {
    background-image: url("/images/annual-report/team-6-peach-screen.jpg");
    @media all and (min-width:600px) {
      background-position: 20% 50%;
    }
  }
}

.annual-report-2015 {
  .lead-photo .image-banner {
    background: 
    linear-gradient(
      rgba(#C86EDF, 0.2),
      rgba(darken(#E4B7F0, 20%), 0.4)
    ),
    url("/images/annual-report/belad.jpg");
    background-size: cover;
    @media all and (max-width:600px) {
      background-position: 50% 50%;
      height: 50vh;
    }
    @media all and (min-width:600px) {
      background-position: 20% 50%;
    }
  }

  .image-banner.team-2 {
    background: 
    linear-gradient(
      rgba(orange, 0.2),
      rgba(orange, 0.4)
    ),
    url("/images/annual-report/caioandkarim.jpg");
    background-size: cover;
    background-position: 0% 30%;
    @media all and (max-width:600px) {
      height: 50vh;
    }
  }
  
  .image-banner.team-3 {
    background: 
    linear-gradient(
      rgba(#55EFCB, 0.2),
      rgba(darken(#5BCAFF, 20%), 0.4)
    ),
    url("/images/annual-report/group.jpg");
    background-size: cover;
    background-position: 50% 0%;
    height: 60vh;
    @media all and (max-width:600px) {
      height: 30vh;
    }
  }

}