// Page: Bridge
//
//

$breakpoint--explainer: 900px;

// Bridge branding section
//
// A different style than checkdesk and homepage.
section.bridge--branding {
  @extend %colors--inverted;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  padding: 4em 2em;

  // At smaller sizes flow vertically
  @media all and (max-width: $breakpoint--explainer) {
    flex-flow: column;
    padding-top: 1em;
    justify-content: center;
  }

  .logo-and-slogan {
    padding: 1em;

    // At smaller sizes, center
    @media all and (max-width: $breakpoint--explainer) {
      margin: 0 auto;
    }
  }

  .slogan {
    padding: 0 0 2em;
  }

  // Bridge Screenshot
  img.screenshot {
    width: 51.8%;
    margin: 0 3%;
    padding: 1%;
    max-width: 525px;
    @media all and (max-width: $breakpoint--explainer) {
      margin: 0 auto;
      width: 100%;
    }
  }

  // Checkbox
  .apply-to-translate {
    font-size: 0.7em;
    font-weight: 200;
  }
}

// Bridge history
section.bridge--history {
  @extend %colors--inverted;
}

// Some sections have white background.
section.bridge--supporters {
  @extend %colors--default;
  @extend %component--logos;
}

section.bridge--explanations {
  @extend %colors--default;
  @extend %component--explanations;
}

// Bridge footer
.bridge--footer {
  @extend %colors--inverted;
  @extend %component--footer;
}

.bridge--call-to-action {
  @extend %colors--inverted;

  .call-to-action--text {
    width: 100%;
    display: block;
    flex: 0;
    text-transform: none;
    font-size: 18px;
  }

  .call-to-action--form {
    width: 100%;
    padding: 1em;
  }
}