// Privacy policy and TOS
//
// A simple text treatment
// The navigation is hidden on this page (in the template)
.policy {
  text-align: left;
  margin: 0 auto;

  p,
  h2,
  h3 {
    margin: 0;
    padding: 30px;
  }

  ul {
    display: block;
    text-align: left;
    margin: 0;
    padding: 30px;
    list-style-type: disc;
    list-style-position: inside;
    li {
      text-align: left;
      margin: 0;
      display: list-item!important;
    }
  }
}
