// Pace
//
// • A progress bar indicating the page load status.
// • Only appears on larger screens
// • See: github.hubspot.com/pace/docs/welcome/
//
@include when-smaller-than(large) {
  .pace {
    pointer-events: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace-progress {
    background: $check-blue;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
}
