// Component: Quotes
//
[class$='--quotes'] {
  align-items: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;

  p {
    font-size: 1em;
    text-align: start;

    &:lang(en) {
      text-align: left;
    }
  }

  .quote {
    display: inline;
    margin-top: 2em;
    padding: 2em;
    vertical-align: top;
    width: 40%;

    @include when-smaller-than(large) {
      min-width: 100%;
    }

    .attribution--name,
    .attribution--website {
      display: inline;
      font-weight: 700;
      padding: 0;
    }
  }
}
