// Component: Quotes
//
[class*='__quotes'] {
  margin-bottom: 0;

  .row {
    align-items: stretch;
  }

  .quote {
    @extend %card-flat;

    @include when-larger-than(medium) {
      &__text {
        min-height: 270px;
      }
    }
    font: $font--body-2;
    margin: units(3) units(3) units(3) 0;

    &__attribution-name,
    &__attribution-website {
      font-weight: 500;
      padding: 0;

      a {
        border: none;
      }
    }
  }
}
