// Component: Quotes
//
[class$='--quotes'] {
  p {
    font-size: 1em;
    text-align: start;

    &:lang(en) {
      text-align: left;
    }
  }

  .quote {
    padding: units(3) units(3) 0 0;

    .attribution--name,
    .attribution--website {
      font-weight: 700;
      padding: 0;
    }
  }

  @include when-smaller-than(large) {
    flex-flow: column nowrap;

    .quote {
      width: 100%;
    }
  }
}
