// Recent press component
//
[class$='--recent-press'] {
  background-color: $black-02;
  padding-bottom: $width--small-gutter;

  h3 {
    width: 100%;
  }

  // A list of 'blurbs'
  .blurbs {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    // Align to grid, which is defined by the medium cards plus their margins
    max-width: ($width--primary-card * 2) + ($width--large-gutter * 2) + ($width--small-gutter * 2);
    padding: $width--large-gutter;

    // at smaller sizes
    @include when-smaller-than(large) {
      padding: 0;
      flex-flow: column;
      padding-bottom: $width--large-gutter;
    }
  }

  // Single blurb with text and logo
  li {
    @extend %card-flat;
    color: $black-87;
    font: $font--subheading-2;
    border-radius: $radius--default;
    padding: 0;
    margin: 0;
    max-width: $width--primary-card;

    img {
      width: 160px;
      @include when-smaller-than(large) {
        width: 100px;
      }
    }

    &:nth-of-type(2) {
      margin: 0 $width--large-gutter;
      @include when-smaller-than(large) {
        margin: 0 auto;
      }
    }

    a {
      display: block;
      padding: $width--small-gutter $width--small-gutter $width--large-gutter;
      color: $black-87;

      p {
        padding-top: $width--small-gutter;
        transition: background-color $duration--default;
        font: $font--body-2;
      }
    }

    @include when-smaller-than(large) {
      width: 90%;
      margin: $width--small-gutter auto;

      p {
        width: 95%;
      }
    }
  }
}
