// Recent press component
//
[class$='--recent-press'] {
  background-color: $black-02;
  padding-bottom: units(2);

  h3 {
    width: 100%;
  }

  // A list of 'blurbs'
  .blurbs {
    align-items: stretch;
    display: flex;
    justify-content: center;

    // at smaller sizes
    @include when-smaller-than(large) {
      flex-flow: column;
      padding-bottom: units(4);
    }
  }

  // Single blurb with text and logo
  li {
    color: $black-87;
    font: $font--subheading-2;
    margin: units(1);
    border-radius: 4px;
    width: 30%;
    padding: 0;

    a {
      display: block;
      padding: units(2) units(2) units(4);
      color: $black-87;
      @extend %card-flat;

      p {
        font: $font--body-2;
        transition: background-color .4s;
      }
    }

    // at smaller sizes
    @include when-smaller-than(large) {
      width: 80%;
      margin: units(2) auto;
      max-width: units(62);

      p {
        width: 95%;
      }
    }
  }
}
