// Recent press component
//
[class$='--recent-press'] {
  padding-bottom: units(2);

  h3 {
    width: 100%;
  }

  // A list of 'blurbs'
  .blurbs {
    align-items: stretch;
    display: flex;
    justify-content: center;

    // at smaller sizes
    @include when-smaller-than(large) {
      flex-flow: column;
      padding-bottom: units(4);
    }
  }

  // Single blurb with text and logo
  li {
    color: $black-87;
    font: $font--subheading-2;
    padding: units(2);
    width: 30%;

    p {
      font: $font--body-2;
      padding: units(1);
      transition: background-color .4s;

      &:hover {
        background-color: $black-05;
        border-radius: units(1);
        transition: background-color .4s;
      }
    }

    a {
      color: $black-87;
      display: block;
      border-bottom: 0;
    }

    // at smaller sizes
    @include when-smaller-than(large) {
      width: 100%;

      p {
        width: 95%;
      }
    }
  }
}
