// Border box model
//
// See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box;
}

// Sections
//
// Section elements are the primary building blocks.
// Each section should have a header.
section {
  padding-bottom: 4em;
  width: 100%;
  overflow-x: hidden;
}
