// Layout: Team
//
// Team headshots in a simple grid
$width--team-member: 160px;

[class$='--team'] {
  align-items: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  margin: units(3) 0;
  padding: 0;

  .name {
    font-weight: 500;
    padding-top: units(1);
  }

  li {
    animation: fadeIn 1.2s;
    flex: 0 1 auto;
    font: $font--body-1;
    height: units(30);
    width: $width--team-member;
  }

  img {
    border-radius: 50%;
    filter: sepia(25%);
    max-height: units(12);
    max-width: units(12);
    width: 100%;
  }
}
