// Layout: Team
//
// Team headshots in a simple grid
$width--team-member: units(18);

[class$='__team'] {
  align-items: center;
  margin: units(3) 0;
  padding: 0;

  // Fallback to Flex layout
  @supports not((display: grid)) {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;

    li {
      flex: 0 1 auto;
    }
  }
  
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($width--team-member, 1fr));
  }

  .name {
    font-weight: 500;
    padding-top: units(1);
  }

  .title {
    font: $font--caption;
    font-weight: 200;
  }

  li {
    @include when-smaller-than(small) {
      margin: 0 auto;
      width: $width--team-member - units(2);
    }
    animation: fadeIn 1.2s;
    font: $font--body-1;
    height: units(27);
    justify-content: center;
    margin-right: units(4);
    text-align: center;
    width: $width--team-member;
  }

  img {
    border-radius: 50%;
    filter: sepia(25%);
    margin: 0 auto;
    max-height: units(12);
    max-width: units(12);
  }
}
