// Web fonts from Google
//
@import url('//fonts.googleapis.com/css?family=Roboto:300,500');

// Define font stacks
//
$font-stack--primary: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;

// Material design font size and line height
//
// • unquote() is used because: https://github.com/sass/sass/issues/667
// • The font name must be repeated to use the font shorthand
$font--display-2: 500 45px unquote('/') 48px $font-stack--primary;
$font--display-1: 500 34px unquote('/') 40px $font-stack--primary;
$font--headline: 500 24px unquote('/') 32px $font-stack--primary;
$font--subheading-2: 200 20px unquote('/') 32px $font-stack--primary;
$font--subheading-1: 200 20px unquote('/') 28px $font-stack--primary;
$font--body-2: 200 16px unquote('/') 24px $font-stack--primary;
$font--body-1: 200 16px unquote('/') 20px $font-stack--primary;

// Default typography
//
// This is a language independent base theme.
// Language specific typography is in files like `_lang__en.scss`
//
body {
  color: $firefly80;
  font: $font--subheading-2;
  text-align: center;
}

// Section defaults
//
// The primary building blocks of the typographic rhythm.
// Each section must have a header.
section {
  overflow-x: hidden;
  padding-bottom: $grid-unit-8;
  width: 100%;
}

h2,
h3 {
  display: block;
  font: $font--headline;
  letter-spacing: .1em;
  margin: 0 auto;
  padding: $grid-unit-8 $grid-unit-4;
  text-transform: uppercase;

  @media all and (max-width: $breakpoint) {
    padding: $grid-unit-8 $grid-unit-4;
  }
}

h4 {
  margin: $grid-unit auto;
  max-width: $grid-unit-70;

  @media all and (max-width: $breakpoint) {
    margin: 0 auto;
    max-width: 61.8%;
  }
}

em {
  font-style: italic;
}

ul {
  margin: $grid-unit auto;
  padding: 0;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 0 $grid-unit-2 $grid-unit-2;

  @media all and (max-width: $breakpoint) {
    display: block;

    // padding: 0 $grid-unit;
  }
}

// Paragraphs
p {
  display: block;
  margin: 0 auto;
  max-width: $grid-unit-70;
  padding: 0 0 $grid-unit-4;
  width: 100%;

  @media all and (max-width: $breakpoint) {
    padding: $grid-unit-2 $grid-unit-3;
  }
}

// Links
a {
  color: $check-blue;

  &:hover {
    color: darken($check-blue, 20%);
  }
}

// Typography: dense sections
//
%typography--section-dense {
  &:lang(en) {
    h4,
    p {
      text-align: left;
    }

    p {
      font: $font--subheading-2;
      padding: $grid-unit-4;
    }
  }
}
