/// Contact section
///
.contact {

  li {
    display: inline-block;
    vertical-align: top;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .contact--visit {
    .locations {
      display: flex;

      li {
        clear: none;
        text-align: center;
        width: 50%;
      }
    }
  }

  .contact--social-media {
    columns: 100% 4;
    display: flex;

    li {
      width: 25%;
    }

    a {
      border-bottom: 0;
      display: block;
      text-decoration: 0;

      svg {
        max-width: $grid-unit-8;
        width: 100%;
      }
    }
  }
}
