// shared.scss is also loaded as a separate stylesheet
@import 'shared/shared';
@import 'explanations-bridge';
@import 'logos';
@import 'footer';

// Bridge branding section
.bridge__branding {
  animation: fadeIn 1.2s;
  background: $bridge-orange;
  padding: units(6) 0 units(4);
  width: 100%;

  > img {
    @include when-smaller-than(medium) {
      width: 90%;
    }
    animation: fadeIn 1.2s;
    display: block;
    max-width: 525px;
    width: 100%;
  }

  .logo-and-slogan {
    margin: units(3) 0;

    > img {
      @include when-smaller-than(small) {
        width: 90%;
      }
      width: 300px;
    }
  }

  .slogan {
    color: $white-70;
    font: $font--headline;
    margin: 0;
    padding: 0;
  }

  .app-store {
    > img {
      width: 154px;
    }
  }
}

// The bridge subcribe section
.subscribe {
  padding-bottom: 0;

  > h2 {
    font: $font--subheading-2;
    text-transform: none;
  }

  .checkbox {
    @include when-smaller-than(medium) {
      font-size: 14px;
    }
    margin: 0;
    max-width: units(70);
    padding: units(2) 0;

    label {
      font: 200 $font--body-1;
      font-weight: 400;
      padding: 0 units(1);
    }

    &:lang(en) {
      text-align: left;
    }
  }
}
