.policy {

  p,
  li {
    max-width: 80%;
    text-align: left;
  }

  ul {
    padding-left: 52px;
  }

  li {
    list-style-type: disc !important;
  }

  p {
    margin: 0 1em;
  }

  h1, h2, h3 {
    margin: 0;
    max-width: 500px;
    padding: 16px;
    text-align: left;
  }
}
