@import 'shared/shared';
@import 'team';
@import 'recent_press';

// About: Branding section
//
.about__branding {
  background-image: url('/images/annual-report/group.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  h3 {
    color: $black-87;
    font-weight: 700;
    margin-top: -80px;
    width: 400px;
  }
}

// About: Challenges section
//
.about__challenges {
  background-color: $black-05;
}

// About: Products photo
//
.about__products-photo {
  background-image: url('/images/annual-report/team-3-aqua-screen.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

// About: public engagement photo
//
.about__background-photo {
  background-image: url('/images/annual-report/team-6-peach-screen.jpg');
  background-position: 40% left;
}
