@import 'layout';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'recent_press';
@import 'nav';
@import 'logos';
@import 'branding';
@import 'contact';
@import 'recent_press';
@import 'apps';
@import 'logos';
@import 'branding';
@import 'drawings';

// check page
//
.check--branding {
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  color: $white;
  height: 590px;
  padding-bottom: 0;
  position: relative;

  .slogan {
    padding: 0;
  }

  a.check-white {
    display: block;
    margin-top: 10px;

    svg {
      width: 250px;
    }
  }
}

// Check electionland blurb
[class$='--electionland'] {
  color: $black-54;
  padding-bottom: 0;
  position: relative;

  a {
    border-bottom: 2px solid $white;
  }

  .electionland-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;

    svg {
      height: $grid-unit-4;
      vertical-align: top;
      width: $grid-unit-4;
    }
  }
}

// check explanations
[class$='--explanations'] {

  .screenshot {
    margin: 0 auto;
    max-width: 700px;
  }

  @include when-smaller-than(medium) {
    .screenshot {
      width: 98%;
    }
  }
}

// check awards
[class$='--awards'] {
  background-color: $black-02;
  padding-top: $grid-unit-8;

  h3 {
    padding-top: 0;
  }

  svg {
    width: $grid-unit-18;
  }
}
