// shared.scss is also loaded as a separate stylesheet
@import 'shared/variables';
@import 'shared/mixins';
@import 'drawings';
@import 'featured_client';
@import 'logos';
@import 'recent_press';
@import 'apps';
@import 'logos';
@import 'quotes';
@import 'awards';

// Check branding section
//
.check--branding {
  background: $check-blue;
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  color: $white;
  height: 590px;
  padding-bottom: 0;
  position: relative;

  .slogan {
    padding: 0;
  }

  > .check-white {
    display: block;
    margin-top: 10px;

    > img {
      width: 250px;
    }
  }
}

// Explanations
.explanation {
  p {
    margin-bottom: 1em;
    max-width: 460px;
  }
}

.screenshot {
  margin: 0 auto;

  @include when-smaller-than(medium) {
    max-width: 550px;

    > img {
      width: 98%;
    }
  }
}

.check--newsletter {
  padding-top: units(3);
}