// shared.scss is also loaded as a separate stylesheet
@import 'shared/shared';
@import 'explanations-bridge';
@import 'logos';

// Bridge branding section
.bridge__branding {
  animation: fadeIn 1.2s;
  background: $bridge-orange;
  width: 100%;

  .row {
    align-items: center;
    justify-content: space-between;
  }

  img[class*="bridge__branding"] {
    @include when-smaller-than(medium) {
      margin: 0 auto;
      width: 90%;
    }
    animation: fadeIn 1.2s;
    display: block;
    max-width: 390px;
    width: 50%;
  }

  .logo-and-slogan {
    @include when-smaller-than(medium) {
      text-align: center;
    }

    img {
      @include when-smaller-than(small) {
        width: 90%;
      }
      width: 300px;
    }
  }

  .slogan {
    color: $white-70;
    font: $font--headline;
    margin: 0 auto;
  }
}

// The bridge subcribe section
.subscribe {
  > h2 {
    font: $font--subheading-2;
    text-transform: none;
  }

  .checkbox {
    @include when-smaller-than(medium) {
      font-size: 14px;
    }
    align-items: center;
    display: flex;
    font: $font--body-1;
    margin: 0;
    max-width: units(70);
    padding: $width--small-gutter 0;

    label {
      font: 200 $font--body-1;
      font-weight: 400;
      padding: 0 units(1);
    }

    &:lang(en) {
      text-align: left;
    }
  }
}
