// shared.scss is also loaded as a separate stylesheet
@import 'shared/variables';
@import 'shared/mixins';
@import 'check_drawings';
@import 'featured_client';
@import 'logos';
@import 'recent_press';
@import 'apps';
@import 'logos';
@import 'quotes';
@import 'awards';

// Check branding section
//
.check--branding {
  animation: fadeIn 1.2s;
  background: $check-blue;
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  color: $white;
  height: 590px;
  padding: units(6) 0 units(4);
  padding-bottom: 0;
  position: relative;
  width: 100%;

  > img {
    @include when-smaller-than(medium) {
      width: 90%;
    }
    animation: fadeIn 1.2s;
    display: block;
    max-width: 525px;
    width: 100%;
  }

  .logo-and-slogan {
    margin: units(3) 0;

    > img {
      @include when-smaller-than(small) {
        width: 90%;
      }
      width: 300px;
    }
  }

  .slogan {
    color: $white-70;
    font: $font--headline;
    margin: 0;
    padding: 0;
  }

  > .check-white {
    display: block;
    margin-top: 10px;

    > img {
      width: 250px;
    }
  }
}

// Explanations
.explanation {
  p {
    margin-bottom: 1em;
    max-width: 460px;
  }
}

.screenshot {
  @include when-smaller-than(medium) {
    max-width: 550px;

    > img {
      width: 98%;
    }
  }
}

.check--newsletter {
  padding-top: units(3);
}
