@import 'layout';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'recent_press';
@import 'nav';
@import 'apps';
@import 'logos';
@import 'branding';
@import 'background_photo';
@import 'donate';
@import 'contact';

// Meedan.com home page
//
.home {
  background-color: $white;
}

.home--branding {
  padding-top: $grid-unit-12;

  .slogan {
    color: $black-87;
    font: $font--headline;
    padding: $grid-unit-4 0;
  }
}

.meedan-logo-text {
  svg {
    animation: fadeIn .8s;
    display: block;
    height: $grid-unit-24;
    margin: $grid-unit-2 auto;
    margin-bottom: $grid-unit-2;
    width: 300px;

    @media all and (max-width: 400px) {
      width: 90%;
    }
  }
}

// Home: background-photo section
//
.home--background-photo {
  padding-bottom: 100px;
}

// Component: Homepage latest news
//
// This is the medium channels.
// • For now we have a fixed height (ew) because medium doesn't give us a lot of control.
// • TODO: migrate this to a custom RSS feed that gives us more control over the design.
//
.home--latest {
  background-color: $black-02;
  padding-bottom: $grid-unit-2;

  .medium-channels {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    position: relative;
  }

  .medium-channel {
    height: $grid-unit-80;
    margin: $grid-unit-2;
    overflow: hidden;

    // Crop them to the same height,
    // with a bottom shadow to hide the cut off text
    // sass-lint:disable no-color-literals
    &::after {
      background-image: linear-gradient(rgba($black, 0), rgba($black, .5), rgba($black, .7), $black);
      bottom: 10px;
      content: '';
      display: block;
      height: 100px;
      position: absolute;
      width: 500px;
      z-index: 100;
    }

    // On mobile, no need to equalize the heights.
    @include when-smaller-than(large) {
      height: auto;
    }
  }
}
