// shared.scss is also loaded as a separate stylesheet
@import 'shared/units';
@import 'shared/variables';
@import 'shared/mixins';
@import 'team';
@import 'recent_press';


// About: Branding section
//
.about--branding {
  background-image: url('/images/annual-report/group.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  h3 {
    color: $black-87;
    font-weight: 700;
    margin-top: -80px;
    width: 400px;
  }
}

// About: Challenges section
//
.about--challenges {
  background-color: $black-05;
}

// About: Products photo
//
.about--products-photo {
  background-image: url('/images/annual-report/team-3-aqua-screen.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

// About: Products text
//
.about--products {
  background-color: $black-05;
}

// About: public engagement photo
//
.about--background-photo {
  background-image: url('/images/annual-report/team-6-peach-screen.jpg');
  background-position: 40% left;
}

// About: Promo bar div
//
.about--promo-bar {
  font: $font--subheading-2;
  margin: units(2) units(1);

  a {
    display: inline-block;
    @include when-smaller-than(medium) {
      margin: units(1) units(2);
    }
  }
}
