@import 'layout';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'recent_press';
@import 'nav';
@import 'logos';
@import 'branding';
@import 'contact';
@import 'recent_press';
@import 'apps';
@import 'forms';
@import 'logos';
@import 'branding';
@import 'drawings';
@import 'quotes';

// Check electionland blurb
[class$='--electionland'] {
  color: $black-54;
  padding-bottom: 0;
  position: relative;

  a {
    border-bottom: 2px solid $white;
  }

  .electionland-small {
    border-bottom: 0;
    display: inline;
    text-decoration: none;

    img {
      height: $grid-unit-4;
      vertical-align: top;
      width: $grid-unit-4;
    }
  }
}

// check explanations
[class$='--explanations'] {

  .screenshot {
    margin: 0 auto;
    max-width: 700px;
    img {
      width: 100%;
    }
  }

  @include when-smaller-than(medium) {
    .screenshot {
      width: 98%;
    }
  }
}

// check awards
[class$='--awards'] {
  background-color: $black-02;
  padding-top: $grid-unit-8;

  h3 {
    padding-top: 0;
  }

  img {
    width: $grid-unit-18;
  }
}
