@import "shared/annual_reports";

.annual-report-2016 {
  .image-banner.team-2 {
    background-position: 0% 20%;
    background-image: linear-gradient(rgba(#3942ff, .2), rgba(darken(#000ad5, 20%), .4)), url('/images/annual-report/2016-tom.jpg');
  }

  .image-banner.team-3 {
    background-position: 0% 55%;
    background-image: linear-gradient(rgba(#ff1919, .2), rgba(darken(#ff1919, 20%), .4)), url('/images/annual-report/2016-caio.jpg');
  }

  .lead-photo .image-banner {
    @media all and (min-width: units(70)) {
      background-position: 0% 50%;
    }
    background-image: linear-gradient(rgba(#1ca900, .2), rgba(darken(#4ed932, 20%), .4)), url('/images/annual-report/2016-axm.jpg');
  }

  .check-feature {
    color: #2e77fc;
  }
}
