// shared.scss is also loaded as a separate stylesheet
@import 'shared/shared';
@import 'check_drawings';
@import 'drawing__lines-and-circles';
@import 'featured_client';
@import 'logos';
@import 'recent_press';
@import 'apps';
@import 'logos';
@import 'quotes';
@import 'awards';

// Check branding section
//
.check__branding {
  animation: fadeIn 1.2s;
  background: $check-blue;
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  color: $white;
  height: 590px;
  overflow: hidden;
  padding: units(6) 0 units(1);
  position: relative;
  text-align: center;
  width: 100%;

  .logo-and-slogan {
    margin: units(3) auto;
  }

  .slogan {
    color: $white-70;
    font: $font--headline;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .check-white {
    display: block;
    margin: 10px auto 0;

    img {
      animation: fadeIn 1.2s;
      display: block;
      margin-bottom: units(1);
      max-width: 250px;
      width: 100%;
    }
  }
}

.check__explanations {
  padding-bottom: 0;
}

// Explanations
.explanation {
  margin: units(15) 0 units(7);

  .header-and-description {
    padding-right: units(2);
  }

  h3 {
    padding-top: 0;
  }

  p {
    margin: units(2) units(4) 0 0;
    max-width: 460px;
  }
}

.screenshot {
  background-image: $check-gradient, url('/images/banners/electionland-newsroom@2x.jpg');
  background-position: bottom center;
  max-width: 500px;
  padding: units(2);

  > img {
    @include when-smaller-than(medium) {
      width: 98%;
    }
    width: 100%;
  }
}
