// 1. Preliminary configuration
//
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 310px;
}

// 2. Meedan.com global styles
//
@import 'layout';
@import 'colors';
@import 'typography';
@import 'flex';
@import 'keyframes';
@import 'buttons';
@import 'forms';

// 3. Our components
//
@import 'component__nav';
@import 'component__branding';
@import 'component__contact';
@import 'component__donate';
@import 'component__explanations';
@import 'component__footer';
@import 'component__logos';
@import 'component__progress_bar';
@import 'component__projects';
@import 'component__quotes';
@import 'component__team';
@import 'component__background_photo';
@import 'component__recent_press';

// 4. Language support
//
@import 'lang__ar';
@import 'lang__en';

// 5. Pages
//
//  START HERE when developing
//  Each page is composed of components.
@import 'page__about';
@import 'page__check';
@import 'page__home';
@import 'page__bridge';
@import 'page__policy';
@import 'page__annual_report';
