
<!-- CTA -->
<section class="bridge--call-to-action">
  <h2 class="call-to-action--text">
    <%= t("bridge.branding.call_to_action") %>
  </h2>

  <div class="call-to-action--form">
    <form class="mailchimp validate" action="//meedan.us11.list-manage.com/subscribe/post?u=539fbe59ddc773c6592797bf2&amp;id=16c3bf2018" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>

      <div class="form-group">
        <label for="mce-EMAIL">
          <%= t("bridge.form.label_1") %>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" placeholder="example@example.com">
        <input type="submit" value="<%= t('bridge.form.submit')%>" name="subscribe"class="button">
      </div>

       <!-- Anti-spam honeypot technique -->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_539fbe59ddc773c6592797bf2_16c3bf2018" tabindex="-1" value="">
      </div>

      <!-- Checkbox -->
      <div class="apply-to-translate">
        <input type="checkbox" value="1" name="group[7069][1]">
        <label for="mce-group[7069]-7069-0">
          <%= t('bridge.form.label_2')%>
        </label>
      </div>
    </form>
  </div>
</section>
