<div class="donate">
  <h2><%= t("home.donate.header") %></h2>

  <p><%= t("home.donate.blurb") %>
  </p>

  <a href="https://donorbox.org/support-meedan-in-2016"><%= t("home.donate.button") %></a>
</div>
