<div class="donate layout--bottom-padding">
  <div class="section-inner layout--bottom-padding">
    <h2><%= t("home.donate.header") %></h2>
    <p><%= t("home.donate.blurb") %></p>
    <a class="button" href="https://donorbox.org/support-meedan"><%= t("home.donate.button") %></a>
  </div>
</div>
