<div class="drawing__lines-and-circles">
  <div class="lines">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
