<span class="body">
  <span class="byline">
    <span class="avatar"></span>
    <span class="username-and-source">
      <span class="username"></span>
      <span class="source"></span>
    </span>
  </span>
  <span class="text">
    <span class="text-row"></span>
    <span class="text-row"></span>
    <span class="text-row"></span>
  </span>
</span>
