<div class="drawings__home">
  <div class="lines">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="triangles">
    <div></div>
    <div></div>
  </div>
</div>
