<div class="drawings__home-1">
  <div class="lines">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="triangle-1">
    <div></div>
  </div>
</div>
