<nav class="language-toggle <%= req.params['active_language'] %>">
  <%= t(:hello) %> World
  <a class="english" href="/en/checkdesk">English</a>
  <a class="arabic" href="/ar/checkdesk">العربية</a>
</nav>