<ul class="blurbs layout--bottom-padding">
  <li class="blurb__journalismdotco">
    <a href="https://www.journalism.co.uk/news/how-meedan-is-building-tools-for-collaborative-investigative-work/s2/a627144/">
      <img class="logo" src="/images/logos/journalismdotco@1x.jpg" alt="Journalism.co.uk logo" srcset="/images/logos/journalismdotco@2x.jpg 2x">
      <p>
          <%= t("about.recent_press.journalismdotco") %>
      </p>
    </a>
  </li>

  <li class="blurb__nieman">
    <a href="http://www.niemanlab.org/2017/07/this-tool-is-helping-newsrooms-collaborate-on-factchecking-and-verification-projects/">
      <img class="logo" src="/images/logos/niemanlab@1x.jpg" alt="Neiman Lab logo" srcset="/images/logos/niemanlab@2x.jpg 2x">
      <p>
        <%= t("about.recent_press.niemanlab") %>
      </p>
    </a>
  </li>

  <li class="blurb__googlenewslab">
    <a href="https://medium.com/google-news-lab/teamwork-training-trends-google-news-lab-and-the-uk-election-b9888749f504">
      <%= partial "partials/image",
          :locals => {
            :type => 'png',
            :name => 'gnl'
          } %>
      <p>
          <%= t("about.recent_press.googlenewslab") %>
      </p>
    </a>
  </li>
</ul>
