{% assign module = include.module %}
{% case module.sys.content_type_id %}
	{% when 'moduleText' %}
		{% include module_text.html %}	
	{% when 'moduleLeadText' %}
		{% include module_lead_text.html %}
	{% when 'moduleImage' %}
		{% include module_image.html %}
	{% when 'module2ColumnContent' %}
		{% include module_2column_content.html %}
	{% when 'moduleSectionDivider' %}
		{% include module_section_divder.html %}
	{% when 'moduleListItem' %}
		{% include module_list_item.html %}
	{% when 'modulePullQuote' %}
		{% include module_pull_quote.html %}
	{% when 'moduleCards' %}
		{% include module_cards.html %}
{% endcase %}