<div class="cursor">
    <div class="open">Menu</div>
    <div class="close">Close</div>
</div>

<script>
    let site = document.querySelector(".site");
    let mouseCursor = document.querySelector(".cursor");
    let topMenu = document.querySelector(".menu");
    let keyPoints = document.querySelector(".key-points");

    window.addEventListener('mousemove', cursor);

    function cursor(e) {
        mouseCursor.style.top = e.pageY + 'px';
        mouseCursor.style.left = e.pageX + 'px';
    }

    topMenu.addEventListener('mouseleave', () => {
        mouseCursor.classList.remove('cursor-active');
        site.classList.remove('cursor-in-use');
    });
    topMenu.addEventListener('mouseover', () => {
        mouseCursor.classList.add('cursor-active');
        site.classList.add('cursor-in-use');
    });

    keyPoints.addEventListener('mouseleave', () => {
        mouseCursor.classList.remove('cursor-active');
        site.classList.remove('cursor-in-use');
    });
    keyPoints.addEventListener('mouseover', () => {
        mouseCursor.classList.add('cursor-active');
        site.classList.add('cursor-in-use');
    });



</script>