<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Event",
        "name": "{{ page.title|strip }}",
        "startDate": "{{ page.event_date | date: '%Y-%m-%dT%H:%M' }}",
        "endDate": "{{ page.event_end_date | date: '%Y-%m-%dT%H:%M' }}",
        "description": "{{ page.description | strip }}",
        "url": "{{ page.slug | prepend: '/events/' | prepend: 'https://meedan.com' }}",
        
        "image": "{{ page.images[0].url }}",
    
        "organizer": {
          "@type": "Organization",
          "name": "Meedan",
          "url": "https://meedan.com",
        }
    }
</script>