<section class="footer">
	{% if page.board_of_directors %}
	<div class="content-wrapper">
		<div class="board">
			<span>Board of Directors</span>
			{{ page.board_of_directors | markdownify }}
		</div>
	</div>
	{% endif %}
	<div class="content-wrapper">
		<div class="about">
			<span>Meedan</span>
			{% if page.address %}
				{{ page.address | markdownify }}
			{% else %}
				<ul>
					<li><a href="mailto:hello@meedan.com">hello@meedan.com</a></li>
				</ul>
			{% endif %}
		</div>
		<div class="social">
			<ul>
				<li><span>Follow Us</span></li>
				<li><a href="//github.com/Meedan">Github</a></li>
				<li><a href="//medium.com/@meedan">Medium</a></li>
				<li><a href="//twitter.com/meedan">Twitter</a></li>
				<li><a href="//www.facebook.com/pages/Meedan/54421674438">Facebook</a></li>
				<li><a href="//instagram.com/heymeedan">Instagram</a></li>
			</ul>
		</div>
		{% if page.other_years %}
		<div class="other-year">
			<span>Other Years</span>
			{{ page.other_years | markdownify }}
		</div>
		{% endif %}
	</div>
	{% if page.donate %}
	<div class="content-wrapper">
		<div class="donate">
				<span>Donate</span>
				{{ page.donate | markdownify }}
		</div>
	</div>
	{% endif %}
</section>