<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="" />

  <title>{% if page.title %}{{ page.title }}{% endif %}{% if page.location.title %}{{ page.location.title | prepend: ', ' }}{% endif %}{% if page.layout != 'front' %}{{ site.title | escape | prepend: ' | ' }}{% endif %}</title>
  {% include seo_customizations.html %}
  {% seo %}
  <link rel="apple-touch-icon" href="apple-touch-icon.png"> 
  <link rel="preload" href="/fonts/Telegraf-Regular.woff2" as="font">
  <link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <link rel="stylesheet" type="text/css" href="/js/libs/slick/slick.css">


  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" media="screen" type="text/css">
  {% if page.lang == 'ar' or page.body-ar %}
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
  {% endif %}

  {% if page.sys.content_type_id == 'report' %}
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400..700;1,400&display=swap" rel="stylesheet">
  {% endif %}

  {% if page.path == 'pages/donate.html' %}
    <!-- Load Stripe.js for donation page -->
    <script src="https://js.stripe.com/v3/"></script>
  {% endif %}

</head>