{% assign theme_class = include.theme | default: '' %}
<header class="header{% if theme_class %}{{ theme_class | prepend: ' ' }}{% endif %}">
    <a class="menu">
        <span class="meedan">
            {% include meedan_ribbon.html %}
        </span>
        <span class="menu-icon">
            {% include icon_menu.html %}
        </span>
    </a>
    <h1>{{ page.title }}</h1>
    {% if page.path == 'pages/check.html' %}
        <h3><img src="/images/check_b.svg" alt="Check" /></h3>
    {% endif %}
    <h2>{{ page.h2 }}</h2>
    {% if page.callout %}
        <svg id="text-container" class="callout" width="618" height="1020" viewBox="0 0 618 1020" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="text-curve"d="M0 1H445C502.333 1.66667 617 16 617 151C617 269.4 617 1020 617 1020" stroke="none"/>
            <text width="100%">
                <textPath id="text-path" href="#text-curve" startOffset="400">
                    {{ page.callout }}
                </textPath>
            </text>
        </svg>
    {% endif %}
    {% if page.standfirst %}
    <p class="standfirst">
        {{ page.standfirst }}
    </p>
    {% endif %}
    {% include nav_overlay.html %}
    {% include cursor.html %}
</header>
