<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/libs/slick/slick.min.js"></script>
{% if page.custom_js_lib %}
  {% if page.custom_js_lib == 'loadCSS' %}
  	{% include loadCSS.html %}
	{% endif %}  
{% endif %}
{% if page.custom_js %}
  {% for jsfile in page.custom_js %}
    <script src="/js/{{ jsfile }}.js" async></script>
  {% endfor %}
{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-64616807-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64616807-5');
</script>
