<div class="module module-text-list section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <!-- <div class="main-grid__1--1 grid-row--1-3">{% include curved-line.html %}</div> -->
                <h3 class="main-grid__1-3 grid-row--2-3">Our supporters</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <p class="main-grid__1-6 grid-row--1-3">
            We work with a network of extraordinary sponsors, clients, and partners.
        </p>
    </div>
    <div class="text-list">
        <div class="text-list-item">
            <a href="//www.oii.ox.ac.uk/">Oxford Internet Institute</a>
        </div>
        <div class="text-list-item">
            <a href="//www.sida.se/English/">Sida</a>
        </div>
        <div class="text-list-item">
            <a href="//medium.com/1st-draft">First Draft</a>
        </div>
        <div class="text-list-item">
            <a href="//propublica.org/">ProPublica</a>
        </div>
        <div class="text-list-item">
            <a href="//www.knightfoundation.org/">Knight Foundation</a>
        </div>
        <div class="text-list-item">
            <a href="//newsinitiative.withgoogle.com/">Google News Initiative</a>
        </div>
        <div class="text-list-item">
            <a href="//www.hku.hk/">University of Hong Kong</a>
        </div>
        <div class="text-list-item">
            <a href="//www.amnesty.org/">Amnesty International</a>
        </div>
        <div class="text-list-item">
            <a href="//www.law.berkeley.edu/research/human-rights-center">Human Rights Center</a>
        </div>
        <div class="text-list-item">
            <a href="//globalvoices.org/">Global Voices</a>
        </div>
        <div class="text-list-item">
            <a href="//www.madamasr.com/">Mada</a>
        </div>
        <div class="text-list-item">
            <a href="//www.bellingcat.com/">Bellingcat</a>
        </div>
        <div class="text-list-item">
            <a href="//almanassa.com/ar/">Al Manassa</a>
        </div>
        <div class="text-list-item">
            <a href="//smex.org/">SMEX</a>
        </div>
        <div class="text-list-item">
            <a href="//weladelbalad.com/">Welad El Balad</a>
        </div>
        <div class="text-list-item">
            <a href="//www.bcu.ac.uk/">Birmingham City University</a>
        </div>
        <div class="text-list-item">
            <a href="//arabcitizenmedia.org/">Arab Citizen Media</a>
        </div>
        <div class="text-list-item">
            <a href="//www.witness.org/">WITNESS</a>
        </div>
        <div class="text-list-item">
            <a href="//browserstack.com/">BrowserStack</a>
        </div>
        <div class="text-list-item">
            <a href="//www.cartercenter.org/">The Carter Center</a>
        </div>
        <div class="text-list-item">
            <a href="//www.cite.org.zw/">CITE</a>
        </div>
        <div class="text-list-item">
            <a href="//www.facebook.com/facebookmedia/blog/introducing-the-facebook-journalism-project">Facebook Journalism Project</a>
        </div>
        <div class="text-list-item">
            <a href="//syrianarchive.org/">Syrian Archive</a>
        </div>
        <div class="text-list-item">
            <a href="//verificado.mx/">Verificado 2018</a>
        </div>
        <div class="text-list-item">
            <a href="//zimfact.org/">ZimFact</a>
        </div>
        <div class="text-list-item">
            <a href="//codeforafrica.org/">Code for Africa</a>
        </div>
        <div class="text-list-item">
            <a href="//pesacheck.org/">PesaCheck</a>
        </div>
        <div class="text-list-item">
            <a href="//www.freemedia.at/">International Press Institute</a>
        </div>
        <div class="text-list-item">
            <a href="//www.fordfoundation.org/">Ford Foundation</a>
        </div>
        <div class="text-list-item">
            <a href="//www.ibm.com/us/en/">IBM</a>
        </div>
        <div class="text-list-item">
            <a href="//csr.cisco.com/pages/cisco-foundation">Cisco Foundation</a>
        </div>
        <div class="text-list-item">
            <a href="//www.macfound.org/">MacArthur Foundation</a>
        </div>
        <div class="text-list-item">
            <a href="//www.iie.org/">IIE</a>
        </div>
        <div class="text-list-item">
            <a href="//www.kiva.org/">Kiva</a>
        </div>
        <div class="text-list-item">
            <a href="//www.vermontcf.org/">Vermont Community Foundation</a>
        </div>
        <div class="text-list-item">
            <a href="//outofedenwalk.com/">National Geographic Out of Eden Walk</a>
        </div>
        <div class="text-list-item">
            <a href="//theguardian.com/">The Guardian</a>
        </div>
        <div class="text-list-item">
            <a href="//www.cam.ac.uk/">University of Cambridge</a>
        </div>
        <div class="text-list-item">
            <a href="//www.aucegypt.edu/">The American University in Cairo</a>
        </div>
        <div class="text-list-item">
            <a href="//thedataguild.com/">The Data Guild</a>
        </div>
        <div class="text-list-item">
            <a href="//www.ajplus.net/">AJ+</a>
        </div>
        <div class="text-list-item">
            <a href="//www.animalpolitico.com/">Animal Politico</a>
        </div>
    </div>
</div>