{% assign updates = site.data.contentful.spaces.moduleUpdates.moduleUpdates %}
<section class="module module-updates section-margin">
    <h3 class="section-title">● {{ updates[0].title }}</h3>
    <div class="module-wrapper">
        {% for update in updates[0].updates | limit: 4 %}
        <div class="update-grid-item">
            <a href="{{ update.link }}" title="{{ update.title }}">
                <picture class="image-container display--block">
                    <img src="{{ update.image.url | url | append: '?fl=progressive&q=90' }}" alt="{{  update.image.title }}"/>
                </picture>
            </a>
            <div class="title-container">
                <a class="tag" href="{{ update.link }}">
                    {{ update.tag }}
                </a>
                <a class="title" href="{{ update.link }}">{{ update.title }}</a>
            </div>
            <div class="date">{{ update.sys.created_at | date: "%-d %B %Y" }}</div>
        </div>
        {% endfor %}
    </div>
</section>