{% assign theme_class = include.theme | default: '' %}
<div class="module module-contribute main-grid section-padding{% if theme_class %}{{ theme_class | prepend: ' ' }}{% endif %}">
    <div class="main-grid__1-4 header">
        <h4>Contribute</h4>
    </div>
    <div class="main-grid__1-8 slideshow">
        <img src="//images.ctfassets.net/g118h5yoccvd/3jx4CLqiLvdhhsI8LrrGVt/1816600820c077aefa7b9a7a4e7876c7/edit_DSCF0263.jpg?fl=progressive&q=90" alt="Karim in Vancouver Office" />
        <img src="//images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg?fl=progressive&q=90" alt="Meedan dev team." />
    </div>
    <div class="main-grid__9-12">
        <p>Are you a programmer interested in verification or fact-checking? Check is built in React and Rails, has 100% test coverage and a 4.0 GPA on Code Climate. It is open source on GitHub.</p>
        <span class="trail"><hr /><a href="//github.com/meedan/check" class="button">Github Repository</a></span>
    </div>
</div>