<div class="module-image-grid section-margin module">
    <div class="text module-bg-color--coral">
        <p>Our program team designs initiatives, galvanizes collaborators and executes on-the-ground programs on six continents. Our five program areas range from digital health research to content moderation policy to breaking news reporting collaborations. We involve stakeholders early and often and position ourselves as leading field work from the ground up.</p>
        <div class="stat">
            <div class="stat-title">Extensive <br />experience</div>
            <div class="stat-number">9+</div>
            <div class="stat-description">Years improving information ecosystems and media literacy through transparent and collaborative exploration</div>
        </div>
    </div>
    <img src="//images.ctfassets.net/g118h5yoccvd/3SstSYbDqaReUYS9eeYTOX/3faa0b67fc7ffd9dd270db434e6fb927/edit-4140867.jpg?fl=progressive&q=90" alt="Meedan at #IJF18" />

    <img class="indicator" src="//images.ctfassets.net/g118h5yoccvd/6TJWqyrDObofWgXOfVRHUV/3c5572c3a300c8924b6c6cf545a2249a/edit_CREDCON-SUNDAY-STEVENSNOW-13.jpg?fl=progressive&q=90" alt="Ed @ CredCon (Steven Snow for CredCon)" />

    <img src="//images.ctfassets.net/g118h5yoccvd/44x6V3hvJrSHedngXop6YR/e1b5bd20a29499f7cdf6abf4d85a25f0/edit_DSCF0702-2.jpg?fl=progressive&q=90" alt="Bugs" />

    <img class="indicator" src="//images.ctfassets.net/g118h5yoccvd/1jf3VMNESGyT3hftyZa00I/bc3098244e288f508f6436303b8bcb31/edit_48015915773_9e72b262b7_o.jpg?fl=progressive&q=90" alt="Nat @ CredCon (Steven Snow for CredCon)" />

    <img class="indicator" src="//images.ctfassets.net/g118h5yoccvd/1JHB6l5mNDVpP2lLgWNXvv/bb4e641cd6a7d8591a945e331b72a00e/edit_48015922567_8427b88f36_o.jpg?fl=progressive&q=90" alt="Dani @ CredCon(Steven Snow for CredCon)" />

    <img class="indicator" src="//images.ctfassets.net/g118h5yoccvd/1LBJPNsSJ84ZRuz5MnpgP6/217000d102185eb595f34498e6585b8d/edit_CREDCON-SUNDAY-STEVENSNOW-30.jpg?fl=progressive&q=90" alt="An @ CredCon" />

    <img class="indicator" src="//images.ctfassets.net/g118h5yoccvd/1n0bmMuT9jKdQcoPBWKuXE/fe067a41695dac336ebf133dbe0aa065/International_Journalism_Festival.JPG?fl=progressive&q=90" alt="Ed @ IJF" />

    <span class="credit">Steven Snow for CredCon</span>
</div>
