<div class="module module-text-list section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <!-- <div class="main-grid__1--1 grid-row--1-3">{% include curved-line.html %}</div> -->
                <h3 class="main-grid__1-3 grid-row--2-3">Our supporters</h3>
            </div>
        </div>
    </div>
    <div class="main-grid text-list">
        <p class="main-grid__1-6 grid-row--1-3">
            We work with a network of extraordinary sponsors, clients, and partners.
        </p>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Oxford Internet Institute</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Sida</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">First Draft</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">ProPublica</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Knight Foundation</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">University of Hong Kong</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Amnesty International</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Human Rights Center</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Global Voices</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Mada</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Bellingcat</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Facebook Journalism Project</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Cisco Foundation</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">The Guardian</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">AJ+</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Ford Foundation</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">IBM</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">University of Cambridge</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">MacArthur Foundation</a>
        </div>
        <div class="main-grid__7-12 text-list-item">
            <a href="#">Animal Politico</a>
        </div>
    </div>
</div>