{% assign stories = site.data.contentful.spaces.stories.story
     | where_exp: "item","item.topic.en-US[0].sys.id == page.topic.en-US[0].sys.id"
     | where_exp: "item","item.sys.id != page.sys.id" 
     | story_date_sort | reverse 
%}
{% if stories.size != 0 %}
<section class="module module-story-grid module-related grid-template-columns--3 section-margin">
    <h3 class="section-title">● Related</h3>
    <div class="module-wrapper">
        {% for story in stories | limit: 3 %}
        <div class="story-grid-item">
            <a href="/blog/{{ story.slug }}">
                <picture class="image-container flex align-items--flex-end">
                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                </picture>
            </a>
            <div class="title-container">
                <a class="tag" href="/blog/{{ story.slug }}">
                    {% for topic in story.topic.en-US %}
                        {{ topic.title.en-US }} /
                    {% endfor %}
                </a>
                <a class="title" href="/blog/{{ story.slug }}">{{ story.title-en }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="trail-wrapper">
        <span class="trail"><hr /><a href="/blog" class="button no-margin">View all stories →</a></span>
    </div>
</section>
{% endif %}