<div class="module section-padding module-donate-text small-hr">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <h3 class="main-grid__1-2">Donate</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <p class="main-grid__1-6">
            Support Meedan in building world class tools for journalists, citizen journalists and translators.</p>
        <p class="main-grid__1-6"><a class="button" href="/donate">Support Meedan ↗</a>
        </p>
    </div>
</div>