<div class="module module-text-links section-margin">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed text-align--center">
                <h3 class="main-grid__3-10">Annual reports</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <p class="main-grid__3-10 text-align--center">
            Meedan is a 501(c)3 non-profit. Our annual reports detail our programming and operating budgets
        </p>
    </div>
    <div class="main-grid text-links key-points">
        <div class="key-point">
            <a href="/2018-annual-report/" class="title">2018</a>
        </div>
        <div class="key-point">
            <a href="/2017-annual-report/" class="title">2017</a>
        </div>
        <div class="key-point">
            <a href="/2016-annual-report/" class="title">2016</a>
        </div>
        <div class="key-point">
            <a href="/2015-annual-report/" class="title">2015</a>
        </div>
        <div class="key-point">
            <a href="/2014-annual-report/" class="title">2014</a>
        </div>
    </div>
</div>