{% if include.program %}
    {%
        assign projects = site.data.contentful.spaces.projects.project 
        | where_exp: "item","item.program[0].sys.id == include.program"
        | sort: 'order' 
    %}
{% else %}
    {%
        assign projects = site.data.contentful.spaces.projects.project 
        | sort: 'order' 
    %}
{% endif %}

<div class="module module-project-list section-bottom-margin">
    <div class="main-grid projects">
    {% for project in projects %}
        {% if project.project_link %}
            {% assign link = project.project_link %}
        {% elsif project.publication %}
            {% assign link = project.publication[0].slug | prepend: '/reports/'  %}
        {% else %}
            {% assign link = project.slug | | prepend: '/projects/' %}
        {% endif %}
        <a class="project" href="{{ link }}">
            
                <div class="project-header">
                    <div class="title"><h4>{{ project.title }}</h3></div>
                    <!-- <div class="description">
                        {{ project.short_description | markdownify }}
                    </div> -->
                </div>
                <div class="project-details">
                    {% if project.tags %}
                        <div class="tags">
                            {% for tag in project.tags %}
                                <span class="tag">{{ tag.title }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="project-image-container">
                        <div class="project-image">
                            <img src="{{ project.hero_image.url }}" alt="{{ project.title }}" />
                        </div>
                        <div class="project-link-container">
                            <div class="project-link">View project</div>
                        </div>
                    </div>
                    
                </div>
        </a>
    {% endfor %}
    </div>
</div>