{% assign view_all_link = include.link | default: 'blog/updates' %}
{% if include.updates_list_id %}
    {% 
        assign updates = site.data.contentful.spaces.moduleCards.moduleCards
        | where_exp: "item","item.sys.id == include.updates_list_id"
    %}
{% else %}
    {% 
        assign updates = site.data.contentful.spaces.moduleCards.moduleCards
        | where_exp: "item","item.sys.id == '3Cutb2MWVxvltk9SkgWy9s'"
    %}
{% endif %}
<section class="module module-updates section-margin">
    <div class="section-header">
        <h3 class="section-title">{{ include.title }}</h3>
        {% if view_all_link %}
            <div class="section-more-link">
                <a href="{{ view_all_link }}">View all →</a>
            </div>
        {% endif %}
    </div>
    <div class="module-wrapper {% if include.count %} grid-template-columns--{{ include.count }}{% endif %}">
        {% for update in updates[0].cards | limit: include.count %}
        <div class="update-grid-item">
            <a href="{{ update.link }}" title="{{ update.title }}">
                <picture class="image-container display--block">
                    <img src="{{ update.image.url | url | append: '?fl=progressive&q=90' }}" alt="{{  update.image.title }}"/>
                </picture>
            </a>
            <div class="title-container">
                <a class="tag" href="{{ update.link }}">
                    {{ update.tag }}
                </a>
                <a class="title" href="{{ update.link }}">{{ update.title }}</a>
            </div>
            {% if update.published_on %}
                <div class="date">{{ update.published_on | date: "%-d %B %Y" }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>