<!-- Get list of handpicked stories -->
{% assign story_list = site.data.contentful.spaces.moduleStories.moduleStories 
    | where_exp: "item","item.sys.id == '7s8B9FgTZA4NcTCAz2F5DX'"
%}
{% assign topics = site.data.contentful.spaces.topics.topic %}

<section class="module module-story-grid grid-template-columns--2 section-margin">
    <h3 class="section-title">● <a href="/blog" title="{{ story_list[0].title }}">{{ story_list[0].title }}</a></h3>
    <div class="module-wrapper">
        {% for story in story_list[0].stories limit:4 %}
        <div class="story-grid-item{% if forloop.last %}{{ 'with-more-link' | prepend: ' ' }}{% endif %}">
            <div class="title-container">
                <a class="tag" href="/blog/{{ story.slug }}">
                    {% for t in story.topic %}
                        {% for topic in topics %}
                            {% if t.sys.id == topic.sys.id %}
                                {{ topic.title }} /
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </a>
                <a class="title" href="/blog/{{ story.slug }}">{{ story.title }}</a>
            </div>
            <a href="/blog/{{ story.slug }}">
                <picture class="image-container display--block">
                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                </picture>
            </a>
            {% if forloop.last %}
                {% if include.trail %}
                    <div class="trail-wrapper">
                        <span class="trail"><hr /><a href="/blog" class="button no-margin">See more stories →</a></span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>