{% if include.program %}
    {%
        assign projects = site.data.contentful.spaces.projects.project 
        | where_exp: "item","item.program[0].sys.id == include.program"
        | sort: 'order' 
    %}
{% else %}
    {%
        assign projects = site.data.contentful.spaces.projects.project 
        | sort: 'order' 
    %}
{% endif %}

<div class="module module-project-list section-bottom-margin">
    <div class="main-grid projects">
    {% for project in projects %}
        <a class="project" href="{{ project.slug }}">
            
                <div class="project-header">
                    <div class="title"><h4>{{ project.title }}</h3></div>
                    <!-- <div class="description">
                        {{ project.short_description | markdownify }}
                    </div> -->
                </div>
                <div class="project-details">
                    {% if project.tags %}
                        <div class="tags">
                            {% for tag in project.tags %}
                                <span class="tag">{{ tag.title }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="project-image">
                        <img src="{{ project.hero_image.url }}" alt="{{ project.title }}" />
                    </div>
                </div>
        </a>
    {% endfor %}
    </div>
</div>