<div class="module module-checklist section-padding dark">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <div class="main-grid__1-3">
                {% include icon_checklist.html %}
                </div>
                <p class="main-grid__6-12"><span class="color--coral">The Checklist</span>–read misinformation news from around the world</p>
            </div>
        </div>
    </div>
    <div class="main-grid grid-template-rows--3">
        <div class="main-grid__1-3 grid-row--1-3 align-self--end subtitle">The Weekly Roundup</div>
        <div class="main-grid__6-12 grid-row--1-3">
            <p class="color--check-blue">—open-source investigations, industry resources and event information <br /><a class="button no-margin transparent" href="https://checklist.substack.com/">Subscribe ↗</a></p>
        </div>
    </div>

</div>