{% if inner.image %}
	{% assign caption = inner.caption %}
	{% assign i = inner.image %}
	{% assign caption_title = inner.caption_title %}
	{% assign top_border = inner.top_border %}
{% else %}
	{% assign caption = module.caption %}
	{% assign i = module.image %}
	{% assign caption_title = module.caption_title %}
	{% assign top_border = module.top_border %}
{% endif %}
{% if top_border == true %}
	<hr />
{% endif %}
<div class="media">
	<div class="media-image">
      	<img src="{{ i.url | append: '?fl=progressive' }}" alt="{{ caption }}" />
    </div>
    <div class="media-caption">
        <div class="media-caption-title">{{ caption_title }}</div>
        <div class="media-caption-body">{{ caption }}</div>
    </div>
</div>