{% assign reports = site.data.contentful.spaces.reports.report %}
<div class="report-wrapper main-grid">
    {% for r in module.reports %}
	{% for report in reports %}
        {% if r.sys.id == report.sys.id %}
            <div class="report">
                <a class="report-link" href="#">
                    <div class="report-meta">
                    <span class="report-title" style="color: {{ report.color.value }}">
                            {{ report.title }} 
                        </span>
                        <span class="report-intro" style="color: {{ report.color.value }}">
                            {{ report.description }} 
                        </span>
                        <span class="report-byline">
                            writes 
                            {% 
                                include authors.html 
                                data=report.author 
                            %}
                        </span>
                    </div>
                    <div class="image-wrapper">
                        <img class="report-image" src="{{ report.lead_image.url }}" />
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    {% endfor %}
</div>