{% assign stories = site.data.contentful.spaces.stories.story | sort: 'alt_date_string' | reverse %}
<section class="module module-story-grid grid-template-columns--2 section-margin">
    <div class="module-wrapper">
        {% for story in stories %}
        <div class="story-grid-item">
            <div class="title-container">
                <a class="tag" href="/blog/{{ story.slug }}">
                    {% for topic in story.topic.en-US %}
                        {{ topic.title.en-US }} /
                    {% endfor %}
                </a>
                <a class="title" href="/blog/{{ story.slug }}">{{ story.title-en }}</a>
            </div>
            <a href="/blog/{{ story.slug }}">
                <picture class="image-container display--block">
                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                </picture>
            </a>
            {% if forloop.last %}
                {% if include.trail %}
                    <div class="trail-wrapper">
                        <span class="trail"><hr /><a href="/blog" class="button">View all stories</a></span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
