<div class="module module-tabs">
    <div class="tabs">
        <div class="tab">Open Source Investigations</div>
        <div class="tab">Elections</div>
        <div class="tab">Translation</div>
        <div class="tab">Analysis</div>
    </div>
    
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--texas-rose">
                    <h4>
                        Open Source <br />Investigations
                    </h4>
                    <p>Check allows members of the public to send  content from social media and other online spaces to journalists working on investigative projects.</p>
                    <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/placeholders/nytimes_bellingcat.jpg" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--east-side">
                    <h4>
                        Elections
                    </h4>
                    <p>Journalists, academics and fact-checkers use Check for collaborative reporting on elections. We help these users verify incoming content in real-time.</p>
                    <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/placeholders/sweden.jpg" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--deep-sea">
                    <h4>
                        Translation
                    </h4>
                    <p>Check allows members of the public to send  content from social media and other online spaces to journalists working on investigative projects.</p>
                    <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/placeholders/nytimes_bellingcat.jpg" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--silver">
                    <h4>
                        Analysis
                    </h4>
                    <p>Partnering with some of the most prestigious academic institutions in the world, Check facilitates rigorous research into the nature and evolution of misinformation.</p>
                    <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/placeholders/sweden.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>