{% assign theme_class = include.theme | default: '' %}
<div class="module module-contribute main-grid section-padding{% if theme_class %}{{ theme_class | prepend: ' ' }}{% endif %}">
    <div class="main-grid__1-4 header">
        <h4>Contribute</h4>
        <p>Are you a programmer interested in verification or fact-checking?</p>
    </div>
    <div class="main-grid__1--1 grid-row-1-2">
        <p>Suppose you’ve been asked to write a science-fiction story. You might start by contemplating the future. You could research anticipated developments in science, technology, and society and ask how they will play out. Telepresence, mind-uploading, an aging population: an elderly couple live far from their daughter and grandchildren; one day, the pair knock on her door as robots.</p>
    </div>
    <div class="main-grid__1-8">
        <img src="/images/meedan-group.jpg" />
    </div>
    <div class="main-grid__9-12">
        <p>They’ve uploaded their minds to a cloud-based data bank and can now visit telepresently, forever. A philosophical question arises: What is a family when it never ends? A story flowers where prospective trends meet.</p>
        <span class="trail"><hr /><a href="//github.com/meedan/check" class="button">Github Repository</a></span>
        
    </div>
</div>