<div class="module module-user-quotes main-grid section-margin">
    <div class="main-grid__3-10 quotes">
        {% include icon_single_quote.html %}
        <div class="user-quotes-wrapper">
            <div class="user-quote">
                <span class="quote">When we’re verifying user generated content, it’s very important to be clear and transparent. What’s great about Check is that it lets us show every step we’ve taken along the way.</span> <span class="quote-by">–Eliot Higgins on using Check for Bellingcat investigations</span>
            </div>
            <div class="user-quote">
                <span class="quote">Check helped me be more aware of fake news and to practise all the verification steps we learnt in the course.</span> <span class="quote-by">–Zoe Lau, Student, University of Hong Kong</span>
            </div>
            <div class="user-quote">
                <span class="quote">Check was the essential tool for organising all of the social newsgathering for verification during Electionland.</span> <span class="quote-by">–Fergus Bell, Dig Deeper Media</span>
            </div>
        </div>
    </div>

</div>