<div class="module module-recent-press section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1--1">
            <div class="main-grid bleed">
                <h3 class="main-grid__1-12 flex justify-content--space-between"><span>Recent</span> <span>Press</span></h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <div class="main-grid__1-5 quotes">
            {% include icon_quotes.html %}
            <a href="//www.niemanlab.org/2017/07/this-tool-is-helping-newsrooms-collaborate-on-factchecking-and-verification-projects/" class="press-item-quote">
                <span class="quote">If we had not had Check there as a tool, it would’ve been very difficult to manage that workflow.</span> <span class="quote-by"></span>–Sam Dubberley, CrossCheck’s managing editor</span>
            </a>
        </div>
        <div class="main-grid__7-12">
            <a class="press-item" href="//www.niemanlab.org/2017/07/this-tool-is-helping-newsrooms-collaborate-on-factchecking-and-verification-projects/">
                <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/6FYqLC8tR6wcwisaSGgISs/c9b6ca743501769ded989b10428c4daf/lab-logo-color-tighter.svg)"></div>
                <div class="title">
                    This tool is helping newsrooms collaborate on factchecking and verification projects
                </div>
                <div class="source">
                    Nieman Lab
                </div>
            </a>
            <a class="press-item" href="//www.journalism.co.uk/news/how-meedan-is-building-tools-for-collaborative-investigative-work/s2/a627144/">
                <div class="title">
                    Meedan is building ‘pipelines’ - tools that work together to help journalists investigate and translate information available online.
                </div>
                <div class="source">
                    journalism.co.uk
                </div>
            </a>
        </div>
    </div>
</div>