<div class="module module-checklist section-padding dark">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <div class="main-grid__1-3">
                {% include icon_checklist.html %}
                </div>
                <p class="main-grid__6-12"><span class="color--coral">The Checklist</span>–read misinformation news from around the world</p>
            </div>
        </div>
    </div>
    <div class="main-grid grid-template-rows--3">
        <div class="main-grid__1-3 grid-row--1-3 align-self--end subtitle">The Weekly Roundup</div>
        <div class="main-grid__8-12 grid-row--1-2">
            <p class="color--check-blue">—open-source investigations, industry resources and event information</p>
        </div>
        <div class="main-grid__6-12 align-self--end">
            <form name="meedan-checklist" id="meedan-checklist" class="checklist-signup" netlify-honeypot="bot" netlify>
                <label style="display: none;">Don’t fill this out: <input name="bot"></label>
                <label for="email"><span>Email</span> <input type="email" name="email" placeholder="Sign up for our newsletter" required></label>
                <button type="submit">→</button>
            </form>
        </div>
    </div>
    <div class="main-grid module-links">
        <div class="main-grid__6-8">
            <a href="//us11.campaign-archive.com/home/?u=539fbe59ddc773c6592797bf2&id=8fa4ab9399">Browse previous issues</a>
        </div>
        <div class="main-grid__9-12">
            Send your tips to <a href="mailto:checklist@meedan.com">checklist@meedan.com</a>
        </div>
    </div>
</div>