{% capture current_date %}{{ site.time | convert_to_date }}{% endcapture %}
{% assign events = site.data.contentful.spaces.events.event 
    | where_exp: "item","item.event_end_date_string < current_date"
    | sort: 'event_date_string' 
    | reverse

%}
{% if events.size != 0 %}
<section class="module module-calendar module-past-events section-margin">
    {% if include.title %}
    <h3 class="section-title" id="calendar">
        <a href="/events">
            {{ include.title }}
        </a>
    </h3>
    {% endif %}
    <div class="module-wrapper">
        {% for event in events %}
            <a href="/events/{{ event.slug }}" class="event-item event-item-wide">
                <div class="date">
                    <span class="month">{{ event.event_date | date: '%B' }}</span>
                    <span class="day">{{ event.event_date | date: '%d' }}</span>
                </div>
                <div class="details">
                    <div class="event-title">
                        {{ event.title }}
                    </div>
                    <div class="event-meta">
                        <span>{{ event.location_human_friendly }}</span>
                        {% if event.non_public %}
                            <span>By invitation only</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
{% endif %}