{% assign theme_class = include.theme | default: '' %}
<div class="module module-contribute main-grid section-padding{% if theme_class %}{{ theme_class | prepend: ' ' }}{% endif %}">
    <div class="main-grid__1-4 header">
        <h4>Contribute</h4>
    </div>
    <div class="main-grid__1-8">
        <img src="/images/meedan-group.jpg" />
    </div>
    <div class="main-grid__9-12">
        <p>Are you a programmer interested in verification or fact-checking? Check is built in React and Rails, has 100% test coverage and a 4.0 GPA on Code Climate. It is open source on GitHub.</p>
        <span class="trail"><hr /><a href="//github.com/meedan/check" class="button">Github Repository</a></span>
    </div>
</div>