<div class="module module-checklist section-padding dark">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                {% include icon_checklist.html %}
                <h3 class="main-grid__4-12"><span class="color--coral">Checklist</span>–read about misinformation news from around the world</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <div class="main-grid__1-3 align-self--end subtitle">The Weekly Roundup</div>
        <div class="main-grid__6-12 align-self--end">
            <h3 class="color--check-blue">—open-source investigations, industry resources and event information</h3>
            <a class="button" href="#">Sign up for our newsletter</a>
        </div>
    </div>
    <div class="main-grid module-links">
        <div class="main-grid__6-8">
            <a href="#">Browse previous issues</a>
        </div>
        <div class="main-grid__10-12">
            Send your tips to <a href="mailto:checklist@meedan.com">checklist@meedan.com</a>
        </div>
    </div>
</div>