{% assign jobs = site.data.contentful.spaces.jobs.job %}

{% for job in jobs | date_sort %}
    {% if job.sys.id == '5xuZ0h0k4mUsR30JwyilCY' %}
        {% assign blank_job_posting = 'yes' %}
    {% else %}
        {% assign blank_job_posting = 'no' %}
    {% endif %}
{% endfor %}

{% if jobs.size >= 2 and blank_job_posting == 'yes'  %}
    <h3>Open positions</h3>
    <div class="plain-list">
        <ul>
            {% for job in jobs | date_sort %}
                {% if job.sys.id != '5xuZ0h0k4mUsR30JwyilCY' %}
                    <li>
                        <a href="/jobs/{{ job.slug }}">
                            {{ job.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% elsif jobs.size == 1 and blank_job_posting == 'yes' %}
    <p>There are currently no opportunities open at Meedan.</p>
{% endif %}