<div class="module module-key-points section-margin">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                {% include icon_indepth.html %}
                <h3 class="main-grid__1-2">Our work</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        
        <p class="main-grid__1-5 grid-row--1-2">
            We believe that creating a more equitable internet requires an interdisciplinary approach across multiple forms of intersecting activities. Meedan’s five core pillars of work include technology development, network building, strategic training, collaborative and ethical data collection, and rigorous research. These pillars are inherently evolutionary and responsive.
        </p>
        <div class="main-grid__9-12">
            <img src="//images.ctfassets.net/g118h5yoccvd/2WlLDRzwffd3HOQ5QbYsJv/39da0a2eed733790fff671bd0f3c7649/edit_PA042582.jpg?fl=progressive&q=90" alt="Pierre and Nat" />
        </div>
        <div class="main-grid__9-12">
            <img src="//images.ctfassets.net/g118h5yoccvd/8y6PdVKX6J8h19ziRe0tG/48c85ad19bc891eba5e96ac373ec7d5b/edit_PA032573.jpg?fl=progressive&q=90" alt="Pierre and Nat" />
        </div>
        
    </div>
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Technology<br /> development</div>
            <div class="description">Improved open-access tools and technical infrastructure for independent actors to curate, check, verify and debunk claims, links and media shared online
</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Network<br /> building</div>
            <div class="description">Improved collaboration and stronger networks between independent media, journalism programs and journalists, activists, archivists and human rights defenders working on open source investigation, fact checking, verification, digital media literacy efforts, and access to correct and credible health information</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Strategic and <br />training</div>
            <div class="description">Improved capacity of journalism students, citizen journalists, civil society and activist networks and human rights documentation enthusiasts to verify content, conduct investigations and debunk false claims and misinformation, and to produce viable online content to counter the rise of mis-information in their countries 
</div>
        </div>
        <div class="key-point">
            <div class="count">04</div>
            <div class="title">Data collection<br /> and analysis</div>
            <div class="description">Improved data infrastructure and provision to support efficient workflow and effective dissemination via platforms</div>
        </div>
        <div class="key-point">
            <div class="count">05</div>
            <div class="title">Rigorous<br /> research</div>
            <div class="description">Improved understanding of the relation between open-source tech development and social impact, as well as the global misinformation ecosystem on ways in which citizens' public opinion is formed, and optimal approaches for addressing content-specific misinformation such as health misinformation.</div>
        </div>
    </div>
</div>
