<div class="module module-join-meedan section-margin">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed text-align--center">
                <h3 class="main-grid__3-10">Join Meedan</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <figure class="main-grid__1-8">
            <img src="/images/join-meedan.png" alt="The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow." />
            <figcaption class="main-grid__1-4 credit align-self--end">▲ The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow.</figcaption>
        </figure>
        
        <div class="main-grid__9-12 align-self--end margin-bottom--5">
            <p>Our team of coders, designers, researchers and journalists is keen to collaborate with deep thinkers and boundary pushers from around the world.</p>
            <a class="button" href="/jobs">View open positions</a>
        </div>
    </div>
</div>