{% assign projects = site.data.contentful.spaces.projects.project | sort: 'order' %}
<div class="module module-project-list">
    {% for project in projects %}
        <div class="main-grid section-margin projects">
            <div class="main-grid__1-5 bleed project-story">
                <img src="{{ project.hero_image.url }}" />
            </div>
            <div class="main-grid__6-12 project-teaser">
                <h3>{{ project.title }}</h3>
                {{ project.short_description | markdownify }}
                {% if project.links %}
                    <div class="plain-list">
                        {{ project.links | markdownify }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>