<div class="module-image-grid section-margin module">
    <div class="text module-bg-color--coral">
        <p>Our program team designs initiatives, galvanizes collaborators and executes on-the-ground programs on six continents. Our five program areas range from digital health research to content moderation policy to breaking news reporting collaborations. We involve stakeholders early and often and position ourselves as leading field work from the ground up.</p>
        <div class="stat">
            <div class="stat-title">Extensive <br />experience</div>
            <div class="stat-number">8+</div>
            <div class="stat-description">Improving information ecosystems and media literacy through transparent and collaborative exploration</div>
        </div>
    </div>
    <img src="https://images.ctfassets.net/g118h5yoccvd/3SstSYbDqaReUYS9eeYTOX/3faa0b67fc7ffd9dd270db434e6fb927/edit-4140867.jpg?fl=progressive&q=90" alt="Meedan at #IJF18" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/6TJWqyrDObofWgXOfVRHUV/3c5572c3a300c8924b6c6cf545a2249a/edit_CREDCON-SUNDAY-STEVENSNOW-13.jpg?fl=progressive&q=90" alt="Ed @ CredCon" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/3bobktADHuFEohV2BWiNeK/b60f024520ffd83b8e149082c6028063/bugs.jpg?fl=progressive&q=90" alt="Bugs" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/1jf3VMNESGyT3hftyZa00I/bc3098244e288f508f6436303b8bcb31/edit_48015915773_9e72b262b7_o.jpg?fl=progressive&q=90" alt="Nat @ CredCon" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/1JHB6l5mNDVpP2lLgWNXvv/49ce1cec9a951c7b39445d2cf1aa03f3/edit_48015922567_8427b88f36_o.jpg?fl=progressive&q=90" alt="Dani" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/1LBJPNsSJ84ZRuz5MnpgP6/217000d102185eb595f34498e6585b8d/edit_CREDCON-SUNDAY-STEVENSNOW-30.jpg?fl=progressive&q=90" alt="An @ CredCon" />

    <img src="https://images.ctfassets.net/g118h5yoccvd/1n0bmMuT9jKdQcoPBWKuXE/fe067a41695dac336ebf133dbe0aa065/International_Journalism_Festival.JPG?fl=progressive&q=90" alt="Ed @ IJF" />
</div>