<!-- Get list of supporters -->
{% assign supporter_list = site.data.contentful.spaces.moduleList.moduleList 
    | where_exp: "item","item.sys.id == 'MJXbtCDpyQ0oRzW3rTabs'"
%}


<div class="module module-text-list section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                <!-- <div class="main-grid__1--1 grid-row--1-3">{% include curved-line.html %}</div> -->
                <h3 class="main-grid__1-3 grid-row--2-3">Our supporters</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <p class="main-grid__1-6 grid-row--1-3">
            Since 2006, Meedan has worked with a network of extraordinary sponsors, clients, and partners.
        </p>
    </div>
    <div class="text-list">
        {% for supporter in supporter_list[0].items %}
            <div class="text-list-item">
                <a href="{{ supporter.link }}" title="{{ supporter.title }}">{{ supporter.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>