<div class="module module-join-meedan section-margin">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed text-align--center">
                <h3 class="main-grid__3-10">Join Meedan</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <img  class="main-grid__1-8" src="/images/join-meedan.png" alt="Meedan's CEO Ed Bice talking with the team." />
        <div class="main-grid__9-12 align-self--end">
            <p>We’re always looking for talented new members that push us to be bolder, dream bigger and perform better. Think that’s you? We like your confidence. Drop us a line!</p>
            <a class="button" href="/jobs">View open positions</a>
        </div>
    </div>
</div>