<!-- Get recent press -->
{% assign links = site.data.contentful.spaces.moduleCards.moduleCards 
    | where_exp: "item","item.sys.id == '4CWa8UN1MMrhDX1XEoq5XT'"
%}
<!-- Get quotes -->
{% assign quotes = site.data.contentful.spaces.moduleList.moduleList
    | where_exp: "item","item.sys.id == '4ytDksEIifiBOFrxcoIUll'"
%}
<div class="module module-recent-press section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1--1">
            <div class="main-grid bleed">
                <h3 class="main-grid__1-12 flex justify-content--space-between"><span>Recent</span> <span>Press</span></h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        {% if quotes %}
        <div class="main-grid__1-5 quotes">
            {% include icon_quotes.html %}
            {% for quote in quotes[0].items | limit: 1 %}
                <a href="{{ quote.link }}" class="press-item-quote">
                    <span class="quote">{{ quote.pullquote }}</span> <span class="quote-by"></span>–{{ quote.pullquote_by }}, {{ quote.source }}</span>
                </a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="main-grid__7-12">
            {% for link in links[0].cards %}
                <a class="press-item" href="{{ link.link }}">
                    {% if forloop.first and link.image.url and link.logo %}
                        <div class="card-graphic logo" style="background-image:url({{ link.image.url }})"></div>
                    {% endif %}
                    <div class="title">
                        {{ link.title }}
                    </div>
                    <div class="source">
                        {{ link.tag }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>