<div class="module module-partner-list section-margin">
    <div class="main-grid partners">
        <div class="partner">
            <h3>Our <br />Partners</h3>
        </div>
        <a href="https://cyber.harvard.edu" class="partner logo">
            <img src="/images/DHL/partners/Berkman_Klein_Centre_816x480.png" />
        </a>
        <a href="https://www.bi.team" class="partner logo">
            <img src="/images/DHL/partners/The_Behavioural_Insights_Team_816x480.png" />
        </a>
        <a href="https://nigeriahealthwatch.com" class="partner logo">
            <img src="/images/DHL/partners/Nigeria_Health_Watch_816x480.png" />
        </a>
        <a href="https://www.speakupafrica.org" class="partner logo">
            <img src="/images/DHL/partners/SpeakUpAfrica_816x480.png" />
        </a>
        <a href="https://www.sunoindia.in" class="partner logo">
            <img src="/images/DHL/partners/Suno_India_816x480.png" />
        </a>
    </div>
</div>