<div class="module module-user-quotes main-grid section-margin">
    <div class="main-grid__3-10 quotes">
        {% include icon_single_quote.html %}
        <div class="user-quotes-wrapper">
            <span class="quote">When we’re verifying user generated content, it’s very important to be clear and transparent. What’s great about Check is that it lets us show every step we’ve taken along the way.</span> <span class="quote-by"></span>–Eliot Higgins on using Check for Bellingcat investigations</span>
        </div>
    </div>
</div>