<div class="module module-key-points section-margin">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                {% include icon_indepth.html %}
                <h3 class="main-grid__1-2">Our work</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        
        <p class="main-grid__1-5 grid-row--1-2">
            At our core, we do five things: technology development, partner collaboration, educational and professional training, data gathering and analysis and rigorous research.
        </p>
        <p class="main-grid__9-12">
            <img src="//images.ctfassets.net/g118h5yoccvd/2WlLDRzwffd3HOQ5QbYsJv/39da0a2eed733790fff671bd0f3c7649/edit_PA042582.jpg?fl=progressive&q=90" alt="Pierre and Nat" />
        </p>
        <p class="main-grid__9-12">
            <img src="//images.ctfassets.net/g118h5yoccvd/8y6PdVKX6J8h19ziRe0tG/48c85ad19bc891eba5e96ac373ec7d5b/edit_PA032573.jpg?fl=progressive&q=90" alt="Pierre and Nat" />
        </p>
        
    </div>
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Technology<br /> development</div>
            <div class="description">We build software that helps with fact-checking, structuring open-source investigations and research into information quality</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Partner<br /> collaborations</div>
            <div class="description">We work with newsrooms on everything from data-driven investigations to breaking news. We often facilitate editorial and workflow collaboration between our partners to scale impact </div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Educational and <br />professional training</div>
            <div class="description">We support internships and bootcamps on digital verification, social media gathering and misinformation analysis.</div>
        </div>
        <div class="key-point">
            <div class="count">04</div>
            <div class="title">Data gathering<br /> and analysis</div>
            <div class="description">We build software that helps with fact-checking, structuring open-source investigations and research into information quality</div>
        </div>
        <div class="key-point">
            <div class="count">05</div>
            <div class="title">Rigorous<br /> research</div>
            <div class="description">We publish academic articles on the impacts and indicators of information disorder, including investigations into signals of information quality, as well as studies on the outcomes of content moderation and digital health equity practices on communities.</div>
        </div>
    </div>
</div>