<div class="module module-recent-press section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1--1">
            <div class="main-grid bleed">
                <h3 class="main-grid__1-12 flex justify-content--space-between"><span>Recent</span> <span>Press</span></h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <div class="main-grid__1-5">
            {% include icon_quotes.html %}
            <a href="#" class="press-item-quote">
                <span class="quote">We had our own CMS and our own platform, but it was lacking in terms of managing live factchecking. I think that was solved by [Meedan’s software] Check. Without that I cannot imagine how we could have worked.</span> <span class="quote-by"></span>–Wahyu Dhyatmika, editor in chief, Tempo.co</span>
            </a>
        </div>
        <div class="main-grid__7-12">
            <a class="press-item" href="#">
                <img class="teaser" class="bleed-right" src="/images/placeholders/sweden.jpg" alt="Sweden" />
                <div class="title">
                    Check uses automation to improve fact-checking during elections
                </div>
                <div class="source">
                    Journalism.co.uk
                </div>
            </a>
            <a class="press-item" href="#">
                <div class="title">
                    Combatting misinformation online during Zimbabwe’s election
                </div>
                <div class="source">
                    International Journalism Network
                </div>
            </a>
        </div>
    </div>
</div>