<section class="module module-manifesto section-padding dark">
    <div class="intro">
        <span>We are a group of</span> <img src="/images/caio+1.jpg" alt="Caio"/><span>technologists,</span> <span>journalists,</span> <img src="/images/dani.jpg" alt="Dani"/><span>researchers and designers.</span> 
        <img src="/images/ed+1.jpg" alt="Ed"/> <span>We collaborate on</span> 
        <span>building solutions</span> 
        <span>to complex and</span>
        <img src="/images/malaspina_glacier.jpg" alt="mapping glacier"/> <span>uncharted global</span> 
        <span>challenges </span>
        <span>on the web.</span><img src="/images/data.png" alt="Data model"/>
    </div>
</section>