{% assign topics = site.data.contentful.spaces.topics.topic %}
{% assign stories = site.data.contentful.spaces.stories.story
    | story_date_sort | reverse 
%}

{% assign current_topic = stories[0].topic.en-US[0].title.en-US %}

<section class="module module-story-grid module-browse grid-template-columns--3 section-margin">
    <div class="section-title">
        Stories about 
        <select id="select-topic">
            {% for topic in topics %}
                {% if topic.topic == current_topic %}
                    <option value="topic-{{topic.topic | slugify }}" selected>{{ topic.topic | downcase }}</option>
                {% else %}
                    <option value="topic-{{topic.topic | slugify }}">{{ topic.topic | downcase }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="topics">
        {% for topic in topics %}
            <div id="topic-{{topic.topic | slugify }}" {% if topic.topic == current_topic %} style="display:block"{% endif %}>
                <div class="module-wrapper">
                        {% assign stories = site.data.contentful.spaces.stories.story
                            | where_exp: "item","item.topic.en-US[0].sys.id == topic.sys.id" 
                            | story_date_sort | reverse 
                         %}
                        {% for story in stories | limit: 3 %}
                        <div class="story-grid-item">
                            <div class="title-container">
                                <a class="title" href="/blog/{{ story.slug }}">{{ story.title-en }}</a>
                            </div>
                            <a href="/blog/{{ story.slug }}">
                                <picture class="image-container">
                                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                                </picture>
                            </a>
                        </div>
                        {% endfor %}
                    
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="trail-wrapper">
        <span class="trail"><hr /><a href="/blog/{{ current_topic | downcase }}" class="button no-margin">See more {{ current_topic | downcase }} stories →</a></span>
    </div>
</section>