{% assign stories = site.data.contentful.spaces.stories.story %}
<section class="module module-story-grid section-margin">
    <h3 class="section-title">● Blog</h3>
    <div class="module-wrapper">
        {% for story in stories limit:4 %}
        <div class="story-grid-item{% if forloop.last %}{{ 'with-more-link' | prepend: ' ' }}{% endif %}">
            <div class="title-container">
                <a class="tag" href="/blog/{{ story.slug }}">
                    {% for topic in story.topic %}
                        {{ topic.title }} /
                    {% endfor %}
                </a>
                <a class="title" href="/blog/{{ story.slug }}">{{ story.title }}</a>
            </div>
            <a href="/blog/{{ story.slug }}">
                <picture class="image-container">
                    <img src="{{ story.lead_image.url | url | append: '?fl=progressive&q=90' }}" alt="{{ story.lead_image.title }}"/>
                </picture>
            </a>
            {% if forloop.last %}
                {% if include.trail %}
                    <div class="trail-wrapper">
                        <span class="trail"><hr /><a href="/blog" class="button">View all stories →</a></span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>