<section class="module module-story-grid section-margin">
    <div class="story-grid-item">
        <div class="title-container">
            <a class="tag" href="#">Network /</a>
            <a class="title" href="#">How Meedan supported three reporting initiatives in Asia</a>
        </div>
        <a href="#">
            <picture class="image-container landscape">
                <img src="/images/placeholders/an.jpg" />
            </picture>
        </a>
    </div>
    <div class="story-grid-item">
        <div class="title-container">
            <a class="tag" href="#">Data /</a>
            <a class="title" href="#">Our veteran journalist on WhatsApp misinformation during India’s elections</a>
        </div>
        <a href="#">
            <picture class="image-container landscape">
                <img src="/images/placeholders/karim.jpg" />
            </picture>
        </a>
    </div>
    <div class="story-grid-item">
        <div class="title-container">
            <a class="tag" href="#">Technology /</a>
            <a class="title" href="#">Caio Almeida on software that serves a global community</a>
        </div>
        <a href="#">
            <picture class="image-container portrait">
                <img src="/images/placeholders/caio.jpg" />
            </picture>
        </a>
    </div>
    <div class="story-grid-item with-more-link">
        <div class="title-container">
            <a class="tag" href="#">Research /</a>
            <a class="title" href="#">Digital Health: Fact-checking in an era of misinfodemics</a>
        </div>
        <a href="#">
            <picture class="image-container landscape">
                <img src="/images/placeholders/elections.jpg" />
            </picture>
        </a>
        {% if include.trail %}
            <div class="trail-wrapper">
                <span class="trail"><hr /><a href="/journal" class="button">View all stories</a></span>
            </div>
        {% endif %}
    </div>
    
</section>