<div class="module module-tabs">
    <div class="tabs">
        <div class="tab">Elections</div>
        <div class="tab">Open Source Investigations</div>
        <div class="tab">Translation</div>
        <div class="tab">Analysis</div>
    </div>
    
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--east-side">
                    <h4>
                        Elections
                    </h4>
                    <p>Journalists, academics and fact-checkers use Check for collaborative reporting on elections. We help these users verify incoming content in real-time.</p>
                    <div class="stat">
                        <div class="stat-header">National elections</div>
                        <div class="stat-number">8+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="//images.ctfassets.net/a1gidpdiipum/8NYhCvYVXyeKS6uCgUmEe/a6770fbd76365e80b22257deabc2b420/IMG_20180701_144520-2.jpg?fl=progressive&q=90" alt="At the Verificado 2018 Pop-Up Newsroom, we worked with over 100 journalists from across Mexico to design collaborative processes for monitoring and debunking misinformation spread via social networks." />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text module-bg-color--texas-rose">
                    <h4>
                        Open Source <br />Investigations
                    </h4>
                    <p>Check allows members of the public to send  content from social media and other online spaces to journalists working on investigative projects.</p>
                    <!-- <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div> -->
                </div>
                <div class="tab-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/7INb0RoAeEdWGyjCTwH45Q/b7fff5ce091b93ddef29096c5903304f/edit_DSCF0594-2.jpg?fl=progressive&q=90" />
                </div>
            </div>
        </div>
        
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--deep-sea">
                    <h4>
                        Translation
                    </h4>
                    <p>Check allows members of the public to send  content from social media and other online spaces to journalists working on investigative projects.</p>
                    <!-- <div class="stat">
                        <div class="stat-header">Transparency is <br />method of trust</div>
                        <div class="stat-number">80+</div>
                    </div> -->
                </div>
                <div class="tab-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/6awdzkEjZFn6hFDJJG6uQs/d0a427b669845e7d5fbe80f0db59841d/edit_DSCF0628-3.jpg?fl=progressive&q=90" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper section-margin">
                <div class="tab-text module-bg-color--silver">
                    <h4>
                        Analysis
                    </h4>
                    <p>Partnering with some of the most prestigious academic institutions in the world, Check facilitates rigorous research into the nature and evolution of misinformation.</p>
                    <div class="stat">
                        <div class="stat-header">Items <br />analyzed</div>
                        <div class="stat-number">440K+</div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/4veW4TEPhxZOWLtHdYIw9M/9d69bb1104e592710842aeb713a6e0d0/edit_P1220427.jpg?fl=progressive&q=90" />
                </div>
            </div>
        </div>
    </div>
</div>