<nav class="primary-nav">
    <a class="meedan-logo" href="//meedan.com" target="_blank" rel="noopener noreferrer">
    <img class="meedan-logo" src="//images.ctfassets.net/g118h5yoccvd/5opynG0OhIQUsC7W9wWtSi/6004a5fb59cd227f3b1e28e7dac65421/meedan-logo.svg" alt="meedan logo">
</a>
    <a class="meedan-wordmark" href="/" target="_blank" rel="noopener noreferrer">
    <img class="meedan-wordmark" src="//images.ctfassets.net/g118h5yoccvd/5GndSMPIWRlLWNDEZ3qOuo/005465c2afc44c45c0d6648ac2385bab/meedan-wordmark.svg" alt="meedan wordmark">
</a>
    <ul class="pages">
        <li class="check">
            <a href="//meedan.com/en/check">Check</a>
        </li>
        <li class="bridge">
            <a href="//meedan.com/en/bridge">Bridge</a>
        </li>
        <li class="about">
            <a href="//meedan.com/en/about">About</a>
        </li>
        <li class="jobs">
            <a href="//meedan.com/en/jobs">Jobs</a>
        </li>
    </ul>
</nav>