<div id="nav" class="nav-overlay">
    <div class="nav-content">
        <h4>Menu</h4>
        <div class="nav-content-items">
            <a href="/">Home</a>
            <a href="/check">Product</a>
            <a href="/projects">Projects</a>
            <a href="/blog">Blog</a>
            <a href="/events">Events</a>
            <a href="/about">About</a>
            <a href="/team">Team</a>
            <a href="/jobs">Jobs</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="nav-footer">
        <a href="/checklist">The Checklist</a>
        <a href="/code-of-conduct">Code of Conduct</a>
        <a href="/legal">Legal</a>
    </div>
</div>
<script type="text/javascript">
    const elButton = document.querySelector('.menu');
    const elSite = document.querySelector('.site');

    elButton.addEventListener('click',()=>{
        if ( elSite.dataset.menu ) {
            delete elSite.dataset.menu;
            
        } else {
            elSite.dataset.menu = true;
        }
    });
</script>