<div class="publication-wrapper">
    {% for section in page.sections %}
        <div class="section-meta main-grid">
            <span class="section-number" style="color: {{ page.color.value }}">
                Part One
            </span>
            <span class="section-name" style="color: {{ page.color.value }}">
                {{ section.title }}
            </span>
            <span class="section-intro" style="color: {{ page.color.value }}">
                {{ section.section_description | markdownify }}
            </span>
        </div>

        {% assign sections = site.data.contentful.spaces.sections.section %}
        {% for s in section.modules %}
            {% for sm in sections %}
                {% for module in sm.modules %}
                    {% if s.sys.id == module.sys.id %}
                        {% 
                            include cases_modules.html 
                            module=module
                        %}
                    {% endif %}
                {% endfor %}		
            {% endfor %}
        {% endfor %}

    {% endfor %}
</div>