{% 
	include break.html 
	class="start-introduction" 
%}
<section class="content introduction">
	<div class="graphic-wrapper bordered">
		<h2><span>1.</span> Introduction</h2>
		{%
			include module_graphic.html
			url="/images/graphic_introduction.png"
			title="introduction"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="At Meedan we care about language. We began after all as a project to show the way media narratives vary between language communities. We understand the relationship between language and meaning."
		%}
		{% 
      include media_image.html 
      image="//images.ctfassets.net/a1gidpdiipum/56DrOF2UH6skIg8EK8qmiQ/e2c16f5da7de938aea78ea84da98f6b8/PopUpGE2017_3.jpg"
      caption_title="Local media partners"
      caption="Multi-platform editorial products designed and refined through cross-border, digital first collaboration between publishers and broadcasters in Europe."
		%}
		<div class="columns">
			<div class="column column-a">
			    <h3>Digital Storytelling</h3>
			</div>
			<div class="column column-b">
			    <p>So, as we consider 2016 at Meedan, we have to give a nod to the fact that in the base-ten language we use to order our numeric system cycles of ten are a big deal.</p>
			    <p>Meedan was established as a 501(c)3 non-profit in March of 2006. We didn’t imagine at that time that our journey down the path of building open source tools for journalists and translators in the Middle East would lead us to a front row seat to the 2011 Arab uprisings. And, we didn’t imagine that the software for verification and fact-checking we began coding in 2011 in response to that experience would five years later collide with monitoring the US Presidential election and a global preoccupation with determining truth and credibility.</p>
			    <p>Ten years into Meedan we have found ourselves for a second time in the organization five years ahead of history.</p>
			    <p>So, as we consider 2016 at Meedan, we have to give a nod to the fact that in the base-ten language we use to order our numeric system cycles of ten are a big deal.</p>
			    {% 
			      include media_image.html 
			      image="//images.ctfassets.net/a1gidpdiipum/2YXXwCjoM8wYCeIkEYYYm2/b19307d269be56e88b2dac603f2c0071/PopUpGE2017_2-3.jpg"
			      caption_title="Local media partners"
			      caption="Multi-platform editorial products designed and refined through cross-border, digital first collaboration between publishers and broadcasters in Europe."
					%}
					<p>So, as we consider 2016 at Meedan, we have to give a nod to the fact that in the base-ten language we use to order our numeric system cycles of ten are a big deal.</p>
					<p>Ed Bice <br />
					 CEO & Board Chair</p>
			</div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-introduction" 
%}
<section class="content in-numbers">
	<div class="graphic-wrapper bordered">
		<h2><span>2.</span> In Numbers</h2>
		{%
			include module_graphic.html
			url="/images/graphic_in-numbers.png"
			title="in numbers"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="The Shared Living lab explores new ways of designing living spaces in order to tackle common problems that many experience in our new urban realities—including loneliness and the increasing lack of affordable housing."
		%}
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Check</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div>
				<div class="stats">
					{%
						include module_graphic.html
						url="/images/graph_stats.png"
						title="Check ease of use graph"
					%}
					<div class="note">73% of our users think it’s easy to use Check and 27% think Check is difficult to use.</div>					
					{%
	              include stat.html
	              label="New users"
	              number="1247"
	        %}
	        {%
	              include stat.html
	              label="Number of media items created"
	              number="3130"
	        %}
	        {%
	              include stat.html
	              label="Average time to verification"
	              number="~ 2.5 hours"
	        %}
	        {%
	              include stat.html
	              label="Annotations created"
	              number="5023"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Keep</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div>
				<div class="stats">
					{%
	              include stat.html
	              label="Items archived"
	              number="128"
	        %}
	        {%
	              include stat.html
	              label="Items archived and deleted"
	              number="22"
	        %}
	        {%
	              include stat.html
	              label="Teams using screenshots"
	              number="9"
	        %}
	        {%
	              include stat.html
	              label="Teams using archive.is"
	              number="7"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Bridge</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div>
				<div class="stats">
					{%
	              include stat.html
	              label="Translations requested"
	              number="252"
	        %}
	        {%
	              include stat.html
	              label="Translations done with Bridge "
	              number="199"
	              note="May include some testing items"
	        %}
	        {%
	              include stat.html
	              label="Teams using screenshots"
	              number="9"
	        %}
	        {%
	              include stat.html
	              label="Teams using archive.is"
	              number="7"
	        %}
      	</div>
			</div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-in-numbers" 
%}
<section class="content reviews">
	<div class="graphic-wrapper bordered">
		<h2><span>3.</span> What are people saying?</h2>
		{%
			include module_graphic.html
			url="/images/graphic_reviews.png"
			title="in numbers"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="The Shared Living lab explores new ways of designing living spaces in order to tackle common problems that many experience in our new urban realities—including loneliness and the increasing lack of affordable housing."
		%}
		{%
			include module_pull_quote.html
			content="If we had not had Check there as a tool, it would’ve been very difficult to manage that workflow, Having the collaborative aspect of Check as a platform was essential for CrossCheck."
			pullquote_by="Sam Dubberley"
			source="CrossCheck’s Managing Editor on using Check covering the French Elections"
		%}
	</div>
</section>
{% 
	include break.html 
	class="end-reviews" 
%}
<section class="content financials">
	<div class="graphic-wrapper bordered">
		<h2><span>4.</span> Financials</h2>
		{%
			include module_graphic.html
			url="/images/graphic_financials.png"
			title="Financials"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="The demand for affordable housing is a pressing issue for many cities today. And, according to the UN, by 2050, the world’s urban population will have increased by 2.5 billion."
		%}
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Revenue</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div>

				<div class="stats">
					{%
						include module_graphic.html
						url="/images/graph_revenue.png"
						title="in numbers"
					%}					
					{%
	              include stat.html
	              label="Contributions and Grants"
	              number="499K"
	        %}
	        {%
	              include stat.html
	              label="Program service revenue"
	              number="322K"
	        %}
	        {%
	              include stat.html
	              label="Other revenue"
	              number="3.7K"
	        %}
	        {%
	              include stat.html
	              label="Total revenue"
	              number="825K"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Expenditures</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div>
				<div class="stats">
					{%
	              include stat.html
	              label="Total expenditures"
	              number="1.1M"
	        %}
      	</div>
			</div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-financials" 
%}