{% if page.path == 'pages/check.html' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/3tchDIfvfomWMZTm3oWCiY/15583d1eeda2195116792ed187be81c4/edit_P1220469.jpg" />
    <meta property="og:image:secure_url" content="https://images.ctfassets.net/g118h5yoccvd/3tchDIfvfomWMZTm3oWCiY/15583d1eeda2195116792ed187be81c4/edit_P1220469.jpg" />
    <meta property="og:image:alt" content="Using Check" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% elsif page.path == 'pages/about.html' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/2EqDaMwgnabWbXTpzEFgTY/708fb9fd574102d23076dc9daa581722/CheckCon_Beirut.jpg" />
    <meta property="og:image:secure_url" content="https://images.ctfassets.net/g118h5yoccvd/2EqDaMwgnabWbXTpzEFgTY/708fb9fd574102d23076dc9daa581722/CheckCon_Beirut.jpg" />
    <meta property="og:image:alt" content="CheckCon Beirut" />
    <meta property="og:image:width" content="1120" />
    <meta property="og:image:height" content="630" />
{% elsif page.path == 'pages/projects.html' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/3SstSYbDqaReUYS9eeYTOX/3faa0b67fc7ffd9dd270db434e6fb927/edit-4140867.jpg" />
    <meta property="og:image:secure_url" content="https://images.ctfassets.net/g118h5yoccvd/3SstSYbDqaReUYS9eeYTOX/3faa0b67fc7ffd9dd270db434e6fb927/edit-4140867.jpg" />
    <meta property="og:image:alt" content="Meedan at IJF18" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% elsif page.path == 'pages/team.html' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/57MKQF1PQlPP4rbpXqfGcz/5c4683bf8b5e3a8d5bba62d650ca16d0/edit_094A7572.jpg" />
    <meta property="og:image:secure_url" content="http://images.ctfassets.net/g118h5yoccvd/57MKQF1PQlPP4rbpXqfGcz/5c4683bf8b5e3a8d5bba62d650ca16d0/edit_094A7572.jpg" />
    <meta property="og:image:alt" content="Meedan team in Portugal" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% elsif page.path == 'pages/jobs.html' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg" />
    <meta property="og:image:secure_url" content="https://images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg" />
    <meta property="og:image:alt" content="Meedan team" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% elsif page.path contains 'blog/' %}
    <meta property="og:image" content="http:{{ page.lead_image.url }}" />
    <meta property="og:image:secure_url" content="https:{{ page.lead_image.url }}" />
    <meta property="og:image:alt" content="{{ page.title }}" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% endif %}

{% if page.layout == 'front' %}
    <meta property="og:image" content="http://images.ctfassets.net/g118h5yoccvd/2OPYjZpx8wwxprIQSNpA7N/4dd787ff3d2163853cd42dd3e42840ea/ed-in-coldigioco.jpg" />
    <meta property="og:image:secure_url" content="https://images.ctfassets.net/g118h5yoccvd/2OPYjZpx8wwxprIQSNpA7N/4dd787ff3d2163853cd42dd3e42840ea/ed-in-coldigioco.jpg" />
    <meta property="og:image:alt" content="Ed in Coldigioco - Working sessions with Meedan team" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
{% endif %}

{{ page.path | debug }}