
{% if include.data %}
    {% assign contributors = include.data %}
{% else %}
    {% assign contributors = page.words_by.en-US %}
{% endif %}

{% if include.label %}
    {% assign label = include.label %}
{% endif %}

{% for contributor in contributors %}
    {% if forloop.first and label %}
        <span>Written by</span>
    {% endif %}
    {% if contributor.size == 1 %}
        {{ contributor.name.en-US }} 
    {% endif %}
    {% if contributor.size > 1 %}
        {% if forloop.last %}
            {{ contributor.name.en-US | append: "" }} 
        {% else %}
            {{ contributor.name.en-US | append: ", " }} 
        {% endif %}
    {% endif %}
{% endfor %}