---
layout: "default"
slug: "annual-report-2018"
ogp:
og:
description: 'The 2018 Meedan Annual Report'
image:
'': http://meedan.com/images/annual-report/group.jpg
type: image/jpg
width: 2000
height: 1200
locale:
'': en_us
---
<div class="page-body">
<div class="site-wrapper">
  <div class="p-header">
    <div class="p-header-container">
      <h1>2018 Annual Report</h1>
      <h2>
        <p>Meedan designs and develops open source software, leads monitoring projects, produces assessment standards, and conducts trainings in support of global digital journalism, human rights media investigations, and digital media verification.</p>
      </h2>
    </div>
  </div>
  <section class="precontent">
    <div class="nav-wrapper">
      <div class="nav">
        <ul>
          <li><a href="#introduction">CEO's Note</a></li>
          <li><a href="#in-numbers">In Numbers</a></li>
          <li><a href="#reviews">What are people saying</a></li>
          <li><a href="#financials">Financials</a></li>
        </ul>
      </div>
    </div>
    <div class="columns about-report">
      <div class="column-a">
        <p>This Annual Report reflects the state of Meedan and its financial health. Meedan is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
      </div>
      <div class="column-b">
        <!-- clear previous notes -->
        <div class="illustration">
          <img src="//images.ctfassets.net/g118h5yoccvd/6WyFUg4Ms8G2cEcQescK8Y/0d27f795fc6ce7c47ded094e75ed3b4c/graphic_verticals.png" alt="Graphic for verticals" />
        </div>
        <div class="note"></div>
      </div>
    </div>
  </section>
  <!-- Break for first section -->
  <div class="break 
        start-introduction
    " aria-hidden="true">
    <div class="break-wrapper">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </div>
  <section class="content introduction" id="introduction">
    <div class="graphic-wrapper bordered">
      <h2><span>1.</span> CEO's Note</h2>
      <!-- clear previous notes -->
      <div class="illustration">
        <img src="//images.ctfassets.net/g118h5yoccvd/17AvwPbj5s8H60n5GOmadY/302e62f0e0b815029639702807ac63fc/graphic_introduction.png" alt="introduction" />
      </div>
      <div class="note"></div>
    </div>
    <div class="content-wrapper bordered">
      <div class="lead">
        <p>Note on the note: this writing was both human generated and authored two weeks before the release of the news on the non-release of the AINow text generator.</p>
        <p>Friends of Meedan,</p>
        <p>First, thanks for being the sort of friend of Meedan who makes their way to the deep corners of our online documentation and finds this year’s annual note. If it is your first time to visit an annual note, welcome to our creative meander through the year’s work.</p>
        <p>We take a creative approach because the form itself is a bit starchy. This comes both in the expected formulation - breathless optimism overlaid on a ‘here is how we changed the world this year’ plot line, and in fact that as a CEO note, this is one person standing in to represent the work of a global, diverse, and increasingly complex organization.</p>
      </div>
      <div class="columns">
        <div class="column column-a">
          <h3>Having Important Conversations</h3>
        </div>
        <div class="column column-b">
          <p>So, recognizing this challenge, we did a little daydreaming. Could we perhaps write software to programmatically generate the document? We have a corpora of previous years notes for training data, and in 2018, with the generous support of the AI fund, we brought bots into Check. The thinking was that we might just toss our g-docs (9,718) and travel receipts (653), Slack messages (144,661), tweets (too many), posts (not enough), emails (embarrassing, number withheld), conference talks (17), proposals (15) and board packets (4) into Check and set the AnnualNoteBot to work. We imagined the AI might generate a thoughtful, inspiring, and eloquent overview of the wonderful things that happened at Meedan during another arguably awful year for the planet and, particularly, for the digital surface of it that we have devoted our lives and this organization to improving.</p>
          <p>Alas, our end of grant report to the AI Fund will not include any mention of the failed AnnualNoteBot, nor will this note include any algorithmically generated content.</p>
          <p>Instead, it falls to me, with all my human biases deployed, to share with my assessment across the continuing story of this organization. Working on tools and programs supporting human rights investigators, election monitoring, and collaborative media annotation we have put our theory of change into motion with significant and award-winning results. In 2018 our team of 16 and our amazing organizational partners created: election media monitoring projects that pushed the boundaries of rigorous classification and creative memetic response to disinformation (Pop-Up Newsroom); structured data standards that generate machine readable signals from such work and might provide an early model for researching and defining standards that could help to bring a contextual layer of credibility signals to the web (CredCo); and, the open source software that keeps all of this work organized (Check).</p>
          <div class="media">
            <a class="media-link" href="//images.ctfassets.net/g118h5yoccvd/2NabWFbgWeiOXbbnLwq4Oh/960744d255f3936825e462515ec48b25/edit-3070133.jpg?fl=progressive">
              <div class="media-image">
                <img src="//images.ctfassets.net/g118h5yoccvd/2NabWFbgWeiOXbbnLwq4Oh/960744d255f3936825e462515ec48b25/edit-3070133.jpg?fl=progressive" alt="Mexico City 2018" />
              </div>
              <div class="media-caption">
                <div class="media-caption-title">Tom Trewinnard at Verificado</div>
                <div class="media-caption-body">Mexico City 2018</div>
              </div>
            </a>
          </div>
          <p>In the past decade we have had some very successful programs, and certainly these have had impact on policy, spurred new technical approaches to collaborative translation and verification, and powered serious investigative journalism efforts, but in 2018 I think we actually helped change the world. In Mexico, the Verificado team from Animal Politicò, AJ+ Español, and more than 80 media partners had a significant impact on the quality of information flowing through FB, WhatsApp, Twitter, and the interwebs broadly during Mexico’s historic election. This week a Mexican citizen came to me in tears with his thanks for that project - that is impact. It was the beginning of us taking what had been very technical and assessment focused efforts and bridging those to visual, creative, memetic outputs. Verificado cracked the code on high impact collaborative journalism for election monitoring, and perhaps also serves as a point of hope and optimism against the backdrop of a very difficult year for journalism, democracy, and interweb idealism.</p>
          <p>So, with that algorithimically identifiable upnote, on behalf of our 2018 team members - Tom, An, Karim, Caio, Noha, Sawy, Alex, Dani, Wafaa, Uva, Dima, Abdul Rehman, Nat, Dwight - and our great board - Jon, Hanan, Zeynep, Tim, Maria - and the many many partners, volunteers, funders, and fans - thanks for helping us keep this crazy dream of an organization going for another year.</p>
          <p>Abrazos,
            Ed</p>
        </div>
      </div>
      <div class="media">
        <a class="media-link" href="//images.ctfassets.net/g118h5yoccvd/2EtLx6FXTpq0MJxYBZHY71/f07f44e9be4168182c22fdd571187039/edit_CREDCON-SUNDAY-STEVENSNOW-73.jpg?fl=progressive">
          <div class="media-image">
            <img src="//images.ctfassets.net/g118h5yoccvd/2EtLx6FXTpq0MJxYBZHY71/f07f44e9be4168182c22fdd571187039/edit_CREDCON-SUNDAY-STEVENSNOW-73.jpg?fl=progressive" alt="Austin – November 2018" />
          </div>
          <div class="media-caption">
            <div class="media-caption-title">CredCon</div>
            <div class="media-caption-body">Austin – November 2018</div>
          </div>
        </a>
      </div>
      <hr />
      <h2>Program Names</h2>
      <div class="columns">
        <div class="column column-a">
          <h3>Check</h3>
        </div>
        <div class="column column-b">
          <p>Open source technology and programs supporting collaborative verification, election anti-misinformation, fact checking and investigations with partners across Latin America, North America, Europe, Africa, MENA, South and South East Asia.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column column-a">
          <h3>Pop-Up Newsroom</h3>
        </div>
        <div class="column column-b">
          <p>Collaborative initiative co-design and training events (Verificado 2018, Riksdagsvalet 2018, Pop-Up Newsroom: India, Pop-Up Newsroom: Natural Disaster).
            Meedan does this work in collaboration with <a href="http://digdeepermedia.com/">Dig Deeper</a></p>
        </div>
      </div>
      <div class="columns">
        <div class="column column-a">
          <h3>Credibility Coalition</h3>
        </div>
        <div class="column column-b">
          <p>Better standards for online content through rigorous research.
            Meedan does this work in collaboration with Hacks/Hackers.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column column-a">
          <h3>Bridge</h3>
        </div>
        <div class="column column-b">
          <p>Open source infrastructure for humanitarian and crisis response translation.</p>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Geographic areas served</h3>
        </div>
        <div class="column column-b">
          <ul>
            <li>Latin America</li>
            <li>North America</li>
            <li>Europe</li>
            <li>MENA</li>
            <li>East Africa</li>
            <li>South Asia</li>
            <li>South East Asia</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="media">
        <a class="media-link" href="//images.ctfassets.net/g118h5yoccvd/2PHWZPa8dIttpNmLAXLENj/c82ff0b76c300b9baf1c6c9f23150ad3/edit_48015714966_5cb323104a_o.jpg?fl=progressive">
          <div class="media-image">
            <img src="//images.ctfassets.net/g118h5yoccvd/2PHWZPa8dIttpNmLAXLENj/c82ff0b76c300b9baf1c6c9f23150ad3/edit_48015714966_5cb323104a_o.jpg?fl=progressive" alt="Austin – November 2018" />
          </div>
          <div class="media-caption">
            <div class="media-caption-title">CredCon</div>
            <div class="media-caption-body">Austin – November 2018</div>
          </div>
        </a>
      </div>
      <div class="columns">
        <div class="column column-a">
          <h3>Timeline</h3>
        </div>
        <div class="column column-b">
          <p>A timeline of the events that took place and Meedan participated at in 2018!</p>
        </div>
      </div>
      <div class="media">
        <a class="media-link" href="//images.ctfassets.net/g118h5yoccvd/38cUU6ImJlE9GF4uoPXh9L/75e9a191b3b8461fd71e64c8cfe4e43e/Annual-Report_2018_map.png?fl=progressive">
          <div class="media-image">
            <img src="//images.ctfassets.net/g118h5yoccvd/38cUU6ImJlE9GF4uoPXh9L/75e9a191b3b8461fd71e64c8cfe4e43e/Annual-Report_2018_map.png?fl=progressive" alt="These are the places Meedan visited in 2018" />
          </div>
          <div class="media-caption">
            <div class="media-caption-title"></div>
            <div class="media-caption-body">These are the places Meedan visited in 2018</div>
          </div>
        </a>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">01</div>
          <div class="list-wrapper">
            <div class="title">An Xiao Mina attended and presented on the Credibility Coalition at the Global Standards for News Organizations meeting</div>
            <div class="description">
              <p>The Shorenstein Center at Harvard University</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Ed Bice attended and presented on the Credibility Coalition working meetings for the Factful project in New York City hosted by the Open Society Foundation</div>
            <div class="description">
              <p>NY City</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">02</div>
          <div class="list-wrapper">
            <div class="title">Caio Almeida gave a talk about the software stack behind Check at Rubyfuza, a conference about the Ruby programming language</div>
            <div class="description">
              <p>Cape Town, South Africa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list with-note">
          <div class="date">03</div>
          <div class="list-wrapper">
            <div class="title">Daniela Feitosa and Caio Almeida gave a talk about Check at the Chicas Poderosas event at Google Campus in São Paulo, Brazil. During a Hackathon at this event a Check project was used to verify information about candidates. </div>
            <div class="note">
              <p>Later on, this same <a href="//politiquem.com/">project</a> evolved to be used during the actual elections in Brazil.</p>
            </div>
            <div class="description">
              <p>São Paulo, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Tom Trewinnard organized and led a workshop in Mexico City for 100 journalists from across Mexico, to lead training and co-design in collaborative verification and kick off Verificado 2018.</div>
            <div class="description">
              <p>Mexico City</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Wafaa Heikal led workshops at the Internet Freedom Festival in Valencia on verification and translation.</div>
            <div class="description">
              <p>Valencia, Spain</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">04</div>
          <div class="list-wrapper">
            <div class="title">Ed Bice, Tom Trewinnard and An Xiao Mina presented on their work at the International Journalism Festival.</div>
            <div class="description">
              <p>Perugia, Italy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Caio Almeida joined a discussion in "Media Chat" event about fake news - where he presented Check.</div>
            <div class="description">
              <p>Natal, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">05</div>
          <div class="list-wrapper">
            <div class="title">Meedan with the help of Arabic, French and Spanish volunteer translators translated RightsCon.</div>
            <div class="description">
              <p>Toronto, Canada</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Meedan team and partner meeting with friends from Syria Archive, Bad Idea Factory and Moderator</div>
            <div class="description">
              <p>Toronto, Canada</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">06</div>
          <div class="list-wrapper">
            <div class="title">Wafaa Heikal presented on Check at Global Fact V. </div>
            <div class="description">
              <p>Rome, Italy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Caio Almeida gave a talk about Check at Campus Party.</div>
            <div class="description">
              <p>Salvador, Bahia, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">07</div>
          <div class="list-wrapper">
            <div class="title">Ed Bice and Tom Trewinnard in the newsroom for the Verificado project.</div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Meedan hosted (W3C F2F Meeting) the first W3C Credible Web Comunity Group meeting, with representatives from Mozilla, Google, Facebook and Twitter present, along with core members via remote calls and in person.</div>
            <div class="description">
              <p>San Francisco</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Dev team joined the 18° Free Software Internacional Forum and gave two talks: "Microservices Architecture with Ruby On Rails and multiclients with React.js" and another about Check for users.</div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Caio Almeida gave a talk about Check at Campus Party.</div>
            <div class="description">
              <p>Brasília, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Verificado beats out NYTimes and Guardian to win the inaugural OJA (Online Journalism Award) for Large Scale Collaborative Journalism Project .</div>
            <div class="description">
              <p>Austin, TX</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Tom Trewinnard led trainings and the usage of Check tool at Pop-Up Newsroom for the Sweden general election.</div>
            <div class="description">
              <p>Stockholm, Sweden</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Ed Bice presented Verificado and Connie Moon Sehat presented CredCo at TED Truth and Trust in New York.</div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">10</div>
          <div class="list-wrapper">
            <div class="title">Meedan led trainings in Check and verification best practices at the University of Nevada, Reno.</div>
            <div class="description">
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Caio Almeida gave a talk about Check at the Science and Technology National Week.</div>
            <div class="description">
              <p>Governador Mangabeira, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Caio Almeida gave a talk about Check at the Computing Security Meetup.</div>
            <div class="description">
              <p>Salvador, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">With the Credibility Coalition, Meedan presented workshops at MisinfoCon.</div>
            <div class="description">
              <p>London, UK</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">11</div>
          <div class="list-wrapper">
            <div class="title">Pop-Up Newsroom-led Verificado 2018 wins WAN-IFRA LATAM award for Innovation in Engaging Young Audiences at WAN-IFRA LATAM Summit.</div>
            <div class="description">
              <p>Bogota</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Wafaa Heikal presented Bridge at Bread and Net.</div>
            <div class="description">
              <p>Beirut, Lebanon</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Tom Trewinnard and Fergus Bell led Pop-Up Newsroom workshops to co-design a collaboration around misinformation and the 2019 Indian elections.</div>
            <div class="description">
              <p>Delhi, India</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Members of Meedan's engineering, design and product teams converged for a team retreat and, with the Credibility Coalition, led workshops, presentations and hacking sessions at CredCon.</div>
            <div class="description">
              <p>Austin, Texas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="list">
          <div class="date">12</div>
          <div class="list-wrapper">
            <div class="title">Caio Almeida joined a discussion about democracy and technology where he talked about Check for election monitoring.</div>
            <div class="description">
              <p>Federal University of Bahia, Brazil</p>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="sub-list">
          <div class="list-wrapper">
            <div class="title">Dwight Knell presented on Pop-Up Newsroom at Rebuilding Trust In Information Ecosystems.</div>
            <div class="description">
              <p>New York</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Break sections -->
  <div class="break 
        end-introduction
    " aria-hidden="true">
    <div class="break-wrapper">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </div>
  <!-- Break for first section -->
  <section class="content in-numbers" id="in-numbers">
    <div class="graphic-wrapper bordered">
      <h2><span>2.</span> In Numbers</h2>
      <!-- clear previous notes -->
      <div class="illustration">
        <img src="//images.ctfassets.net/g118h5yoccvd/3WTYK4Df66wgD5UQ5H43FP/996ca11cb96e98af98b42a04c50a3de1/graphic_in-numbers.png" alt="in-numbers" />
      </div>
      <div class="note"></div>
    </div>
    <div class="content-wrapper bordered">
      <div class="lead">
        <p>Here are some important numbers that show how our year went:</p>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Check</h3>
          <img src="//images.ctfassets.net/g118h5yoccvd/PjY3XCvyk27TBjrQLKTJC/bf861a45f1878d972a3b807d9fd21e9f/check.svg" alt="Check" width="100px" />
        </div>
        <div class="column column-b">
          <div class="intro" id="check-combines-smart-checklists-workflow-integrations-and-intuitive-design-to-make-digital-newsgathering-an-efficient-and-collaborative-process-invite-your-team-and-online-community-in-a-secure-environment-to-work-together-to-validate-breaking-news-content-then-quickly-show-the-work-to-your-audience-on-social-media-or-your-news-site"><a href="//meedan.com/en/check/">Check</a> combines smart checklists, workflow integrations, and intuitive design to make digital newsgathering an efficient and collaborative process. Invite your team and online community in a secure environment to work together to validate breaking news content. Then, quickly show the work to your audience on social media or your news site.</div>
          <hr />
          <h3 id="list-of-top-things-added-to-check-in-2018">List of top things added to Check in 2018</h3>
          <ul>
            <li>Check localization to Spanish</li>
            <li>Schema.org’s ClaimReview schema to extract structured data from articles.</li>
            <li>Items and tasks assignments to users. Displaying progress of assignments per each team member to owners.</li>
            <li>Items relationships and locking statuses.</li>
            <li>Check bot for Slack workspaces.</li>
            <li>Bot Garden to enable third party AIs/bots into workflows.</li>
            <li>Users to delete their own accounts.</li>
          </ul>
          <!-- clear previous notes -->
          <div class="illustration">
            <img src="//images.ctfassets.net/g118h5yoccvd/7gg14VNE7kmK8XTFsBq39m/c80f970ece43726b71fa63e2155c9548/Check_NPS_Score_2019.png" alt="in-numbers" />
          </div>
          <div class="stats">
            <div class="stat with-note">
              <div class="label">NPS</div>
              <div class="number">89</div>
            </div>
            <div class="note">Net Promoter Score - the industry standard for measuring product quality (This is very good NPS score - go team!)</div>
            <div class="stat">
              <div class="label">New Users</div>
              <div class="number">1409</div>
            </div>
            <div class="stat with-note">
              <div class="label">Number of items created</div>
              <div class="number">16139</div>
            </div>
            <div class="note">(This number may include some testing data)</div>
            <div class="stat">
              <div class="label">Annotations</div>
              <div class="number">446,074</div>
            </div>
            <div class="stat with-note">
              <div class="label">BOTs Created </div>
              <div class="number">3 </div>
            </div>
            <div class="note">Bot garden is now released and available, with 3 key bots:
              Keep, a tool for sending items to archive.org automatically
              Smooch, which receives data from Smooch, a tool for handling users submissions to and from the WhatsApp Business API
              Alegre, which automatically identifies the language of a received item, allowing the user to filter and sort by language.
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Keep</h3>
        </div>
        <div class="column column-b">
          <div class="intro" id="keep-works-as-a-backup-platform-for-links-added-online-if-a-media-item-is-added-to-check-with-a-link-with-keep-enabled-a-copy-of-the-link-is-added-to-keep-so-that-there-is-always-a-backup-link-in-case-that-the-original-goes-down-or-gets-removed-at-any-point-in-time">Keep works as a backup platform for links added online. If a media item is added to Check with a link, with Keep enabled, a copy of the link is added to Keep so that there is always a backup link in case that the original goes down or gets removed at any point in time.</div>
          <div class="stats">
            <div class="stat">
              <div class="label">Items archived</div>
              <div class="number">19156</div>
            </div>
            <div class="stat">
              <div class="label">Unique Items Archived</div>
              <div class="number">8479</div>
            </div>
            <div class="stat">
              <div class="label">Items archived and deleted</div>
              <div class="number">2664</div>
            </div>
            <div class="stat">
              <div class="label">Number of teams with Archive.is</div>
              <div class="number">36</div>
            </div>
            <div class="stat">
              <div class="label">Items archived on Archive.is</div>
              <div class="number">8644</div>
            </div>
            <div class="stat with-note">
              <div class="label">Number of teams with Archive.org</div>
              <div class="number">36</div>
            </div>
            <div class="note">(went up from 2 teams in 2107)</div>
            <div class="stat">
              <div class="label">Items Archived on Archive.org</div>
              <div class="number">6290</div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Bridge</h3>
          <img src="//images.ctfassets.net/g118h5yoccvd/73Sp2Ab2ltcNdohfflUFVO/19cb09edca959c690d56d01a734549ed/bridge.svg" alt="Bridge" width="100px" />
        </div>
        <div class="column column-b">
          <div class="intro" id="bridge-helps-communities-translate-annotate-share-and-source-the-most-compelling-global-content-on-social-media-starting-with-a-pilot-with-the-national-geographic-society-and-pulitzer-prize-winning-journalist-paul-salopeks-out-of-eden-walk-project-the-product-aims-to-support-a-team-of-translators-with-tools-like-glossaries-and-translation-memories"><a href="//meedan.com/en/bridge/">Bridge</a> helps communities translate, annotate, share, and source the most compelling global content on social media. Starting with a pilot with the National Geographic Society and Pulitzer Prize-winning journalist Paul Salopek’s Out of Eden Walk project, the product aims to support a team of translators with tools like glossaries and translation memories.</div>
          <!-- clear previous notes -->
          <div class="illustration">
            <img src="//images.ctfassets.net/g118h5yoccvd/5KvYmhwLk82HEixycbgKOs/9e648b89109de1d144b6bdadf79e1b71/Bridge_NPS_score_2019.png" alt="in-numbers" />
          </div>
          <div class="stats">
            <div class="stat with-note">
              <div class="label">NPS</div>
              <div class="number">100</div>
            </div>
            <div class="note">(NPS went up from 75 last year)</div>
            <div class="stat with-note">
              <div class="label">Translations requested</div>
              <div class="number">1067</div>
            </div>
            <div class="note">This number may include testing data</div>
            <div class="stat">
              <div class="label">Actual Translations Added</div>
              <div class="number">927</div>
            </div>
            <div class="stat">
              <div class="label">Average time to completed translation</div>
              <div class="number">~ 2 hours</div>
            </div>
            <div class="stat">
              <div class="label">Number of new users</div>
              <div class="number">46</div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Credibility Coalition</h3>
          <img src="//images.ctfassets.net/g118h5yoccvd/sRblN5EDafSY1FojI1pl4/92e1ad0a3e1d9fe122c0d6e2da1573c6/Screen_Shot_2019-07-31_at_9.43.55_PM.png" alt="Credibility Coalition" width="100px" />
        </div>
        <div class="column column-b">
          <div class="intro" id="credibility-coalition-is-an-interdisciplinary-community-committed-to-improving-information-ecosystems-and-media-literacy-through-transparent-and-collaborative-exploration"><a href="//credibilitycoalition.org">Credibility Coalition</a> is an interdisciplinary community committed to improving information ecosystems and media literacy through transparent and collaborative exploration.</div>
          <div class="stats">
            <div class="stat">
              <div class="label">Articles Annotated</div>
              <div class="number">5168</div>
            </div>
            <div class="stat with-note">
              <div class="label">Annotations submitted</div>
              <div class="number">71802</div>
            </div>
            <div class="note">annotations of hyper-partisan media using CredCo indicator set</div>
            <div class="stat">
              <div class="label">Average time to annotating an article</div>
              <div class="number">~ 11 days</div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Break sections -->
  <div class="break 
        end-in-numbers
    " aria-hidden="true">
    <div class="break-wrapper">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </div>
  <!-- Break for first section -->
  <section class="content reviews" id="reviews">
    <div class="graphic-wrapper bordered">
      <h2><span>3.</span> What are people saying</h2>
      <!-- clear previous notes -->
      <div class="illustration">
        <img src="//images.ctfassets.net/g118h5yoccvd/rRO9AYJXogavf7PCMkbkB/23e03665c5f494657a2bd8f3378ce59b/graphic_reviews.png" alt="reviews" />
      </div>
      <div class="note"></div>
    </div>
    <div class="content-wrapper bordered">
      <div class="lead">
        <p>We are humbled by these quotes from our partners using Meedan’s tools in 2018.</p>
      </div>
      <div class="grouped-column">
        <div class="grouped-column-content pullquote">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="33" viewBox="0 0 48 33">
            <path fill="#A7A7A7" d="M347.190476,1337 L357.190476,1337 L363.857143,1323.8 L363.857143,1304 L343.857143,1304 L343.857143,1323.8 L353.857143,1323.8 L347.190476,1337 Z M374.190476,1337 L384.190476,1337 L390.857143,1323.8 L390.857143,1304 L370.857143,1304 L370.857143,1323.8 L380.857143,1323.8 L374.190476,1337 Z" transform="rotate(180 195.5 668.5)" />
          </svg>
          <p>Una herramienta para hacer verificaciones en equipo: es posible administrarlas, ver el estatus, no duplicar esfuerzos y en días de elección, por ejemplo, ayuda mucho a coordinar una redacción.</p>
          <span class="translation-language">English</span>
          <span class="translation">
            <p>A tool for team verification: It’s possible to manage verification, see a status, not duplicate efforts on election days and, for example, coordinate a newsroom.</p>
          </span>
          <span class="by">Daniela Méndez</span>
          <span class="source">member of Verificado team on using Check covering the Mexican election</span>
        </div>
      </div>
      <div class="grouped-column">
        <div class="grouped-column-content pullquote">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="33" viewBox="0 0 48 33">
            <path fill="#A7A7A7" d="M347.190476,1337 L357.190476,1337 L363.857143,1323.8 L363.857143,1304 L343.857143,1304 L343.857143,1323.8 L353.857143,1323.8 L347.190476,1337 Z M374.190476,1337 L384.190476,1337 L390.857143,1323.8 L390.857143,1304 L370.857143,1304 L370.857143,1323.8 L380.857143,1323.8 L374.190476,1337 Z" transform="rotate(180 195.5 668.5)" />
          </svg>
          <p>Check is easy to use and the learning curve isn’t difficult, it helps break down the way you verify and fact-check stories or claims.</p>
          <span class="translation-language"></span>
          <span class="translation">
          </span>
          <span class="by">Sean Ndlovu</span>
          <span class="source">from Centre for Innovation & Technology on using Check covering Zimbabwe election</span>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Press</h3>
        </div>
        <div class="column column-b">
          <p>Stories covering Meedan’s work in 2018.</p>
        </div>
      </div>
      <div class="cards">
        <div class="card-wrapper">
          <a href="//www.poynter.org/fact-checking/2018/16-ways-to-debunk-hoaxes-on-whatsapp/" title="Then use digital forensics tools like InVid and TinEye, as well as workflow solutions like Trello and Meedan’s Check platform, to verify or debunk them.">
            <div class="card since images, memes and videos are some of the most popular pieces of content that circulate on whatsapp, use the platform’s desktop version to receive potential hoaxes.">
              <div class="card-text">
                <h3 class="title">
                  Since images, memes and videos are some of the most popular pieces of content that circulate on WhatsApp, use the platform’s desktop version to receive potential hoaxes.
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">Then use digital forensics tools like InVid and TinEye, as well as workflow solutions like Trello and Meedan’s Check platform, to verify or debunk them.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/39NYZGRTtXpEwVihA77c8N/9d63cdd006c1badbfbe36eaa4a8fa5d0/poynter-logo-black.png)"></div>
            </div>
          </a>
        </div>
        <div class="card-wrapper">
          <a href="//www.latimes.com/world/la-fg-mexico-fake-news-20180415-story.html" title="Which led similar efforts to fact-check, verify and debunk claims made during the last U.S. election and in France's 2017 presidential campaign. 
About 70 other media outlets, including some of #Mexico's most-read newspapers, have signed on to distribute the content.">
            <div class="card the platform was forged by two news websites — mexico's animal político and aj+ — and an organization called #popupnewsroom">
              <div class="card-text">
                <h3 class="title">
                  The platform was forged by two news websites — Mexico's Animal Político and AJ+ — and an organization called #PopUpNewsroom
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">Which led similar efforts to fact-check, verify and debunk claims made during the last U.S. election and in France's 2017 presidential campaign.
                  About 70 other media outlets, including some of #Mexico's most-read newspapers, have signed on to distribute the content.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/2vCqKofGv0YFudPzEQDK1Q/2cb84073ba4622a388b81098f2a82ea9/Los_Ang_Times.png)"></div>
            </div>
          </a>
        </div>
        <div class="card-wrapper">
          <div class="card for its part, the meedan team in brazil, made up of developers daniela feitosa and caio almeida, explained the use and operation of check">
            <div class="card-text">
              <h3 class="title">
                For its part, the Meedan team in Brazil, made up of developers Daniela Feitosa and Caio Almeida, explained the use and operation of Check
                <!-- Show date only when needed -->
              </h3>
              <p class="description">A platform that allows the structuring the information for the fact-checking process and customizes it according to the needs of each team.</p>
            </div>
            <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/4il3TWeUMNX2KCsIdi876X/a0d25c2be76556716bc74af6c3c3248a/ChicasLogo_global_fullB.png)"></div>
          </div>
        </div>
        <div class="card-wrapper">
          <a href="//medium.com/@edbice/montage-open-source-video-annotation-at-meedan-743f9dea849" title="Those historians of open source video tagging and investigation software among our readers will recognize the project as one of the first efforts developed by the team at Jigsaw and will know it has been housed over the past few years at Storyful.">
            <div class="card it is with a great deal of enthusiasm we share the news that meedan will be releasing our third major open source product, montage, and with this our first formal partnership with the good people behind the bad idea factory.">
              <div class="card-text">
                <h3 class="title">
                  It is with a great deal of enthusiasm we share the news that Meedan will be releasing our third major open source product, Montage, and with this our first formal partnership with the Good People behind the Bad Idea Factory.
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">Those historians of open source video tagging and investigation software among our readers will recognize the project as one of the first efforts developed by the team at Jigsaw and will know it has been housed over the past few years at Storyful.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/6FYqLC8tR6wcwisaSGgISs/c9b6ca743501769ded989b10428c4daf/lab-logo-color-tighter.svg)"></div>
            </div>
          </a>
        </div>
        <div class="card-wrapper">
          <a href="//www.bbc.com/news/technology-44397484" title="" Mexico has a long history of social network manipulation that goes way back," said Tom Trewinnard, director of programmes at media firm Meedan which helped to run a project to combat fake news and disinformation in the country called Verificado.">
            <div class="card how to take the fakes out of politics">
              <div class="card-text">
                <h3 class="title">
                  How to take the fakes out of politics
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">"Mexico has a long history of social network manipulation that goes way back," said Tom Trewinnard, director of programmes at media firm Meedan which helped to run a project to combat fake news and disinformation in the country called Verificado.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/5VFNI7V8vAOiHGvY0UkuI1/3171c0b087b9e34645eefbf444f708ad/BBC.png)"></div>
            </div>
          </a>
        </div>
        <div class="card-wrapper">
          <a href="//theconversation.com/a-pop-up-newsroom-to-fight-fake-news-a-view-from-swedish-elections-103107" title="Combining their professional aspirations, news values, and digital capabilities these students found pathways to productively deal with journalistic challenges in a real-time environment at an important political moment in Sweden.">
            <div class="card learning to use generic and customised digital tools such as check, a collaborative verification platform, krzana a real-time search engine, slack and tweetdeck, they became the engine of the pop-up newsroom.">
              <div class="card-text">
                <h3 class="title">
                  Learning to use generic and customised digital tools such as Check, a collaborative verification platform, Krzana a real-time search engine, Slack and TweetDeck, they became the engine of the pop-up newsroom.
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">Combining their professional aspirations, news values, and digital capabilities these students found pathways to productively deal with journalistic challenges in a real-time environment at an important political moment in Sweden.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/7mP06tJ2g7ZQGTUnMYEjck/d4802bc7ca1e6e0d3c8bcade55b8d8a5/The-Conversation.png)"></div>
            </div>
          </a>
        </div>
        <div class="card-wrapper">
          <a href="http://www.lavanguardia.com/local/valencia/20180309/441380137265/internet-freedom-festival-fake-news-google-valencia.html" title="“Lo que hacemos nosotros es muy importante, y más en los países en los que las libertades están amenazadas de verdad. Desgraciadamente, estas iniciativas necesitan dinero y la mayor parte de los fondos se quedan en EEUU y Europa. A África, Latinoamérica, el sudeste asiático… llega muy poco”, lamenta.">
            <div class="card su ong nació en 2006 pero la gran explosión de las fake news es de hace unos años. ">
              <div class="card-text">
                <h3 class="title">
                  Su ONG nació en 2006 pero la gran explosión de las fake news es de hace unos años.
                  <!-- Show date only when needed -->
                </h3>
                <p class="description">“Lo que hacemos nosotros es muy importante, y más en los países en los que las libertades están amenazadas de verdad. Desgraciadamente, estas iniciativas necesitan dinero y la mayor parte de los fondos se quedan en EEUU y Europa. A África, Latinoamérica, el sudeste asiático… llega muy poco”, lamenta.</p>
              </div>
              <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/oB40WRKlxJ08pAFYFRMBN/16b119bf6e39d5c5c08daba350de2784/unnamed.png)"></div>
            </div>
          </a>
        </div>
      </div>
  </section>
  <!-- Break sections -->
  <div class="break 
        end-reviews
    " aria-hidden="true">
    <div class="break-wrapper">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </div>
  <!-- Break for first section -->
  <section class="content financials" id="financials">
    <div class="graphic-wrapper bordered">
      <h2><span>4.</span> Financials</h2>
      <!-- clear previous notes -->
      <div class="illustration">
        <img src="//images.ctfassets.net/g118h5yoccvd/6T0FGs8pMKFn8511aYNzHd/37818d9484c01af586ba26261c7ebce5/graphic_financials.png" alt="financials" />
      </div>
      <div class="note"></div>
    </div>
    <div class="content-wrapper bordered">
      <div class="lead">
        <p>We are pleased to share our financial report for 2018.</p>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Revenue</h3>
        </div>
        <div class="column column-b">
          <!-- clear previous notes -->
          <div class="illustration">
            <img src="//images.ctfassets.net/g118h5yoccvd/3DB60SrnpWUTyGRzfHwOsV/b51f1f72db8e14d01fad8d7337392c4b/Meedan_2019_financials_graphic.png" alt="financials" />
          </div>
          <div class="stats">
            <div class="stat">
              <div class="label">Contributions and Grants</div>
              <div class="number">$1,603,322</div>
            </div>
            <div class="stat">
              <div class="label">Program service revenue</div>
              <div class="number">$167,878</div>
            </div>
            <div class="stat">
              <div class="label">Other revenue</div>
              <div class="number">$21,989</div>
            </div>
            <div class="stat">
              <div class="label">Total revenue</div>
              <div class="number">$1,793,196</div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="columns">
        <div class="column column-a">
          <h3>Expenditures</h3>
        </div>
        <div class="column column-b">
          <div class="stats">
            <div class="stat">
              <div class="label">Total expenditures</div>
              <div class="number"> $1,338,172</div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Break sections -->
  <div class="break 
        end-financials
    " aria-hidden="true">
    <div class="break-wrapper">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </div>
  <section class="footer">
    <div class="content-wrapper">
      <div class="board">
        <span>Board of Directors</span>
        <ul>
          <li>Ed Bice (Board Chair)</li>
          <li>Jon Corshen</li>
          <li>Hanan Heikal</li>
          <li>Tim Hwang</li>
          <li>Zeynep Tufecki</li>
          <li>Maria Ressa</li>
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="about">
        <span>Meedan</span>
        <ul>
          <li>1355 Market, Suite 488</li>
          <li>San Francisco, CA 94103</li>
          <li>United States</li>
          <li><a href="mailto:hello@meedan.com">hello@meedan.com</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li><span>Follow Us</span></li>
          <li><a href="//github.com/Meedan">Github</a></li>
          <li><a href="//medium.com/@meedan">Medium</a></li>
          <li><a href="//twitter.com/meedan">Twitter</a></li>
          <li><a href="//www.facebook.com/pages/Meedan/54421674438">Facebook</a></li>
        </ul>
      </div>
      <div class="other-year">
        <span>Other Years</span>
        <ul>
          <li><a href="//meedan.com/2017-annual-report/">2017</a></li>
          <li><a href="//meedan.com/2016-annual-report/">2016</a></li>
          <li><a href="//meedan.com/2015-annual-report/">2015</a></li>
          <li><a href="//meedan.com/2014-annual-report/">2014</a></li>
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="donate">
        <span>Donate</span>
        <ul>
          <li>Support Meedan in building world class tools for journalists, human rights investigators, citizen journalists and translators.</li>
          <li><a href="//donorbox.org/support-meedan">Become a Meedan Supporter</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/2018-annual-report/js/libs/slick/slick.min.js"></script>
<script type="text/javascript" src="/2018-annual-report/js/main.js"></script>
</div>

