.module-story-grid .module-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-4);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

@include responsive('min-width: #{$width-tablet}') {
    .grid-template-columns--2 .module-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-template-columns--3 .module-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

.module-story-grid .section-title {
    margin-bottom: var(--space-2);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: var(--scale-1);
}

.story-grid-item {
    .tag {
        font-size: var(--scale-1);
        @include responsive('min-width: #{$width-desktop}') {
            font-size: var(--scale-0);
        }
    }
    .title {
        font-size: var(--scale-2);
    }
    .image-container.landscape {
        margin: var(--space-1) var(--space-2) var(--space-1);
        @include responsive('min-width: #{$width-wide}') {
            margin: var(--space-3) var(--space-6) var(--space-2);
        }
    }
    .image-container.portrait {
        margin: var(--space-1) var(--space-4) var(--space-1);
        @include responsive('min-width: #{$width-wide}') {
            margin: var(--space-3) var(--space-8) var(--space-2);
        }
    }
}

.grid-template-columns--3 {
    .tag {
        font-size: var(--scale-0);
    }
    .title {
        font-size: var(--scale-1);
    }
    @include responsive('min-width: #{$width-desktop}') {
        .image-container {
            min-height: 20rem;
        }
    }
    .image-container.landscape {
        margin: var(--space-1) var(--space-2) var(--space-1);
    }
    .image-container.portrait {
        margin: var(--space-1) var(--space-4) var(--space-1);
    }
}

.story header {
    .tag {
        font-size: var(--scale-1);
    }
    .title {
        font-size: var(--scale-3);
    }
}

.with-more-link {
    display: flex;
    flex-direction: column;
    .trail-wrapper {
        margin-top: var(--space-4);
        text-align: right;
        span {
            width: 80%;
        }    
    }
}


// Story page

.story,
.blog {
    background-color: var(--accent);
    a {
        color: var(--blackInk);
    }
}

.story .title-container {
    margin-top: var(--space-5);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.ar.story header .title-container {
    padding-right: var(--space-3);
    padding-left: var(--space-3);
}

.grid-template-columns--3 .title-container {
    margin-top: var(--space-1);
    padding-left: 0;
    padding-right: 0;
}

.story-wrapper {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: var(--scale-0);
    line-height: 1.275;
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: var(--space-2);
    }
    > p,
    a,
    ul,
    ol,
    h2,
    h3,
    h4,
    .u-responsive-ratio {
        color: var(--blackInk);
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 2/12;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 3/11;
        }
    }
    > p,
    > ul,
    > ol {
        margin-bottom: var(--space-3);
    }
    > p:first-child {
        font-size: var(--scale-1);
        margin-bottom: var(--space-4);
        @include responsive('min-width: #{$width-tablet}') {
            margin-bottom: var(--space-2);
            grid-column: 1/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            margin-bottom: var(--space-6);
            grid-column: 2/12;
        }
    }
    img, 
    blockquote {
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 1/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 2/12;
        }
    }
    em {
        font-family: 'Times New Roman', 'Times', serif;
    }
    strong {
        font-family: $font-stack-mono;
    }
}

.story-wrapper blockquote {
    position: relative;
    font-size: var(--scale-1);
    margin-top: var(--space-2);
    margin-bottom: var(--space-4);
    padding-left: var(--space-1);
    border-left: 2px solid var(--blackInk);
    p {
        margin-bottom: 0;
    }
}

.page-wrapper .story-wrapper h2 {
    font-size: var(--scale-3);
    margin-bottom: var(--space-1);
}

.page-wrapper .story-wrapper h3 {
    font-size: var(--scale-2);
    margin-bottom: var(--space-1);
}

.story .page-wrapper .graphic {
    text-align: center;
    @include responsive('min-width: #{$width-tablet}') {
        text-align: unset;
        .lead_image {
            max-height: 40vw;
        }
    }
}

.story-wrapper ul,
.story-wrapper ol {
    margin-left: var(--space-4);
    li {
        padding-left: var(--space-1);
        margin-bottom: var(--space-1);
    }
}

.story-wrapper h4 {
    font-size: var(--scale-0);
    font-weight: 700;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    margin-top: var(--space-2);
    margin-bottom: var(--space-1);
    font-family: $font-stack-mono;
}

.story-footer {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: var(--scale-0);
    line-height: 1.2;
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: var(--space-2);
    }
    .story-footer-item {
        span {
            display: block;
        }
    }
}

.story-sidebar {
    grid-column: 1/4;
    margin-bottom: var(--space-6);
}

.module-related {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    .section-title {
        border-top: 1px solid var(--blackInk);
        padding-top: var(--space-4);
        padding-left: 0;
        padding-right: 0;
    }
    .module-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .trail-wrapper {
        margin-top: var(--space-3);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
            width: 20rem;
        }
    }
}

.story p.caption,
.story figcaption {
    font-size: 1rem;
    margin-top: calc(-1 * var(--space-1)) ;
}

.story figcaption {
    text-align: center;
}

.story .translations {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: var(--scale-0);
    line-height: 1.275;
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: var(--space-2);
    }
    text-align: center;
    ul {
        list-style-type: none;
        li {
            padding-bottom: var(--space-1);
        }
        li.ar {
            font-family: 'Tajawal', sans-serif;
        }
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 2/12;
        }
    }
}

// Adjustments for Arabic text 
.ar header .title-container {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

.ar .story-wrapper {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    strong {
        font-family: 'Tajawal', sans-serif;
    }
    ul,
    ol {
        margin-right: var(--space-4);
        li {
            padding-right: var(--space-1);
            margin-bottom: var(--space-1);
        }
    }
}