a.button {
    display: inline-block;
    font-size: var(--scale-0);
    color: var(--blackInk);
    text-decoration: none;
    background-color: #fff;
    padding: var(--space-1);
    // margin-top: var(--space-3);
    // margin-bottom: var(--space-5);
    border: 1px solid var(--blackInk);
    &:hover {
        background-color: var(--blackInk);
        color: var(--sunDown);
    }
}

a.button:not(.no-margin) {
    margin-top: var(--space-3);
    margin-bottom: var(--space-5);
}

a.button.no-bottom-margin {
    margin-bottom: 0;
}

a.transparent {
    background-color: transparent;
    border-color: inherit;
}

.dark a.button:hover {
    background-color: var(--sunDown);
    color: var(--blackInk);
}

.trail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
    .button {
        margin: 0;
    }
    hr {
        flex: 1 auto;
        color: var(--blackInk);
        border-style: solid;
        margin-right: var(--space-1);
    }
}

a.button.with-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: var(--space-1);
    }
}

.dark .trail hr { color: #fff }

a.big-button {
    cursor: pointer;
    img {
        transform: scale(0.8) rotate(45deg);
        transition: all 0.2s ease-out;
        &:hover {
            transform: scale(0.9) rotate(0deg);
            svg {
                fill: var(--sunDown);
            }
        }
    }
}


a.cta-button {
    display: block;
    text-decoration: none;
    padding: 1rem var(--space-1);
    position: relative;
    color: inherit;
    border: 1px solid var(--blackInk);
    .action-tag {
        font-family: $font-stack;
        font-size: 0.778rem;
        font-weight: 700;
        letter-spacing: 0.044rem;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
    }
    span {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
    }
    &:hover {
        border-color: #fff;
        background-color: #fff;
        color: var(--blackInk);
    }
}

.dark a.cta-button {
    border-color: var(--sunDown);
    &:hover {
        border-color: #fff;
    }
}