.module-calendar {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.module-calendar .section-title {
    a { font-size: var(--scale-3); }
    padding-bottom: var(--space-2);
    margin-bottom: var(--space-2);
    border-bottom: 1px solid var(--blackInk);
    text-align: center;
}

.events .section-title {
    text-align: left;
}

.event-item {
    .month {
        font-size: var(--scale-0);
    }

    .day {
        display: block;
        font-family: $font-stack-mono;
        font-size: var(--scale-4);
        font-weight: 300;
    }
    
}

.event-item-wide {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: var(--space-2);
    @include responsive('min-width: #{$width-tablet}') {
        grid-template-columns: repeat(3, 1fr);
    }
    &:not(:first-child) {
        padding-top: var(--space-2);
    }
    padding-bottom: var(--space-4);
    &:not(:last-child) {
        border-bottom: 1px solid var(--blackInk);
    }
    
    &.event-item-1 {
        @include responsive('min-width: #{$width-tablet}') {
            grid-template-rows: auto 1fr;
        }
    }

    .details {
        grid-column: 2/4;
    }

    &.event-item-1 .details {
        grid-row: 2/3;
    }
}

.event-meta {
    margin-top: var(--scale-2);
    font-size: var(--scale-0);
    span:not(:last-child) {
        margin-right: var(--scale-2);
    }
}

.event-image-grid {
    margin-top: var(--space-4);
    @include responsive('min-width: #{$width-tablet}') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--space-2);
    }
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    figcaption {
        margin-top: 0;
        text-align: left;
    }
}

.time {
    font-size: var(--scale-0);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.time ul {
    list-style-type: none;
}

.time ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-2);
    padding-top: var(--space-0);
    border-bottom: 1px solid var(--blackInk);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}

.time ul li em {
    font-style: normal;
}

.module-past-events {
    opacity: 0.5;
}

.module-featured {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.module-featured  .section-title {
    margin-bottom: var(--space-2);
    font-size: var(--scale-1);
}

.event-item-featured {
    grid-template-columns: 1fr;
    @include responsive('min-width: #{$width-tablet}') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.event-item-featured .details {
    grid-column: 1/1;
    @include responsive('min-width: #{$width-tablet}') {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .event-title-wrapper {
        margin-top: var(--space-4);
    }
    .event-title {
        font-size: var(--scale-2);
    }
    .event-meta span {
        display: block;
    }
}

.module-featured-2 .module-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive('min-width: #{$width-tablet}') {
        grid-template-columns: repeat(4, 1fr);
    }
    grid-gap: var(--space-2);
}

.event-item-half {
    display: grid;
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }
    grid-gap: var(--space-2);
    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        .image-container {
            order: -1;
        }
    }
}