.checklist {
    a { color: var(--blackInk) }
}

.module-checklist {
    p {
        font-size: var(--scale-2);
        margin-bottom: 0;
    }
    &.dark {
        color: #fff;
    }
    .button {
        margin-top: var(--space-1);
        margin-bottom: 0;
    }
    .subtitle {
        display: none;
        font-size: var(--scale-4);
        @include responsive('min-width: #{$width-tablet}') {
            display: block;
        }
    }
    &:hover {
        input, button {
            background-color: rgba(#fff, 0.2);
            border-bottom: 1px solid var(--coral);
        }
    }
}

form.checklist-signup {
    display: flex;
    align-items: center;
    label {
        flex: 1 auto;
        span { display: none; }
    }
    input {
        display: block;
        border: 0;
        border-bottom: 1px solid var(--blackInk);
        margin: 0;
        padding-left: var(--scale-1);
        line-height: var(--scale-4);
        height: var(--scale-4);
        outline: 0;
        width: 100%;
        background-color: transparent;
        color: var(--blackInk);
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--blackInk);
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: var(--blackInk);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: var(--blackInk);
        }
    }
    button {
        background: none;
        border: 0 none;
        height: var(--scale-4);
        padding-left: var(--space-1);
        padding-right: var(--space-1);
        border-bottom: 1px solid var(--blackInk);
        cursor: pointer;
        color: var(--blackInk);
        &:hover {
            background-color: var(--sunDown);
            color: var(--blackInk);
        }
    }
}


form.checklist-signup.dark {
    input {
        border-bottom: 1px solid #fff;
        color: #fff;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
        }
    }
    button { 
        border-bottom: 1px solid #fff;
        color: #fff;
        &:hover {
            background-color: var(--sunDown);
            color: var(--blackInk);
        }
    }
}