$black: #262626;
$g0: #E5E5E5;
$g1: #A7A7A7;
$g2: #D4D4D4;
$green: #008D5E;

$white: #fff;
$check-blue: #3073fd;
// Colors with alpha channel
//
$black-02: rgba($black, .02);
$black-05: rgba($black, .05);
$black-08: rgba($black, .08);
$black-16: rgba($black, .16);
$black-38: rgba($black, .38);
$black-54: rgba($black, .54);
$black-87: rgba($black, .87);
$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-50: rgba($white, .5);
$white-70: rgba($white, .7);