.module-tabs-donate .slick-initialized {


    .tab {
        color: var(--sunDown);
        border-color: var(--sunDown);
        padding-left: var(--space-1);
        display: flex;
        align-items: center;
        &:hover {
            border-bottom-color: $active-tab-color;
            color: $active-tab-color;
            background-color: rgba(#000, 0.2);
        }

        &.active-tab {
            border-bottom-width: 8px;
            border-bottom-color: $active-tab-color;
            color: $active-tab-color;
            background-color: rgba(#000, 0.5);
        }
    }

    .single {
        &:hover {
            color: var(--coral);
            border-bottom-color: var(--coral);
        }
        &.active-tab {
            border-bottom-color: var(--coral);
            color: var(--coral);
        }
    }

    .monthly {
        &:hover {
            color: var(--lightNavy);
            border-bottom-color: var(--lightNavy);
        }
        &.active-tab {
            border-bottom-color: var(--lightNavy);
            color: var(--lightNavy);
        }
    }

    .annual {
        &:hover {
            color: var(--deepSea);
            border-bottom-color: var(--deepSea);
        }
        &.active-tab {
            border-bottom-color: var(--deepSea);
            color: var(--deepSea);
        }
    }

    h4 {
        color: var(--sunDown);
    }

    .tab-text {
        padding-left: 0;
        padding-bottom: 0;
        @include responsive('min-width: #{$width-tablet}') {
            height: 60vw;
        }
        @include responsive('min-width: #{$width-desktop}') {
            height: 45vw;
        }
    }

    .tab-image img {
        height: 60vw;
        @include responsive('min-width: #{$width-tablet}') {
            height: 60vw;
        }
        @include responsive('min-width: #{$width-desktop}') {
            height: 45vw;
        }
    }

    .tab-content-wrapper {
        color: var(--sunDown);
    }

    .smallprint p {
        color: var(--silver);
        font-size: 0.8rem;
        @include responsive('min-width: #{$width-desktop}') {
            line-height: 1.2;
        }
        margin-top: var(--space-1);
    }

}

.donate-options {
    margin-top: auto;
}

.annual .donate-options {
    margin-top: var(--space-2);
}

.annual h2 span {
    color: var(--blackInk);
    background-color: var(--coral);
}

.capsules {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space-1);
}

.capsules button {
    display: inline-block;
    background-color: transparent;
    padding: 1rem 0.5rem;
    border: 1px solid var(--sunDown);
    color: var(--sunDown);
    font-size: var(--scale-0);
    font-family: 'Telegraf-Regular', Arial, Helvetica, sans-serif;
    outline: 0;
    
    &:hover {
        cursor: pointer;
        color: var(--blackInk);
        background-color: var(--sunDown);
    }
}

.dots {
    display: flex;
}

.dots button {
    &:not(:last-child) {
        margin-right: var(--space-1);
    }
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: inherit;
    font-size: var(--scale-0);
    font-family: 'Telegraf-Regular', Arial, Helvetica, sans-serif;
    outline: 0;
    
    &:hover {
        cursor: pointer;
        color: var(--blackInk);
        background-color: var(--sunDown);
    }
}