@font-face {
  font-family: 'Telegraf-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Telegraf-Regular'),
       url('/fonts/Telegraf-Regular.woff2') format('woff2'), /* will be preloaded */ 
       url('/fonts/Telegraf-Regular.woff') format('woff'),
       url('/fonts/Telegraf-Regular.ttf') format('truetype'),
       url('/fonts/Telegraf-Regular.eot') format('embedded-opentype');
  // unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'GT Super Display Super';
  font-style: normal;
  font-display: fallback;
  src: local('GT-Super-Display-Super'),
       url('/fonts/GT-Super-Display-Super.woff2') format('woff2'), /* will be preloaded */ 
       url('/fonts/GT-Super-Display-Super.woff') format('woff'),
       url('/fonts/GT-Super-Display-Super.ttf') format('truetype'),
       url('/fonts/GT-Super-Display-Super.eot') format('embedded-opentype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'GT Super Display Bold';
  font-style: normal;
  font-display: fallback;
  src: local('GT-Super-Display-Bold'),
       url('/fonts/GT-Super-Display-Bold.woff2') format('woff2'), /* will be preloaded */ 
       url('/fonts/GT-Super-Display-Bold.woff') format('woff'),
       url('/fonts/GT-Super-Display-Bold.ttf') format('truetype'),
       url('/fonts/GT-Super-Display-Bold.eot') format('embedded-opentype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

.front,
.page-wrapper,
form input,
form button {
    font-family: 'Telegraf-Regular', Arial, Helvetica, sans-serif;
    h1, h2, h3, h4 {
      font-weight: normal;
    }
}

.font-size--scale-1 {
  font-size: var(--scale-1)
}

.font-size--scale-2 {
  font-size: var(--scale-2)
}

.font-size--scale-3 {
  font-size: var(--scale-3)
}