// Footer Small

.footer-newsletter {
    margin-left: var(--space-3);
    margin-right: var(--space-3);
    font-size: var(--scale-0);
    color: rgba(#262626, 0.9);
    border-bottom: 1px solid rgba(#262626, 0.6);
    
    
    a {
        display: block;
        color: var(--blackInk);
        opacity: 0.9;
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        text-decoration: none;
    }

    a:hover {
        opacity: 1;
    }
}

.dark .footer-newsletter {
    border-bottom: 1px solid rgba(#fff, 0.6);
    a {
        color: rgba(#fff, 0.6);
    }
    a:hover {
        color: #fff;
    }
    
}

.footer-wrapper {
	display: flex;
    justify-content: space-between;
    padding: 0 var(--space-3) var(--space-2);
    div {
        margin-top: var(--space-1);
    }
    span,
    a {
        display: inline-block;
        font-size: var(--scale-0);
        color: var(--blackInk);
        opacity: 0.9;
        text-decoration: none;
    }
    a {
        &:hover {
            opacity: 1;
        }
    }
    .social ul {
        list-style: none;
        display: flex;
    }
    .social li {
        display: flex;
        align-items: center;
    }
    .social span {
        margin-right: var(--space-1);
    }
    .social a {
        padding-left: 2vw;
        padding-right: 2vw;
        @include responsive('min-width: #{$width-desktop}') {
            padding-left: var(--space-1);
            padding-right: var(--space-1);
        }
    }
    .top {
        display: flex;
        align-items: center;
    }
}

.top-border .footer-wrapper:before {
    content: '';
    position: absolute;
    left: var(--space-3);
    right: var(--space-3);
    border-top: 1px solid var(--blackInk);
}

.dark .footer-wrapper {
    color: #fff;
    span,
    a {
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    }
    a {
        &:hover {
            opacity: 1;
        }
    }
    &:before {
        border-color: rgba(#fff, 0.6);
    }
}