// ======================================================================
// Form
.contact-form {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

.form-group {
	border-top: 1px solid var(--blackInk);
	&:last-child {
		border-bottom: 1px solid var(--blackInk);	
	}
}

.contact-form .form-group-last {
	border-bottom: 1px solid var(--blackInk);
}

.contact-form label {
	display: block;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 2rem;
	height: 2rem;
}

.contact-form input, 
.contact-form textarea {
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 4rem;
	height: 4rem;
	outline: 0;
	width: 100%;
    background-color: transparent;
	font-weight: 400;
	font-size: 1.2rem;
	@include responsive('min-width: #{$width-tablet}') {
		font-size: 1.6rem;
	}
	color: var(--blackInk);
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: var(--blackInk);
	    opacity: 1; /* Firefox */
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: var(--blackInk);
	}

	&::-ms-input-placeholder { /* Microsoft Edge */
	    color: var(--blackInk);
	}
}

.contact-form textarea {
	padding-top: 1rem;
	line-height: 1;
}

.contact-form button {
	background-color: var(--blackInk);
	color: #fff;
	display: block;
	border: 0;
	margin: var(--space-1) 0 var(--space-2) 0;
	padding: 0;
	line-height: 4rem;
	height: 4rem;
	outline: 0;
	width: 100%;
	font-size: 1.2rem;
	@include responsive('min-width: #{$width-tablet}') {
		font-size: 1.6rem;
	}
	cursor: pointer;
	&:hover {
        color: var(--blackInk);
		background-color: var(--sunDown);
	}
}