// columns
@include responsive('min-width: #{$width-tablet}') {
    .main-grid__1--1 {
        grid-column:1/-1;
    }
    .main-grid__1-2 {
        grid-column:1/2;
    }
    .main-grid__1-3 {
        grid-column:1/4;
    }
    .main-grid__1-4 {
        grid-column:1/5;
    }
    .main-grid__1-5 {
        grid-column:1/6;
    }
    .main-grid__1-6 {
        grid-column:1/7;
    }
    .main-grid__1-7 {
        grid-column:1/8;
    }
    .main-grid__1-8 {
        grid-column:1/9;
    }
    .main-grid__1-9 {
        grid-column:1/10;
    }
    .main-grid__1-10 {
        grid-column:1/11;
    }
    .main-grid__1-11 {
        grid-column:1/12;
    }
    .main-grid__1-12 {
        grid-column:1/13;
    }
    .main-grid__2-5 {
        grid-column:2/6;
    }
    .main-grid__2-8 {
        grid-column:2/9;
    }
    .main-grid__2-11 {
        grid-column:2/12;
    }
    .main-grid__2-12 {
        grid-column:2/13;
    }
    .main-grid__3-4 {
        grid-column:3/5;
    }
    .main-grid__3-11 {
        grid-column:3/12;
    }
    .main-grid__3-12 {
        grid-column:3/13;
    }
    .main-grid__3-9 {
        grid-column:3/10;
    }
    .main-grid__3-10 {
        grid-column:3/11;
    }
    .main-grid__4-9 {
        grid-column:4/10;
    }
    .main-grid__4-10 {
        grid-column:4/11;
    }
    .main-grid__4-12 {
        grid-column:4/13;
    }
    .main-grid__5-10 {
        grid-column:5/11;
    }
    .main-grid__5-12 {
        grid-column:5/13;
    }
    .main-grid__5-8 {
        grid-column:5/9;
    }
    .main-grid__5-12 {
        grid-column:5/13;
    }
    .main-grid__6-8 {
        grid-column:6/9;
    }
    .main-grid__6-9 {
        grid-column:6/10;
    }
    .main-grid__6-12 {
        grid-column:6/13;
    }
    .main-grid__7-9 {
        grid-column:7/10;
    }
    .main-grid__7-12 {
        grid-column:7/13;
    }
    .main-grid__8-12 {
        grid-column:8/13;
    }
    .main-grid__9-12 {
        grid-column:9/13;
    }
    .main-grid__10-12 {
        grid-column:10/13;
    }
}

// rows
@include responsive('min-width: #{$width-tablet}') {
    .grid-template-rows--2 {
        grid-template-rows: repeat(2, 1fr);
    }
    .grid-template-rows--3 {
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-row--1 {
        grid-row:1
    }
    .grid-row--2 {
        grid-row:2
    }
    .grid-row--3 {
        grid-row:3
    }
    .grid-row--1-2 {
        grid-row:1/3
    }
    .grid-row--1-3 {
        grid-row:1/4
    }
    .grid-row--2-3 {
        grid-row:2/4
    }     
}

// columns
@include responsive('min-width: #{$width-tablet}') {
    .grid-template-columns--2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-template-columns--3 {
        grid-template-columns: repeat(3, 1fr);
    } 
    .grid-template-columns--4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-column--span-4 {
        grid-column: span 4;
    }
    .grid-column--span-6 {
        grid-column: span 6;
    }
}

.display--block {
    display: block;
}

.flex {
    display: flex;
}

.justify-content--space-between {
    justify-content: space-between;
}

.text-align--center {
    text-align: center;
}

.align-self--center {
    align-self: center;
}

.align-self--end {
    align-self: end;
}

.justify-self--center {
    justify-self: center;
}

.align-items--flex-end {
    align-items: flex-end;
}

.content-grid--2 {
    grid-template-columns: repeat(2, 1fr);
}

.content-grid--3 {
    grid-template-columns: repeat(3, 1fr);
}

.content-grid--4 {
    grid-template-columns: repeat(2, 1fr);
}