/**
 * Responsive media (images, videos…)
 *
 * 1. Give the block an initial ratio of 5/3 to avoid FOUC
 * 2. Stretch the contained media to the dimensions of its container
 */

 .u-responsive-ratio {
    @include fix-aspect-ratio(5, 3); // 1

    img,
    object,
    embed,
    iframe,
    svg,
    video { // 2
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.u-responsive-aligner {
    // to be overidden by inline max-width style for center-aligning
    margin: 0 auto;
    width: 100%;
}

.u-responsive-ratio--hd {
    padding-bottom: aspect-ratio-height(16, 9);
}

.u-responsive-ratio--letterbox {
    padding-bottom: aspect-ratio-height(5, 2);
}

.hidden {
    display: none;
}

.dark {
    background-color: var(--blackInk);
    color: var(--sunDown);
    
    header .meedan svg {
        fill: var(--sunDown);
    }
    .menu-icon svg {
        stroke: var(--sunDown);
    }
}

.small-hr {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: var(--space-3);
        width: var(--scale-2);
        border-top: 1px solid var(--blackInk);
    } 
    p:first-child {
        padding-top: var(--space-2);
    }
    h3,
    .story-footer-item {
        padding-top: var(--space-2);
    }
    .dark & {
        &:before {
            border-color: 1px solid var(--sunDown);
        } 
    }  
}

.icon {
    width: 5vw;
    height: 5vw;
    &.icon_20x20 {
        width: 4vw;
        height: 4vw;
        @include responsive('min-width: #{$width-tablet}') {
            width: 3vw;
            height: 3vw;
        }
        @include responsive('min-width: #{$width-desktop}') {
            width: 2.4vw;
            height: 2.4vw;
        }
        @include responsive('min-width: #{$width-wide}') {
            width: 2.4vw;
            height: 2.4vw;
        }
    }
    &.icon_60x60 {
        width: 10vw;
        height: 10vw;
        @include responsive('min-width: #{$width-tablet}') {
            width: 6vw;
            height: 6vw;
        }
        @include responsive('min-width: #{$width-desktop}') {
            width: 4vw;
            height: 4vw;
        }
    }
    &.icon_100x100 {
        width: 10vw;
        height: 10vw;
        @include responsive('min-width: #{$width-desktop}') {
            width: 6vw;
            height: 6vw;
        }
    }
}

.color--check-blue { color: var(--checkBlue) }
.color--coral { color: var(--coral); border-color: var(--coral) !important; }
.color--bright-yellow { color: var(--brightYellow); border-color: var(--brightYellow) !important; }
.color--texas-rose { color: var(--texasRose); border-color: var(--texasRose) !important; }
.color--light-navy { color: var(--lightNavy); border-color: var(--lightNavy) !important; }
.color--east-side { color: var(--eastSide); border-color: var(--eastSide) !important; }
.color--deep-sea { color: var(--deepSea); border-color: var(--deepSea) !important; }
.color--black-ink { color: var(--blackInk) }
.color--white { color: #fff; border-color: #fff !important;}
.color--silver { color: var(--silver); border-color: var(--silver) !important;}


.module-bg-color--coral {
    background-color: var(--coral);
}
.module-bg-color--texas-rose {
    color: var(--blackInk);
    background-color: var(--texasRose);
    border-color: var(--blackInk);
}
.module-bg-color--light-navy {
    color: var(--lightNavy);
    background-color: var(--lightNavy);
}
.module-bg-color--east-side {
    background-color: var(--eastSide);
}
.module-bg-color--deep-sea {
    background-color: var(--deepSea);
}
.module-bg-color--silver {
    background-color: var(--silver);
}
.module-bg-color--black-ink {
    background-color: var(--blackInk);
    color: var(--paleBlue);
}

.plain-list ul {
    list-style-type: none;
    margin-top: var(--space-1);
}

.plain-list.with-spacing ul li {
    margin-bottom: var(--space-1);
}

.plain-list.with-spacing ul li p {
    margin-bottom: var(--space-1);
}

.plain-list ul li a {
    display: block;
    font-size: var(--scale-0);
    padding: var(--space-1) var(--space-1);
    border-bottom: 1px solid var(--blackInk);
    color: var(--blackInk);
    text-decoration: none;
    &:hover {
        background-color: var(--blackInk);
        color: #fff;
    }
}

.plain-list.with-border ul li {
    display: block;
    font-size: var(--scale-0);
    padding: var(--space-1) 0;
    border-bottom: 1px solid var(--blackInk);
    text-decoration: none;
}

.dark .plain-list.with-border ul li {
    border-color: var(--sunDown);
}

.list-with-header ul {
    list-style-type: none;
    margin-bottom: var(--space-4);
}

.list-with-header ul li:first-child {
    margin-bottom: var(--space-1);
}

.tags {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: var(--space-2);
    margin-bottom: var(--space-1);
}

.tags .tag {
    flex: 0 0 auto;
    font-size: 1rem;
    border: 1px solid var(--blackInk);
    border-radius: 1.111rem;
    padding: 0.333rem 0.889rem;
    position: relative;
    left: -.05em;
    top: -.21em;
}

.tags .tag:not(:last-child) {
    margin-right: 0.556rem;
}

.dark .tag {
    border-color: var(--sunDown);
}

.stat {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--blackInk);
    margin-top: var(--space-2);
    padding-top: var(--space-2);
    .stat-title {
        margin-bottom: var(--space-1);
        font-size: var(--scale-0);
    }
    .stat-number {
        font-size: var(--scale-5);
        line-height: 1;
    }
    .stat-description {
        font-size: var(--scale-0);
    }
}

.dark .stat {
    border-color: inherit;
}

.credit {
    font-size: 1rem;
    @include responsive('min-width: #{$width-desktop}') {
        line-height: 1.4;
    }
}

.margin-bottom--3 {
    margin-bottom: var(--space-3);
}

.margin-bottom--4 {
    margin-bottom: var(--space-4);
}

.margin-bottom--5 {
    margin-bottom: var(--space-5);
}

.rectangle {
    display: inline-block;
    font-family: $font-stack;
    font-size: 0.778rem;
    font-weight: 700;
    letter-spacing: 0.044rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent);
    background-color: var(--blackInk);
    padding: 0.2rem 0.4rem;
    margin-bottom: var(--space-1);
}