.module-product-hero {
    .button {
        display: block;
        margin-bottom: 0;
    }
}
@media (min-width: #{$width-tablet}) and (max-width: #{$width-desktop}) {
    .main-grid.module-product-hero {
        padding-left: 0;
        padding-right: 0;
    }
}