.job .story-wrapper ul:nth-of-type(1) {
    margin-left: 0;
    list-style: none;
    font-family: 'IBM Plex Mono', monospace;
    li {
        padding-left: 0;
        padding-bottom: var(--space-1);
        border-bottom: 1px solid var(--blackInk);
    }
}

.job .story-wrapper {
    > p,
    a,
    ul,
    ol,
    h2,
    h3,
    h4 {
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 4/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 4/11;
        }
    }
}