.page-wrapper .key-points {
    margin-top: var(--space-3);
    // grid-template-rows: 2, 1fr;
    grid-row-gap: 0;
}

.page-wrapper .key-point {
    grid-column: span 4;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    border-bottom: 1px solid var(--blackInk);
    @include responsive('min-width: #{$width-tablet}') {
        &:nth-child(-n+3) {
            border-top: 1px solid var(--blackInk);
        }
    }
    .count,
    .title {
        font-size: var(--scale-1);
    }
    .title {
        margin-bottom: var(--space-2);
        display: block;
    }
    .description {
        font-size: var(--scale-0);
        a:not(.button) {
            text-decoration: underline;
        }
    }
    a {
        color: inherit;
    }
}

.dark .key-point {
    border-color: var(--sunDown);
    @include responsive('min-width: #{$width-tablet}') {
        &:nth-child(-n+3) {
            border-color: var(--sunDown);
        }
    }
}