// Responsive Mixin
// This is a simple mixin for media queries as described
// in Sass for Web Designers by Dan Cederholm
// see _variables.scss for variables defining the breakpoints

@mixin responsive($query) {
  @if $query == wide-screens {
    @media only screen and (max-width: $width-wide) { @content; }
  }
  @else if $query == desktop-screens {
    @media only screen and (max-width: $width-desktop) { @content; }
  }
  @else if $query == tablet-screens {
    @media only screen and (max-width: $width-tablet) { @content; }
  }
  @else if $query == mobile-screens {
    @media only screen and (max-width: $width-mobile) { @content; }
  }
  @else {
    @media only screen and ($query) { @content; }
  }
}


// Ref: Guardian's Frontend
@function aspect-ratio-height($x, $y, $startingWidth: 100%) {
    @return ($y / $x) * $startingWidth;
}

@mixin fix-aspect-ratio($x, $y, $startingWidth: 100%) {
    // To get this working, position the child element
    // to 'absolute' in the top left corner
    width: $startingWidth;
    padding-bottom: aspect-ratio-height($x, $y, $startingWidth);
    position: relative;
    overflow: hidden;
}
