.section-padding {
    padding-top: var(--space-4);
    padding-bottom: var(--section-space);
    .bleed {
        padding-left: 0;
        padding-right: 0;
    }
}

.section-margin {
    margin-top: var(--space-4);
    margin-bottom: var(--section-space);
}

.section-top-margin {
    margin-top: var(--space-4);
}

.section-bottom-margin {
    margin-bottom: var(--section-space);
}

.about {
    background-color: var(--sunDown);
}

.projects {
    background-color: var(--eastSide);
}

.check {
    background-color: var(--cornflowerBlue);
}

.team {
    background-color: var(--blackInk);
}

.checklist {
    background-color: var(--coral);
}

.podcast {
    background-color: var(--lightNavy);
}

.page-wrapper {
    font-size: var(--scale-1);
}

.page-wrapper .standfirst {
    grid-column: 5 / 12;
    font-size: var(--scale-2);
    margin-top: var(--space-3);
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        padding-right: var(--space-5);
        padding-left: var(--space-3);
    }
}

.page-wrapper h3 {
    font-size: var(--scale-2);
    @include responsive('min-width: #{$width-desktop}') {
        font-size: var(--scale-3);
    }
    font-weight: normal;
    &:not(.no-margin) {
        margin-bottom: var(--space-2);
    }
    sup {
        padding-left: 0.5em;
        font-size: var(--scale-0);
        top: -1em;
    }
}

.page-wrapper sup {
    padding-left: 0.5em;
}

.page-wrapper figure:not(.no-margin) {
    margin-top: var(--space-3);
    margin-bottom: var(--space-4);
}

.module a:not(.button) {
    color: var(--blackInk);
    text-decoration: none;
}

.dark.module a:not(.button) {
    color: #fff;
}

.dark .module p a:not(.button) {
    color: inherit;
    text-decoration: underline;
}

.module p, 
.module p a {
    font-size: var(--scale-1);
}

.module h3 + p,
.module p + p,
.module p + p + p,
.module p + p + p + p {
    margin-bottom: var(--space-3);
}

.module .module-links {
    margin-top: var(--space-6);
    font-size: var(--scale-0);
    a {
        font-size: var(--scale-0);
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}

.module-details {
    font-size: var(--scale-0);
    h3, p, a, p a {
        font-size: var(--scale-0);
    }
}

.module-bg {
    padding-top: var(--space-2);
    padding-bottom: var(--space-3);
}

.module-bg-half {
    padding: var(--space-2) var(--space-3);
}

.slideshow {
    overflow-x: hidden;
    .slide {
        position: relative;
    }
    figure {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        cursor: move;
        &:hover {
            figcaption { display: inline-block; }
        }
    }
    .slide img {
        background-size: cover;
        // width: 80%;
        height: 62vw;
        @include responsive('min-width: #{$width-tablet}') {
            height: 42vw;
        }
        object-fit:scale-down;
    }
    .slide:first-child {
        padding-left: var(--scale-3);
    }
    figcaption {
        display: none;
        background-color: rgba(#262626, 0.8);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 1.4;
        padding: 1rem;
        // padding-right: var(--space-1);
    }
}


.module-donate-text {
    background-image: url(/images/donate.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 48%;
}

.module-values-text {
    background-image: url(/images/values.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 55%;
    overflow: visible;
}

.sidebar {
    font-size: var(--scale-0);
    font-family: $font-stack;
}

.sidebar a {
    color: var(--blackInk);
}

.sidebar ul,
.sidebar li {
    margin: 0;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    margin-top: var(--space-1);
}

.sidebar ul li {
    margin-bottom: var(--space-1);
    padding-bottom: var(--space-1);
    border-bottom: 1px solid var(--blackInk);
}