.press-item-quote {
    margin-top: var(--space-2);
}

.press-item {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    .teaser {
        margin-bottom: var(--space-1);
    }
    .title {
        font-size: var(--scale-1);
    }
    .source {
        font-size: var(--scale-0);
        line-height: 2rem;
    }
    &:not(:first-child)  {
        border-top: 1px solid var(--blackInk);
    }
}