.press-item-quote {
    margin-top: var(--space-2);
    .quote {
        font-size: var(--scale-2);
    }
}

.press-item {
    display: block;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    .teaser {
        margin-bottom: var(--space-1);
    }
    .title {
        font-size: var(--scale-1);
    }
    .source {
        font-size: var(--scale-0);
        margin-top: var(--space-1);
    }
    &:not(:first-child)  {
        border-top: 1px solid var(--blackInk);
    }
}

.card-graphic {
    height: 20rem;
	background-size: cover;
  background-position: center center;
  background-color: #fff;
  background-repeat: no-repeat;
  margin-bottom: var(--space-2);
}

.card-graphic.logo {
	background-size: 45%;
}

.card-video-container {
    margin-bottom: var(--space-1);
}