.product .page-wrapper header h2 {
    grid-column: 2/-2;
    text-align: center;
    // font-size: var(--scale-4);
    // @include responsive('min-width: #{$width-tablet}') {
    //     font-size: 5.556rem;
    // }
    // letter-spacing: -0.04rem;
    // line-height: 0.95;
    hyphens: unset;
}

.product .page-wrapper header .standfirst {
    grid-column: 3/-3;
    text-align: center;
    // font-size: var(--scale-1);
    margin-top: 0;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        margin-top: var(--space-1);
        padding-left: var(--space-3);
        padding-right: var(--space-3);
    }
}

.module-product-cta div {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: var(--scale-0);
        color: var(--blackInk);
        text-decoration: none;
    }
    a:not(:last-child) {
        margin-right: var(--space-3);
    }
}

.module-product-disclaimer {
    text-align: center;
    font-size: 0.8rem;
    a {
        color: inherit;
    }
}