.product .page-wrapper header h2 {
    grid-column: 2/-2;
    text-align: center;
    hyphens: unset;
    padding-top: 0;
}

.product .page-wrapper header h3 {
    grid-column: 2/-2;
    padding-top: var(--space-3);
    margin-bottom: 0;
    text-align: center;
    img {
        width: 200px;
    }
}

.product .page-wrapper header .standfirst {
    grid-column: 3/-3;
    text-align: center;
    margin-top: 0;
    @media (min-width: 1px) and (max-width: #{$width-tablet}) {
        margin-top: var(--space-1);
        padding-left: var(--space-3);
        padding-right: var(--space-3);
    }
}

.module-product-cta div {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: var(--scale-0);
        color: var(--blackInk);
        text-decoration: none;
    }
    a:not(:last-child) {
        margin-right: var(--space-3);
    }
    a:last-child {
        &:hover {
            text-decoration: underline;
        }
    }
}

.module-product-disclaimer {
    text-align: center;
    font-size: 0.8rem;
    a {
        color: inherit;
    }
}

.module-product-features {
    h3 {
        padding-top: var(--space-5);
        padding-bottom: var(--space-3);
        color: var(--texasRose);
    }
    .product-feature {
        @include responsive('min-width: #{$width-tablet}') {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: var(--space-3);
        }
        padding-left: var(--space-4);
        margin-bottom: var(--space-4);
    }
    .product-feature-header {
        span {
            display: block;
            margin-bottom: var(--space-1);
        }
        .number {
            color: var(--texasRose);
            padding-top: var(--space-2);
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 8%;
                top: 0;
                border-top: 1px solid var(--texasRose);
            }
        }
        .title {
            color: var(--texasRose);
        }
        .description {
            font-size: var(--scale-0);
        }
    }
}