.quotes .icon {
    margin-bottom: var(--space-1);
}

.quote {
    display: block;
    color: var(--checkBlue);
}

.about .quote,
.check .quote {
    color: #fff;
}

.module-user-quotes .quotes {
    text-align: center;
}

.user-quote {
    width: 100%;
    
}

