.quotes .icon {
    margin-bottom: var(--space-1);
}

.quotes span {
    display: block;
}

.quote {
    color: var(--checkBlue);
}

.quotes .avatar {
    display: block;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: var(--space-1) auto;
}

.quote-by {
    font-size: var(--scale-0);
}
.quote-by-title {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.about .quote,
.check .quote {
    color: #fff;
}

.module-user-quotes .quotes {
    text-align: center;
}

.user-quote {
    width: 100%;
}

