.module-user-quotes {
    display: grid;
    grid-gap: var(--space-2);
    grid-template-columns: repeat(12, 1fr);
}

.module-user-quotes .quotes {
    grid-column: 2/12;
    margin-top: var(--space-4);
    margin-bottom: var(--section-space);
}

.quotes .icon {
    margin-bottom: var(--space-1);
}

.quotes span {
    display: block;
}

.quote {
    color: var(--checkBlue);
    font-size: var(--scale-1);
}

.dark .quote {
    color: var(--lightNavy);
}

.quotes .avatar {
    display: block;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: var(--space-1) auto;
}

.quote-by {
    font-size: var(--scale-0);
}

.quote-by-title,
.quote-by-title a {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.about .quote,
.check .quote {
    color: #fff;
}

.module-user-quotes .quotes {
    text-align: center;
}

.user-quote {
    width: 100%;
}

