@include responsive('min-width: #{$width-tablet}') {
    .report .page-wrapper header h1 {
        grid-column: 6 / -1;
    }
}

@include responsive('min-width: #{$width-desktop}') {
    .report .page-wrapper header h1 {
        grid-column: 5 / -1;
    }
}

.report .title-wrapper {
    grid-column: 1/-1;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    padding-bottom: var(--space-4);
}

.report .title-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .title {
        font-family: $font-stack-c;
        font-size: var(--scale-3);
        letter-spacing: -0.04rem;
        line-height: 0.95;
    }
    .intro {
        margin-top: 0.278rem;
        font-family: $font-stack-d;
        font-size: var(--scale-0);
        flex-grow: 1;
    }
    .meta {
        font-family: $font-stack-d;
        color: #fff;
        font-size: var(--scale-0);
        .byline {
            display: block;
        }
    }
    .report-graphic {
        margin-top: var(--space-3);
        margin-bottom: var(--space-3);
    }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .report .title-container {
        text-align: center;
        .title {
            font-size: var(--scale-4);
            letter-spacing: -0.04rem;
            line-height: 0.95;
        }
        .intro {
            margin-top: 0.278rem;
            font-size: var(--scale-1);
            order: 3;
        }
        .meta {
            font-size: var(--scale-1);
            order: 4;
        }
        .report-graphic {
            order: 2;
        }
    }
}

@include responsive('min-width: #{$width-tablet}') {
    .report .title-container {
        text-align: center;
        .title {
            font-size: var(--scale-5);
            letter-spacing: -0.04rem;
            line-height: 0.95;
        }
        .intro {
            margin-top: 0.278rem;
            font-size: var(--scale-1);
            order: 3;
        }
        .meta {
            font-size: var(--scale-1);
            order: 4;
        }
        .report-graphic {
            order: 2;
        }
    }
}

@include responsive('min-width: #{$width-desktop}') {
    .report .title-container {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 0.75fr;
        grid-column-gap: var(--space-2);
        grid-row-gap: 0;
        justify-content: start;
        .title {
            font-size: var(--scale-3);
            letter-spacing: -0.04rem;
            line-height: 0.95;
            grid-column: 1;
        }
        .intro {
            font-size: var(--scale-0);
            order: 2;
            grid-column: 1;
        }
        .meta {
            font-size: var(--scale-0);
            order: 3;
            grid-column: 1;
            align-self: end;
        }
        .report-graphic {
            order: 4;
            grid-column: 2;
            grid-row: 1/-1;
            @media (min-width: 1px) and (max-width: #{$width-tablet}) {
                margin-top: var(--space-2);
            }
            @include responsive('min-width: #{$width-desktop}') {
                .lead_image {
                    height: 40vw;
                }
            }
        }
    }
}

.report .story-wrapper {
    > p,
    a,
    ul,
    ol,
    h2,
    h3,
    h4,
    .u-responsive-ratio {
        color: var(--blackInk);
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 4/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 4/11;
        }
    }
    > p,
    > ul,
    > ol {
        margin-bottom: var(--space-3);
    }

    > p:first-child {
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 4/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 4/12;
        }
        font-family: $font-stack-d;
        font-size: var(--scale-1);
        color: var(--green);
    }

    sup {
        top: -.5rem;
        font-size: .8rem;
        &:hover {
            opacity: .6;
        }
    }

}

.report .story-wrapper ul,
.report  .story-wrapper ol {
    margin-left: 0;
    list-style: none;
    li {
        padding-left: 0;
        margin-bottom: var(--space-1);
        padding-bottom: var(--space-1);
        border-bottom: 1px solid var(--blackInk);
        &:first-child {
            border-top: 1px solid var(--blackInk);
            padding-top: var(--space-1);
        }
    }
}

.report-sidebar {
    order: -1;
    grid-column: 1/4;
    margin-bottom: var(--space-6);
    font-size: 1.222rem;
}


.report-footer {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--sunSet);
    a {
        color: var(--sunSet);
    }
    .report-footer-item {
        border-top: 1px solid var(--sunSet);
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        @include responsive('min-width: #{$width-desktop}') {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--space-2);
        }
    }
    span:nth-of-type(1) {
        grid-column: 1/3;
    }
    span:nth-of-type(2) {
        grid-column: 4/10;
    }
}

.report-footnotes {
    ol li { margin-bottom: 0.5rem; }
    ol li p { display: inline; }
    ol li a { display: inline; }
}

.report-references {
    ul {
        list-style-type: none;
    }
    ul li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--sunDown);
        }
    }
}