@include responsive('min-width: #{$width-tablet}') {
    .report .page-wrapper header h1 {
        grid-column: 6 / -1;
    }
}

@include responsive('min-width: #{$width-desktop}') {
    .report .page-wrapper header h1 {
        grid-column: 5 / -1;
    }
}

.report .title-wrapper {
    grid-column: 1/-1;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    padding-bottom: var(--space-4);
}

.report .title-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .title {
        font-family: $font-stack-c;
        font-size: var(--scale-3);
        letter-spacing: -0.04rem;
        line-height: 0.95;
    }
    .intro {
        margin-top: 0.278rem;
        font-family: $font-stack-d;
        font-size: var(--scale-0);
        flex-grow: 1;
    }
    .meta {
        font-family: $font-stack-d;
        color: #fff;
        font-size: var(--scale-0);
        .byline {
            display: block;
        }
    }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .report .title-container {
        text-align: center;
        .title {
            font-size: var(--scale-4);
            letter-spacing: -0.04rem;
            line-height: 0.95;
        }
        .intro {
            margin-top: 0.278rem;
            font-size: var(--scale-1);
            order: 3;
        }
        .meta {
            font-size: var(--scale-1);
            order: 4;
        }
        .report-graphic {
            order: 2;
            margin-top: var(--space-3);
            margin-bottom: var(--space-3);
        }
    }
}

@include responsive('min-width: #{$width-tablet}') {
    .report .title-container {
        text-align: center;
        .title {
            font-size: var(--scale-5);
            letter-spacing: -0.04rem;
            line-height: 0.95;
        }
        .intro {
            margin-top: 0.278rem;
            font-size: var(--scale-1);
            order: 3;
        }
        .meta {
            font-size: var(--scale-1);
            order: 4;
        }
        .report-graphic {
            order: 2;
            margin-top: var(--space-3);
            margin-bottom: var(--space-3);
        }
    }
}

@include responsive('min-width: #{$width-desktop}') {
    .report .title-container {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 0.8fr;
        grid-column-gap: var(--space-2);
        grid-row-gap: 0;
        justify-content: start;
        .title {
            font-size: var(--scale-3);
            letter-spacing: -0.04rem;
            line-height: 0.95;
            grid-column: 1;
        }
        .intro {
            font-size: var(--scale-0);
            order: 2;
            grid-column: 1;
        }
        .meta {
            font-size: var(--scale-0);
            order: 3;
            grid-column: 1;
            align-self: end;
        }
        .report-graphic {
            order: 4;
            grid-column: 2;
            grid-row: 1/-1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (min-width: 1px) and (max-width: #{$width-tablet}) {
                margin-top: var(--space-2);
            }
            @include responsive('min-width: #{$width-desktop}') {
                .lead_image {
                    height: 40vw;
                }
            }
        }
    }
    .covid-19-and-china-s-information-control-policy .title-container {
        grid-template-columns: 0.85fr 1.05fr;
        .report-graphic {
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.report .story-wrapper {
    > p,
    a,
    ul,
    ol,
    h2,
    h3,
    h4,
    .u-responsive-ratio {
        color: var(--blackInk);
        @include responsive('min-width: #{$width-tablet}') {
            grid-column: 4/-1;
        }
        @include responsive('min-width: #{$width-desktop}') {
            grid-column: 4/11;
        }
    }
    > p,
    > ul,
    > ol {
        margin-bottom: var(--space-3);
    }

    sup {
        top: -.5rem;
        font-size: .8rem;
        &:hover {
            opacity: .6;
        }
    }

}

.report .report-note {
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 4/-1;
    }
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 4/12;
    }
    font-family: $font-stack-mono;
    font-size: 1rem;
    font-weight: 700;
    color: var(--sunSet);
    margin-bottom: var(--space-3);
}

.report .report-introduction {
    @include responsive('min-width: #{$width-tablet}') {
        grid-column: 4/-1;
    }
    @include responsive('min-width: #{$width-desktop}') {
        grid-column: 4/12;
    }
    font-family: $font-stack-d;
    font-size: var(--scale-1);
    color: var(--green);
    a { color: var(--green); }
    margin-bottom: var(--space-3);
}

.report .story-wrapper ul {
    margin-left: 0;
    list-style: none;
    li {
        padding-left: 0;
        margin-bottom: var(--space-1);
        // padding-bottom: var(--space-1);
        border-top: 1px solid var(--blackInk);
        padding-top: var(--space-1);
        &:first-child {
            border-top: 0;
        }
    }
    // nested lists
    ul, ol {
        margin-left: 2.2rem;
        li { 
            border: 0;
            padding-left: 0.25rem;
            padding-top: 0;
            &:first-child {
                margin-top: var(--space-1);
            }
        }
    }
    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
}

.report  .story-wrapper ol {
    padding-left: 1rem;
    margin-left: 2.2rem;
    margin-top: 1rem;
}

.report  .story-wrapper ol li { 
    margin-bottom: 1rem; 
    padding-left: 0.25rem;
}

.report  .story-wrapper ol li p { display: inline; }
.report  .story-wrapper ol li a { display: inline; }

.report-sidebar {
    order: -1;
    grid-column: 1/4;
    grid-row: span 6;
    margin-bottom: var(--space-6);
    font-size: 1.222rem;
}

.report-sidebar {
    order: -1;
    grid-column: 1/4;
    grid-row: span 6;
    margin-bottom: var(--space-6);
    font-size: 1.222rem;
}


.report-footer {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--sunSet);
    a {
        color: var(--sunSet);
    }
    .report-footer-item {
        border-top: 1px solid var(--sunSet);
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
        @include responsive('min-width: #{$width-desktop}') {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--space-2);
        }
    }
    span:nth-of-type(1) {
        grid-column: 1/3;
    }
    span:nth-of-type(2) {
        grid-column: 4/10;
    }
}

.report-footnotes {
    ol {
        padding-left: var(--space-1);
    }
    ol li { 
        margin-bottom: 1rem; 
        padding-left: var(--space-3);
    }
    ol li p { display: inline; }
    ol li a { display: inline; }
    .footnote-backref {
        text-decoration: none;
    }
}

.report-references,
.report-authors {
    ul {
        list-style-type: none;
    }
    ul li {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--sunDown);
        }
    }
}