.stat {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $g2;
	margin-top: $space-small;
	padding-top: $space-small/2;
	padding-bottom: $space-small;
	color: $green;
	.number {
		font-size: $number;
		line-height: 1;
		text-align: right;
	}
	.label {
		width: 50%;
	}
}

@include responsive('min-width: #{$width-tablet}') {
	.stat .label {
		width: 30%;
	}
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.stat .number {
		font-size: $x-large-text;
	}
}

.stat.with-note {
	padding-bottom: $space-small/2;
}

