.module-vision {
    
}

.module-vision .vision-statement {
    position: relative;
    padding-top: 156px;
    padding-bottom: 440px;
    &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 156px;
        left: 50%;
        top: 0;
        background-color: var(--blackInk);
    }
    &:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 440px;
        left: 50%;
        bottom: 0;
        background-color: var(--blackInk);
    }
    p {
        display: block;
        margin-top: var(--space-3);
        margin-bottom: var(--space-3);
    }
}