---
layout: "default"
slug: "community-guidelines"
---
<main class="policy">
  <h1>Community Guidelines</h1>
  <p class="meta">Last modified: May 25, 2018</p>
  <p>Our Services are used by an international and diverse community. Our goal is to create a
  community that encourages and supports the participation of all users.</p>
  <h3>When using our services, you must:</h3>
  <ul>
    <li>Treat others with respect.</li>
    <li>Provide accurate information about yourself.</li>
    <li>Provide translations only when you are confident they are accurate.</li>
    <li>Only verify stories, reports, or content after you sincerely believe you have discovered
    evidence that they are true.</li>
    <li>Notify us if you suspect there has been unauthorized use of your account.</li>
    <li>Respect copyrights, trademarks and other legal rights.</li>
  </ul>
  <h3>When using our Services, you may not:</h3>
  <ul>
    <li>Post translations that you know to be false or misleading.</li>
    <li>Verify content or reports that you know to be false or misleading.</li>
    <li>Post advertising or promotional materials, including junk mail, spam, chain letters,</li>
    pyramid schemes, or any other form of unsolicited or unwelcome solicitation.
    <li>Post original content that is harmful, offensive, obscene, or abusive. We understand that</li>
    some content requiring verification through Check or translation through Bridge may be
    offensive to some users.
    <li>Post original content that is invasive of privacy, false or misleading, or defamatory.</li>
    <li>Encourage dangerous or illegal activities.</li>
    <li>Post original content that is designed to incite violence.</li>
    <li>Post original content designed to harass, intimidate, or discriminate.</li>
    <li>Make threats against specific individuals or groups of people.</li>
    <li>Impersonate other people or groups, regardless of whether they use our Services.</li>
    <li>Sell or transfer your account except as outlined in our Terms of Service.</li>
  </ul>
</main>