---
layout: "default"
slug: "credibility-indicators"
ogp:
  og:
    description: 'Credibility Indicators Working Group'
    image:
      '': http://meedan.com/images/annual-report/group.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---

<div class="credibility-indicators--section image-banner-wrap">
  <div class="image-banner placeholder"></div>
  <div class="caption">CC-BY Meedan</div>
</div>

<div class="credibility-indicators--section lead-text">
  <div class="inner">
    <h1>The Credibility Indicators Working Group</h1>

    <p>As concerns grow about the importance of establishing credible content, so do concerns about how this credibility is communicated on content traveling around the web. Simply rating an article as “credible” is not enough; we need to understand what parts of it are credible, how the conclusion about its credibility was reached, and how to communicate that credibility effectively. Defining a set of standards for content credibility gives us a more effective way to talk about it, and, importantly, to make important decisions about how we share and display that content, regardless of what site the content appears on.
    </p>
  </div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <h3>What we are doing</h3>

    <p>There are (at least) a few core problems that members of our  working group aim to address. By solving these problems, we hope to foster healthy cooperation (and competition) among an ecosystem of teams building tools and communities producing clear and useful credibility metrics. While this group is focused on articles at the outset, we hope to engage with claims, images, videos and other forms of content.
    </p>
  </div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <h4>We have four core goals</h4>

      <ul>
        <li>Develop a framework of indicators to test. Indicators can be as simple and straightforward as a site’s domain registration date and as complex and nuanced as its tone of voice.
        </li>
        <li>Refine the process for marking up a set of training articles with relevant indicators. To develop an effective corpus, we need to have numerous articles with different levels of nuance and indicators. The more articles, and the greater the diversity of them, the more effective the next task will be.</li>

        <li>Evaluate the corpus of training data for success. This means providing the training data to a number of potential users, whether that’s a major platform, a research organization or a media outlet that specializes in fact checking. With a standardized set of indicators and markup styles, each of these use cases will help us understand how marked-up articles can more effectively impact their work.</li>

        <li>Define the working process for this group. As group whose members’ fields of expertise cross a number of disciplines and fields, we aim to define a process that can expand to include multiple types of content, future challenges around credibility, and structures for more effective cooperation.</li>
      </ul>
  </div>
</div>

<div class="image-banner-wrap">
  <div class="image-banner placeholder"></div>
  <div class="caption">Placeholder text. CC-BY Meedan</div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <h2>How to join us</h2>

    <p>We value a diverse and inclusive membership and encourage broad participation. We have a team of core and advisory members who meet regularly online and offline to share findings and results. Given the geographic spread of the people who’ve been participating — coming from the United Kingdom and the US’s west coast, the midwest, the northeast and the south — this happens most frequently via a series of video calls and on the MisinfoCon Slack, with occasional in-person meetings as time and geography allow.</p>

    <p>To get in touch, please email An Xiao Mina at <a href="mailto:an@meedan.com">an@meedan.com</a>.</p>
  </div>
</div>

<!-- <div class="credibility-indicators--section">
  <div class="inner">
    
  </div>
</div> -->

<div class="credibility-indicators--logos">
  <div class="inner">

    <p>The Credibility Indicators Working Group has received generous support from:</p>
  </div>
  <ul class="logos">
  <li><a href="">Knight Foundation</a></li>
  <li><a href="">Rita Allen Foundation</a></li>
  <li><a href="">Democracy Fund</a></li>
  <li><a href="">MisinfoCon</a></li>
  </ul>
</div>

<div class="credibility-indicators--section">
  <p>We are proud recipients of a Knight Prototype Fund grant.</p>
</div>