---
layout: "default"
slug: "jobs"
ogp:
  og:
    description: 'Jobs at Meedan'
---

<section class="jobs">
  <div class="section-inner">
    <h1 class="layout--padding-top">Open positions at Meedan</h1>

    <div id="program-ap" class="job">
      <h2>Program Associate, Asia-Pacific</h2>

      <p class="meta"><strong>Location:</strong> Flexible; GMT+5 to GMT +8 strongly preferred.</p>
      
      <p class="meta"><strong>Availability:</strong> Immediate</p>
      
      <p class="meta"><strong>Reports to:</strong> Director of Programs</p>
      
      <p class="meta"><strong>Salary:</strong> Commensurate with qualifications and experience</p>

      <p>With generous support from the Swedish International Development Agency (Sida), Meedan is embarking on Check Global, a remarkable new project to develop a verification and anti-disinformation network of partners in the Middle East and North Africa Region, in East Africa, Latin America and the Asia-Pacific region. This new program significantly expands Meedan’s programmatic and engineering capacity, enabling the organization to develop world-class open-access tools and training resources for the greater challenges of misinformation and disinformation in our contemporary internet environment.</p>

      <p>We seek a talented program associate to help expand our presence and partnerships in the Asia-Pacific region. The program associate will work with both Meedan and Birmingham City University, its lead academic and Monitoring &amp; Evaluation partner, to expand their programmatic activities. This broader network shares a common goal: they want to collaborate around the significant challenge of sense-making in a new media ecosystem which is decentralized, global, open and real-time.</p>

      <p>With a focus on collaboration, Check Global will augment Meedan’s existing suite of open source tools and open licensed online and offline training to support emerging practices in digital media literacy skills, fact-checking, disinformation monitoring and evaluation, and media literacy skills building for social impact. Our recent partners have included some of the world’s most innovative digital news initiatives, like Proto, Rappler, AJ+, Animal Politico, ProPublica, First Draft, Bellingcat, the Syrian and Yemeni Archives, and others.</p>

      <h3>Responsibilities:</h3>

      <h4>Program Management</h4>

      <ul>
        <li>Manage relationships with regional media, civil society, academic and human rights and training partners  engaged in the Check Global network. Also help expand Check Global’s regional partners network through building new partnerships and models for collaboration in the Asia-Pacific region.</li>
        <li>Support partners in use of Check for ongoing and limited-scope projects and events, including training workshops, conferences and public events.</li>
        <li>Provide verification training support for and collaboration with Check Global network and training partners.</li>
        <li>Attend regional events and conferences to represent Check Global</li>
        <li>Ensure regional partners meet agreed milestones and reporting targets. Work in close collaboration with Check Global M&amp;E Leads to make sure all targets are achieved ahead of reporting dates.</li>
      </ul>

      <h4>Operational Support</h4>

      <ul>
        <li>Build and maintain organizational CRM and serve as first point of contact on email and ticketing systems</li>
        <li>Research and prepare briefs for outreach</li>
        <li>Follow up on conferences and initiate partner communications</li>
        <li>Support Meedan management team in developing documents for internal review (with board of directors) and external review (at conferences and meetings)</li>
        <li>Accurately record meeting minutes for key meetings and events</li>
        <li>Support management team and partners with travel arrangements</li>
        <li>Daily reminders to CEO of key meetings and events</li>
        <li>Manage team calendar and Google Drive</li>
      </ul>

      <h3>Qualifications</h3>

      <h4>Required</h4>

      <ul>
        <li>1-2 years experience in journalism or related field, with interest and expertise in verification, fact checking and anti-misinformation research, technology and training</li>
        <li>1-2 years experience working in Asia-Pacific</li>
        <li>Fluency in English and a language commonly spoken in the region (such as Hindi, Tagalog, Indonesian, and others) and experience working in multilingual environments</li>
        <li>Experience as a trainer and workshop leader</li>
        <li>Familiarity with online tools for journalism</li>
        <li>Experience with project management</li>
        <li>Attention to detail and organization</li>
        <li>Ability and willingness to travel internationally</li>
        <li>Experience working remotely in multicultural environments</li>
      </ul>

      <h4>Optional, but a Plus</h4>

      <ul>
        <li>Interest in software development processes</li>
        <li>Fluency or working capacity in more than one language commonly spoken in the Asic Pacific region</li>
      <ul>

      <p>Meedan is a fast-paced, small, software development startup that relies heavily on the unique skills of each team member. Our team members are able to work flexibly and respond to challenges across a range of project areas. We are headquartered in San Francisco’s SOMA district. We encourage individuals from historically underrepresented communities in technology and journalism to apply, including women, people of color, people with disabilities and those who identify as LGBTQ.</p>

      <p>Salary commensurate with qualifications and experience.</p>

      <p>Please send CV, portfolio (or a website equivalent) and statement of interest to <a href="mailto:jobs@meedan.com?subject=Re: Program Associate, Asia-Pacific">jobs@meedan.com</a>.</p>
    </div>

    <div id="program-latam" class="job">
      <h2>Program Associate, Latin America</h2>

      <p class="meta"><strong>Location:</strong> Flexible; GMT-8 to GMT -3 strongly preferred.</p>

      <p class="meta"><strong>Availability:</strong> July 1, 2019</p>

      <p class="meta"><strong>Reports to:</strong> Director of Programs</p>

      <p class="meta"><strong>Salary:</strong> Commensurate with qualifications and experience</p>

      <p>With generous support from the Swedish International Development Agency (Sida), Meedan is embarking on Check Global, a remarkable new project to develop a verification and anti-disinformation network of partners in the Middle East and North Africa Region, in East Africa, Latin America and Asia. This new program significantly expands Meedan’s programmatic and engineering capacity, enabling the organization to develop world-class open-access tools and training resources for the greater challenges of misinformation and disinformation in our contemporary internet environment.</p>

      <p>We seek a talented program associate to help expand our presence and partnerships in Latin America. The program associate will work with both Meedan and Birmingham City University, its lead academic and Monitoring & Evaluation partner, to expand their programmatic activities. This broader network shares a common goal: they want to collaborate around the significant challenge of sense-making in a new media ecosystem which is decentralized, global, open and real-time.</p>

      <p>With a focus on collaboration, Check Global will augment Meedan’s existing suite of open source tools and open licensed online and offline training to support emerging practices in digital media literacy skills, fact-checking, disinformation monitoring and evaluation, and media literacy skills building for social impact. Our recent partners have included some of the world’s most innovative digital news initiatives, like AJ+, Animal Politico, ProPublica, First Draft, Bellingcat, the Syrian and Yemeni Archives, Rappler and others.</p>

      <h3>Responsibilities</h3>

        <h4>Program Management</h4>

        <ul>
          <li>Manage relationships with regional media, civil society, academic and human rights and training partners  engaged in the Check Global network. Also help expand Check Global’s regional partners network through building new partnerships and models for collaboration in Latin America.</li>

          <li>Support partners in use of Check for ongoing and limited-scope projects and events, including training workshops, conferences and public events.</li>

          <li>Provide verification training support for and collaboration with Check Global network and training partners. </li>

          <li>Attend regional events and conferences to represent Check Global</li>

          <li>Ensure regional partners meet agreed milestones and reporting targets. Work in close collaboration with Check Global M&amp;E Leads to make sure all targets are achieved ahead of reporting dates. </li>
        </ul>

        <h4>Operational Support</h4>

        <ul>
          <li>Build and maintain organizational CRM and serve as first point of contact on email and ticketing systems</li>

          <li>Research and prepare briefs for outreach</li>

          <li>Follow up on conferences and initiate partner communications. </li>

          <li>Support Meedan management team in developing documents for internal review (with board of directors) and external review (at conferences and meetings)</li>

          <li>Accurately record meeting minutes for key meetings and events</li>

          <li>Support management team and partners with travel arrangements</li>

          <li>Daily reminders to CEO of key meetings and events</li>

          <li>Manage team calendar and Google Drive</li>
        </ul>

      <h3>Qualifications</h3>

        <h4>Required</h4>

        <ul>
          <li>1-2 years experience in journalism or related field, with interest and expertise in verification, fact checking and anti-misinformation research, technology and training</li>
          <li>1-2 years experience working in Latin America</li>
          <li>Fluency in Spanish and English and experience working in multilingual environments</li>
          <li>Experience as a trainer and workshop leader</li>
          <li>Familiarity with online tools for journalism</li>
          <li>Experience with project management</li>
          <li>Attention to detail and organization</li>
          <li>Ability and willingness to travel internationally</li>
          <li>Experience working remotely in multicultural environments</li>
        </ul>

        <h4>Optional, but a Plus</h4>

        <ul>
          <li>Interest in software development processes</li>
          <li>Fluency or working capacity in Portuguese and other languages commonly spoken in Latin America</li>
        </ul>

      <p>Meedan is a fast-paced, small, software development startup that relies heavily on the unique skills of each team member. Our team members are able to work flexibly and respond to challenges across a range of project areas. We are headquartered in San Francisco’s SOMA district. We encourage individuals from historically underrepresented communities in technology and journalism to apply, including women, people of color, people with disabilities and those who identify as LGBTQ.</p>

      <p>Please send CV, portfolio (or a website equivalent) and statement of interest to <a href="mailto:jobs@meedan.com?subject=Re: Program Associate, Latin America">jobs@meedan.com</a>.</p>
    </div>
  </div>
</section>
