---
layout: "default"
slug: "jobs"
ogp:
  og:
    description: 'Jobs at Meedan'
---

<section class="jobs">
  <div class="section-inner">
    <h1 class="layout--padding-top">Open positions at Meedan</h1>
    <p>Thank you for your interest in Meedan!</p>

    <p>Currently we have no open positions available, but if you are interested in possible future opportunities please contact us at jobs@meedan.com.</p>
  </div>
</section>
