---
layout: "default"
slug: "jobs"
ogp:
  og:
    description: 'Careers at Meedan'
---

<section class="jobs">
  <div class="section-inner">
    <h1 class="layout--padding-top">Open positions at Meedan</h1>

    <h2>User Experience Designer</h2>
    <p>Location: Flexible; GMT-8 to GMT -3 strongly preferred</p>

    <p>Availability: Immediate; 3 months full-time contract, with possibility of renewal</p>

    <h3>Introduction</h3>

    <p>Meedan builds digital tools for global journalism and translation. We are a team of designers, technologists and journalists who focus on open source investigation of digital media and crowdsourced translation of social media. With commercial, media and university partners, we support research, curriculum development, and new forms of digital storytelling.</p>

    <p>Meedan’s core products include Check, which brings newsrooms and citizen journalists together to verify news anywhere in the world, and Bridge, which enables collaborative teams of translators and cultural experts to translate and contextualize global social media quickly and accurately. Our recent partners have included some of the world’s most innovative digital news initiatives, like AJ+, Animal Politico, ProPublica, First Draft, Bellingcat, Rappler and others.</p>

    <p>We seek a talented user interface designer who wants the challenge of building beautiful products and interactions, working with both the product and engineering teams to design and implement successful software. The ideal candidate is a self starter, can work independently while contributing to team success and loves pixel perfection, cascading style sheets and responding to users’ needs. </p>

    <p>The User Experience Designer plays a key role in the product team, overseeing and delivering a set of features, from specification to assessment, including quality control and usage analytics. This role reports to the director of product and works regularly with the development team, building from an existing style guide and specification while contributing new ideas and concepts.</p> 

    <h3>Responsibilities</h3>
    <ul>
        <li>Develop detailed feature specifications that are reviewed by the director of product and the development team, including copy, user flows, transitions and error states</li>
        <li>Provide regular assistance to the development team while the feature is being built</li>
        <li>Produce graphic assets for the development team to include in the app</li>
        <li>Produce core documentation on using the feature from a user’s perspective</li>
        <li>Assess the feature on the QA and Live environments, working with other product team members</li>
        <li>Gather data and produce analytics regarding feature usage (app instrumentation, user feedback, etc.)</li>
        <li>Participate in roadmap planning with the director of product and chief technology officer</li>
        <li>Participate in live user support on occasion</li>
    </ul>

    <h3>Qualifications</h3>

    <h4 class="layout--padding-bottom">Required</h4>
    
    <ul>
        <li>UX design experience</li>
        <li>Web-oriented graphic design experience (including CSS, HTML, SVG, etc.)</li>
        <li>Basic knowledge of version control tools (git)</li>
        <li>Strong communications skills</li>
        <li>Strong organizational skills</li>
        <li>Experience working collaboratively with a remote, globally-distributed team</li>
        <li>Ability to work independently, with minimal guidance</li>
      </ul>

    <h4 class="layout--padding-top layout--padding-bottom">Optional, but a Plus</h4>

    <ul>
        <li>Frontend coding skills (JavaScript / React / etc.)</li>
        <li>Familiarity with the Material Design guidelines</li>
        <li>Experience with project management</li>
        <li>Interest in journalism, translation and contemporary information environments</li>
        <li>Multilingual, with fluency in English and one other language</li>
    </ul>
    <p>Meedan is a fast-paced, small, software development startup that relies heavily on the unique skills of each team member. Our team members are able to work flexibly and respond to challenges across a range of project areas. We are headquartered in San Francisco’s SOMA district. We encourage individuals from historically underrepresented communities in technology and journalism to apply, including women, people of color, people with disabilities and those who identify as LGBTQ.
    </p>

    <p>Salary commensurate with qualifications and experience. </p>

    <p>Please send CV, portfolio (or a website equivalent) and statement of interest to <a href="mailto:jobs@meedan.com">jobs@meedan.com</a> </p>

  </div>
</section>