---
layout: "default"
slug: "jobs"
ogp:
  og:
    description: 'Careers at Meedan'
---

<section class="jobs">
  <div class="section-inner">
    <h1 class="layout--padding-top">Open positions at Meedan</h1>

    <div class="job">
        <h2>Linux DevSecOps Specialist</h2>
    
        <p class="meta">Location: Anywhere within the timezones GMT-3 to GMT-8. Other locations possible for the right candidate.</p>
    
        <p class="meta">Availability: Immediate</p>
    
        <h3>Summary</h3>
    
        <p>Meedan is developing digital tools for collaborative research, verification and translation of online media, to support journalists, activists and other web workers. Meedan’s core products include Check, which brings newsrooms and citizen journalists together to verify news anywhere in the world, and Bridge, which enables collaborative teams of translators and cultural experts to translate and contextualize global social media quickly and accurately.</p>
    
        <p>We seek an experienced DevOps engineer who seeks the challenge of building ambitious software, within a small team of competent technologists and designers. Some of the technologies we’re currently using include the following:</p>
    
            <ul><li>Ruby / Rails to build API services</li>
                    <li>PostgresQL and Elasticsearch for data storage</li>
                    <li>GraphQL to expose data stores</li>
                    <li>React / Redux / Relay to build cross-platform frontends (web, browser extensions, native / hybrid mobile apps, bots)</li>
                    <li>Elastic stack and Nagios for log management and application monitoring</li>
                    <li>Docker, Ansible for app deployment</li>
                    <li>Jenkins for continuous integration and deployment</li></ul>
    
        <p>This is a full-time position.</p>
        <h3>Responsibilities</h3>
    
            <ul>
                <li>Participate in building new versions of our software products</li>
                <li>Manage the server and cloud hosting infrastructure</li>
                <li>Maintain and enhance our Jenkins-based continuous deployment system</li>
                <li>Maintain and enhance our Docker-based container services to use higher-level automation, e.g. Kubernetes</li>
                <li>Participate in performance and security reviews, including fixes where needed</li>
                <li>Maintain and manage a monitoring system for our services and respond to outages</li>
                <li>Maintain and enhance our automated testing infrastructure for backend services and frontend apps</li>
                <li>Support developers in maintaining and enhancing their development environment</li>
            </ul>
    
        <h3>Qualifications</h3>
    
            <ul>
                <li>Deep knowledge of HTTP, including but not limited to: securing, routing, caching</li>
                <li>Experience with Ruby, JavaScript and other mainstream programming platforms</li>
                <li>Experience with Linux containerization, especially Docker</li>
                <li>Experience with managing and optimizing database technologies, especially PostgreSQL and Elasticsearch</li>
                <li>Experience with cloud platforms preferred</li>
                <li>Experience with open source software development preferred</li>
                <li>Experience with automated testing preferred</li>
                <li>Ability to quickly learn and use new technologies</li>
                <li>Strong communications and interpersonal skills</li>
                <li>Experience working in cross-cultural contexts</li>
                <li>Experience working remotely preferred</li>
            </ul>
    
        <p>Meedan is a fast-paced, small software development startup that relies heavily on the unique skills and motivation of each team member. Our team members are able to work flexibly and respond to challenges across a range of project areas.</p>
    
        <p>Salary and equity commensurate with qualifications and experience.</p>
    
        <p>Please send CV, Github repo and statement of interest to <a href="mailto:jobs@meedan.com">jobs@meedan.com</a>.</p></div>

  </div>
</section>