---
layout: "default"
slug: "jobs"
ogp:
  og:
    description: 'Careers at Meedan'
---

<section class="jobs">
  <div class="section-inner">
    <h1 class="layout--padding-top">Open positions at Meedan</h1>

    <div class="job">
      <h3><a href="#credco">Credibility Coalition Program Lead</a></h2>
        <p>CredCo is looking for an exceptional candidate to lead program management, oversee critical annotation efforts, convene online and offline conversations, manage internal organizational infrastructure and develop compelling data findings on a fast-paced, innovative project. This critical role will be central to CredCo’s work, and the candidate will be interfacing directly with data scientists, journalists, journalism students, media researchers and designers, with regular meetings with representatives from the W3C, news and technology platforms and some of the world’s most innovative thinkers on media and the internet. The position will report to the director of product at Meedan and project lead for the Credibility Coalition, and will be responsible for ensuring the group achieves key milestones, develops compelling findings and grows as a community. They will work with a broad range of community members who do not report directly to them but who must produce deliverables in a timely fashion. They will be encouraged to develop their own research and writing ideas and help grow CredCo’s profile amongst the international media trust community.</p>
      <h3><a href="#devops">Linux DevSecOps Specialist</a></h2>
        <p>Meedan is looking for an experienced DevOps engineer who seeks the challenge of building ambitious software, within a small team of competent technologists and designers.
        </p>
    </div>

    <div id="credco" class="job">
        <p class="meta"><a href="#">Back to jobs</a></p>

        <h2>Credibility Coalition Program Lead</h2>

        <p class="meta"><strong>Location:</strong> San Francisco Bay Area preferred; remote work in the PT/MT/CT/ET time zones available for the right applicant.</p>

        <p class="meta"><strong>Availability:</strong> May 2019</p>

        <p class="meta"><strong>Salary:</strong> Commensurate with qualifications and experience</p>

        <p>The Credibility Coalition (CredCo), a project led by Meedan and Hacks/Hackers, aims to engage the journalism and media research community with the web standards community (specifically the W3C Credible Web Community Group, or CredWeb) to develop an indicator framework for content credibility. We are an interdisciplinary community committed to improving our information ecosystems and media literacy through transparent and collaborative exploration.</p>

        <p>CredCo is looking for an exceptional candidate to lead program management, oversee critical annotation efforts, convene online and offline conversations, manage internal organizational infrastructure and develop compelling data findings on a fast-paced, innovative project. The ideal candidate has experience working with both words and numbers, as comfortable with spreadsheets and data tables as with paragraphs and metaphors. They enjoy keeping trains running on time, building community and sweating the details, all while looking broadly at the big picture. They care deeply about information quality and principles of journalism and media trust.</p>

        <p>This critical role will be central to CredCo’s work, and the candidate will be interfacing directly with data scientists, journalists, journalism students, media researchers and designers, with regular meetings with representatives from the W3C, news and technology platforms and some of the world’s most innovative thinkers on media and the internet. The position will report to the director of product at Meedan and project lead for the Credibility Coalition, and will be responsible for ensuring the group achieves key milestones, develops compelling findings and grows as a community. They will work with a broad range of community members who do not report directly to them but who must produce deliverables in a timely fashion. They will be encouraged to develop their own research and writing ideas and help grow CredCo’s profile amongst the international media trust community.</p>

        <p>This is an ideal position for someone eager to engage in a concrete with the misinformation space. Some national and international travel may be required. We encourage diverse applicants from underrepresented communities in journalism and technology fields. This is a full-time position.</p>

        <h3>Responsibilities</h3>

          <h2>Program and Partnerships (35%)</h2>
            <ul>
                <li>Proactively establish and cultivate critical relationships with new and existing partners, including other organizations in the space (both corporate and NGOs), government entities and universities</li>
                <li>Serve as public face for the organization by giving presentations and leading workshops during global conferences and events</li>
                <li>Help develop a robust PR/communications strategy for 2019 and beyond</li>
                <li>Cultivate and manage burgeoning university partnerships; create eventual network of partner schools</li>
                <li>Support the Project Lead with convening in-person CredCo events and holding meetings as well as recruitment efforts, with an eye toward key diversity and inclusion goals</li>
                <li>Augment business development efforts with senior leadership team</li>
            </ul>

          <h2>Annotation and Data Collection (35%)</h2>
            <ul>
                <li>Manage the annotation of thousands of articles in order to collect valuable data on news and information credibility</li>
                <li>Ensure the timely and efficient delivery of core deliverables, with an emphasis on data output from CredCo annotators, staff and community members</li>
                <li>Recruit, train, motivate and guide annotators and students in annotation exercises, both during in-person events and in remote settings</li>
                <li>Work with the Research Lead on data input, output and analysis as well as developing and defining indicators, drawing from media research and testing data</li>
            </ul>

          <h2>Operations (30%)</h2>
            <ul>
                <li>Perform product management duties in concert with the Meedan engineering team in order to continually improve CredCo’s annotation platform on Check</li>
                <li>Establish and refine key CredCo infrastructure, including but not limited to: budgets, grant proposal templates, travel policies, communications and community policies, calendars</li>
                <li>Work with research partners and the Research Lead to identify strategies for future research and metrics</li>
                <li>Manage CredCo Slack workspace</li>
                <li>Manage social media efforts and general web presence, including the CredCo Medium page and CredCo’s account on the MisinfoCon blog</li>
                <li>Author regular pieces about CredCo for various blogs and outlets</li>
                <li>Manage intern(s)</li>
            </ul>

        <h3>Qualifications</h3>

            <ul>
                <li>Bachelor’s degree or equivalent experience in a related field</li>
                <li>Minimum 2 years’ experience in a project management or similar role</li>
                <li>Demonstrated experience and leadership in managing a comprehensive strategic program to advance an initiative’s mission and goals</li>
                <li>Superior written, oral, interpersonal, and presentation skills</li>
                <li>Demonstrated skill and comfort in proactively building relationships with high level personnel and organizations in the field</li>
                <li>Some light data science experience</li>
                <li>Excellent judgment and creative problem-solving skills</li>
            </ul>

        <h3>The "X" Factor</h3>

            <ul>
                <li>You are a persuasive communicator, skilled collaborator, and innovative thinker with a track record of translating strategic thinking into action plans and output</li>
                <li>You are an entrepreneurial thinker: self-motivated, self-reliant, and driven to perform</li>
                <li>You have demonstrated an ability to leverage your creativity and vision to get results</li>
                <li>You are known for being calm, flexible, and able to manage challenging situations with aplomb</li>
                <li>You are inspired by our mission</li>
                <li>Ability to speak foreign languages a plus</li>
                <li>Ability to quickly learn and use new technologies a plus</li>
                <li>Experience working in cross-cultural contexts and with globally situated teams a plus</li>
                <li>Experience working remotely preferred</li>
                <li>Appreciates and able to skillfully deploy dank memes</li>
            </ul>

        <p>The Credibility Coalition is a project led by Meedan and Hacks/Hackers. This particular position is staffed under Meedan. Meedan is an Equal Opportunity Employer. Meedan does not discriminate on the basis of race, religion, color, sex, gender identity, sexual orientation, age, non-disqualifying physical or mental disability, national origin, veteran status or any other basis covered by appropriate law. All employment is decided on the basis of qualifications, merit and business need.</p>

        <p>Please send CV and statement of interest to <a href="mailto:jobs@meedan.com">jobs@meedan.com</a>.</p>
    </div>

    <div id="devops" class="job">
        <p class="meta"><a href="#">Back to jobs</a></p>

        <h2>Linux DevSecOps Specialist</h2>

        <p class="meta"><strong>Location:</strong> Anywhere within the timezones GMT-3 to GMT-8. Other locations possible for the right candidate.</p>

        <p class="meta"><strong>Availability:</strong> Immediate</p>

        <p class="meta"><strong>Salary:</strong> Commensurate with qualifications and experience</p>

        <h3>Summary</h3>

        <p>Meedan is developing digital tools for collaborative research, verification and translation of online media, to support journalists, activists and other web workers. Meedan’s core products include Check, which brings newsrooms and citizen journalists together to verify news anywhere in the world, and Bridge, which enables collaborative teams of translators and cultural experts to translate and contextualize global social media quickly and accurately.</p>

        <p>We are looking for an experienced DevOps engineer who seeks the challenge of building ambitious software, within a small team of competent technologists and designers. Some of the technologies we’re currently using include the following:</p>

            <ul><li>Ruby / Rails to build API services</li>
                    <li>PostgresQL and Elasticsearch for data storage</li>
                    <li>GraphQL to expose data stores</li>
                    <li>React / Redux / Relay to build cross-platform frontends (web, browser extensions, native / hybrid mobile apps, bots)</li>
                    <li>Elastic stack and Nagios for log management and application monitoring</li>
                    <li>Docker, Ansible for app deployment</li>
                    <li>Jenkins for continuous integration and deployment</li></ul>

        <p>This is a full-time position.</p>
        <h3>Responsibilities</h3>

            <ul>
                <li>Participate in building new versions of our software products</li>
                <li>Manage the server and cloud hosting infrastructure</li>
                <li>Maintain and enhance our Jenkins-based continuous deployment system</li>
                <li>Maintain and enhance our Docker-based container services to use higher-level automation, e.g. Kubernetes</li>
                <li>Participate in performance and security reviews, including fixes where needed</li>
                <li>Maintain and manage a monitoring system for our services and respond to outages</li>
                <li>Maintain and enhance our automated testing infrastructure for backend services and frontend apps</li>
                <li>Support developers in maintaining and enhancing their development environment</li>
            </ul>

        <h3>Qualifications</h3>

            <ul>
                <li>Deep knowledge of HTTP, including but not limited to: securing, routing, caching</li>
                <li>Experience with Ruby, JavaScript and other mainstream programming platforms</li>
                <li>Experience with Linux containerization, especially Docker</li>
                <li>Experience with managing and optimizing database technologies, especially PostgreSQL and Elasticsearch</li>
                <li>Experience with cloud platforms preferred</li>
                <li>Experience with open source software development preferred</li>
                <li>Experience with automated testing preferred</li>
                <li>Ability to quickly learn and use new technologies</li>
                <li>Strong communications and interpersonal skills</li>
                <li>Experience working in cross-cultural contexts</li>
                <li>Experience working remotely preferred</li>
            </ul>

        <p>Meedan is a fast-paced, small software development startup that relies heavily on the unique skills and motivation of each team member. Our team members are able to work flexibly and respond to challenges across a range of project areas.</p>

        <p>Please send CV, Github repo and statement of interest to <a href="mailto:jobs@meedan.com">jobs@meedan.com</a>.</p>
    </div>

  </div>

</section>
