---
title: Check Global Microgrants
short_title: Projects
layout: landing_page
class: campaign project check-global-microgrants
permalink: /project/check-global-microgrants
h2: Check Global Microgrants
standfirst: | 
    Check Global Microgrants are ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pulvinar nunc, id luctus felis. Nunc erat diam, dictum eu odio ullamcorper, sodales facilisis magna. Vestibulum mollis lorem ac magna accumsan, ut porta neque.  
description: | 
    Check Global Microgrants are ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pulvinar nunc, id luctus felis. Nunc erat diam, dictum eu odio ullamcorper, sodales facilisis magna. Vestibulum mollis lorem ac magna accumsan, ut porta neque. 
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">Funds</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point clickable">
            <div class="count">01</div>
            <div class="title">Beirut Response <br />Fund</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/7yu3pvm6ivohoCzFytmIdW/c4ac65e059f26ed6210af7c6f1c2effe/meedan_beirut-response-fund.jpg" alt="Beirut Response Fund" />
            </div>
            <div class="description">In response to the explosion in Beirut we created a $26,000 fund to support independent media organizations and workers on the ground. This fund is now closed to applications.</div>
            <div class="action">→</div>
        </div>
        <div class="key-point clickable">
            <div class="count">02</div>
            <div class="title">COVID-19<br /> Microgrants</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/2O80ER32L22S8aFaV3jkOa/e7b0af514bf6e1e59982d1800000559b/meedan_check-global-micro-grants.png" alt="COVID-19 Microgrants" />
            </div>
            <div class="description">In response to the COVID-19 pandemic we created a New Microgrant fund for COVID-19 Media Work in Emerging Economies. This fund is now closed to applications.</div>
            <div class="action">→</div>
        </div>
        <div class="key-point clickable">
            <div class="count">03</div>
            <div class="title">NAWA Investigative Fund</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/4upBcDMiJ2KguIxDK4RvSl/5162add11036cfb5fde4afa72169137c/meedan_check-global_NAWA-investigative-fund.png" alt="NAWA Investigative Fund" />
            </div>
            <div class="description">The NAWA-IF is a shield fund that supports digital investigative journalists in the NAWA region by providing micro-grants for investigative work across all media. This fund is open for applications.</div>
            <div class="action">→</div>
        </div>
    </div>
</div>

{% include footer_small.html %}