---
title: Check Global Funding
short_title: Projects
layout: landing_page
class: campaign project check-global-funding
permalink: /project/check-global-funding
h2: Check Global Funding
standfirst: | 
    Check Global funds small projects on a rolling basis, where applicants would otherwise be unable to carry out their work  due to the time and resources required to carry it out or other constraints. Applications are received on a rolling basis, and a rigorous review process determines which projects are funded.   
description: | 
    Check Global funds small projects on a rolling basis, where applicants would otherwise be unable to carry out their work  due to the time and resources required to carry it out or other constraints. Applications are received on a rolling basis, and a rigorous review process determines which projects are funded.  
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">Funds</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a href="https://meedan.com/blog/beirut-response-fund-for-independent-media-in-lebanon/" class="key-point clickable">
            <div class="count">01</div>
            <div class="title">Beirut Response <br />Fund</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/7yu3pvm6ivohoCzFytmIdW/c4ac65e059f26ed6210af7c6f1c2effe/meedan_beirut-response-fund.jpg" alt="Beirut Response Fund" />
            </div>
            <div class="description">As an example of how we respond reactively to crises, in 2020 we reallocated funds to support journalists, organisations and students affected by the explosion in Beirut’s pier districts, helping them to continue operating.</div>
            <div class="action">→</div>
        </a>
        <a href="https://meedan.com/blog/new-microgrants-for-covid-19-media-work-in-emerging-economies/" class="key-point clickable">
            <div class="count">02</div>
            <div class="title">COVID-19<br /> Microgrants</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/2O80ER32L22S8aFaV3jkOa/e7b0af514bf6e1e59982d1800000559b/meedan_check-global-micro-grants.png" alt="COVID-19 Microgrants" />
            </div>
            <div class="description">Sometimes we set specific themes for funding calls; in 2020, there was a real need to combat misinformation and tackle issues surrounding COVID-19 health and vaccination news. We selected and funded 24 organisations from 298 applications.</div>
            <div class="action">→</div>
        </a>
        <a href="https://nawamedia.org/nawa-investigative-fund/" class="key-point clickable">
            <div class="count">03</div>
            <div class="title">NAWA Investigative<br /> Fund</div>
            <div class="image-container">
                <img src="//images.ctfassets.net/g118h5yoccvd/4upBcDMiJ2KguIxDK4RvSl/5162add11036cfb5fde4afa72169137c/meedan_check-global_NAWA-investigative-fund.png" alt="NAWA Investigative Fund" />
            </div>
            <div class="description">The NAWA Investigative Fund is our standard open route to funding small projects or investigative works, and has been operating in this way since xxxx. In this time we have funded investigations, training resources, campaigns, reports and other rich media projects.</div>
            <div class="action">→</div>
        </a>
    </div>
</div>

{% include module_updates.html 
    count="4" 
    title="● Highlights from our team and partners" 
    updates_list_id = "4EcjHdXHZ2ax5InAXNYnfd" 
%}

{% include footer_small.html %}