---
title: Check Global Network
short_title: Projects
layout: landing_page
class: campaign project check-global-network
permalink: /project/check-global-network
h2: Check Global Network
standfirst: | 
    The Check Global Network aims to strengthen and facilitate the work of organizations committed to promoting the development of people that have faced historic and systemic barriers in entering the fields of media and technology. 
description: | 
    The Check Global Network aims to strengthen and facilitate the work of organizations committed to promoting the development of people that have faced historic and systemic barriers in entering the fields of media and technology.
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">What we offer</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title">Virtual and in person events and conferences</div>
            <div class="description">We facilitate events with Meedan team members, the network members themselves as well as those of other partners and institutions that we have worked with in different regions over the last decade.</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title">Structured learning opportunities</div>
            <div class="description">We design collaborative and time-bound projects that meet the needs of network members and provide opportunities to respond to global issues. We also recommend members for conferences, internships and training programs.</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title">Our weekly Newsletter, The Checklist</div>
            <div class="description">The Checklist features the work of network members and provides them regular updates on misinformation news from around the world—open-source investigations, industry resources and event information.</div>
        </div>
    </div>
</div>

{% include module_calendar.html 
    title="● Upcoming Events" 
    view="first-item-with-images"
    events_list_id="3621Wo9pdruFq9VS64AvnL" 
%}

<div class="main-grid section-margin">
    <div class="main-grid__1-4">
        <h3>Check has supported some of the largest collaborative reporting initiatives on the internet</h3>
    </div>
    <div class="main-grid__5-12">
        <div class="u-responsive-ratio media-16by9">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lhD379ggq54?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
    </div>
    <div class="main-grid__5-12">
        <p>During the 2016 presidential election in the United States, Check supported Electionland, a national reporting effort covering voting problems during the 2016 election. A coalition of organizations – including ProPublica, Google News Lab, the USA TODAY NETWORK, Univision News, First Draft, WNYC, and the CUNY Graduate School of Journalism in New York – worked together to track the voter experience across the country in real time.</p>
    </div>
</div>

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">Network Partners</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        We collaborate with non-profit organizations, creating open source technology to curate, annotate, fact-check, verify and debunk online misinformation.
    </div>
</div>

<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="#">
            <div class="name">Chicas Poderosas</div>
            <div class="description">Latin America</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">PesaCheck</div>
            <div class="description">East Africa</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">CITE</div>
            <div class="description">Zimbabwe</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Syrian Archive</div>
            <div class="description">Syria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Yemeni Archive</div>
            <div class="description">Yemen</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Sowt</div>
            <div class="description">Jordan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Metras</div>
            <div class="description">Palestine</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Digital Rights Foundation</div>
            <div class="description">Pakistan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">VERAFiles</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Rappler</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">VFrame</div>
            <div class="description">Global</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Huridocs</div>
            <div class="description">Global</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">M&E Lab</div>
            <div class="description">UK</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">The Oxford Internet Institute</div>
            <div class="description">UK</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>
<div class="main-grid section-margin small-hr">
    <div class="main-grid__1-4">
        <h3>Apply to join our network</h3>
    </div>
    <div class="main-grid__5-12">
        <p>We are currently accepting applications to join the Check Global Network for media and tech in emerging economies. Please fill in the webform below or <a href="mailto:checkglobalnetwork@meedan.com"></a>email</a> with your statement of interest.</p>
        {% include contact_form.html form_name="Check-Global-Network-Join-Form" %}
    </div>
</div>
{% include footer_small.html %}