---
layout: "default"
slug: "checkpoint-TOS"
title: "Checkpoint Terms of Service"
---
<main class="policy">
  <h1>Checkpoint Terms of Service</h1>

  <p class="meta">Last modified: April 1, 2019</p>

  <p>Thank you for reaching out to the Checkpoint Verification Research Tipline on WhatsApp (“<strong>Tipline</strong>”) made available to you (“<strong>you</strong>”, “<strong>your</strong>”) by Protograph Studio Pvt. Ltd. (“<strong>we/us/our/PROTO</strong>”). By using the Tipline, you agree to be bound by these Checkpoint Terms of Use (“<strong>Terms</strong>”) in addition to the terms of service of WhatsApp located at <a href="https://www.whatsapp.com/legal/#terms-of-service" target="_blank">https://www.whatsapp.com/legal/#terms-of-service</a> and not to engage in any activities that are or may be in contravention of these Terms. Hence, we insist that You spend time reading these Terms.</p>

  <h3>A. APPROVED USAGE</h3>
  <ol>
    <li>By using the Tipline, you represent and warrant to us that you are of the legal age and capacity to form a binding contract with us.</li>
    <li>You can use the Tipline by sending us a question or confirming whether you desire us to verify the information or not. Only upon receipt of such question and subsequent confirmation requesting for verification shall we respond with our findings and verification report (“<strong>Verification Report</strong>”). Such Verification Report is prepared on the basis of publicly available information provided by reliable sources on as-is basis.</li>
    <li>By submitting any query to the Tipline, you represent and warrant that you are either the owner of such query (“<strong>Content</strong>”) and/or have the requisite authority of the owner of such Content to submit such Content to the Tipline.</li>
    <li>We do not use the Tipline to send out any unsolicited links or information whatsoever.</li>
  </ol>

  <h3>B. PROVISION OF THE TIPLINE</h3>
  <ol>
    <li>The Verification Report shared with you is based on publicly available information, provided to us on an as-is basis, our accuracy is subject to the accuracy of such information. Please exercise your discretion and judgment before relying upon the Verification Report.</li>
    <li>You are not allowed to publicly display the Verification Report as is, for any purpose whatsoever.</li>
    <li>The Verification Report shared with you is only for your non-commercial and personal use. We neither require nor ask you to share or publish the Verification Report. We will not be liable or responsible for any consequences to you for your sharing or publishing of the Verification Report.</li>
    <li>The Verification Report shared with you may contain third-party links and contain information gathered from third-parties. Your use of such third-party information shall be subject to the terms of use and privacy policies of these third-parties. You may read such terms of use and privacy policy on the websites of such third-parties. Please be informed that you may share or publish the information received from us with any persons or individuals only if such sharing and publication is permitted by the third-parties.</li>
    <li>We neither endorse nor are we responsible for any information shared by any third-parties, including third-party links shared in the Verification Report, and for the consequence of such sharing or posting.</li>
    <li>You grant us the limited, perpetual, non-exclusive, royalty free license to store, display, reformat and distribute the Content.</li>
    <li>We may stop the Tipline, permanently or temporarily, at our sole discretion, without any prior notice. Your use of the Tipline following any such modification constitutes your deemed acceptance to be bound by these Terms (or as they may be modified).</li>
    <li>You shall not engage in any activities, actions or omissions whatsoever that render your use of the Tipline or requisitioning of information illegal.</li>
    <li>In the event that you use the Tipline to communicate any information which we deem in our sole opinion to be illegal or unlawful or punishable under the laws of the Republic of India, we shall have the right to relay and disclose such information to any governmental or/and law enforcement authorities.</li>
  </ol>

  <h3>C. TERMINATION</h3>
  <ol>
    <li>We may have to terminate your access to the Tipline if:
      <ol class="second">
        <li>We are required to do so by law (for example, where the access to and/or provision of the Tipline to you becomes, unlawful); and/or</li>
        <li>The provision of the Tipline to you, is no longer commercially viable or feasible for us.</li>
      </ol>
    <li>We may terminate these Terms and the Tipline at any time, with or without notice.</li>
  </ol>

  <h3>D. LIMITATION OF LIABILITY AND INDEMNIFICATION</h3>
  <ol>
    <li>Your use of the Tipline and the Verification Report is entirely at your own risk and we shall not be liable for any direct, indirect, incidental, consequential, special, exemplary, punitive, monetary or any other damages, fees, fines, penalties or liabilities whatsoever arising out of or relating to your use of the Tipline as well as the Verification Report.</li>
    <li>You shall defend, indemnify and hold us, our officers, directors, employees, representatives and agents harmless from and against any claims, actions, demands, liabilities, judgments, and settlements, including without limitation, reasonable legal fee that may result from or alleged to result from (a) your use of the Tipline; and/or (b) your breach of any rules, regulations and/or orders under any applicable law.</li>
  </ol>

  <h3>E. GOVERNING LAW AND DISPUTE RESOLUTION</h3>
  <ol>
    <li>These Terms and any dispute arising between you and us shall be subject to the exclusive jurisdiction of the competent courts of New Delhi.</li>
    <li>In the event of any dispute arising between you and us regarding these Terms, including your use of the Tipline, such dispute shall be referred to a sole arbitrator appointed by PROTO in accordance with the Arbitration and Conciliation Act, 1996. Such arbitration shall take place in New Delhi and the courts of New Delhi shall have jurisdiction over the arbitration. The language of the arbitration shall be English.</li>
  </ol>

</main>
