<div class="photo-frame">
  <p>Meedan is a hybrid nonprofit/for-profit organization. We share code, people, offices, and values across two companies. Meedan.org is a registered 501(c) 3 established in 2006 that works on non-commercial projects to support global journalism. Meedan Labs is a for-profit spun off in 2014 to develop software for collaborative social media translation.</p>
</div>