<!-- See the readme on our SVG technique -->
<!-- Basically is a big sprite file bundling all our svg -->
<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  @@include('../../www/images/vector/images.svg')
</div>