---
title: Donate to Meedan
short_title: Meedan
layout: landing_page
class: campaign annual
permalink: /donate/2021
h2: Access to health information saves lives
standfirst: | 
    <span class="">Can you help support it?</span><br />
    <span class="">Every year, Meedan has launched or expanded a new aspect of our work. 2020 was a year centered on health information equity and closed messaging fact-checking. Help us welcome 2021 with a one-time donation to support our next project!</span>
description: | 
    Every year, Meedan has launched or expanded a new aspect of our work. 2020 was a year centered on health information equity and closed messaging fact-checking. Help us welcome 2021 with a one-time donation to support our next project!
callout: |
    Every contribution, big or small, counts →
---
<div class="module module-key-points section-margin">
    <div class="main-grid key-points" id="key-points">
        <div class="key-point">
            <div class="count">Donate $5</div>
            <div class="title">😊</div>
            <div class="description">With a donation of any size, you will receive a subscription to our newsletter, and your name will be listed on our website.</div>
            <div class="donate-options">
                <div class="dots">
                    <button data-checkout-mode="payment" data-price-id="price_1HwHZmIpkBxgLmwk7QDyip0E">$5</button>
                    <button data-checkout-mode="payment" data-price-id="price_1Hunl9IpkBxgLmwkvo0XgosM">$10</button>
                </div>
            </div>
        </div>
        <div class="key-point">
            <div class="count">Donate $25 or more</div>
            <div class="title">😄</div>
            <div class="description">With a donation of $25 and above, you will be invited to join a closed-door Q&A session with our public health experts where you can ask any question you’d like about COVID-19, the latest vaccine updates, and other topics related to infectious disease.</div>
            <div class="donate-options">
                <div class="dots">
                    <button data-checkout-mode="payment" data-price-id="price_1Huo1lIpkBxgLmwkNtglexwt">$25</button>
                    <button data-checkout-mode="payment" data-price-id="price_1Huo2AIpkBxgLmwk7zRjpWku">$50</button>
                </div>
            </div>
        </div>
        <div class="key-point">
            <div class="count">Donate $100 or more</div>
            <div class="title">🤩</div>
            <div class="description">With a donation of $100 and above, you will receive Meedan merchandise.</div>
            <div class="donate-options">
                <div class="dots">
                    <button data-checkout-mode="payment" data-price-id="price_1Huo2VIpkBxgLmwkxCtgxz59">$100</button>
                    <button data-checkout-mode="payment" data-price-id="price_1Huo2rIpkBxgLmwk17u5WAJj">$250</button>
                    <button data-checkout-mode="payment" data-price-id="price_1Huo4YIpkBxgLmwk3pj2dwOm">$500</button>
                    <button data-checkout-mode="payment" data-price-id="price_1Huo52IpkBxgLmwknbWrKkbq">$1K</button>
                </div>
            </div>
        </div>
        <div class="key-point">
            <div class="count">Donate $5000</div>
            <div class="title">Sponsor a Scientist 👩‍🔬👨‍🔬</div>
            <div class="description">With a donation of $5000 and above, you will be invited to a private session with you and up to 5 members of your organization to hear updates from our scientists, and ask any questions you may have.</div>
            <div class="donate-options">
                <div class="dots">
                    <button data-checkout-mode="payment" data-price-id="price_1Huo5eIpkBxgLmwk40kmsXID">$5K</button>
                </div>
            </div>
        </div>
        <div class="key-point">
            <div class="count">Donate $10,000</div>
            <div class="title">Digital Health Equity Fund</div>
            <div class="description">With a donation of $10000 and above, the funds will be distributed across Meedan programs, with a special emphasis on our health programs. You’ll receive a one-of-a-kind collaborative art piece from one of our partners.</div>
            <div class="donate-options">
                <div class="dots">
                    <button data-checkout-mode="payment" data-price-id="price_1Huo66IpkBxgLmwk9S2ppIPV">$10K</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <div class="main-grid__1-7">
            <div class="smallprint">
                <p>By proceeding, you are agreeing to our <a href="/check/check_tos.html">Terms and Conditions</a>. To find out what personal data we collect and how we use it, please visit our <a href="/check/check_privacy.html">Privacy Policy</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="module section-margin module-details small-hr">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <h3>Why donate?</h3>
            <p>Meedan works in a unique space in the information sphere - by providing tools to people addressing, studying, and educating the public about misinformation, we inform the zeitgeist of internet culture.</p>
            <p>We have built a network of passionate media creators, journalists, researchers and internet users all over the world who use our tools as a critical resource for tackling misinformation, and to build an infrastructure for safe and healthy information sharing. Last but not least, our team members have contributed to publications like The New York Times, MIT Technology Review, and The Atlantic to contribute thought leadership about consuming and critiquing media.</p>
            <p>We have wonderful organizations supporting the work we do, but we invite YOU to support the Meedan mission. Make a difference in internet equity today, and consider making a monthly or yearly donation.</p>
            <p><a class="button transparent no-bottom-margin" href="#key-points">Donate Now ↑</a></p>
        </div>
        <div class="main-grid__6-12">
            <figure class="main-grid__1-8">
                <img src="/images/meedan_team_remote.jpg" alt="The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow." />
                <figcaption class="main-grid__1-4 credit align-self--end">▲ Your donation will also help our staff enjoy our plants. 🙂</figcaption>
            </figure>
        </div>
    </div>
</div>
{% include stripe.html path="2021/" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}