---
title: Donate to Meedan
short_title: Meedan
layout: landing_page
class: campaign dark color--coral
permalink: /donate/thanks
h2: <span class="color--coral">Thanks for your donation!</span>
standfirst: | 
    <span>Thank you! Your generous contribution, no matter how big or small, will help us improve our Check product, lead more trainings with journalists worldwide, and continue our research initiatives.</span><br /><br /><span class="color--white">← <a href="/">Back to home</a></span>
description: | 
    Thank you! Your generous contribution, no matter how big or small, will help us improve our Check product, lead more trainings with journalists worldwide, and continue our research initiatives.
custom_js: donate
---
<div class="module section-margin module-details">
    <div class="main-grid">
        <div class="main-grid__1-5">
            
        </div>
    </div>
</div>
{% include stripe.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}