---
layout: "default"
slug: "annual-report-2014"
ogp:
  og:
    description: 'The 2014 Meedan.org Annual Report'
    image:
      '': http://meedan.com/images/annual-report/team-6-peach-screen.jpg
      type: image/jpg
      width: 3068
      height: 2448
    locale:
      '': en_us
---

<div class="annual-report__section lead-photo">
  <div class="image-banner"></div>
  <div class="caption">A typical day in 2014 at the Meedan offices at 972 Mission Street, San Francisco, where we have been for 5 years. CC-BY 2014 Meedan</div>
</div>

<div class="annual-report__section lead-text">
  <h1><span class="the">The</span> 2014 Meedan.org Annual Report</h1>

  <div class="fleuron">&#10086;</div>

  <p class="intro">This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
</div>

<div class="annual-report__section ceo-note">
  <div class="inner">
    <h2>CEO&rsquo;s Note</h2>

    <p>2014 will go down in the history books as a year the world failed to improve itself. With a majority of our programing in the Arab region, Meedan’s work and partners have been reporting on, but also living through, this failure. Meedanis (the people of Meedan) and our partners have been, through this year, continuing our work in media verification and social media translation. Our media verification platform Checkdesk enabled partners like the Egyptian hyper-local media initiative Welad El Belad, the Syrian media collective Shabab Souria, and the UK-based Open Journalism pioneers Bellingcat to do reporting on the region that has entered into and influenced the international debate.
    </p>

    <p>
       <!-- Commented out while their blog is broken @chris 2017-11-20 -->
      <!-- We were honored with a <a href="http://www.knightfoundation.org/blogs/knightblog/2014/6/23/19-projects-win-knight-news-challenge-strengthening-internet/?utm_content=buffer06bf9">2014 Knight News Challenge award</a>  -->We were honored with a 2014 Knight News Challenge award for Checkdesk and were honored to present our work at the <a href="http://meedan.org/2014/06/checkdesk-announced-knight-news-challenge-winner">MIT MediaLab Civic Media conference</a>.</p>

    <p>Meedan’s greatest successes in 2014, though, may have been in the strength and diversity of the open journalism trainings and online educational resources produced under the Checkdesk project. Our Arabic language journalism training resources, available at <a href="http://arabcitizenmedia.org">arabcitizenmedia.org</a>, produced in collaboration with our partners and led by the outstanding research team at Birmingham City University working under Dr. Dima Saber, represent the best open resources for young and aspiring Arab digital journalists. This work also includes the official Arabic translation of the European Journalism Center’s <a href="http://verificationhandbook.com/">Verification Handbook</a>. By the numbers there have been 1440 journalists trained in media verification and open journalism tools and processes under the Checkdesk project over the past 24 months, these trainings have occurred across the region from rural Egypt to Beirut. Additionally we implemented the first J-School curriculum on media verification in the region with the Lebanese American University.</p>

    <p>2014 also saw Meedan take its first serious foray into social entrepreneurism. With much of our income in 2013 coming in software development, in 2014 Meedan.org spun off a for-profit entity, taking an equity position and, with the help of the non profit law firm Adler Colvin, crafting a resource sharing agreement with Meedan Labs. We are pleased to be bringing social translation technologies to one of the world’s largest networks through Labs. We view this as a wise path for building a sustainable Meedan, having web-wide impact, and diversifying our revenue streams.</p>

    <p>We are grateful to all our sponsors, partners, and friends around the world for the opportunity to do high impact work with a creative and global team and take the continued struggles of our planet and our Internet as reason to carry on with the work.</p>

    <p>Salam,</p>
    <p>
      <span class="full-name"><a href="http://twitter.com/edbice">Ed Bice</a></span>
      <span class="title">CEO &amp; Board Chair</span>
    </p>
  </div>
</div>

<div class="annual-report__section">
  <div class="image-banner team-2"></div>
  <div class="caption">The Meedan team meeting with international partners, prototyping and doing user research together. CC-BY 2014 Meedan</div>
</div>

<div class="annual-report__section mission-statement">
  <div class="inner">
    <h2>Our Mission</h2>
    <p>Meedan builds web and mobile tools and implements creative projects for journalists and translators. Like our namesake the Arabic town square, our tools serve as a gathering place for talented people working to add context to the social web. Our approach is to design and implement human-centered, creative, and ambitious projects with world-class partners, including, corporations, media companies, universities, and researchers. Through all these projects we explore and support research, curriculum development, and new forms of digital storytelling.  Our vision is a world that is better able to see, understand, and value its diversity. This, we hope, will lead to the real promise of a digitally networked planet, a global conversation that is wider, deeper, and more effective.
    </p>

    <h2>Where we were in 2014</h2>

     <p>In 2014 Meedan and our network of partners conducted training, reporting, and hosted events in the Arab world (Egypt, Lebanon, Palestine, Jordan, Syria, Qatar) and Eastern Europe (Ukraine) in addition to the US and UK.</p>
  </div>
</div>

<div class="annual-report__section">
  <div class="image-banner team-3"></div>
  <div class="caption">An and Karim at work. CC-BY 2014 Meedan</div>
</div>

<div class="annual-report__section programs">
    <h2>Our Programs</h2>

    <ul>
      <li>
        <h3>Checkdesk</h3>
        <p>The Checkdesk program seeks to develop digital media literacy and citizen journalism in the Arab world, through the provision of high quality reporting tools (Checkdesk), training resources (<a href="http://arabcitizenmedia.org/">ArabCitizenMedia.org</a>) and reporting by grassroots media collectives.</p>
      </li>
      <li>
        <h3>Verification Handbook</h3>
        <p>In addition to contributing a case study, Meedan led the official translation into Arabic of the <a href="http://verificationhandbook.com/">Verification Handbook</a> &mdash; the first authoritative and comprehensive guide to digital verification techniques and tools, published by the <a href="http://ejc.net/">European Journalism Center</a>.</p>
      </li>
      <li>
        <h3>Yallah Forum</h3>
        <p>YALLAH (Youth Allied to Lead, Learn and Help) Forum is a cross-language forum developed by Meedan to support the international exchange programs of <a href="http://qfi.org/">Qatar Foundation International</a>. YALLAH allows English and Arabic speaking students to share ideas, conversations and experiences across languages.</p>
      </li>
    </ul>
</div>

<div class="annual-report__section financials">
  <div class="inner">
    <h2>2014 Financials</h2>

    <table>
      <tr>
        <td><h3>Revenues</h3></td>
        <td></td>
      </tr>
      <tr>
        <td>Contributions and grants</td>
        <td>$1,907,512</td>
      </tr>
      <tr>
        <td>Program service revenue </td>
        <td>$33,713</td>
      </tr>
      <tr>
        <td>Investment income</td>
        <td>$339</td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$1,941,564</td>
      </tr>
      <tr>
        <td><h3>Expenditures</h3></td>
        <td></td>
      </tr>
      <tr class="total">
        <td>Total:</td>
        <td>$871,408</td>
      </tr>
    </table>
  </div>
</div>

<div class="annual-report__section contact-us">
  <h2>Meedan’s Board of Directors:</h2>
  <ul>
    <li>Muna AbuSulayman</li>
    <li>Ed Bice </li>
    <li>Jon Corshen</li>
    <li>Hanan Heikal</li>
    <li>Wael Fakharany</li>
  </ul>
</div>

<div class="annual-report__section contact-us">
  <h2>Contact</h2>

  <div>
    <span>Meedan Inc.</span>
    <span>1355 Market, Suite 488</span>
    <span>San Francisco, CA</span>
    <span>94103</span>
  </div>

  <a class="hello button" href="mailto:hello@meedan.com">Hello@meedan.com</a>
</div>

<div class="annual-report__section donate">
  <h2>Donate</h2>

  <p>Meedan has a vision of a wider world web in which citizens can collaborate across languages, and global conversation is a bit broader, deeper and more effective. Support Meedan in building world class tools for journalists, citizen journalists and translators. </p>

  <a class="button" href="https://donorbox.org/support-meedan">Become a Meedan Supporter</a>
</div>

