@import url(font-awesome-4.1.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,900);
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes fade-in {
  /* line 54, ../sass/_animation.scss */
  0% {
    opacity: 0;
  }

  /* line 57, ../sass/_animation.scss */
  90% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  /* line 54, ../sass/_animation.scss */
  0% {
    opacity: 0;
  }

  /* line 57, ../sass/_animation.scss */
  90% {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  /* line 54, ../sass/_animation.scss */
  0% {
    opacity: 0;
  }

  /* line 57, ../sass/_animation.scss */
  90% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  /* line 54, ../sass/_animation.scss */
  0% {
    opacity: 0;
  }

  /* line 57, ../sass/_animation.scss */
  90% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 54, ../sass/_animation.scss */
  0% {
    opacity: 0;
  }

  /* line 57, ../sass/_animation.scss */
  90% {
    opacity: 1;
  }
}

/* line 63, ../sass/_animation.scss */
div {
  -webkit-animation: fade-in 2s;
  -moz-animation: fade-in 2s;
  -ms-animation: fade-in 2s;
  -o-animation: fade-in 2s;
  animation: fade-in 2s;
}

/* line 22, ../sass/screen.scss */
body {
  padding-bottom: 1em;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1em;
  font-size: 23px;
  font-weight: 400;
}

/* line 31, ../sass/screen.scss */
h1 {
  font-weight: 200;
}

/* line 35, ../sass/screen.scss */
h2, h3 {
  font-weight: 500;
  font-family: "open sans", "helvetica neue", "helvetica";
  text-transform: uppercase;
  font-size: 1em;
}

/* line 42, ../sass/screen.scss */
em {
  font-weight: bold;
}

/* line 46, ../sass/screen.scss */
a {
  color: #6d9ed3;
  text-decoration: none;
  border-bottom: 3px #e3ecf6 solid;
}

/* line 52, ../sass/screen.scss */
div {
  padding: 5em;
  border-bottom: 4px solid #eceee7;
}

/* line 57, ../sass/screen.scss */
ul {
  text-align: center;
}

/* line 61, ../sass/screen.scss */
p {
  padding: 1em;
}

/* line 65, ../sass/screen.scss */
li {
  display: inline-block;
  padding: 0 1em 1em;
}

/* line 70, ../sass/screen.scss */
.image-stripe {
  padding: 2em;
  border-width: 0;
  background-color: #f1f2ed;
  background-image: url('../images/b.jpg?1386128514');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

/* line 84, ../sass/screen.scss */
nav {
  padding: 2em;
  font-size: 15px;
}

/* line 90, ../sass/screen.scss */
#logo {
  padding: 3em 0 0 0;
  display: inline-block;
}

/* line 97, ../sass/screen.scss */
.hed {
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

/* line 125, ../sass/screen.scss */
.vcard {
  font-size: 18px;
  font-weight: 200;
  color: #c3c7b2;
}
/* line 128, ../sass/screen.scss */
.vcard div {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 132, ../sass/screen.scss */
.vcard a {
  color: #c3c7b2;
  text-decoration: underline;
  border-bottom-width: 0;
}
/* line 137, ../sass/screen.scss */
.vcard .org {
  color: #c3c7b2;
}

/* line 145, ../sass/screen.scss */
body.meedan-labs {
  font-family: "lato", "Helvetica Neue";
}
@media all and (max-width: 699px) {
  /* line 145, ../sass/screen.scss */
  body.meedan-labs {
    font-size: 18px;
  }
  /* line 149, ../sass/screen.scss */
  body.meedan-labs .hed {
    font-size: 18px;
    font-weight: 400;
    color: #333;
  }
  /* line 154, ../sass/screen.scss */
  body.meedan-labs div {
    padding: 1em;
  }
}

/* line 163, ../sass/screen.scss */
body.meedan-org {
  font-family: "open sans", "Helvetica Neue";
  font-size: 18px;
}
