@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,900);
/* line 17, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
body {
  padding-bottom: 1em;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1em;
  font-size: 23px;
  font-weight: 400;
  background-color: #f1f2ed;
  background-image: url('/images/meedan_logo_trans.png?1398225405');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

/* line 37, ../sass/screen.scss */
img {
  max-width: 90%;
}

/* line 41, ../sass/screen.scss */
h1 {
  font-weight: 200;
}

/* line 45, ../sass/screen.scss */
em {
  font-weight: bold;
}

/* line 49, ../sass/screen.scss */
h2, h3 {
  font-weight: 500;
  font-family: "open sans", "helvetica neue", "helvetica";
  text-transform: uppercase;
  font-size: 1em;
}

/* line 56, ../sass/screen.scss */
a {
  color: #6d9ed3;
  text-decoration: none;
  border-bottom: 3px #e3ecf6 solid;
}

/* line 62, ../sass/screen.scss */
div {
  padding: 5em;
  border-bottom: 4px solid #eceee7;
}

/* line 67, ../sass/screen.scss */
ul {
  text-align: center;
}

/* line 71, ../sass/screen.scss */
li {
  display: inline-block;
  padding: 1em 1em;
}

/* line 76, ../sass/screen.scss */
nav {
  border-bottom: 4px solid #eceee7;
}
/* line 78, ../sass/screen.scss */
nav #logo {
  display: inline-block;
}

/* line 85, ../sass/screen.scss */
nav {
  background-color: white;
  background-image: url('/images/a.jpg?1386128507');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding-top: 4em;
}

/* line 98, ../sass/screen.scss */
.hed {
  font-size: 2em;
  background-color: #f1f2ed;
  color: #311c4e;
  padding: 1em;
  text-align: center;
}

/* line 110, ../sass/screen.scss */
.projects {
  background-color: #f1f2ed;
  background-image: url('/images/gradient.png?1402952741');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
/* line 118, ../sass/screen.scss */
.projects a {
  color: #311c4e;
  font-size: 1.5em;
  background-color: white;
  padding: 1em 0.5em;
}

/* line 132, ../sass/screen.scss */
.media-coverage {
  background-color: #f99157;
}
/* line 135, ../sass/screen.scss */
.media-coverage a {
  color: #311c4e;
  border-bottom: 3px solid #f77126;
}

/* line 143, ../sass/screen.scss */
.vcard {
  font-size: 18px;
  font-weight: 200;
  color: #c3c7b2;
}
/* line 146, ../sass/screen.scss */
.vcard div {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 150, ../sass/screen.scss */
.vcard a {
  color: #c3c7b2;
  text-decoration: underline;
  border-bottom-width: 0;
}
/* line 155, ../sass/screen.scss */
.vcard .org {
  color: #c3c7b2;
}

/* line 163, ../sass/screen.scss */
body.meedan-labs {
  font-family: "lato", "Helvetica Neue";
}
@media all and (max-width: 699px) {
  /* line 163, ../sass/screen.scss */
  body.meedan-labs {
    font-size: 18px;
  }
  /* line 167, ../sass/screen.scss */
  body.meedan-labs .hed {
    font-size: 18px;
    font-weight: 400;
    color: #333;
  }
  /* line 172, ../sass/screen.scss */
  body.meedan-labs div {
    padding: 1em;
  }
}

/* line 181, ../sass/screen.scss */
body.meedan-org {
  font-family: "open sans", "Helvetica Neue";
  font-size: 18px;
}
