---
layout: "default"
slug: "annual-report-2017"
ogp:
  og:
    description: 'The 2017 Meedan Annual Report'
    image:
      '': http://meedan.com/images/annual-report/group.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---
<div class="page-body">
  <div class="site-wrapper">
    <div class="p-header">
      <div class="p-header-container">
        <h1>2017 Annual Report</h1>
        <h2>Meedan designs/develops open source software, leads monitoring projects, produces assessment standards, and conducts trainings in support of global digital journalism, human rights media investigations, and digital media verification.</h2>
      </div>
    </div>
    <section class="precontent">
      <div class="nav-wrapper">
        <div class="nav">
          <ul>
            <li><a href="#introduction">CEO's Note</a></li>
            <li><a href="#in-numbers">In Numbers</a></li>
            <li><a href="#reviews">What are people saying?</a></li>
            <li><a href="#financials">Financials</a></li>
          </ul>
        </div>
      </div>
      <div class="columns about-report">
        <div class="column-a">
          <p>This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
        </div>
        <div class="column-b">
          <div class="illustration">
            <img src="//images.ctfassets.net/g118h5yoccvd/6WyFUg4Ms8G2cEcQescK8Y/0d27f795fc6ce7c47ded094e75ed3b4c/graphic_verticals.png" alt="Graphic"/>
</div>
          </div>
        </div>
    </section>
    <div class="break start-introduction" aria-hidden="true">
      <div class="break-wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
    </div>
    <section class="content introduction" id="introduction">
      <div class="graphic-wrapper bordered">
        <h2><span>1.</span> CEO’s Note</h2>
        <div class="illustration">
          <img src="//images.ctfassets.net/g118h5yoccvd/6Zwa8hoN1eeqoWaqyQscqk/fbcbb3cfe808c8d9c86696f7bf19f77e/graphic_introduction.png" alt="introduction"/>
</div>
        </div>
        <div class="content-wrapper bordered">
          <p class="lead">2017 was a remarkable year to be working on digital journalism. It was the year that the last remnants of idealism were rung out of the fabric of our global interwebs. Our dreams of the citizen empowering, knowledge extending, society improving internet were being trolled, doxed, and brigaded away.</p>
          <p class="lead">We are designers, though.</p>
          <div class="media">
            <div class="media-image">
              <img src="//images.ctfassets.net/g118h5yoccvd/7mi4sWROggymaWcck6ku04/0d5ae77b3680b38969690c7f1235c011/CheckCon_Beirut.jpg?fl=progressive" alt="Check Con, Beirut - April 2017" />
      </div>
              <div class="media-caption">
                <div class="media-caption-title">Check Con, Beirut - April 2017</div>
                <div class="media-caption-body"></div>
              </div>
            </div>
            <div class="columns">
              <div class="column column-a">
                <h3>Common Standards</h3>
              </div>
              <div class="column column-b">
                <p>So, when the dust settled on Electionland (before the awards for that project started to drop from the sky) we recognized that the 1000 journalists that were working into our software, doing annotation work, classifying content were completely disconnected from the machinery. We called for: “common media verification standards and APIs, and they should work to develop a shared visual language to expose the work of media verification and fact-checking professionals. This means developing a new schema for verification.” </p>
                <p>This found its form in the Credibility Coalition, an initiative we started with Hacks/Hackers that has grown in 2017 to bring Facebook, Google, Twitter, and the W3C behind this effort to develop and test third party signals that can be used to describe link, claim, and image credibility. It is a daunting and ambitious project and amounts to an effort to create a machine readable context layer above the web. </p>
                <p>Also in 2017 we partnered with Dig Deeper Media to start Pop-Up Newsroom, to seed and launch collaborative reporting initiatives in different contexts and countries around the world. To date, much of our work has been focused on the challenge of limiting the spread and impact of viral misinformation around elections, and creating media projects that serve audiences through provision of credible content, debunks, and media literacy content. Pop-Up Newsroom was deployed in the US at Texas State’s J-School where we ran a training program for young journalists working on the Documenting Hate project.</p>
                <p>With our brilliant partners at Birmingham City University we created the first CheckCon where friends like Katherine Maher, Lina Attalah, Jillian York and many more inspired a global gathering of media and internet geeks with their ideas on the future of open knowledge and open tools. </p>
                <p>We have witnessed increasing global demand for access to Check from global civil society and independent media. For example, following Rappler’s implementation of Check in the Philippines, IFCN signatory VERA Files (also in the Philippines) requested access and are now using Check as their primary fact-checking workbench. We ran two projects with Hong Kong University using Check and Bridge to monitor and translate Weibo content. Bellingcat has used Check to open crowdsource geolocation of imagery for Interpol. Syrian Archive and the Berkeley Human Rights Center conducted digital investigations that conclusively showed the provenance of chemical weapons attacks in Syria. CrossCheck and Electionland both ran on Check and picked up OJAs (Online Journalism Awards). And, following PesaCheck’s use of Check in the Kenyan election in November 2017, the Media Council of Kenya and groups in Zimbabwe (CITE, ZimFact) have partnered with us.</p>
                <div class="media">
                  <div class="media-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/29EqTxtg8IaQgUQCaYYwo6/6049b1340804627185e0f796fc9e0835/_Priority__An_at_Rights_Con_2017.jpg?fl=progressive" alt="Rights Con, Brussels - March 2017" />
      </div>
                    <div class="media-caption">
                      <div class="media-caption-title">Rights Con, Brussels - March 2017</div>
                      <div class="media-caption-body"></div>
                    </div>
                  </div>
                  <p>There is no question that this past seven years of our work has been a single long, and, from this vantage point, prescient, arc to the epicenter of the internet freedom and access issues that offer a serious threat to democratic systems around the world. We take this to be very much the challenge of our time, and a challenge that does not just impact political participation, but also public health, education, environment, and virtually every area of online discourse. We did not envision seven years ago that our idea for addressing verification in service of raising citizen voices would have put us in the middle of the effort to improve the very infrastructure of the web, but we are extremely proud that we have navigated our work to this point and are very grateful for the huge contributions to our work in 2017 from our funders, partners, and, most importantly, our users.</p>
                  <p>In the next year we expect to work with amazing partners like Yemen Archive, Rappler, Animal Politico, Chicas Poderosas, AfricaCheck, Witness, and Dig Deeper in election settings, digital investigations, and crisis response efforts. Most importantly, we will pursue this ambitious agenda with an organizational commitment to place diversity, kindness, and support for the well-being of our team members and partners at the core of everything we do. </p>
                  <p>Until Soon, <br />
                    EAB</p>
                </div>
              </div>
              <hr />
              <h2>Program Names</h2>
              <div class="columns">
                <div class="column column-a">
                  <h3>Check Global</h3>
                </div>
                <div class="column column-b">
                  <p>CHECK — Meedan's flagship project focused on open source technologies for media, source, link verification and research and trainings that support these practices. Beneficiaries include human rights investigators, independent journalists, and civil society orgs. In 2017 we delivered high impact projects in Lebanon, Philippines, Hong Kong, Kenya, Egypt, France, England, and the US.</p>
                </div>
              </div>
              <hr />
              <div class="columns">
                <div class="column column-a">
                  <h3>Credibility Coalition</h3>
                </div>
                <div class="column column-b">
                  <p><a href="//credibilitycoalition.org/">The Credibility Coalition</a> is a diverse, interdisciplinary community committed to improving information ecosystems and media literacy through transparent and collaborative exploration. Rather than jointly deciding whether an article is “credible” or “not credible” or endorsing any single index or evaluation of credibility, the Credibility Coalition fosters the development of a framework around which credibility can be discussed and interpreted.</p>
                  <p>Our goal is to provide a range of indicators that can be used by a person — or a system — to gauge if an article can inform or educate that person (or whoever the audience is likely to be).</p>
                </div>
              </div>
              <hr />
              <div class="columns">
                <div class="column column-a">
                  <h3>Pop-Up Newsroom</h3>
                </div>
                <div class="column column-b">
                  <div class="media">
                    <div class="media-image">
                      <img src="//images.ctfassets.net/a1gidpdiipum/2YXXwCjoM8wYCeIkEYYYm2/b19307d269be56e88b2dac603f2c0071/PopUpGE2017_2-3.jpg?fl=progressive" alt="#GE2017 in the UK" />
      </div>
                      <div class="media-caption">
                        <div class="media-caption-title">#GE2017 in the UK</div>
                        <div class="media-caption-body"></div>
                      </div>
                    </div>
                    <p><a href="//popup.news/">Pop-Up Newsroom</a> was founded in 2017 by Dig Deeper Media and Meedan and is an innovation framework for newsrooms that are changing the way they collaborate, communicate and engage audiences through new tools and training. Our structured approach to innovation — both technological and editorial — is unique.</p>
                    <p>The Pop-Up Newsroom team have been involved in leading a number of large, high-profile social monitoring and verification projects since 2016: from Electionland in the US, to CrossCheck in France, #GE2017 in the UK. </p>
                  </div>
                </div>
                <hr />
                <div class="columns">
                  <div class="column column-a">
                    <h3>The Translation Project /Bridge </h3>
                  </div>
                  <div class="column column-b">
                    <p>In 2017 we continued development and research on translation solutions for refugees and aid workers in crisis settings.</p>
                  </div>
                </div>
                <hr />
                <div class="columns">
                  <div class="column column-a">
                    <h3>Geographic areas served</h3>
                  </div>
                  <div class="column column-b">
                    <ul>
                      <li>MENA</li>
                      <li>SE Asia</li>
                      <li>East Africa</li>
                      <li>Latin America</li>
                      <li>Europe</li>
                      <li>North America</li>
                    </ul>
                  </div>
                </div>
                <hr />
                <div class="media">
                  <div class="media-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/67vb69QGicSWkGwEiagMoe/5d34cacac2da95d8f50e673f96bf8a39/Full_Size_Check_Con_2.jpg?fl=progressive" alt="Check Con, Beirut - April 2017" />
      </div>
                    <div class="media-caption">
                      <div class="media-caption-title">Check Con, Beirut - April 2017</div>
                      <div class="media-caption-body"></div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column column-a">
                      <h3>Timeline</h3>
                    </div>
                    <div class="column column-b">
                      <p>A timeline of the events that took place and Meedan participated at in 2017!</p>
                    </div>
                  </div>
                  <div class="listing">
                    <div class="list">
                      <div class="date">03</div>
                      <div class="list-wrapper">
                        <div class="title">Internet Freedom Festival</div>
                        <div class="description">Valencia, Spain</div>
                      </div>
                    </div>
                    <div class="sub-list">
                      <div class="list-wrapper">
                        <div class="title">Rights Con</div>
                        <div class="description">Brussels, Belgium</div>
                      </div>
                    </div>
                    <div class="list">
                      <div class="date">04</div>
                      <div class="list-wrapper">
                        <div class="title">Check Con</div>
                        <div class="description">Beirut, Lebanon</div>
                      </div>
                    </div>
                    <div class="sub-list">
                      <div class="list-wrapper">
                        <div class="title">International Journalism Festival</div>
                        <div class="description">Perugia, Italy</div>
                      </div>
                    </div>
                    <div class="list">
                      <div class="date">05</div>
                      <div class="list-wrapper">
                        <div class="title">Tom's training at the American University in Cairo</div>
                        <div class="description">Cairo, Egypt</div>
                      </div>
                    </div>
                    <div class="sub-list">
                      <div class="list-wrapper">
                        <div class="title">Stockholm Internet Forum</div>
                        <div class="description">Stockholm, Sweden</div>
                      </div>
                    </div>
                    <div class="list">
                      <div class="date">06</div>
                      <div class="list-wrapper">
                        <div class="title">Pop-Up Newsroom: UK Election</div>
                        <div class="description">London, United Kingdom</div>
                      </div>
                    </div>
                    <div class="list with-note">
                      <div class="date">07</div>
                      <div class="list-wrapper">
                        <div class="title">Data Investigations Camp</div>
                        <div class="note">Hosted by Tactical Tech and ShareLab</div>
                        <div class="description">Montenegro</div>
                      </div>
                    </div>
                    <div class="list">
                      <div class="date">08</div>
                      <div class="list-wrapper">
                        <div class="title">Pop-Up Newsroom: Documenting Hate Training</div>
                        <div class="description">Texas State</div>
                      </div>
                    </div>
                    <div class="list with-note">
                      <div class="date">10</div>
                      <div class="list-wrapper">
                        <div class="title">Online News Association Conference (Awards Ceremony)</div>
                        <div class="note">Electionland and CrossCheck win ONAs - first two major projects run using Check</div>
                        <div class="description">Washington DC</div>
                      </div>
                    </div>
                    <div class="list with-note">
                      <div class="date">12</div>
                      <div class="list-wrapper">
                        <div class="title">JSDay Recife</div>
                        <div class="note">Caio Almeida (Meedan’s Senior Application Engineer) gave a talk about hybrid applications using React.js and React Native, using Check Mark as example</div>
                        <div class="description">Brazil</div>
                      </div>
                    </div>
                  </div>
                </div>
    </section>
    <div class="break end-introduction" aria-hidden="true">
      <div class="break-wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
    </div>
    <section class="content in-numbers" id="in-numbers">
      <div class="graphic-wrapper bordered">
        <h2><span>2.</span> In Numbers</h2>
        <div class="illustration">
          <img src="//images.ctfassets.net/g118h5yoccvd/TikhWKrVq60OCqqcSga4w/82c7e21d5433cab064e35534f51b6d29/graphic_in-numbers.png" alt="in numbers"/>
</div>
        </div>
        <div class="content-wrapper bordered">
          <p class="lead">Here are some important numbers that show how our year went:</p>
          <hr />
          <div class="columns">
            <div class="column column-a">
              <h3><a href="//meedan.com/en/check/">Check</a></h3>
              <img src="/images/logos/check.svg" alt="Check logo" width="100px" />
            </div>
            <div class="column column-b">
              <div class="intro">
                <p><a href="//meedan.com/en/check/">Check</a> combines smart checklists, workflow integrations, and intuitive design to make digital newsgathering an efficient and collaborative process. Invite your team and online community in a secure environment to work together to validate breaking news content. Then, quickly show the work to your audience on social media or your news site.</p>
              </div>
              <hr />
              <h3>List of top things added to Check in 2017</h3>
              <ul>
                <li>Check localization to French</li>
                <li>Reverse image search</li>
                <li>Check localization to Arabic</li>
                <li>Check localization to Brazilian Portuguese</li>
                <li>Keep integration</li>
                <li>Browser Extension</li>
                <li>Check Bot</li>
              </ul>
              <div class="stats">
                <div class="illustration">
                  <img src="//images.ctfassets.net/g118h5yoccvd/74zB3elofCcOCe2mkuMOCg/b4d041a2df10a74cc2753f6bb6a8f832/graph_stats_check.png" alt="Check ease of use graph"/>
</div>
                  <div class="note">73% of our users think it’s easy to use Check and 27% think Check is difficult to use.</div>
                  <div class="stat">
                    <div class="label">New users</div>
                    <div class="number">1247</div>
                  </div>
                  <div class="stat">
                    <div class="label">Number of media items created</div>
                    <div class="number">3130</div>
                  </div>
                  <div class="stat">
                    <div class="label">Average time to verification</div>
                    <div class="number">~ 2.5 hours</div>
                  </div>
                  <div class="stat">
                    <div class="label">Annotations created</div>
                    <div class="number">5023</div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="columns">
              <div class="column column-a">
                <h3>Keep</h3>
              </div>
              <div class="column column-b">
                <div class="intro">
                  <p>Keep works as a backup platform for links added online. If a media item is added to Check with a link, with Keep enabled, a copy of the link is added to Keep so that there is always a backup link in case that the original goes down or gets removed at any point in time.</p>
                </div>
                <div class="stats">
                  <div class="stat">
                    <div class="label">Items archived</div>
                    <div class="number">128</div>
                  </div>
                  <div class="stat">
                    <div class="label">Items archived and deleted</div>
                    <div class="number">22</div>
                  </div>
                  <div class="stat">
                    <div class="label">Teams using screenshots</div>
                    <div class="number">9</div>
                  </div>
                  <div class="stat">
                    <div class="label">Teams with Video vaults</div>
                    <div class="number">9</div>
                  </div>
                  <div class="stat">
                    <div class="label">Number of teams with Archive.is</div>
                    <div class="number">7</div>
                  </div>
                  <div class="stat">
                    <div class="label">Number of teams with Archive.org</div>
                    <div class="number">2</div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="columns">
              <div class="column column-a">
                <h3><a href="//meedan.com/en/bridge/">Bridge</a></h3>
                <img src="/images/logos/bridge.svg" alt="Bridge logo" width="100px" />
              </div>
              <div class="column column-b">
                <div class="intro">
                  <p><a href="//meedan.com/en/bridge/">Bridge</a> helps communities translate, annotate, share, and source the most compelling global content on social media. Starting with a pilot with the National Geographic Society and Pulitzer Prize-winning journalist Paul Salopek’s Out of Eden Walk project, the product aims to support a team of translators with tools like glossaries and translation memories.</p>
                </div>
                <div class="stats">
                  <div class="illustration">
                    <img src="//images.ctfassets.net/g118h5yoccvd/2SlNyULm1qOQQCUIayisoG/879470a6e78d5f11166597edd3dacfff/graph_stats_bridge.png" alt="Bridge ease of use graph"/>
                  </div>
                    <div class="note">70% of users think it’s easy to use Bridge and 30% think it is very easy.</div>
                    <div class="stat">
                      <div class="label">Translations requested</div>
                      <div class="number">252</div>
                    </div>
                    <div class="stat with-note">
                      <div class="label">Translations done with Bridge </div>
                      <div class="number">199</div>
                    </div>
                    <div class="note">May include some testing items</div>
                    <div class="stat">
                      <div class="label">Number of new users</div>
                      <div class="number">21</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
    <div class="break end-in-numbers" aria-hidden="true">
      <div class="break-wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
    </div>
    <section class="content reviews" id="reviews">
      <div class="graphic-wrapper bordered">
        <h2><span>3.</span> What are people saying?</h2>
        <div class="illustration">
          <img src="//images.ctfassets.net/g118h5yoccvd/3PsNMd4GDKOI4Kg6A242yo/d9210c94649cd353c1b8fcc602640783/graphic_reviews.png" alt="Reviews"/>
</div>
        </div>
        <div class="content-wrapper bordered">
          <p class="lead">We are humbled by these quotes from our partners about using Meedan’s tools in 2017.</p>
          <div class="grouped-column">
            <div class="grouped-column-content pullquote">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="33" viewBox="0 0 48 33">
                <path fill="#A7A7A7" d="M347.190476,1337 L357.190476,1337 L363.857143,1323.8 L363.857143,1304 L343.857143,1304 L343.857143,1323.8 L353.857143,1323.8 L347.190476,1337 Z M374.190476,1337 L384.190476,1337 L390.857143,1323.8 L390.857143,1304 L370.857143,1304 L370.857143,1323.8 L380.857143,1323.8 L374.190476,1337 Z" transform="rotate(180 195.5 668.5)" />
              </svg>
              <p>If we had not had Check there as a tool, it would’ve been very difficult to manage that workflow, Having the collaborative aspect of Check as a platform was essential for CrossCheck.</p>
              <span class="by">Sam Dubberley</span>
              <span class="source">CrossCheck’s Managing Editor on using Check covering the French Elections</span>
            </div>
          </div>
          <div class="grouped-column">
            <div class="grouped-column-content pullquote">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="33" viewBox="0 0 48 33">
                <path fill="#A7A7A7" d="M347.190476,1337 L357.190476,1337 L363.857143,1323.8 L363.857143,1304 L343.857143,1304 L343.857143,1323.8 L353.857143,1323.8 L347.190476,1337 Z M374.190476,1337 L384.190476,1337 L390.857143,1323.8 L390.857143,1304 L370.857143,1304 L370.857143,1323.8 L380.857143,1323.8 L374.190476,1337 Z" transform="rotate(180 195.5 668.5)" />
              </svg>
              <p>The app is really good, it makes it very easy to translate the tweets. I think this effort is very important to help informacion, resources and conversations from this type of events to be available to more people in their languages.</p>
              <span class="by">Indira Cornelio</span>
              <span class="source">Volunteer translator on using Bridge during  RightsCon 2017</span>
            </div>
          </div>
          <div class="grouped-column">
            <div class="grouped-column-content pullquote">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="33" viewBox="0 0 48 33">
                <path fill="#A7A7A7" d="M347.190476,1337 L357.190476,1337 L363.857143,1323.8 L363.857143,1304 L343.857143,1304 L343.857143,1323.8 L353.857143,1323.8 L347.190476,1337 Z M374.190476,1337 L384.190476,1337 L390.857143,1323.8 L390.857143,1304 L370.857143,1304 L370.857143,1323.8 L380.857143,1323.8 L374.190476,1337 Z" transform="rotate(180 195.5 668.5)" />
              </svg>
              <p>Whether it’s geolocating international airstrikes in Syria and Iraq, finding sites of potential war crimes in Libya, or tracing objects to stop child abuse, Check is the platform which the international investigative group Bellingcat has repeatedly used to successfully organise and structure crowdsourcing campaigns.</p>
              <span class="by">Christiaan Triebert</span>
              <span class="source">Open Source Analyst with Bellingcat Team on Check</span>
            </div>
          </div>
          <hr />
          <div class="columns">
            <div class="column column-a">
              <h3>Press</h3>
            </div>
            <div class="column column-b">
              <p>Stories covering Meedan's work in 2017.</p>
            </div>
          </div>
          <div class="cards">
            <div class="card-wrapper">
              <a href="//www.niemanlab.org/2017/07/this-tool-is-helping-newsrooms-collaborate-on-factchecking-and-verification-projects/" title="In addition to CrossCheck’s use of the tool in France, Check has been used in recent months by organizations across the globe covering elections in Hong Kong, the United Kingdom, and the United States. It’s also worked with groups such as ProPublica, which is using Check for Documenting Hate, its collaborative effort to track hate crimes in the United States. Amnesty International has also used the platform.">

                <div class="card nieman lab coverage of cross check- as a presidential election looms in france, google and facebook team up with news outlets to factcheck">
                    <div class="card-text">
                        <h3 class="title">
                            Nieman Lab Coverage of Cross Check- As a presidential election looms in France, Google and Facebook team up with news outlets to factcheck
                            <!-- Show date only when needed -->

                        </h3>

                        <p class="description">In addition to CrossCheck’s use of the tool in France, Check has been used in recent months by organizations across the globe covering elections in Hong Kong, the United Kingdom, and the United States. It’s also worked with groups such as ProPublica, which is using Check for Documenting Hate, its collaborative effort to track hate crimes in the United States. Amnesty International has also used the platform.</p>
                    </div>
                    <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/6FYqLC8tR6wcwisaSGgISs/c9b6ca743501769ded989b10428c4daf/lab-logo-color-tighter.svg)"></div>
                </div>

              </a>
              <a href="//www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/" title="To identify the credibility indicators in news media, Meedan and Hacks/Hackers set up a working group, currently in the process of developing a framework and mark-up a first round of test articles.">

                <div class="card the credibility coalition is working to establish the common elements of trustworthy articles">
                    <div class="card-text">
                        <h3 class="title">
                            The Credibility Coalition is working to establish the common elements of trustworthy articles
                            <!-- Show date only when needed -->

                        </h3>

                        <p class="description">To identify the credibility indicators in news media, Meedan and Hacks/Hackers set up a working group, currently in the process of developing a framework and mark-up a first round of test articles.</p>
                    </div>
                    <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/31fSlLnbXi2KSMSw8uu2c/ecbbdaadf3bb78f1a8d3dd3bad7a1370/journalism-co-uk.gif)"></div>
                </div>

              </a>
              <a href="//www.straitstimes.com/asia/east-asia/check-platform-helps-hk-varsity-students-to-verify-fake-news" title="Founded last September by former CNN journalist Anne Kruger, the lab uses a software called Check, which provides a digital platform for students to work together. On the platform, they can list and share the steps they have taken to verify a claim in a news report or social media post.">

                <div class="card check platform helps hk varsity students to verify 'fake news', east asia news & top stories - the straits times">
                    <div class="card-text">
                        <h3 class="title">
                            Check platform helps HK varsity students to verify 'fake news', East Asia News & Top Stories - The Straits Times
                            <!-- Show date only when needed -->

                        </h3>

                        <p class="description">Founded last September by former CNN journalist Anne Kruger, the lab uses a software called Check, which provides a digital platform for students to work together. On the platform, they can list and share the steps they have taken to verify a claim in a news report or social media post.</p>
                    </div>
                    <div class="card-graphic logo" style="background-image:url(//images.ctfassets.net/g118h5yoccvd/3D6q1IMd7GqCs86kScCaOs/93c984332616f3ed7d42399c58d0c0c3/st-masthead.png)"></div>
                </div>

              </a>
            </div>
          </div>
          <hr />
          <div class="columns">
            <div class="column column-a">
                <h3>More Press Links</h3>
            </div>
            <div class="column column-b">
              <p></p>
            </div>
          </div>
          <div class="grouped-column">
            <div class="grouped-column-content">
              <a href="//www.cbronline.com/news/enterprise-it/software/google-facebook-partner-to-fight-fake-news-in-france/" title="Computer Business Review">
              <div class="list-only">
                <div class="list-wrapper">
                  <div class="title">Google, Facebook partner to fight fake news in France</div>
                  <div class="description">Computer Business Review</div>
                </div>
              </div>
              </a>
              <a href="//www.propublica.org/podcast/item/after-electionland" title="ProPublica">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">ProPublica Podcast: After Electionland: How it Worked, What We Found and What’s Next</div>

                    <div class="description">ProPublica</div>
                  </div>

              </div>


              </a>
              <a href="//martinbelam.com/2017/collaborative-election-monitoring-via-social-media-notes-from-a-panel-about-electionland-at-ijf17/" title="Martin Belam">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Collaborative election monitoring via social media” – notes from a panel about Electionland at #ijf17</div>

                    <div class="description">Martin Belam</div>
                  </div>

              </div>


              </a>
              <a href="//www.kickstarter.com/projects/1278239551/bellingcat-the-home-of-online-investigations/posts/1826325" title="Eliot Higgins">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">A Beginner's Guide to Doing Things the Bellingcat Way</div>

                    <div class="description">Eliot Higgins</div>
                  </div>

              </div>


              </a>
              <a href="//medium.com/google-news-lab/electionland-a-deeper-look-into-our-first-collaborative-reporting-initiative-a13b3e102dd5" title="Google News Lab">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Electionland: A deeper look into our first collaborative reporting initiative</div>

                    <div class="description">Google News Lab</div>
                  </div>

              </div>


              </a>
              <a href="//www.accessnow.org/rightscon-brussels-2017-translation-lab/" title="Access Now">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">RightsCon Brussels 2017: Translation Lab</div>

                    <div class="description">Access Now</div>
                  </div>

              </div>


              </a>
              <a href="//www.periodismociudadano.com/bridge-una-app-para-traducir-tweets-y-contenido-de-redes-sociales/" title="Periodismo Ciudadano">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Bridge, una App para traducir tweets y contenido de redes sociales</div>

                    <div class="description">Periodismo Ciudadano</div>
                  </div>

              </div>


              </a>
              <a href="//digiday.com/uk/european-newsrooms-forming-united-front-fake-news/" title="Digiday">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">European newsrooms are forming a united front against fake news</div>

                    <div class="description">Digiday</div>
                  </div>

              </div>


              </a>
              <a href="//harvardmagazine.com/2017/03/fake-news-solutions-berkman-klein" title="Harvard Magazine">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">We’ve Heard All about Fake News—Now What?</div>

                    <div class="description">Harvard Magazine</div>
                  </div>

              </div>


              </a>
              <a href="//news.harvard.edu/gazette/story/2017/03/harvard-panelists-discuss-future-of-journalism-in-fake-news-world/" title="The Harvard Gazette">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Fake news is giving reality a run for its money</div>

                    <div class="description">The Harvard Gazette</div>
                  </div>

              </div>


              </a>
              <a href="//jmsc.hku.hk/2017/04/new-jmsc-project-focuses-on-checking-and-verifying-online-sources/" title="Journalism and Media Studies Centre, The University of Hong Kong">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">New JMSC project focuses on checking and verifying online sources</div>

                    <div class="description">Journalism and Media Studies Centre, The University of Hong Kong</div>
                  </div>

              </div>


              </a>
              <a href="//medium.com/google-news-lab/teamwork-training-trends-google-news-lab-and-the-uk-election-b9888749f504" title="Google News Lab">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Teamwork. Training. Trends — Google News Lab and the UK election</div>

                    <div class="description">Google News Lab</div>
                  </div>

              </div>


              </a>
              <a href="//itunes.apple.com/us/itunes-u/method-to-the-madness/id962167772?mt=10" title="Free Podcast by UC Berkeley on Apple Podcasts">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Method To The Madness: Meedan</div>

                    <div class="description">Free Podcast by UC Berkeley on Apple Podcasts</div>
                  </div>

              </div>


              </a>
              <a href="//www.journalism.co.uk/news/pop-up-newsroom-aims-to-unlock-best-practices-for-collaboration-between-news-organisations-and-technology-companies/s2/a708638/" title="journalism.co.uk">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Pop-Up Newsroom aims to unlock best practices for collaboration between news organisations and technology companies</div>

                    <div class="description">journalism.co.uk</div>
                  </div>

              </div>


              </a>
              <a href="//www.huridocs.org/2017/08/five-fascinating-days-at-the-data-investigation-camp-2017/" title="HURIDOCS">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">Five fascinating days at the Data Investigation Camp 2017</div>

                    <div class="description">HURIDOCS</div>
                  </div>

              </div>


              </a>
              <a href="//www.journalism.co.uk/news/projects-collaboration-examples-to-get-you-started/s2/a712526/" title="journalism.co.uk">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">What types of projects suit collaboration? Here are 9 examples to get you started</div>

                    <div class="description">journalism.co.uk</div>
                  </div>

              </div>


              </a>
              <a href="//blog.bl00cyb.org/2017/11/the-contributions-of-grassroots-technical-communities/" title="Willow Brugh/ @willowbl00">


                <div class="list-only">

                <div class="list-wrapper">
                  <div class="title">The Contributions of Grassroots Technical Communities</div>

                    <div class="description">Willow Brugh/ @willowbl00</div>
                  </div>

              </div>


              </a>
            </div>
          </div>
        </div>
    </section>
    <div class="break end-reviews" aria-hidden="true">
      <div class="break-wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
    </div>
    <section class="content financials" id="financials">
      <div class="graphic-wrapper bordered">
        <h2><span>4.</span> Financials</h2>
        <div class="illustration">
          <img src="//images.ctfassets.net/g118h5yoccvd/5w2rRNDeuIUwYmgaIWkYyu/36e4324af32d550d5fd9d89a91805ffb/graphic_financials.png" alt="Financials"/>
</div>
        </div>
        <div class="content-wrapper bordered">
          <p class="lead">We are pleased to share our financial report for 2017.</p>
          <hr />
          <div class="columns">
            <div class="column column-a">
              <h3>Revenue</h3>
            </div>
            <div class="column column-b">
              <!-- <div class="intro">
          <p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
        </div> -->
              <div class="stats">
                <div class="illustration">
                  <img src="//images.ctfassets.net/g118h5yoccvd/33jP4skkx2yAmKkO8QcAYy/bbe4d186ea445c9de47e012f2d010d21/graph_revenue.png" alt="Contributions and Grants"/>
</div>
                  <div class="stat">
                    <div class="label">Contributions and Grants</div>
                    <div class="number">793,499</div>
                  </div>
                  <div class="stat">
                    <div class="label">Program service revenue</div>
                    <div class="number">435,720</div>
                  </div>
                  <div class="stat">
                    <div class="label">Total revenue</div>
                    <div class="number">1,229,326</div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="columns">
              <div class="column column-a">
                <h3>Expenditures</h3>
              </div>
              <div class="column column-b">
                <!-- <div class="intro">
          <p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
        </div> -->
                <div class="stats">
                  <div class="stat">
                    <div class="label">Total expenditures</div>
                    <div class="number">1,461,661</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <div class="break end-financials" aria-hidden="true">
      <div class="break-wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
      </div>
    </div>
    <section class="footer">
      <div class="content-wrapper">
        <div class="board">
          <span>Board of Directors</span>
          <span>Ed Bice (Board Chair)</span>
          <span>Jon Corshen</span>
          <span>Hanan Heikal</span>
          <span>Tim Hwang</span>
          <span>Zeynep Tufecki</span>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="about">
          <span>Meedan</span>
          <span>1355 Market, Suite 488</span>
          <span>San Francisco, CA 94103</span>
          <span>United States</span>
          <span><a href="mailto: hello@meedan.com">hello@meedan.com</a>
    </div>
    <div class="social">
      <ul>
        <li>Follow Us</li>
        <li><a href="//github.com/Meedan">Github</a></li>
        <li><a href="//medium.com/@meedan">Medium</a></li>
        <li><a href="//twitter.com/meedan">Twitter</a></li>
        <li><a href="//www.facebook.com/pages/Meedan/54421674438">Facebook</a></li>
      </ul>
    </div>
    <div class="past-year">
      <ul>
        <li>Past Years</li>
        <li><a href="//meedan.com/2016-annual-report/">2016</a></li>
        <li><a href="//meedan.com/2015-annual-report/">2015</a></li>
        <li><a href="//meedan.com/2014-annual-report/">2014</a></li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="donate">
        <span>Donate</span>
          <span>Support Meedan in building world class tools for journalists, citizen journalists and translators.</span>
          <span><a href="//donorbox.org/support-meedan">Become a Meedan Supporter</a></span>
        </div>
      </div>
    </section>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="/2017-annual-report/js/libs/slick/slick.min.js"></script>
  <script type="text/javascript" src="/2017-annual-report/js/main.js"></script>
</div>
