---
title: About
layout: landing_page
class: about
permalink: about
h2: About <br/> Meedan
callout: Meedan is Arabic for “town square”
standfirst: | 
    Meedan is a multi award-winning non-profit that focuses on improving the quality and equity of online information. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
description: | 
    Meedan is a multi award-winning non-profit that focuses on improving the quality and equity of online information. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
---
<div class="main-grid">
    <p class="main-grid__1--1 font-size--scale-2">Our projects and products support open-source investigations, digital media verification, media literacy training and long-term research into indicators of information quality.</p>
</div>
<figure class="graphic bleed-right">
    <img class="main-grid__4-12" src="/images/about-ed.png" alt="Ed Bice" />
    <figcaption class="main-grid__5-12 credit">Photo: Steven Snow for CredCon</figcaption>
</figure>
<div class="main-grid">
    <p class="main-grid__5-12 font-size--scale-2">
        We are a group of technologists, journalists, researchers and designers. We collaborate on building solutions to complex and uncharted global challenges on the web. 
    </p>
</div>
{% include module_key_points.html %}
<div class="main-grid">
    <p class="main-grid__1-4">
        <img src="//images.ctfassets.net/g118h5yoccvd/WLguXh6hNbOCGuQWFmj0x/f347aed366707d7b97d2624b2aa8df67/edit_PA042586-4.jpg?fl=progressive&q=90" alt="Kat Lo" />
    </p>
    <p class="main-grid__5-8">
        <img src="//images.ctfassets.net/g118h5yoccvd/3gfzgUf51PuU1dnsJtMD8c/aa01e86c034a94acef099dad0a651111/edit_IMG_5511-3.jpg?fl=progressive&q=90" alt="Notes" />
    </p>
    <p class="main-grid__9-12">
        <img src="//images.ctfassets.net/g118h5yoccvd/5DLQBeHsou6I2o3J8lwDAP/23bcff7738ea36dd824d7dee5d612e08/edit_PA042587-4.jpg?fl=progressive&q=90" alt="Ed, Pierre and Nat" />
    </p>
</div>
<div class="module module-manifesto-text section-padding">
    <div class="main-grid">
        <div class="main-grid__1-12">
            <div class="main-grid bleed">
                {% include icon_focus.html %}
                <h3 class="main-grid__1-2">Town Square</h3>
            </div>
        </div>
    </div>
    <div class="main-grid">
        <p class="main-grid__1-8">
            Meedan is Arabic for “town square,” a gathering place that fosters connection, dialogue and understanding. We envision global information systems that are reliable, safe and equitable for all.
        </p>
    </div>
</div>

{% include module_recent_press.html %}
{% include module_text_list.html %}
{% include module_donate.html %}
{% include module_list_annual_reports.html %}
{% include module_join_meedan.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}