---
title: About
layout: page
class: about
permalink: about
h2: About <br/> Meedan
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    Meedan is a multi award-winning non-profit that focuses on improving the quality and equity of online information. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
---
<div class="main-grid">
    <p class="main-grid__1--1 font-size--scale-2">Our projects and products support open-source investigations, digital media verification, media literacy training and long-term research into indicators of information quality.</p>
</div>
<figure class="bleed-right">
    <img class="main-grid__4-12" src="//images.ctfassets.net/g118h5yoccvd/4cnBYjJBtXYhHEJQSBxO0g/9a5d0ed6c26f46db5c81154e1d39ba66/about-meedan-dima.png" alt="CheckCon Beirut Dima" />
</figure>
<div class="main-grid">
    <p class="main-grid__5-12 font-size--scale-2">
        We are a group of technologists, journalists, researchers and designers. We collaborate on building solutions to complex and uncharted global challenges on the web. 
    </p>
</div>
{% include module_key_points.html %}
{% include module_recent_press.html %}
{% include module_text_list.html %}
{% include module_text_links.html %}
{% include module_join_meedan.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}