---
title: About
layout: page
class: about
h2: About Meedan
callout: Subscribe to our misinformation news roundup
standfirst: | 
    Meedan is a non-profit that focuses on improving the quality and equity of online information. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
---
<div class="main-grid">
    <p class="main-grid__1--1 font-size--scale-2">Our projects and products support open-source investigations, digital media verification, media literacy training and long-term research into indicators of information quality.</p>
</div>
<figure class="bleed-right">
    <img class="main-grid__4-12" src="/images/about-ed.png" alt="Meedan's CEO Ed Bice talking with the team." />
</figure>
<div class="main-grid">
    <p class="main-grid__5-12 font-size--scale-2">
        We are a group of technologists, journalists, researchers and designers. We collaborate on building solutions to complex and uncharted global challenges on the web. 
    </p>
</div>
{% include module_key_points.html %}
{% include module_recent_press.html %}
{% include module_text_list.html %}
{% include module_text_links.html %}
{% include module_join_meedan.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}