---
title: Check Global
short_title: Programs
layout: landing_page
class: program check-global
permalink: /check-global
h2: Check Global
standfirst: | 
    It’s been 10 years! <br />
    Our project started as the 2011 uprisings spread across the NAWA region, ten years later our friends and partners within the media, activist and advocacy communities continue to work on countering misinformation, challenging dominant narratives, and protecting civil rights and liberties.
description: | 
    Our project started as the 2011 uprisings spread across the NAWA region, ten years later our friends and partners within the media, activist and advocacy communities continue to work on countering misinformation, challenging dominant narratives, and protecting civil rights and liberties.
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="font-size--scale-2">
            We grew from 5 to 22 countries, from 8 to 26 partners, as our team developed training programmes, evaluation toolkits, and regional networks. Here, we tell our story.
        </p>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-6">Our work includes</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="/partners/check-global">
            <div class="count">01</div>
            <div class="title">Partner Collaboration</div>
            <div class="description">We work with global partners, strengthening their capacity to: counter misinformation and disinformation; provide credible information and address inequalities in access; develop media literacy skills so they, and the communities they work with, are better equipped to hold public figures to account.</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="/project/check-global-network">
            <div class="count">02</div>
            <div class="title">Network</div>
            <div class="description">Our Network brings together civil society organisations, independent media collectives and grassroot activist groups and individuals working at the intersection of media and technology. We provide open-access tools and networking opportunities for communities facing historic and systemic barriers in these fields.</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="/project/check-global-microgrants">
            <div class="count">03</div>
            <div class="title">Microgrants</div>
            <div class="description">We provide funding opportunities for organisations, collectives, journalists and activists as a contribution to their ongoing efforts for advocacy and sustainability. These are often in response to particular themes or crises, such as Covid-19 pandemic and the 2019 Beirut explosion.</div>
            <div class="action">→</div>
        </a>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_focus.html %}
            <h3 class="main-grid__1-8">Where we work</h3>
        </div>
    </div>
</div>
{% include map_with_bullets.html 
    scrolling_text = "Select and learn which regions we are working in" 
    scrolling_text_pointer = "↓"
%}
<div class="module section-margin">
    <div class="main-grid">
        <div class="main-grid__1-6">
            <p>Our work is based across four main areas of focus: North Africa Western Asia, Latin America, Sub-Saharan Africa and the APAC region.</p>
        </div>
        <div class="main-grid__8-12">
            <div class="module module-key-points section-bottom-margin">
                <div class="key-points key-points-horizontal">
                    <a class="key-point clickable " href="/check-global/regions/latin-america">
                        <div class="title">Latin America <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/north-africa-western-asia-nawa">
                        <div class="title">North Africa Western Asia <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/sub-saharan-africa">
                        <div class="title">Sub-Saharan Africa <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/asia-pacific">
                        <div class="title">Asia Pacific <span>→</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="module module-featured-2-columns clickable section-margin">
    <div class="module-wrapper module-bg-color--light-navy">
        <div class="text">
            <div class="header">
                <div class="tag">Report</div>
                <h4 class="title"><a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf">Check Global Executive Summary</a></h4>
            </div>
            <div class="description">
                Birmingham City University is the main monitoring and evaluation partner for the Check Global project. Here you will find an executive summary of our extensive Check Global 2020 report.  
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf">Download the PDF<span>↓</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf" title="Download the PDF" class="graphic">
            <img class="display--block" src="https://images.ctfassets.net/g118h5yoccvd/4shxj5kvpW8Hfe5dPeK5x7/08b430fd004c13eae232923ce97ff674/Check_Global_-_Executive_Summary.png" alt="Check Global Executive Sumary" />
        </a>
    </div>
</div>


{% include module_updates.html 
    count="4" 
    title="● Updates" 
    updates_list_id = "7uXH1tJjz8YPGQpfEsR3GA" 
%}

{% include module_calendar.html 
    title="● Upcoming Events" 
    link="/events"
    view="list"
    events_list_id="3621Wo9pdruFq9VS64AvnL" 
%}

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">Resources</h3>
        </div>
    </div>
</div>
<div class="main-grid">
    <div class="main-grid__5-12">
        Our team and community partners have collaborated on a number of outputs, articles, toolkits and other practical resources. These are all published under open-access licenses, and available for download.
    </div>
</div>

{% include module_resources.html 
    resources_list_id = "1YH231jxFmlilNtuf5Xrt5"
%}

<div class="module module-featured-2-columns section-bottom-margin bleed-right">
    <div class="module-wrapper module-bg module-bg-color--east-side">
        <div class="text">
            <div class="header">
                <div class="tag">Program and Impact Director</div>
                <h4 class="title">Dr. Dima Saber</h4>
            </div>
            <div class="description">
                I’ve been working on Check Global for 9 years! I write about media, conflict, archives and digital literacy, and a lot of my work is focussed on the impact this project has had in the 22 countries where we operate. 
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="mailto:dima@meedan.com">Contact Dima<span>→</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="graphic cutout">
            <img src="//images.ctfassets.net/g118h5yoccvd/3AXXbUM85HLIXqbeHoOO4t/c8cf1051a6388e1de4b0c64c33baad9c/Dima_circle.png" alt="Dima" />
        </div>
    </div>
</div>

<div class="main-grid section-margin-2x">
    <div class="main-grid__1-6">
        <p>
            Check Global is funded by the Swedish International Development Agency. Birmingham City University works with Meedan to monitor and evaluate the programme.
        </p>
        <div class="partner-logos">
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/6NhYz8WKabiW1u3YTH7dpB/094a84b96181ee15cee1951a41bfd8f9/Sida.svg" height="60px" />
            </a>
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/4ITN6zc3PU0xabmYDXWzl8/89cf5c4c0c29dddb1139a872b9a49d06/Birmingham-City-University.svg" height="60px" />
            </a>
        </div>
    </div>
</div>

{% include footer_small.html %}