---
title: Check
layout: page
class: check
permalink: technology/check
h2: Check is our flagship software.
<!-- callout: Get involved. Github repository. -->
standfirst: | 
    It’s an online workspace that lets users verify online photos and text, build datasets and structure open-source investigations.
custom_js: tabs
---
<div class="main-grid section-margin module module-product-hero">
    <div class="main-grid__1-12 module-bg module-bg-color--coral">
        <div class="main-grid">
            <div class="main-grid__1-6">
                <p>This award-winning tool connects WhatsApp users to journalists, supports multi-newsroom fact-checking during breaking news, and crowdsourcing investigative evidence. Check helps journalists, civil society organizations, researchers and human rights investigators at cutting-edge of information gathering and verification.</p>
                <div class="plain-list">
                    <ul>
                        <li>
                            <a href="//meedan.typeform.com/to/y2XEKo">Getting Started</a>
                        </li>
                        <li>
                            <a href="//help.checkmedia.org/en/articles/3451694-check-faq-s">FAQ's</a>
                        </li>
                        <li>
                            <a href="//help.checkmedia.org/en/collections/1929125-check">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-grid__7-12">
               <img src="/images/check-hero.png" alt="Collaborating on check" />
               <div class="text-align--center">
                   <a href="//meedan.typeform.com/to/y2XEKo" class="button">Try Check</a>
               </div>
            </div>
        </div>
    </div>
</div>
{% include module_tabs.html %}
{% include module_user_quotes.html %}
{% include module_contribute.html theme="dark" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}