---
title: Check Global
short_title: Programs
layout: landing_page
class: program check-global
permalink: /check-global
h2: Check Global
standfirst: | 
    Meedan's Check Global is an initiative that supports journalism and human rights research in the developing world. We provide software, training and support to an international group of independent media organizations, journalism schools and human rights researchers. 
description: | 
    Meedan's Check Global is an initiative that supports journalism and human rights research in the developing world. We provide software, training and support to an international group of independent media organizations, journalism schools and human rights researchers.
---
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-4">Our work includes</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        We're integrating neural and symbolic techniques to build AI that can perform more complex tasks by understanding and reasoning more like we do.
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="#">
            <div class="count">01</div>
            <div class="title">Partnerships</div>
            <div class="description">Conducting mixed methods research to better understand health information inequities</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="count">02</div>
            <div class="title">Network</div>
            <div class="description">Collaborating with independent media, fact-checking organizations and journalists around the world to provide resources and explainers on health topics they are covering</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="count">03</div>
            <div class="title">Microgrants</div>
            <div class="description">Working with translation and localization teams to ensure that communicators have equitable access to health information and resources</div>
            <div class="action">→</div>
        </a>
    </div>
</div>
{% include module_calendar.html 
    title="Upcoming Events" 
    link="/events"
    events_list_id="3621Wo9pdruFq9VS64AvnL" 
%}
{% include module_updates.html count="2" %}
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_focus.html %}
            <h3 class="main-grid__1-8">Where we work</h3>
        </div>
    </div>
</div>
<div class="map">
    <img src="//images.ctfassets.net/g118h5yoccvd/1hEVmUtjFohniLQZyXEosi/9e40f3d088d60e2ad668194cf61cedaa/meedan_check-global_map.png" alt="Regions where Check Global partners are" />
</div>
<div class="callout-horizontal-wrapper">
    <div class="callout-horizontal">
        <div class="callout-horizontal-content">
            Select and learn which regions we are working in <span>↑</span>
        </div>
        <div class="callout-horizontal-content">
            Select and learn which regions we are working in <span>↑</span>
        </div>
        <div class="callout-horizontal-content">
            Select and learn which regions we are working in <span>↑</span>
        </div>
        <div class="callout-horizontal-content">
            Select and learn which regions we are working in <span>↑</span>
        </div>
    </div>
</div>
<div class="module section-margin">
    <div class="main-grid grid-template-rows--4">
        <div class="main-grid__1-6 grid-row--1">
            <p>We see research and practice as symbiotic. Our projects inform our research questions, and our research insights improve our work with journalists and fact-checkers. Our three research streams are:</p>
        </div>
        <div class="main-grid__8-12 grid-row--1-2">
            <div class="module module-key-points section-bottom-margin">
                <div class="key-points key-points-horizontal">
                    <a class="key-point clickable " href="#">
                        <div class="title">Latin America <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="#">
                        <div class="title">North Africa Western Asia <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="#">
                        <div class="title">Sub-Saharan Africa <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="#">
                        <div class="title">Asia Pacific <span>→</span></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="module module-featued-media-cta main-grid__1-3 grid-row--2-3 grid-row-gap--0">
            <a href="">
                <img class="display--block" src="//images.ctfassets.net/g118h5yoccvd/4BazNtDGhD3AFBghsCt7YE/7845cf1ef28205f4aa31b258c00424d1/Check_Global_Y2_Report_Executive_Summary_03_1.png" alt="Check Global 2020 Executive Summary" />
                <div class="description">Get an overview of our project activity for 2020.</div>
                <div class="cta"><a href="#" class="button circle transparent no-margin"><span class="icon">↓</span></a></div>
            </a>
        </div>
    </div>
</div>

<div class="module module-featured-2-columns section-margin">
    
    <div class="text module-bg-color--light-navy">
        <div class="header">
            <div class="tag">Featured Project</div>
            <h4 class="title"><a href="#">Viral Politics: Tales from the Pandemia</a></h4>
        </div>
        <div class="description">
            Artists from throughout the Global South have illustrated the ways the pandemic has affected digital surveillance, freedom of speech and gender-based violence in their home countries, and how they resist.
            <div class="plain-list clickable with-icon">
                <ul>
                    <li>
                        <a href="">Read the blog post<span>→</span></a>
                    </li>
                    <li>
                        <a href="">Download<span>→</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="graphic">
        <a href="#"><img src="//images.ctfassets.net/g118h5yoccvd/57XLwZZSIWEa0I1wN3Gp1N/75c5e68e3cd9e8e68224db7660280083/viral-politics-4.jpg" /></a>
    </div>
</div>

<div class="main-grid section-margin-2x">
    <div class="main-grid__1-6">
        <p>
            Check Global is funded by the Swedish International Development Agency. Birmingham City University works with Meedan to monitor and evaluate the programme.
        </p>
        <div class="partner-logos">
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/6NhYz8WKabiW1u3YTH7dpB/094a84b96181ee15cee1951a41bfd8f9/Sida.svg" height="60px" />
            </a>
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/4ITN6zc3PU0xabmYDXWzl8/89cf5c4c0c29dddb1139a872b9a49d06/Birmingham-City-University.svg" height="60px" />
            </a>
        </div>
    </div>
</div>

{% include footer_small.html %}