---
title: Check Global Partners
short_title: Check Global
short_title_link: /check-global
layout: landing_page
class: program check-global-partners
permalink: /partners/check-global
h2: Check Global Partners
standfirst: | 
    The Check Global Network aims to strengthen and facilitate the work of organizations committed to promoting the development of people that have faced historic and systemic barriers in entering the fields of media and technology. 
description: | 
    The Check Global Network aims to strengthen and facilitate the work of organizations committed to promoting the development of people that have faced historic and systemic barriers in entering the fields of media and technology.
---
<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">Partners</h3>
        </div>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__5-12">
        We collaborate with non-profit organizations, creating open source technology to curate, annotate, fact-check, verify and debunk online misinformation.
    </div>
</div>

<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="#">
            <div class="name">Chicas Poderosas</div>
            <div class="description">Latin America</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">PesaCheck</div>
            <div class="description">East Africa</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">CITE</div>
            <div class="description">Zimbabwe</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Syrian Archive</div>
            <div class="description">Syria</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Yemeni Archive</div>
            <div class="description">Yemen</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Sowt</div>
            <div class="description">Jordan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Metras</div>
            <div class="description">Palestine</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Digital Rights Foundation</div>
            <div class="description">Pakistan</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">VERAFiles</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Rappler</div>
            <div class="description">Philippines</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">VFrame</div>
            <div class="description">Global</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">Huridocs</div>
            <div class="description">Global</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">M&E Lab</div>
            <div class="description">UK</div>
            <div class="action">↗</div>
        </a>
        <a class="key-point clickable" href="#">
            <div class="name">The Oxford Internet Institute</div>
            <div class="description">UK</div>
            <div class="action">↗</div>
        </a>
    </div>
</div>
<div class="main-grid section-margin small-hr">
    <div class="main-grid__1-4">
        <h3>Collaborate</h3>
    </div>
    <div class="main-grid__5-12">
        <p>Get in touch if you would like to collaborate with our Check Global team and have ideas about how we could work together.</p>
        {% include contact_form.html form_name="Check-Global-Network-Join-Form" %}
    </div>
</div>
{% include footer_small.html %}