---
title: Product
layout: landing_page
class: check product
permalink: /check
h2: Scale up your fact-checking
<!-- callout: Get involved. Github repository. -->
standfirst: | 
    Engage your audience where they are, automate the collection and triage of claims, and scale your response. 
description: | 
    Engage your audience where they are, automate the collection and triage of claims, and scale your response. 
custom_js: tabs
---
<div class="main-grid section-top-margin margin-bottom--3 module-product-cta">
    <div class="main-grid__1--1">
       <a href="//meedan.typeform.com/to/y2XEKo" class="button no-margin">Sign up for free  →</a>
        <a href="//meedan.typeform.com/to/j1v8dLi0">Request a demo</a>
    </div>
</div>

<div class="main-grid module-product-disclaimer">
    <div class="main-grid__1--1">
        By signing up, you agree to the <a href="/check/check_tos.html">Check Terms of Service</a> and <a href="/check/check_privacy.html">Privacy Policy</a>.
    </div>
</div>

<div class="workflow-overview">
    <figure class="graphic section-margin">
        <img class="main-grid__1-12"src="//images.ctfassets.net/g118h5yoccvd/ArIu1Lk7yLTrOZgmzjnGb/a84d6f358f3b0cddf2c9be3920a17c02/check_workflow.png" alt="Check Workflow" />
    </figure>
</div>

<div class="module module-user-quotes main-grid section-margin">
    <div class="main-grid__3-10 quotes">
        {% include icon_quotes.html %}
        <div class="user-quotes-wrapper">
            <div class="user-quote">
                <span class="quote">We’ve been running a tipline for two years, and this is the tool we have been waiting for. One that can make the newsroom process of finding misinformation more efficient and automate the responses.</span>
                <span class="avatar">
                    <img src="//images.ctfassets.net/g118h5yoccvd/6cYdIQ0RVucdd8Gapo28Q2/d8278df15c6a9459d603831068a4c71d/Jency-Jacob.png" alt="Jency Jacob" />
                </span>
                <span class="quote-by">Jency Jacob</span>
                <span class="quote-by-title">Editor, <A HREF="https://www.boomlive.in/">BOOM</A></span>
            </div>
        </div>
    </div>
</div>

<div class="main-grid section-margin">
    <div class="main-grid__4-9 text-align--center">
        <h3 class="no-margin">Hybrid human and machine system</h3>
    </div>
    <div class="main-grid__3-10 text-align--center">
        <p>Bots and algorithms take care of the most repetitive tasks, helping journalists focus on high-level editorial work.</p>
    </div>
    <div class="main-grid__1-12">
        <figure class="graphic section-margin">
            <img class="main-grid__1-12"src="//images.ctfassets.net/g118h5yoccvd/7jtRENrkGbNKVqzmZMn3sO/769494c588fcb1c856cb2e5eca53a2ae/check_hybrid-human-machine-system.png" alt="Check Hybrid Human and Machine System Overview Diagram" />
        </figure>
    </div>
    <div class="main-grid__2-11 section-top-margin text-align--center">
        <p>Since October 2019, Meedan has run a global fact-checking project using the WhatsApp Business API in 5 countries and 4 languages. The groundbreaking study is based on nearly 5,700 fact-checks across India, Brazil, South Africa, Kenya and Nigeria and was made possible with support from WhatsApp and Facebook.</p>
    </div>
    <div class="main-grid__4-9 text-align--center">
        <p>Learn more <a class="color--black-ink" href="/blog/insights-from-5-700-fact-checks-on-the-whatsapp-business-api">about the study</a>, which was released at <a class="color--black-ink" href="//virtual.globalfact7.com/">Global Fact 7</a>.</p>
        <p><a href="//meedan.com/files/Meedan-WhatsApp-Case-Study-End-to-End-Fact-Checking.pdf?utm_source=website&utm_medium=press-release&utm_campaign=global-fact" class="button">Download the full report: End-to-End Fact-Checking</a></p>
    </div>
</div>

<div class="main-grid section-margin module module-product-features bleed-right">
    <div class="main-grid__1-12 module-bg module-bg-color--black-ink">

        <div class="main-grid">
            <div class="main-grid__3-10 text-align--center">
                <h3>Customize every step of your workflow</h3>
            </div>
        </div>
        
        <div class="product-features">
            <div class="product-feature">
                <div class="product-feature-header">
                    <span class="number">01</span>
                    <span class="title">Deploy multilingual bots in minutes</span>
                    <span class="description">Create conversational bots across multiple languages and tailor content to your audience.</span>
                </div>
                <div class="product-feature-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/6eSq2iBYVTh36gz4I98CRo/dfb81b99283664ce95e942dbe15174db/product_01.png" alt="Deploy multilingual bots in minutes" />
                </div>
            </div>

            <div class="product-feature">
                <div class="product-feature-header">
                    <span class="number">02</span>
                    <span class="title">Publish fact-checks at the speed of social media</span>
                    <span class="description">Publish engaging, rich reports that can be shared and forwarded with URLs back to the newsrooms’ web sites and content.</span>
                </div>
                <div class="product-feature-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/MMCR2TlwCAf7QRoYGID08/58e02615fc90505ea61ea1f3bbdd4021/product_02.png" alt="Publish fact-checks at the speed of social media" />
                </div>
            </div>

            <div class="product-feature">
                <div class="product-feature-header">
                    <span class="number">03</span>
                    <span class="title">Cut through the noise and prioritize</span>
                    <span class="description">Create lists to automatically categorize inbound requests based on editorial preferences and access all stages of the fact-checking pipeline in seconds.</span>
                </div>
                <div class="product-feature-image">
                    <img src="//images.ctfassets.net/g118h5yoccvd/4y8mswVJRDyICA30nWlBsu/7ec14e195f90eb4d5d14e3617079f830/product_03.png" alt="Cut through the noise and prioritize" />
                </div>
            </div>
        </div>

    </div>
</div>

<div class="module module-user-quotes main-grid section-margin">
    <div class="main-grid__3-10 quotes">
        {% include icon_quotes.html %}
        <div class="user-quotes-wrapper">
            <div class="user-quote">
                <span class="quote">Africa Check operates a tipline across three countries. The Check workflow allows fact-checkers across all our teams to collaborate and follow the same methodology.</span>
                <span class="avatar">
                    <img src="//images.ctfassets.net/g118h5yoccvd/73eOwCgFBhzrvbL1PKpz52/ca4e7ea1d269522afc56a962f618bd07/Kate-Wilkinson.png" alt="Kate Wilkinson" />
                </span>
                <span class="quote-by">Kate Wilkinson</span>
                <span class="quote-by-title">Deputy Chief Editor, <br /><A href="https://africacheck.org/">Africa Check</A></span>
            </div>
        </div>
    </div>
</div>

<div class="main-grid section-margin">
    <div class="main-grid__1-4">
        <h3>Check has supported some of the largest collaborative reporting initiatives on the internet</h3>
    </div>
    <div class="main-grid__5-12">
        <div class="u-responsive-ratio media-16by9">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lhD379ggq54?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
    </div>
    <div class="main-grid__5-12">
        <p>During the 2016 presidential election in the United States, Check supported Electionland, a national reporting effort covering voting problems during the 2016 election. A coalition of organizations – including ProPublica, Google News Lab, the USA TODAY NETWORK, Univision News, First Draft, WNYC, and the CUNY Graduate School of Journalism in New York – worked together to track the voter experience across the country in real time.</p>
    </div>
</div>

{% include module_tabs.html %}

{% include module_contribute.html theme="dark" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}
