---
title: Check Global
short_title: Programs
layout: landing_page
class: program check-global
permalink: /check-global
h2: Check Global
standfirst: | 
    It’s been 10 years! <br />
    Our project started as the 2011 uprisings spread across the NAWA region, ten years later our friends and partners within the media, activist and advocacy communities continue to work on countering misinformation, challenging dominant narratives, and protecting civil rights and liberties.
description: | 
    Our project started as the 2011 uprisings spread across the NAWA region, ten years later our friends and partners within the media, activist and advocacy communities continue to work on countering misinformation, challenging dominant narratives, and protecting civil rights and liberties.
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="font-size--scale-2">
            We grew from 5 to 22 countries, from 8 to 26 partners, as our team developed training programmes, evaluation toolkits, and regional networks. Here, we tell our story.
        </p>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_indepth.html %}
            <h3 class="main-grid__1-6">Our work includes</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <a class="key-point clickable" href="/partners/check-global">
            <div class="count">01</div>
            <div class="title">Partner Collaboration</div>
            <div class="description">We work with global partners, strengthening their capacity to: counter misinformation and disinformation; provide credible information and address inequalities in access; develop media literacy skills so they, and the communities they work with, are better equipped to hold public figures to account.</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="/project/check-global-network">
            <div class="count">02</div>
            <div class="title">Network</div>
            <div class="description">Our Network brings together civil society organisations, independent media collectives and grassroot activist groups and individuals working at the intersection of media and technology. We provide open-access tools and networking opportunities for communities facing historic and systemic barriers in these fields.</div>
            <div class="action">→</div>
        </a>
        <a class="key-point clickable" href="/project/check-global-funding">
            <div class="count">03</div>
            <div class="title">Funding</div>
            <div class="description">We provide funding opportunities for organisations, collectives, journalists and activists as a contribution to their ongoing efforts for advocacy and sustainability. These are often in response to particular themes or crises, such as Covid-19 pandemic and the 2019 Beirut explosion.</div>
            <div class="action">→</div>
        </a>
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            {% include icon_focus.html %}
            <h3 class="main-grid__1-8">Where we work</h3>
        </div>
    </div>
</div>
{% include map.html 
    scrolling_text = "Select and learn which regions we are working in" 
    scrolling_text_pointer = "↓"
%}
<div class="module section-margin">
    <div class="main-grid">
        <div class="main-grid__1-6">
            <p>Our work is based across four main areas of focus: North Africa Western Asia, Latin America, Sub-Saharan Africa and the APAC region.</p>
        </div>
        <div class="main-grid__8-12">
            <div class="module module-key-points section-bottom-margin">
                <div class="key-points key-points-horizontal">
                    <a class="key-point clickable " href="/check-global/regions/latin-america">
                        <div class="title">Latin America <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/north-africa-western-asia-nawa">
                        <div class="title">North Africa Western Asia <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/sub-saharan-africa">
                        <div class="title">Sub-Saharan Africa <span>→</span></div>
                    </a>
                    <a class="key-point clickable" href="/check-global/regions/asia-pacific">
                        <div class="title">Asia Pacific <span>→</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="module module-featured-2-columns clickable section-margin">
    <div class="module-wrapper module-bg-color--light-navy">
        <div class="text">
            <div class="header">
                <div class="tag">Report</div>
                <h4 class="title"><a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf">Check Global Executive Summary</a></h4>
            </div>
            <div class="description">
                Birmingham City University is the main monitoring and evaluation partner for the Check Global project. Here you will find an executive summary of our extensive Check Global 2020 report.  
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf">Download the PDF<span>↓</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://assets.ctfassets.net/g118h5yoccvd/281H2rk3hMTIgQlwehDo8r/b1dce94ca693336b5b50945087ffade7/Check_Global_Y2_Report_Executive_Summary_04.pdf" title="Download the PDF" class="graphic">
            <img class="display--block" src="https://images.ctfassets.net/g118h5yoccvd/4shxj5kvpW8Hfe5dPeK5x7/08b430fd004c13eae232923ce97ff674/Check_Global_-_Executive_Summary.png" alt="Check Global Executive Sumary" />
        </a>
    </div>
</div>

{% include module_updates.html 
    count="4" 
    title="● Updates" 
    updates_list_id = "7uXH1tJjz8YPGQpfEsR3GA" 
%}

{% include module_calendar.html 
    title="● Upcoming Events" 
    link="/events"
    view="list"
    events_list_id="3621Wo9pdruFq9VS64AvnL" 
%}

<div class="module module-featured-2-columns clickable section-margin">
    <div class="module-wrapper module-bg-color-bright-green">
        <div class="text">
            <div class="header">
                <div class="tag">Approach</div>
                <h4 class="title"><a href="https://assets.ctfassets.net/g118h5yoccvd/7Lp8bUZgiZXY9OD0GMvZZ2/0f3afb3b2a21287e47220b78176ec353/Check_Global_ToC.pdf">Theory of Change 2011-21</a></h4>
            </div>
            <div class="description"> 
                <div class="plain-list clickable with-icon">
                    <ul>
                        <li>
                            <a href="https://assets.ctfassets.net/g118h5yoccvd/7Lp8bUZgiZXY9OD0GMvZZ2/0f3afb3b2a21287e47220b78176ec353/Check_Global_ToC.pdf">Download the PDF<span>↓</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://assets.ctfassets.net/g118h5yoccvd/7Lp8bUZgiZXY9OD0GMvZZ2/0f3afb3b2a21287e47220b78176ec353/Check_Global_ToC.pdf" title="Download the PDF" class="graphic">
            <img class="display--block" src="https://images.ctfassets.net/g118h5yoccvd/2jEDQQM5EuLW5gK8Y3yciu/2231fec530bfc4d5076e61c6b7163b96/meedan_check-global-theory-of-change.png" alt="Check Global Executive Sumary" />
        </a>
    </div>
</div>

<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">Resources</h3>
        </div>
    </div>
</div>
<div class="main-grid">
    <div class="main-grid__5-12">
        Our team and community partners have collaborated on a number of outputs, articles, toolkits and other practical resources. These are all published under open-access licenses, and available for download.
    </div>
</div>

{% include module_resources.html 
    resources_list_id = "1YH231jxFmlilNtuf5Xrt5"
%}


<div class="main-grid section-top-margin">
    <div class="main-grid__1-12">
        <div class="main-grid bleed">
            <h3 class="main-grid__1-4">Team</h3>
        </div>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point action label">
            <div class="graphic"><img src="//images.ctfassets.net/g118h5yoccvd/bRIvRV42iNOfdRh5XvOLH/0cc0d27c1f78c652572476a0672fb3d8/dima_portrait.png" alt="Dima" /></div>
            <div class="name">Dr. Dima Saber</div>
            <div class="description">Program and Impact Director</div>
            <div class="action label"><a href="mailto:dima@meedan.com">Contact Dima →</a></div>
        </div>
        <div class="key-point action label">
            <div class="graphic"><img src="//images.ctfassets.net/g118h5yoccvd/DgPivbZeNzVXe6fDV4o6Y/2f70861c2f8746731997f767f01947f6/isa_23_b.png" alt="Isabella" /></div>
            <div class="name">Isabella Barroso</div>
            <div class="description">Program Manager, Latin America</div>
            <div class="action label"><a href="mailto:isabella@meedan.com">Contact Isabella Barroso →</a></div>
        </div>
        <div class="key-point action label">
            <div class="graphic"><img src="//images.ctfassets.net/g118h5yoccvd/517yqCoX9S1njA5duhdEMg/d36e64e9a5c950c4a034b9b1c8523f1b/sneha.png" alt="Sneha Alexander" /></div>
            <div class="name">Sneha Alexander</div>
            <div class="description">Program Manager, Asia Pacific</div>
            <div class="action label"><a href="mailto:sneha@meedan.com">Contact Sneha →</a></div>
        </div>
        <div class="key-point action label">
            <div class="graphic"><img src="//images.ctfassets.net/g118h5yoccvd/4W4zBZJbLGmMHwVoiJgY4C/063f2118d51ca14a23e0190b61e167f2/shalini.png" alt="Shalini Joshi" /></div>
            <div class="name">Shalini Joshi</div>
            <div class="description">Program Manager, Asia Pacific</div>
            <div class="action label"><a href="mailto:shalini@meedan.com">Contact Shalini →</a></div>
        </div>
        <div class="key-point action label">
            <div class="graphic"><img src="//images.ctfassets.net/g118h5yoccvd/6lPoxDX40zqmEi5GG2SPst/7d5b742ab750060c91986943d51ce816/Mugendi_2circles.png" alt="Eric Mugendi" /></div>
            <div class="name">Eric Mugendi</div>
            <div class="description">Program Manager, Sub-Saharan Africa</div>
            <div class="action label"><a href="mailto:mugendi@meedan.com">Contact Eric →</a></div>
        </div>
    </div>
</div>

<div class="main-grid section-margin-2x">
    <div class="main-grid__1-6">
        <p>
            Check Global is funded by the Swedish International Development Agency. Birmingham City University works with Meedan to monitor and evaluate the programme.
        </p>
        <div class="partner-logos">
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/6NhYz8WKabiW1u3YTH7dpB/094a84b96181ee15cee1951a41bfd8f9/Sida.svg" height="60px" />
            </a>
            <a href="#">
                <img src="//images.ctfassets.net/g118h5yoccvd/4ITN6zc3PU0xabmYDXWzl8/89cf5c4c0c29dddb1139a872b9a49d06/Birmingham-City-University.svg" height="60px" />
            </a>
        </div>
    </div>
</div>

{% include footer_small.html %}