---
title: The Checklist
layout: landing_page
class: blog
permalink: checklist
h2: The Weekly Roundup
standfirst: | 
    Read misinformation news from around the world—open-source investigations, industry resources and event information.
description: | 
    Read misinformation news from around the world—open-source investigations, industry resources and event information.
---
<div class="main-grid section-margin">
    <div class="main-grid__5-12">
        {% include icon_checklist.html %}
        <form name="meedan-checklist" id="meedan-checklist" class="checklist-signup" netlify-honeypot="bot" netlify>
            <label style="display: none;">Don’t fill this out: <input name="bot"></label>
            <label for="email"><span>Email</span> <input type="email" name="email" placeholder="Sign up for our newsletter" required></label>
            <button type="submit">→</button>
        </form>
    </div>
    <div class="main-grid__5-12 section-margin">
        <h3>Latest issue and archive</h3>
        <style type="text/css">
        <!--
        .display_archive { margin-bottom: 4rem; }
        .campaign {  padding-top: 2rem; padding-bottom: 2rem; border-bottom: 1px dotted var(--blackInk); }
        </style>
        <script language="javascript" src="//meedan.us11.list-manage.com/generate-js/?u=539fbe59ddc773c6592797bf2&fid=22117&show=1000" type="text/javascript"></script>
    </div>
</div>
{% include footer_small.html %}