---
title: Product
layout: landing_page
class: check
permalink: technology/check
h2: Check is our flagship software.
<!-- callout: Get involved. Github repository. -->
standfirst: | 
    It’s an online workspace that lets users verify online photos and text, build datasets and structure open-source investigations.
description: | 
    Check is an online workspace that lets users verify online photos and text, build datasets and structure open-source investigations.
custom_js: tabs
---
<div class="main-grid section-margin module module-product-hero">
    <div class="main-grid__1-12 module-bg module-bg-color--coral">
        <div class="main-grid">
            <div class="main-grid__1-6">
                <p>This award-winning tool connects WhatsApp users to journalists, supports multi-newsroom fact-checking during breaking news, and crowdsourcing of investigative evidence. Check helps journalists, civil society organizations, researchers and human rights investigators on cutting-edge of information gathering and verification.</p>
                <div class="plain-list">
                    <ul>
                        <li>
                            <a href="//meedan.typeform.com/to/y2XEKo">Getting Started</a>
                        </li>
                        <li>
                            <a href="//help.checkmedia.org/en/articles/3451694-check-faq-s">FAQ's</a>
                        </li>
                        <li>
                            <a href="//help.checkmedia.org/en/collections/1929125-check">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-grid__7-12">
               <img src="/images/check-hero.png" alt="Collaborating on check" />
               <div class="text-align--center">
                   <a href="//meedan.typeform.com/to/y2XEKo" class="button with-logo"><img src="//images.ctfassets.net/g118h5yoccvd/PjY3XCvyk27TBjrQLKTJC/bf861a45f1878d972a3b807d9fd21e9f/check.svg" width="50" height="50" />Try Check</a>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="main-grid section-margin">
    <div class="main-grid__5-8">
        <h3>How Check works</h3>
    </div>
    <div class="main-grid__1-8">
        <p>Our software is a critical tool in global elections coverage, open source investigations, translation projects and media analyses research.</p>
    </div>
</div> -->

{% include module_tabs.html %}
{% include module_user_quotes.html %}

<div class="main-grid section-margin">
    <div class="main-grid__1-4">
        <h3>Check supports some of the largest collaborative reporting initiatives in history</h3>
    </div>
    <div class="main-grid__5-12">
        <div class="u-responsive-ratio media-16by9">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lhD379ggq54?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
    </div>
    <div class="main-grid__5-12">
        <p>During the 2016 presidential election day in the United States, the ProPublica and the Google News Lab initiative Electionland, used Check as the backbone of a national reporting initiative to track the voting experience across America in real-time.</p>
    </div>
</div>

{% include module_contribute.html theme="dark" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}