---
title: Contact
layout: landing_page
class: blog
permalink: contact
h2: Get in touch
<!-- callout: Subscribe to our misinformation news roundup -->
<!-- standfirst: | 
    Our team of coders, designers, researchers and journalists is keen to collaborate with deep thinkers and boundary pushers from around the world.
description: | 
    Our team of coders, designers, researchers and journalists is keen to collaborate with deep thinkers and boundary pushers from around the world. -->
---
<figure class="graphic bleed-right">
    <img class="main-grid__4-12" src="/images/about-meedan-dima.png" alt="CheckCon" />
</figure>
<div class="main-grid section-margin">
    <div class="main-grid__5-12">
        <p>Check us out on Facebook, Twitter and Github, or get in touch with us at <a href="mailto:hello@meedan.com">hello@meedan.com</a></p>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}