---
title: Contact
layout: landing_page
class: blog
permalink: contact
h2: Get in touch
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    Check us out on <a href="//twitter.com/meedan">Twitter</a>, <a href="//www.facebook.com/pages/Meedan/54421674438">Facebook</a> and <a href="//github.com/Meedan">Github</a>, or get in touch with us at <a href="mailto:hello@meedan.com">hello@meedan.com</a>
description: | 
    Check us out on <a href="//twitter.com/meedan">Twitter</a>, <a href="//www.facebook.com/pages/Meedan/54421674438">Facebook</a> and <a href="//github.com/Meedan">Github</a>, or get in touch with us at <a href="mailto:hello@meedan.com">hello@meedan.com</a>
---
<div class="main-grid bleed-right section-margin">
    <div class="main-grid__1--1 slideshow">

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/NN2HbyCpoWFjw5EiVR16d/93983b91ae74900009c6762f16408fdc/edit_P1220590.jpg?fl=progressive&q=90"
                    alt="SF office" />
            </figure>
        </div>
        
        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/3jx4CLqiLvdhhsI8LrrGVt/1816600820c077aefa7b9a7a4e7876c7/edit_DSCF0263.jpg?fl=progressive&q=90"alt="Karim in Vancouver office" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/6GiRErkxJtECM9lXApF1qh/fede759e773496fc6944577f29519255/20200227_153817.jpg?fl=progressive&q=90"
                    alt="Brazil team" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/5kWoj54bwBx8yHAiolt8FM/a78cc3500561004b4e776bce3d428ab2/edit_PA042585.jpg?fl=progressive&q=90"
                    alt="Kat Lo" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/7LdSGgjoiJi6woXmT3UB2V/9af186dd3dba96e3cd0add2eaa840748/2016-03-11_01.04.28_1.jpg?fl=progressive&q=90"
                    alt="Vancouver medicine" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/2VkAUgN6IeLHeub74q5Vbo/6db189717245d9298577168e96baf73d/edit_IMG_0858.jpg?fl=progressive&q=90"
                    alt="Home office" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/2pihhLqtyqlhdN5oMFMc2P/5d3d5f56f2e9810267c2ff4e18faa269/edit_P1220389.jpg?fl=progressive&q=90"
                    alt="Ed, Pierre and Scott in the SF office" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/5FqtNaFEECUQGxeTmMqts3/25f325e7964c0a2a713f11a94381557c/edit_DSCF0621.jpg?fl=progressive&q=90"
                    alt="Books in Vancouver office" />
            </figure>
        </div>

    </div>
</div>
<div class="main-grid section-margin">
    <div class="main-grid__1-12">
        <h3>Offices</h3>
    </div>
    <div class="main-grid__1-4 list-with-header">
        <ul>
            <li>San Francisco <a href="https://goo.gl/maps/zVeCiZrfMnbRA9LV9">↗</a></li>
            <li>1355 Market, Suite 488</li>
            <li>San Francisco, CA 94103</li>
            <li>United States</li>
        </ul>
    </div>
    <div class="main-grid__5-8 list-with-header">
        <ul>
            <li>Salvador <a href="https://goo.gl/maps/DH916gqwdFiiihna9">↗</a></li>
            <li>Rua Marechal Floriano,</li>
            <li>28 - Sala 302</li>
            <li>CEP 41.110-010</li>
            <li>Salvador - Bahia - Brazil</li>
        </ul>
    </div>
    <div class="main-grid__9-12 list-with-header">
        <ul>
            <li>Vancouver <a href="https://goo.gl/maps/U28qUCXQHgpFiK4m9">↗</a></li>
            <li>300-422 Richards St.</li>
            <li>Vancouver, BC, V6B 2Z4</li>
            <li>Canada</li>
        </ul>
    </div>
</div>
<div class="main-grid section-margin">
    <div class="main-grid__1-8">
        <p></p>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}