---
title: Digital Health Lab
short_title: Programs
layout: landing_page
class: program digital-health-lab
permalink: digital-health-lab
h2: Digital <br /> Health Lab
standfirst: | 
    Meedan’s Digital Health Lab is an applied research initiative working towards equitable access to health information at the scale of the internet.
description: | 
    Meedan’s Digital Health Lab is an applied research initiative working towards equitable access to health information at the scale of the internet.
callout: |
    Information equity is a public health issue.
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="font-size--scale-2">
            Today’s world has more internet users than people with access to essential health services such as primary care, dental care, or surgery. And, increasingly, the internet mediates access to health through access to information. That’s where we come in.
        </p>
    </div>
</div>
<div class="main-grid section-top-margin small-hr">
    <div class="main-grid__1-5">
        <h3>What we do</h3>
    </div>
</div>
<div class="main-grid section-bottom-margin">
    <div class="grid-column--span-6">
        <p class="">
            At the Digital Health Lab, our focus is on combining evidence-based responses and rigorous user research to address digital health information inequity.</p>
    </div>
    <div class="grid-column--span-6">
        <p class="">We design creative programs, conduct applied research, inform health information policies, and develop new health data models for technology integration to promote health equity at the scale of the internet.</p>
    </div>
</div>

<div class="main-grid section-top-margin">
    <div class="main-grid__1-5">
        <h3>How we work</h3>
    </div>
</div>
<div class="module module-key-points section-bottom-margin">
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="graphic"><img src="/images/DHL/meedan_digital-health-lab_how-we-work-01.png" /></div>
            <div class="description">Conducting mixed methods research to better understand health information inequities</div>
        </div>
        <div class="key-point">
            <div class="graphic"><img src="/images/DHL/meedan_digital-health-lab_how-we-work-02.png" /></div>
            <div class="description">Collaborating with independent media, fact-checking organizations and journalists around the world to provide resources and explainers on health topics they are covering</div>
        </div>
        <div class="key-point">
            <div class="graphic"><img src="/images/DHL/meedan_digital-health-lab_how-we-work-03.png" /></div>
            <div class="description">Working with translation and localization teams to ensure that communicators have equitable access to health information and resources</div>
        </div>
        <div class="key-point">
            <div class="graphic"><img src="/images/DHL/meedan_digital-health-lab_how-we-work-04.png" /></div>
            <div class="description">Developing standardized data models for health information that can be syndicated for use across technology</div>
        </div>
        <div class="key-point">
            <div class="graphic"><img src="/images/DHL/meedan_digital-health-lab_how-we-work-05.png" /></div>
            <div class="description">Supporting and informing equitable health content moderation policies</div>
        </div>
    </div>
</div>
<div class="module section-margin">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <img src="/images/DHL/meedan_digital-health-lab_research-practice.png" alt="Research / Practice" />
        </div>
        <div class="main-grid__6-12">
            <p>We see research and practice as intertwined, where our practice informs the research questions we ask, and our research insights inform the strategies we put into practice, in three research streams:</p>
            <p>
            <div class="plain-list with-spacing with-border"><ul>
                <li>Community-specic case studies for public health content moderation policies</li>
                <li>Public health information risk categorization</li>
                <li>Cross-language text similarity analyses to evaluate gaps between requested health information and information available to communities.</li>
            </ul></div></p>
        </div>
        
    </div>
</div>
<div class="main-grid section-top-margin">
    <div class="main-grid__1-5">
        <h3>Our work</h3>
    </div>
</div>

{% include module_project_list.html program="1zpC5ejJrfSTK2vDdHzIUE" %}
{% include module_partner_list.html %}
<div class="main-grid section-margin small-hr">
    <div class="main-grid__1-5">
        <h3>Interested in learning more?</h3>
    </div>
</div>
<div class="main-grid section-bottom-margin">
    <div class="main-grid__5-12">
        <p>To learn more about our work, or to explore opportunities for collaboration, please ll out the following form & someone from our team will contact you soon.</p>
        {% include contact_form.html form_name="Digital-Health-Lab-Contact" %}
    </div>
</div>
{% include footer_small.html %}
