---
title: Donate to Meedan
short_title: Meedan
layout: landing_page
class: campaign dark
permalink: donate
h2: <span class="color--coral">Support our work with a contribution of any size</span>
standfirst: | 
    <span class="color--light-navy">Join our community working toward a more equitable internet by contributing today.</span>
description: | 
    Your support helps journalists around the world access crucial tools, training, and context for fact-checking everything from global crises to local community news. Join our community working toward a more equitable internet by contributing today.
callout: |
    Every contribution, big or small, counts →
custom_js: donate
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="main-grid__1--1 font-size--scale-2">
            <span class="color--deep-sea">Your support helps journalists around the world access crucial tools, training, and context for fact-checking everything from global crises to local community news.</span>
        </p>
    </div>
</div>
<div class="module module-tabs module-tabs-donate section-margin">
    <div class="tabs">
        <div class="tab single">Single</div>
        <div class="tab monthly">Monthly</div>
        <div class="tab annual">Annual</div>
    </div>
    
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Single
                    </h4>
                    <p></p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9NtIpkBxgLmwk5THhhrdP">$25</button>
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9OMIpkBxgLmwkuoZdQigl">$50</button>
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9OeIpkBxgLmwkizH1rsra">$100</button>
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9RwIpkBxgLmwkroOg9TdI">$250</button>
                        </div>
                        <div class="smallprint">
                            <p>By proceeding, you are agreeing to our <a href="/check/check_tos.html">Terms and Conditions</a>. To find out what personal data we collect and how we use it, please visit our <a href="/check/check_privacy.html">Privacy Policy</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_01.png" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Monthly
                    </h4>
                    <p></p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="subscription" data-price-id="price_1Hn9NdIpkBxgLmwkzAKqAbMO">$5 per month</button>
                            <button data-checkout-mode="subscription" data-price-id="price_1HocM9IpkBxgLmwkzpbnRul9">$10 per month</button>
                            <button data-checkout-mode="subscription" data-price-id="price_1HocMTIpkBxgLmwkxtHsojnT">$20 per month</button>
                        </div>
                        <div class="smallprint">
                            <p>Monthly contributions are billed each month and annual contributions are billed once a year. You can change how much you give or cancel your contributions at any time.</p>
                            <p>By proceeding, you are agreeing to our <a href="/check/check_tos.html">Terms and Conditions</a>. To find out what personal data we collect and how we use it, please visit our <a href="/check/check_privacy.html">Privacy Policy</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_02.png" />
                </div>
            </div>
        </div>
        
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Annual
                    </h4>
                    <p></p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="subscription" data-price-id="price_1HocMwIpkBxgLmwkTS65MBNq">$50 per year</button>
                            <button data-checkout-mode="subscription" data-price-id="price_1HocNGIpkBxgLmwkkehe00rf">$100 per year</button>
                            <button data-checkout-mode="subscription" data-price-id="price_1HocNbIpkBxgLmwkdNlQJV8O">$250 per year</button>
                            <button data-checkout-mode="subscription" data-price-id="price_1HocNyIpkBxgLmwkpkpqQvNO">$500 per year</button>
                        </div>
                        <div class="smallprint">
                            <p>Monthly contributions are billed each month and annual contributions are billed once a year. You can change how much you give or cancel your contributions at any time.</p>
                            <p>By proceeding, you are agreeing to our <a href="/check/check_tos.html">Terms and Conditions</a>. To find out what personal data we collect and how we use it, please visit our <a href="/check/check_privacy.html">Privacy Policy</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_03.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module section-margin module-details small-hr">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <h3>Why donate?</h3>
            <p>Meedan works in a unique space in the information sphere - by providing tools to people addressing, studying, and educating the public about misinformation, we inform the zeitgeist of internet culture.</p>
            <p>We have built a network of passionate media creators, journalists, researchers and internet users all over the world who use our tools as a critical resource for tackling misinformation, and to build an infrastructure for safe and healthy information sharing. Last but not least, our team members have contributed to publications like The New York Times, MIT Technology Review, and The Atlantic to contribute thought leadership about consuming and critiquing media.</p>
            <p>We have wonderful organizations supporting the work we do, but we invite YOU to support the Meedan mission. Make a difference in internet equity today, and consider making a monthly or yearly donation.</p>
            <p><a class="button transparent no-bottom-margin" href="/about">Learn more →</a></p>
        </div>
        <div class="main-grid__6-12">
            <figure class="main-grid__1-8">
                <img src="/images/meedan_team_remote.jpg" alt="The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow." />
                <figcaption class="main-grid__1-4 credit align-self--end">▲ Enjoying our plants :-)</figcaption>
            </figure>
        </div>
    </div>
</div>
{% include stripe.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}