---
title: Donate to Meedan
short_title: Meedan
layout: landing_page
class: campaign dark
permalink: donate
h2: <span class="color--coral">Support our work with a contribution of any size</span>
standfirst: | 
    <span class="color--light-navy">1st - 31st October 2020</span><br />
    <span class="color--deep-sea">Join our developer community, contribute to open source with Check and earn cool swags!</span>
description: | 
    1st - 31st October 2020. Join our developer community, contribute to open source with Check and earn cool swags!
callout: |
    <a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest">Contribute to win an exclusive T-shirt ↗</a>
custom_js: donate
---
<!-- <div class="main-grid">
    <div class="main-grid__1--1">
        <p class="main-grid__1--1 font-size--scale-2">
            As part of <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest</a>, here at Meedan we’d like to expand our developer community and we are welcoming and inviting everyone to contribute to any of the services that support the <a href="https://github.com/meedan/check">Check</a> platform.
        </p>
    </div>
</div> -->
<div class="module module-tabs module-tabs-donate section-margin">
    <div class="tabs">
        <div class="tab single">Single</div>
        <div class="tab monthly">Monthly</div>
        <div class="tab annual">Annual</div>
    </div>
    
    <div class="tabs-container">
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Single
                    </h4>
                    <p>Journalists, academics and fact-checkers use Check for collaborative reporting on elections. We help these users verify incoming content in real-time.</p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9NtIpkBxgLmwk5THhhrdP">$25</button>
                            <button data-checkout-mode="payment" data-price-id="  price_1Hn9OMIpkBxgLmwkuoZdQigl">$50</button>
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9OeIpkBxgLmwkizH1rsra">$100</button>
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9RwIpkBxgLmwkroOg9TdI">$250</button>
                        </div>
                        <div class="smallprint">
                            <p>By proceeding, you are agreeing to our Terms and Conditions. To find out what personal data we collect and how we use it, please visit our Privacy Policy.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_01.png" />
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Monthly
                    </h4>
                    <p>Check allows members of the public to send  content from social media and other online spaces to journalists working on investigative projects.</p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="payment" data-price-id="price_1Hn9NdIpkBxgLmwkzAKqAbMO">$5 per month</button>
                            <button data-checkout-mode="payment" data-price-id="price_1HocM9IpkBxgLmwkzpbnRul9">$10 per month</button>
                            <button data-checkout-mode="payment" data-price-id="price_1HocMTIpkBxgLmwkxtHsojnT">$20 per month</button>
                        </div>
                        <div class="smallprint">
                            <p>Monthly contributions are billed each month and annual contributions are billed once a year. You can change how much you give or cancel your contributions at any time.</p>
                            <p>By proceeding, you are agreeing to our Terms and Conditions. To find out what personal data we collect and how we use it, please visit our Privacy Policy.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_02.png" />
                </div>
            </div>
        </div>
        
        <div class="tab-content">
            <div class="tab-content-wrapper">
                <div class="tab-text">
                    <h4>
                        Annual
                    </h4>
                    <p>Check allows teams to translate content to and from multiple languages, accommodating both native scripts and common romanizations like Arabizi.</p>
                    <div class="donate-options">
                        <div class="capsules">
                            <button data-checkout-mode="payment" data-price-id="price_1HocMwIpkBxgLmwkTS65MBNq">$50 per year</button>
                            <button data-checkout-mode="payment" data-price-id="price_1HocNGIpkBxgLmwkkehe00rf">$100 per year</button>
                            <button data-checkout-mode="payment" data-price-id="price_1HocNbIpkBxgLmwkdNlQJV8O">$250 per year</button>
                            <button data-checkout-mode="payment" data-price-id="price_1HocNyIpkBxgLmwkpkpqQvNO">$500 per year</button>
                        </div>
                        <div class="smallprint">
                            <p>Monthly contributions are billed each month and annual contributions are billed once a year. You can change how much you give or cancel your contributions at any time.</p>
                            <p>By proceeding, you are agreeing to our Terms and Conditions. To find out what personal data we collect and how we use it, please visit our Privacy Policy.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-image">
                    <img src="/images/meedan_donate_03.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <h3>Why donate?</h3>
            <p>Hacktoberfest is an annual global hackathon event hosted by DigitalOcean and GitHub to bring developers together and contribute to open source software.</p>
            <p><a class="button transparent no-bottom-margin" href="/about">Learn more ↗</a></p>
        </div>
        <div class="main-grid__6-12">
            <figure class="main-grid__1-8">
                <img src="/images/meedan_team_remote.jpg" alt="The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow." />
                <figcaption class="main-grid__1-4 credit align-self--end">▲ The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow.</figcaption>
            </figure>
        </div>
    </div>
</div>
<div id="details" class="module module-details section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-6">
            <h3>How to contribute</h3>
            <p>To join this event you need to have a <a href="https://github.com/">GitHub account</a>, sign up on the official <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest website</a> and send a pull request for <a href="https://github.com/meedan/check">Check</a> between 1st and 31st October.</p>
            <p>You can contribute to any of Check’s submodule repositories opening a pull request in line with <a href="https://hacktoberfest.digitalocean.com/details/#quality">Hacktoberfest’s quality standards.</a></p>
            <p>We created some <a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest">GitHub issues for Hacktoberfest</a>. All the issues have labels identifying the Check component it is related to, the difficulty level and the technology knowledge needed to work with the issue. Choose one issue to work on or suggest a new issue.</p>
            <p>Start contributing to a new open source project can seem confusing or difficult. <a href="https://github.com/meedan/check/wiki">Check documentation</a> will help you understand Check and orient your first steps.</p>
        </div>
        <div class="main-grid__7-12">
            <h3>How to interact or get help</h3>
            <p>If you are interested in working on an existing issue, add a comment and get assigned so others will know someone is working on it. If you couldn’t choose an issue from the list but you have an idea, <a href="https://github.com/meedan/check/issues/new/choose"></a>create an issue</a>.</p>
            <p>If you don’t know yet how you want to contribute or if you have any doubts or questions about Meedan Hacktoberfest, reach out to us on our <a href="https://meedan.discourse.group/c/hacktoberfest/10"></a>forum</a>.</p>
            <h3>Get your rewards</h3>
            <p>All participants will get a t-shirt from Hacktoberfest organizers if they create at least 4 pull requests in any open source project.</p>
            <p>To motivate all new contributors, Check project will also distribute some swag. The only requirement is a <a href="https://hacktoberfest.digitalocean.com/details/#quality">valid PR</a> accepted and merged on any of our open source projects and then we will send you a limited edition Meedan Hacktoberfest t-shirt and mask along with a sticker pack!</p>
        </div>
    </div>
</div>
{% include stripe.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}