---
title: Events
h2: Upcoming Events
layout: landing_page
class: blog events
permalink: events
standfirst: | 
    Committed to engaging in public discourse around the topics we care about, Meedan both hosts and attends events around the world. We hope you can join us in conversation and learning.
description: | 
    Committed to engaging in public discourse around the topics we care about, Meedan both hosts and attends events around the world. We hope you can join us in conversation and learning.
---

{% include module_calendar.html %}
{% include module_past_events.html title="Past Events" %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}