---
title: Hacktoberfest – Contribute to open source with Check
short_title: Check
layout: landing_page
class: campaign dark
permalink: hacktoberfest
h2: <span class="color--texas-rose">Hacktoberfest <br />x Meedan</span>
standfirst: | 
    <span class="color--texas-rose">1st - 31st October 2020</span><br />
    <span class="color--light-navy">Join our developer community, contribute to open source with Check and earn cool swags!</span>
description: | 
    1st - 31st October 2020. Join our developer community, contribute to open source with Check and earn cool swags!
callout: |
    <a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest">Contribute to win an exclusive T-shirt ↗</a>
---
<div class="main-grid">
    <div class="main-grid__1--1">
        <p class="main-grid__1--1 font-size--scale-2 color--light-navy">
            As part of <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest</a>, here at Meedan we’d like to expand our developer community and we are welcoming and inviting everyone to contribute to any of the services that support the <a href="https://github.com/meedan/check">Check</a> platform.
        </p>
    </div>
</div>
<div class="module module-key-points section-margin">
    <div class="main-grid key-points">
        <div class="key-point color--texas-rose">
            <div class="count">{% include icon_pull-request.html %}</div>
            <div class="title"><a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest">Create a<br /> pull request</a></div>
            <div class="description">Contribute a <a href="https://hacktoberfest.digitalocean.com/details/#quality">valid pull request</a> for any of our open source projects during the month of October. <br/><a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest" class="button transparent no-bottom-margin">Get started ↗</a></div>
        </div>
        <div class="key-point color--coral">
            <div class="count">{% include icon_tshirt.html %}</div>
            <div class="title">Get<br /> exclusive swag</div>
            <div class="description">We will send you a limited edition Meedan Hacktoberfest t-shirt and mask along with a sticker pack! <br/><a href="#details" class="button transparent no-bottom-margin">See details ↓</a></div>
        </div>
        <div class="key-point color--deep-sea">
            <div class="count">{% include icon_community.html %}</div>
            <div class="title">Join our<br /> community</div>
            <div class="description">Want to contribute or if you have any questions about Meedan Hacktoberfest, reach out to us on our forum. <br/><a href="https://meedan.discourse.group/c/hacktoberfest/10" class="button transparent no-bottom-margin">Forum ↗</a>
            </div>
        </div>
    </div>
</div>
<div class="module section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <h3>What is Hacktoberfest</h3>
            <p>Hacktoberfest is an annual global hackathon event hosted by DigitalOcean and GitHub to bring developers together and contribute to open source software.</p>
            <p><a class="button transparent no-bottom-margin" href="https://hacktoberfest.digitalocean.com/">Learn more ↗</a></p>
        </div>
        <div class="main-grid__6-12">
            <img src="//hacktoberfest.digitalocean.com/assets/HF-full-logo-b05d5eb32b3f3ecc9b2240526104cf4da3187b8b61963dd9042fdc2536e4a76c.svg" alt="Hacktoberfest Logo" />
        </div>
    </div>
</div>
<div class="module section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-5">
            <h3>What is Check</h3>
            <p>Check is an open source platform for collaborative fact-checking and media annotation. Organizations use Check to conduct their investigations and debunk misinformation.</p>
            <p>Also, Check is extensible by creating custom bots and integrations. We maintain a repository with <a href="https://github.com/meedan/check-bots/">bot examples</a> and encourage developers to create bots to enrich Check functionality.</p>
        </div>
        <div class="main-grid__6-12">
            <figure class="main-grid__1-8">
                <img src="/images/join-meedan.png" alt="The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow." />
                <figcaption class="main-grid__1-4 credit align-self--end">▲ The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition (an initiative led by Meedan and Hacks/Hackers). Photo by Steven Snow.</figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="module module-key-points section-margin">
    <div class="main-grid">
        <div class="main-grid__1-5">
            Check is composed of the following services:</div>
    </div>
    <div class="main-grid key-points">
        <div class="key-point">
            <div class="count">01</div>
            <div class="title"><a href="https://github.com/meedan/alegre/">Alegre</a></div>
            <div class="description">Language identification, text similarity and others text an media analysis</div>
        </div>
        <div class="key-point">
            <div class="count">02</div>
            <div class="title"><a href="https://github.com/meedan/check-api/">Check API</a></div>
            <div class="description">The core API and CMS</div>
        </div>
        <div class="key-point">
            <div class="count">03</div>
            <div class="title"><a href="https://github.com/meedan/check-mark/">Check Mark</a></div>
            <div class="description">A browser extension</div>
        </div>
        <div class="key-point">
            <div class="count">04</div>
            <div class="title"><a href="https://github.com/meedan/check-slack-bot/">Check Slack Bot</a></div>
            <div class="description">A Slack bot to interact with Check</div>
        </div>
        <div class="key-point">
            <div class="count">05</div>
            <div class="title"><a href="https://github.com/meedan/check-web/">Check Web</a></div>
            <div class="description">Front-end web application</div>
        </div>
        <div class="key-point">
            <div class="count">06</div>
            <div class="title"><a href="https://github.com/meedan/fetch/">Fetch</a></div>
            <div class="description">A FactCheck / Claim Review aggregation service</div>
        </div>
        <div class="key-point">
            <div class="count">07</div>
            <div class="title"><a href="https://github.com/meedan/pender/">Pender</a></div>
            <div class="description">Link parsing, archiving and rendering service</div>
        </div>
        <div class="key-point">
            <div class="count">08</div>
            <div class="title"><a href="https://github.com/meedan/narcissus/">Narcissus</a></div>
            <div class="description">Webpage screenshotting</div>
        </div>
    </div>
</div>
<div id="details" class="module module-details section-margin small-hr">
    <div class="main-grid">
        <div class="main-grid__1-6">
            <h3>How to contribute</h3>
            <p>To join this event you need to have a <a href="https://github.com/">GitHub account</a>, sign up on the official <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest website</a> and send a pull request for <a href="https://github.com/meedan/check">Check</a> between 1st and 31st October.</p>
            <p>You can contribute to any of Check’s submodule repositories opening a pull request in line with <a href="https://hacktoberfest.digitalocean.com/details/#quality">Hacktoberfest’s quality standards.</a></p>
            <p>We created some <a href="https://github.com/meedan/check/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest">GitHub issues for Hacktoberfest</a>. All the issues have labels identifying the Check component it is related to, the difficulty level and the technology knowledge needed to work with the issue. Choose one issue to work on or suggest a new issue.</p>
            <p>Start contributing to a new open source project can seem confusing or difficult. <a href="https://github.com/meedan/check/wiki">Check documentation</a> will help you understand Check and orient your first steps.</p>
        </div>
        <div class="main-grid__7-12">
            <h3>How to interact or get help</h3>
            <p>If you are interested in working on an existing issue, add a comment and get assigned so others will know someone is working on it. If you couldn’t choose an issue from the list but you have an idea, <a href="https://github.com/meedan/check/issues/new/choose"></a>create an issue</a>.</p>
            <p>If you don’t know yet how you want to contribute or if you have any doubts or questions about Meedan Hacktoberfest, reach out to us on our <a href="https://meedan.discourse.group/c/hacktoberfest/10"></a>forum</a>.</p>
            <h3>Get your rewards</h3>
            <p>All participants will get a t-shirt from Hacktoberfest organizers if they create at least 4 pull requests in any open source project.</p>
            <p>To motivate all new contributors, Check project will also distribute some swag. The only requirement is a <a href="https://hacktoberfest.digitalocean.com/details/#quality">valid PR</a> accepted and merged on any of our open source projects and then we will send you a limited edition Meedan Hacktoberfest t-shirt and mask along with a sticker pack!</p>
        </div>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}