---
title: Jobs
layout: landing_page
class: blog
permalink: jobs
h2: Join Meedan
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    Our team of coders, designers, researchers and journalists is keen to collaborate with deep thinkers and boundary pushers from around the world.
description: | 
    Our team of coders, designers, researchers and journalists is keen to collaborate with deep thinkers and boundary pushers from around the world.
---
<figure class="graphic bleed-right">
    <img class="main-grid__4-12" src="/images/join-meedan.png" alt="Meedan team." />
</figure>
<div class="main-grid section-margin">
    <div class="main-grid__5-12">
        <p>Browse below for more details on our open positions, or submit your resume to <a href="mailto:jobs@meedan.com">jobs@meedan.com</a> to be considered for future opportunities.</p>
    </div>
    <div class="main-grid__5-12 section-margin">
        {% include module_jobs.html %}
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}