---
title: Jobs
layout: page
class: journal
permalink: jobs
h2: Join Meedan
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    We’re always looking for talented new members that push us to be bolder, dream bigger and perform better. Think that’s you? We like your confidence. Drop us a line!
---
<figure class="bleed-right">
    <img class="main-grid__4-12" src="/images/join-meedan.png" alt="Meedan team." />
</figure>
<div class="main-grid section-margin">
    <div class="main-grid__5-12">
        {% include module_jobs.html %}
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}