---
title: Jobs
layout: page
class: journal
permalink: jobs
h2: Join Meedan
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    We’re always looking for talented new members that push us to be bolder, dream bigger and perform better. Think that’s you? We like your confidence. Drop us a line!
description: | 
    We’re always looking for talented new members that push us to be bolder, dream bigger and perform better. Think that’s you? We like your confidence. Drop us a line!
image: https://images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg
---
<figure class="bleed-right">
    <img class="main-grid__4-12" src="/images/join-meedan.png" alt="Meedan team." />
</figure>
<div class="main-grid section-margin">
    <div class="main-grid__5-12">
        {% include module_jobs.html %}
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}