---
title: Projects
layout: page
class: projects
permalink: projects
h2: Collaborative field work
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    We build programs with newsrooms, civil society groups, NGOs and academic institutions working on digital investigations and misinformation research.
description: | 
    We build programs with newsrooms, civil society groups, NGOs and academic institutions working on digital investigations and misinformation research.
---
{% include module_programs_overview.html %}
{% include module_project_list.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}