---
title: Projects
layout: page
class: projects
permalink: projects
h2: Collaborative field work
callout: Subscribe to our misinformation news roundup
standfirst: | 
    We build programs with newsrooms, civil society groups, NGOs and academic institutions working on digital investigations and misinformation research.
---
<div class="module module-project-list">
    <div class="main-grid section-margin bleed-left">
        <div class="main-grid__1-5 bleed project-story">
            <a href="">
                <img src="/images/project-check-global.png" />
                <h4>How Meedan supported three reporting initiatives in Asia</h4>
                <div class="arrow">{% include icon_forward_arrow.html %}</div>
            </a>
        </div>
        <div class="main-grid__6-12 project-teaser">
            <h3>Check Global</h3>
            <p>Check Global is an initiative that supports journalism and human rights research in the developing world. We provide software, training and support to an international group of independent media organizations, journalism schools and human rights researchers.</p>
            <ul>
                <li>
                    <a href="#">Read more</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-grid section-margin bleed-left">
        <div class="main-grid__1-5 bleed project-story">
            <a href="">
                <img src="/images/project-credibility-coalition-2.jpg" />
                <h4>Signaling Credibility — What We’re Building at the W3C
                </h4>
                <div class="arrow">{% include icon_forward_arrow.html %}</div>
            </a>
        </div>
        <div class="main-grid__6-12 project-teaser">
            <h3>Credibility Coalition</h3>
            <p>An interdisciplinary research incubator founded in partnership with Hacks/Hackers. We facilitate working groups that think through misinformation problems using design, health, economic and many other lenses.</p>
            <ul>
                <li>
                    <a href="//www.credibilitycoalition.org">Project website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-grid section-margin bleed-left">
        <div class="main-grid__1-5 bleed project-story">
            <a href="">
                <img src="/images/project-pop-up-newsroom-2.jpg" />
                <h4>Five Insights For Collaborative Natural Disaster Reporting From Hurricane Florence</h4>
                <div class="arrow">{% include icon_forward_arrow.html %}</div>
            </a>
        </div>
        <div class="main-grid__6-12 project-teaser">
            <h3>Pop-Up Newsroom</h3>
            <p>We develop collaborative editorial projects with newsrooms around the world. Our job is to generate large-scale ideas, supply the collaborative technology and execute complex workflows between different news outlets. This is a joint project with London-based news consultancy Fathm.</p>
            <ul>
                <li>
                    <a href="//www.credibilitycoalition.org">Project website</a>
                </li>
                <li>
                    <a href="//www.fathm.co">Fathm</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-grid section-margin bleed-left">
        <div class="main-grid__1-5 bleed project-story">
            <a href="">
                <img src="/images/project-digital-health-lab.png" />
                <h4>Maria Ressa and the perils of investigative journalism in Philippines</h4>
                <div class="arrow">{% include icon_forward_arrow.html %}</div>
            </a>
        </div>
        <div class="main-grid__6-12 project-teaser">
            <h3>Digital Health Lab</h3>
            <p>Researching, designing and testing the impact of the internet on public health. We are building a framework for addressing health misinformation, and it is centered around more equitable access to quality health content.</p>
            <ul>
                <li>
                    <a href="//health.meedan.com">Project website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-grid section-margin bleed-left">
        <div class="main-grid__1-5 bleed project-story">
            <!-- <a href=""> -->
                <img src="/images/project-content-moderation-project.png" />
            <!-- </a> -->
        </div>
        <div class="main-grid__6-12 project-teaser">
            <h3>Content Moderation Project</h3>
            <p>Researching, designing and testing the impact of the internet on public health. We are building a framework for addressing health misinformation, and it is centered around more equitable access to quality health content.</p>
        </div>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}