---
title: Projects
layout: page
class: projects
permalink: projects
h2: Collaborative field work
<!-- callout: Subscribe to our misinformation news roundup -->
standfirst: | 
    We build programs with newsrooms, civil society groups, NGOs and academic institutions working on digital investigations and misinformation research.
description: | 
    We build programs with newsrooms, civil society groups, NGOs and academic institutions working on digital investigations and misinformation research.
image: 
    path: https://images.ctfassets.net/g118h5yoccvd/3SstSYbDqaReUYS9eeYTOX/3faa0b67fc7ffd9dd270db434e6fb927/edit-4140867.jpg
    alt: Meedan at IJF18
---
{% include module_programs_overview.html %}
{% include module_project_list.html %}
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}