---
title: Team
layout: page
class: team dark
permalink: team
h2: We are the Meedanis
---
<div class="main-grid section-margin">
   <div class="main-grid__1--1">
       <img src="/images/meedan-group.jpg" alt="Meedan team" />
   </div>
</div>
<div class="team-list">
    <div class="team-member">
        <span>Caio Almeida</span>
        <span>Senior Application Engineer</span>
        <span>Salvador</span>
    </div>
    <div class="team-member">
        <span>Isabella Barroso</span>
        <span>Program Associate, LatAm</span>
        <span>Salvador</span>
    </div>
    <div class="team-member">
        <span>Scott Hale</span>
        <span>Director of Research</span>
        <span>San Francisco</span>
    </div>
    <div class="team-member">
        <span>Abdul Rehman Khawar</span>
        <span>Graphic Designer</span>
        <span>Vancouver</span>
    </div>
    <div class="team-member">
        <span>Ed Bice</span>
        <span>CEO & Board Member</span>
        <span>San Francisco</span>
    </div>
    <div class="team-member">
        <span>Wafaa Heikal</span>
        <span>Program Manager</span>
        <span>Berlin</span>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}