---
title: Team
layout: landing_page
class: team dark
permalink: team
h2: We are the Meedanis
description: We are the Meedanis
---
<div class="main-grid bleed-right section-margin full-bleed">
    <div class="main-grid__1--1 slideshow">
        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg?fl=progressive&q=90" alt="Meedan team" />
                <figcaption>
                    The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition. <br />Photo by Steven Snow.
                </figcaption>
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/6blPt1dOsFlvN1XOnPMIg2/ba7965164459c75e495bc717f63f91fe/edit_PA022558.jpg?fl=progressive&q=90"alt="Dima" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/5FqtNaFEECUQGxeTmMqts3/25f325e7964c0a2a713f11a94381557c/edit_DSCF0621.jpg?fl=progressive&q=90"
                    alt="Books in Vancouver office" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/3cNfCloLPcyO3K1U28XBgn/4c894cb2473952f902baf4dad41b796b/vlcsnap-2016-03-08-20h33m28s349.jpg?fl=progressive&q=90"
                    alt="Team retreat in Italy" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/7nqbFjXtcXWYUxkTgA3TDE/a433cfa1570a4d8f4e1c4ffd15692a3e/edit_094A7074-2.jpg?fl=progressive&q=90"
                    alt="Team dinner" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/57MKQF1PQlPP4rbpXqfGcz/5c4683bf8b5e3a8d5bba62d650ca16d0/edit_094A7572.jpg?fl=progressive&q=90"
                    alt="Meedan team in Portugal" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/2AUdjzYivarHKQ7iOjKl1U/175b85938c512e1bc840c767d0b71e7a/1_YD_cXsP53UelbcsiiLDrHQ.jpeg?fl=progressive&q=90"
                    alt="Isabella, Shalini, Wafaa and the rest of Meedan’s female team at a company retreat in Porto, Oct. 2019" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/NN2HbyCpoWFjw5EiVR16d/93983b91ae74900009c6762f16408fdc/edit_P1220590.jpg?fl=progressive&q=90"
                    alt="SF office" />
            </figure>
        </div>

        <div class="slide">
            <figure class="no-margin">
                <img src="//images.ctfassets.net/g118h5yoccvd/1aIvrbanpNMqxiMsA18vI5/e47ad436be30d5bbbcd472ba3e672329/edit_DSC_0732.jpg?fl=progressive&q=90"
                    alt="Meedan Porto Retreat" />
            </figure>
        </div>

    </div>
</div>
{% assign meedanis = site.data.contentful.spaces.moduleList.moduleList 
    | where_exp: "item","item.sys.id == '5nrulC97yc41kgWt557cSL'"
%}
<div class="team-list">
    {% for meedani in meedanis[0].items %}
        <div class="team-member">
            <span>{{ meedani.name }}</span>
            {% if meedani.role %}
                <span>{{ meedani.role }}</span>
            {% endif %}
            {% if meedani.location %}
                <span>{{ meedani.location }}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}