---
title: Team
layout: landing_page
class: team dark
permalink: team
h2: We are the Meedanis
description: We are the Meedanis
---
<div class="main-grid bleed-right section-margin">
    <div class="main-grid__1--1 slideshow">
        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/xm2fDBV4C9H1DwHPZluKf/eb39a79a31a2f34cde870ce118bd709c/meedan-group.jpg?fl=progressive&q=90" alt="Meedan team" />
                <figcaption>
                    The Meedan team develops some new ideas at CredCon, hosted by the Credibility Coalition. <br />Photo by Steven Snow.
                </figcaption>
            </figure>
        </div>


        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/6blPt1dOsFlvN1XOnPMIg2/ba7965164459c75e495bc717f63f91fe/edit_PA022558.jpg?fl=progressive&q=90"alt="Dima" />
            </figure>
        </div>

        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/5FqtNaFEECUQGxeTmMqts3/25f325e7964c0a2a713f11a94381557c/edit_DSCF0621.jpg?fl=progressive&q=90"
                    alt="Books in Vancouver office" />
            </figure>
        </div>




        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/3cNfCloLPcyO3K1U28XBgn/4c894cb2473952f902baf4dad41b796b/vlcsnap-2016-03-08-20h33m28s349.jpg?fl=progressive&q=90"
                    alt="Team retreat in Italy" />
            </figure>
        </div>



        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/7nqbFjXtcXWYUxkTgA3TDE/a433cfa1570a4d8f4e1c4ffd15692a3e/edit_094A7074-2.jpg?fl=progressive&q=90"
                    alt="Team dinner" />
            </figure>
        </div>



        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/57MKQF1PQlPP4rbpXqfGcz/5c4683bf8b5e3a8d5bba62d650ca16d0/edit_094A7572.jpg?fl=progressive&q=90"
                    alt="Meedan team in Portugal" />
            </figure>
        </div>



        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/2AUdjzYivarHKQ7iOjKl1U/175b85938c512e1bc840c767d0b71e7a/1_YD_cXsP53UelbcsiiLDrHQ.jpeg?fl=progressive&q=90"
                    alt="Isabella, Shalini, Wafaa and the rest of Meedan’s female team at a company retreat in Porto, Oct. 2019" />
            </figure>
        </div>



        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/NN2HbyCpoWFjw5EiVR16d/93983b91ae74900009c6762f16408fdc/edit_P1220590.jpg?fl=progressive&q=90"
                    alt="SF office" />
            </figure>
        </div>



        <div class="slide">
            <figure>
                <img src="//images.ctfassets.net/g118h5yoccvd/1aIvrbanpNMqxiMsA18vI5/e47ad436be30d5bbbcd472ba3e672329/edit_DSC_0732.jpg?fl=progressive&q=90"
                    alt="Meedan Porto Retreat" />
            </figure>
        </div>



    </div>
</div>
<div class="team-list">
    <div class="team-member">
        <span>Caio Almeida</span>
        <span>Director of Engineering</span>
        <span>Salvador</span>
    </div>
    <div class="team-member">
        <span>Isabella Barroso</span>
        <span>Program Manager, Latin America</span>
        <span>Brazil</span>
    </div>
    <div class="team-member">
        <span>Scott Hale</span>
        <span>Director of Research</span>
        <span>Oxford / Okinawa</span>
    </div>
    <div class="team-member">
        <span>Abdul Rehman Khawar</span>
        <span>Creative Director</span>
        <span>Vancouver</span>
    </div>
    <div class="team-member">
        <span>Ed Bice</span>
        <span>CEO</span>
        <span>San Francisco</span>
    </div>
    <div class="team-member">
        <span>Wafaa Heikal</span>
        <span>Program Manager, East Africa</span>
        <span>Berlin</span>
    </div>
    <div class="team-member">
        <span>Mina Xiao</span>
        <span>COO</span>
        <span>On the Road</span>
    </div>
    <div class="team-member">
        <span>Kat Lo</span>
        <span>Program Manager</span>
        <span>Los Angeles</span>
    </div>
    <div class="team-member">
        <span>Karim Ratib</span>
        <span>CTO</span>
        <span>Vancouver</span>
    </div>
    <div class="team-member">
        <span>Daniela Feitosa</span>
        <span>CTO</span>
        <span>Vancouver</span>
    </div>
    <div class="team-member">
        <span>Mohamed El-Sawy</span>
        <span>Senior Software Engineer</span>
        <span>Cairo</span>
    </div>
    <div class="team-member">
        <span>Pierre Conti</span>
        <span>Product Owner</span>
        <span>San Francisco</span>
    </div>
    <div class="team-member">
        <span>Nat Gyenes</span>
        <span>Senior Program Manager</span>
        <span>On the Road</span>
    </div>
    <div class="team-member">
        <span>Alexandre Amoedo Amorim</span>
        <span>Software Engineer</span>
        <span>Salvador</span>
    </div>
    <div class="team-member">
        <span>Shalini Joshi</span>
        <span>Program Lead, APAC</span>
        <span>New Delhi</span>
    </div>
    <div class="team-member">
        <span>Megan Marrelli</span>
        <span>Program Manager</span>
        <span>New York</span>
    </div>
    <div class="team-member">
        <span>Dima Saber</span>
        <span>Check Research and Impact Lead</span>
        <span>Birmingham, UK</span>
    </div>
    <div class="team-member">
        <span>Aaron Huslage</span>
        <span>Senior Systems Engineer</span>
        <span>Durham</span>
    </div>
    <div class="team-member">
        <span>Daniele Valverde</span>
        <span>Software Engineering Intern</span>
        <span>Salvador</span>
    </div>
    <div class="team-member">
        <span>Pat Motte</span>
        <span>Bookkeeper</span>
        <span>San Francisco</span>
    </div>
    <div class="team-member">
        <span>Zeynep Tufekci</span>
        <span>Board Member</span>
    </div>
    <div class="team-member">
        <span>Maria Ressa</span>
        <span>Board Member</span>
    </div>
    <div class="team-member">
        <span>Jon Corshen</span>
        <span>Board Member</span>
    </div>
    <div class="team-member">
        <span>Tim Hwang</span>
        <span>Board Member</span>
    </div>
    <div class="team-member">
        <span>Hanan Heikal</span>
        <span>Board Member</span>
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}