---
title: About
layout: landing_page
class: values dark
permalink: values
h2: Our <br />values
standfirst: | 
    Meedan’s nine core values reflect our operating principles, cultural values and best practices as an organization. 
    We developed them over the course of a few months with all our staff during team retreats and online conversations. 
description: | 
    Meedan’s nine core values reflect our operating principles, cultural values and best practices as an organization. 
    We developed them over the course of a few months with all our staff during team retreats and online conversations. 
---
<div class="main-grid section-margin">
    <div class="main-grid__1--1">
        {% include module_values.html %}
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}