---
title: About
layout: landing_page
class: values dark
permalink: values
h2: Our <br />values
standfirst: | 
    Meedan’s seven core values reflect our operating principles, organizational culture and best practices as a team. We developed them with all our staff during team retreats and online conversations and seek to embody them in our daily work both within the organization and in the broader professional world. 
description: | 
    Meedan’s seven core values reflect our operating principles, organizational culture and best practices as a team. We developed them with all our staff during team retreats and online conversations and seek to embody them in our daily work both within the organization and in the broader professional world. 
---
<div class="main-grid section-margin">
    <div class="main-grid__1--1">
        {% include module_values.html %}
    </div>
</div>
{% include module_checklist.html %}
{% include footer_small.html theme="dark" %}