---
layout: "default"
slug: "credibility-indicators"
ogp:
  og:
    description: 'Credibility Indicators Working Group: A diverse, interdisciplinary community committed to building better standards for credibility on the web.'
    image:
      '': http://meedan.com/images/ciwg/ciwg-thumbnail.jpg
      type: image/jpg
      width: 2000
      height: 1200
    locale:
      '': en_us
---

<div class="credibility-indicators--section image-banner-wrap">
  <div class="image-banner image-1"></div>
  <div class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the New York working group meeting. Photo courtesy the Brown Institute.
  </div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <h1>The Credibility Indicators Working Group</h1>
    <h2 class="subtitle">An initiative led by Meedan and Hacks/Hackers</h2>

    <p>As concerns grow about the importance of credible information in news, it has become increasingly necessary to develop broader consensus around what makes information content credible amongst key providers. Another key concern is how this credibility is communicated as content travels around the web.</p>

    <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>

    <p>Defining a set of standards for content credibility leverages the expertise of a knowledgeable community, creating a growing foundation upon which interested providers can make important decisions about how we share and display information, regardless of what site it appears on.</p>

    <p>The Credibility Indicators Working Group, started by Meedan and Hacks/Hackers, and incubated at MisinfoCon, aims to address this challenge by convening journalists, scientists, designers, librarians, platform representatives and others. We are a diverse, interdisciplinary community committed to building better standards for credibility on the web and improving our information ecosystems and media literacy more broadly.</p>

    <h2>What we are doing</h2>

    <p>There are a few core problems that members of our working group aim to address. By solving these problems, we hope to foster healthy cooperation among an ecosystem of teams building tools and communities producing clear and useful credibility metrics. While this group is focused on articles at the outset, we hope to engage with claims, images, videos and other forms of content in the long term.
    </p>

    <p>We have four core goals:</p>

     <ul class="goals">
        <li><em>Develop a framework of indicators to test.</em> Credibility indicators can be as simple and straightforward as a site’s domain registration date, and as complex and nuanced as its tone of voice.</li>

         <li><em>Refine the process for marking up a set of training articles with relevant indicators.</em> To develop an effective corpus, we need to have numerous articles with different levels of nuance and indicators. The more articles, and the greater the diversity of them, the more effective the next task will be.</li>

         <li><em>Evaluate the corpus of training data for success.</em> This means providing the training data to a number of potential users, whether that’s a major platform, a research organization or a media outlet that specializes in fact checking. With a standardized set of indicators and markup styles, each of these use cases will help us ensure their applicability/practicality and understand how marked-up stories can more effectively impact their work.</li>

         <li><em>Define the working process for this group.</em> As a group whose members’ fields of expertise cross a number of disciplines and fields, we aim to define a process that can expand to include multiple types of content, future challenges around credibility, and structures for more effective cooperation.</li>
      </ul>

  </div>
</div>

<div class="image-banner-wrap">
  <div class="image-banner image-2"></div>
  <div class="caption">The Credibility Indicators Working Group was born during a late night creative studio session at MisinfoCon, hosted at the Media MIT Lab.</div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <h2>How to join us</h2>

    <p>We value a diverse and inclusive membership and encourage broad participation. We have a team of core and advisory members who meet regularly online and offline to share findings and results. Given the geographic spread of the people who’ve been participating — coming from the United Kingdom and the US’s west coast, the midwest, the northeast and the south — this happens most frequently via a series of video calls and on the MisinfoCon Slack, with occasional in-person meetings as time and geography allow.</p>

    <p>To get in touch, please email <a href="mailto:ciwg@meedan.com">ciwg@meedan.com</a>.</p>
  </div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
  <h2>CONTRIBUTORS</h2>

  <p>The core contributors of our working group including the following individuals and organizations:</p>

  <ul class="contributors">
    <li>Dr. Nick Adams, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Ed Bice, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Robyn Caplan, <a href="https://datasociety.net/" title="Data &amp;amp; Society">Data &amp; Society Research Institute</a></li>
    <li>Renee DiResta, <a href="http://datafordemocracy.org/" title="Data for Democracy">Data for Democracy</a> </li>
    <li>Dhruv Ghulati, <a href="http://factmata.com/" title="Factmata">Factmata</a></li>
    <li>Vinny Green, <a href="http://www.snopes.com/" title="Snopes.com | The definitive fact-checking site and reference source for urban legends, folklore, myths, rumors, and misinformation.">Snopes</a></li>
    <li>Natalie Gyenes, <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Sandro Hawke, <a href="https://www.w3.org/" title="World Wide Web Consortium (W3C)">W3C</a>; <a href="http://web.mit.edu/" title="MIT - Massachusetts Institute of Technology">MIT</a></li>
    <li>Jennifer 8. Lee, <a href="https://hackshackers.com/" title="Hacks/Hackers / join the media revolution">Hacks/Hackers</a></li>
    <li>Dr. Emlen Metz, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>An Xiao Mina, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a>; <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Stuart Myles, <a href="https://www.ap.org/en-us/" title="Associated Press">The Associated Press</a></li>
    <li>Aviv Ovadya, Fellow at <a href="https://towcenter.org/" title="Tow Center for Digital Journalism">Tow Center for Digital Journalism at Columbia</a></li>
    <li>Aditya Ranganathan, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Karim Ratib, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Evan Sandhaus, <a href="https://www.nytimes.com/" title="The New York Times - Breaking News, World News &amp; Multimedia">New York Times</a></li>
    <li>Connie Moon Sehat, <a href="https://globalvoices.org/" title="Global Voices &amp;middot; Citizen media stories from around the world">Global Voices</a></li>
    <li>Heather Staines, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Robert Stojnic, <a href="http://www.whitepages.com/name/Facmata" title="Facmata | Whitepages">Facmata</a></li>
    <li>Sara-Jayne Terp, <a href="https://www.appnexus.com/en" title="AppNexus">AppNexus</a></li>
    <li>Jon Udell, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Rick Weiss, <a href="https://www.aaas.org/" title="AAAS">AAAS SciLine</a></li>
    <li>Dan Whaley, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Emmanuel Vincent, <a href="https://climatefeedback.org/" title="Scientific Reference to Reliable Information on Climate Change - Climate Feedback">Climate Feedback</a></li>
    <li>Amy X. Zhang, <a href="https://www.csail.mit.edu/" title="MIT Computer Science and Artificial Intelligence Laboratory | MIT CSAIL">MIT CSAIL</a></li>
  </ul>
 </div>
</div>

<div class="credibility-indicators--logos">
  <div class="inner">
    <p class="center">The Credibility Indicators Working Group has received generous support from:</p>

    <ul class="logos">
      <% data.ciwg_logos.each do |image| %>
        <li>
          <%= partial "partials/image", :locals => {
              :type => image[:type],
              :name => image[:name],
              :url => image[:url]} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="credibility-indicators--section">
  <div class="inner">
    <p class="center">We are proud recipients of a <br /> <a href="https://knightfoundation.org/challenges/knight-prototype-fund">Knight Prototype Fund grant</a>.</p>
  </div>
</div>
