---
lang: en-US
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            {% if page.status == 'Live' %}
                <div class="event-image-grid">
                    <div class="video-container u-responsive-ratio media-16by9">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=UCKyn6nCR9fXFhDL-WeeyOzQ&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            {% else %}
                <div class="time">
                    {{ page.time | markdownify }}
                </div>
                <div class="event-image-grid">
                {% for image in page.images %}
                    <figure>
                        <img src="{{ image.url }}" alt="{{ image.title }}"/>
                        <figcaption>{{ image.description | markdownify }}</figcaption>
                    </figure>
                {% endfor %}
                </div>
            {% endif %}
            <div class="story-wrapper section-margin">
                {{ page.long_description | markdownify }}
                {% if page.register_link %}
                    <p><a class="button" href="{{ page.register_link }}">Attend</a></p>
                {% endif %}
            </div>
            <div class="story-footer small-hr section-margin">
                <div class="story-footer-item">
                    {% if page.alt_date %}
                        {% assign published_on = page.alt_date %}
                    {% else %}
                        {% assign published_on = page.sys.created_at %}
                    {% endif %}
                    <span>Published on</span> {{ published_on | date: "%-d %B %Y" }}
                </div>
            </div>
        </section>
        {% include module_checklist.html %}
        {% include footer_small.html theme="dark" %}
    </div>
    <!-- {% include footer_nav.html %} -->
    {% include js.html %}
</body>

</html>