---
lang: en-US
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <div class="event-image-grid section-margin">
            {% for image in page.images %}
                <picture>
                    <img src="{{ image.url }}" alt="{{ image.title }}"/>
                </picture>
            {% endfor %}
            </div>
            <div class="story-wrapper section-margin">
                {{ page.description | markdownify }}
                {% if page.register_link %}
                    <p><a class="button" href="{{ page.register_link }}">Attend</a></p>
                {% endif %}
            </div>
            <div class="story-footer small-hr section-margin">
                <div class="story-footer-item">
                    {% if page.alt_date %}
                        {% assign published_on = page.alt_date %}
                    {% else %}
                        {% assign published_on = page.sys.created_at %}
                    {% endif %}
                    <span>Published on</span> {{ published_on | date: "%-d %B %Y" }}
                </div>
            </div>
            {% include module_checklist.html %}
            {% include footer_small.html theme="dark" %}
        </section>
    </div>
    <!-- {% include footer_nav.html %} -->
    {% include js.html %}
</body>

</html>