<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site {{ page.class }}">
    <a id="top"></a>
    <div class="front-wrapper">
        {% include header.html theme="dark" %}
        <figure class="graphic bleed full-bleed">
            <img class="justify-self--center" src="/images/home-porto-session.png" alt="Meedan team in Porto" />
        </figure>
        {{ content }}
        {% include module_checklist.html %}
        {% include footer_small.html theme="dark" %}    
    </div>
    {% include js.html %}
</body>

</html>