<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story job">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <div class="story-wrapper section-margin">
                <div class="story-sidebar">
                    {% if page.link_to_external_job_posting %}
                        {% assign link_to_apply = page.link_to_external_job_posting %}
                    {% else %}
                        {% assign job_posted_on = page.sys.created_at | date: '%-d %B %Y' %}
                        {% assign link_to_apply = "mailto:jobs@meedan.com?subject=" | append: page.title | append:  "(" | append: job_posted_on | append: ")" %}
                    {% endif %}
                    <div class="story-sidebar-item">
                        Please send CV and statement of interest
                        <a href="{{ link_to_apply }}" class="button">
                            Apply ↗
                        </a>
                    </div>
                    <div class="story-sidebar-item">
                        <span>Published on</span> {{ page.sys.created_at | date: "%-d %B %Y" }}
                    </div>
                </div>
                {{ page.body | markdownify }}
            </div>
            
            <!-- <div class="story-footer small-hr section-margin">
                <div class="story-footer-item">
                    <span>Published on</span> {{ page.sys.created_at | date: "%-d %B %Y" }}
                </div>
            </div> -->
        </section>
        {% include module_checklist.html %}
        {% include footer_small.html theme="dark" %}
    </div>
    {% include js.html %}
</body>

</html>