<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <div class="story-wrapper section-margin">
                {{ content }}
            </div>
            <div class="story-footer small-hr section-margin">
                {% if page.words_by %}
                    <div class="story-footer-item">
                        <span>Words</span> {% for contributor in page.words_by %}{{ contributor.name}}{% endfor %}
                    </div>
                {% endif %}
                <div class="story-footer-item">
                    {% if page.modified %}
                        {{ page.modified }}
                    {% else %}
                        Last modified: <br />{{ page.sys.updated_at | date: "%-d %B %Y" }}
                    {% endif %}
                </div>
            </div>
            {% include footer_small.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>