<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <div class="story-wrapper section-margin">
                <div class="main-grid__1-3">
                    {{ page.modified }}
                </div>
                {{ content }}
            </div>
            {% include footer_small.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>