<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <div class="story-wrapper section-margin">
                {{ content }}
            </div>
            <div class="story-footer small-hr section-margin">
                <div class="story-footer-item">
                    {% if page.modified %}
                        {{ page.modified }}
                    {% else %}
                        Last modified: <br />{{ page.sys.updated_at | date: "%-d %B %Y" }}
                    {% endif %}
                </div>
                <div class="story-footer-item">
                    <span>Archived version</span> <a href="//github.com/meedan/meedan.com/commits/master{{ page.url }}">on Github</a>
                </div>
            </div>
            {% include footer_small.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>