<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="about">
    <div class="page-wrapper">
        <header class="">
            <a class="menu" href="#">
                <span class="meedan" href="/">
                    {% include meedan_ribbon.html %}
                </span>
                <span class="menu-icon" href="#">
                    {% include menu.html %}
                </span>
            </a>
            <h1>Meedan</h1>
            <h2>About Meedan</h2>
            <svg id="text-container" class="callout" width="618" height="663" viewBox="0 0 618 663" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="text-curve"d="M0 1H445C502.333 1.66667 617 16 617 151C617 269.4 617 663 617 663" stroke="none"/>
                <text width="100%">
                    <textPath id="text-path" href="#text-curve" startOffset="460">
                        Subscribe to our misinformation news roundup
                    </textPath>
                </text>
            </svg>
            <p class="standfirst">
                Meedan is a non-profit that focuses on improving the quality and equity of online information. We build software and design human-powered initiatives for newsrooms, NGOs and academic institutions.
            </p>
        </header>
        <section>
            <div class="main-grid">
                <p class="main-grid__1--1">Our projects and products support open-source investigations, digital media verification, media literacy training and long-term research into indicators of information quality.</p>
            </div>
            <figure>
                <img class="main-grid__4-12" src="/images/about-ed.png" alt="Meedan's CEO Ed Bice talking with the team." />
            </figure>
            <div class="main-grid">
                <p class="main-grid__5-12">
                    We are a group of technologists, journalists, researchers and designers. We collaborate on building solutions to complex and uncharted global challenges on the web. 
                </p>
            </div>
            {% include module_key_points.html %}
            {% include module_recent_press.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>