---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include header.html %}
        <section>
            <div class="story-wrapper section-margin">
                {{ page.body | markdownify }}
            </div>
            <div class="story-footer small-hr section-margin">
                <div class="story-footer-item">
                    {% if page.custom-last-modified %}
                        {{ page.custom-last-modified | date: "%-d %B %Y" }}
                    {% else %}
                        Last modified: <br />{{ page.sys.updated_at | date: "%-d %B %Y" }}
                    {% endif %}
                </div>
            </div>
            {% include footer_small.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>