<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body id="top" class="{{ page.class }}">
    <a id="top"></a>
    <div class="page-wrapper">
        <header class="">
            <a class="menu" href="#">
                <span class="meedan" href="/">
                    {% include meedan_ribbon.html %}
                </span>
                <span class="menu-icon" href="#">
                    {% include menu.html %}
                </span>
            </a>
            <h1>{{ page.title }}</h1>
            <h2>{{ page.h2 }}</h2>
            <svg id="text-container" class="callout" width="618" height="663" viewBox="0 0 618 663" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="text-curve"d="M0 1H445C502.333 1.66667 617 16 617 151C617 269.4 617 663 617 663" stroke="none"/>
                <text width="100%">
                    <textPath id="text-path" href="#text-curve" startOffset="460">
                        {{ page.callout }}
                    </textPath>
                </text>
            </svg>
            <p class="standfirst">
                {{ page.standfirst }}
            </p>
        </header>
        <section>
            {{ content }}
        </section>
    </div>
    {% include js.html %}
</body>

</html>