<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site publication dark{{ page.class }}">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include publication_header.html %}
        <section>
            <!-- <div class="section-icon section-margin">
                <img src="/images/placeholders/part-one-icon.png" />
            </div> -->
            {% include publication_sections.html %}
            {% include footer_small_newsletter.html theme="dark" %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>