---
lang: en-US
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site story">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>
            <figure class="graphic">
                <img class="main-grid__2-11 justify-self--center lead_image" alt="{{ page.lead_image.title }}" src="{{ page.lead_image.url }}" />
                <figcaption class="main-grid__2-11">
                    {{ page.lead_image.description }}
                </figcaption>
            </figure>
            {% include translations.html %}
            {% if page.updates.en-US %}
                <div class="story-updates section-margin">
                    {{ page.updates.en-US | markdownify }}
                </div>
            {% endif %}
            <div class="story-wrapper section-margin">
                {{ page.body | markdownify }}
            </div>
            <div class="story-footer small-hr section-margin">
                {% if page.words_by %}
                    <div class="story-footer-item">
                        {% include words_by.html %}
                    </div>
                {% endif %}
                <div class="story-footer-item">
                    {% if page.alt_date %}
                        {% assign published_on = page.alt_date %}
                    {% else %}
                        {% assign published_on = page.sys.created_at %}
                    {% endif %}
                    <span>Published on</span> {{ published_on | date: "%-d %B %Y" }}
                </div>
            </div>
            {% include module_stories.html %}
            {% include module_checklist.html %}
            {% include footer_small.html theme="dark" %}
        </section>
    </div>
    <!-- {% include footer_nav.html %} -->
    {% include js.html %}
</body>

</html>