---
layout: topic
custom_js: topic
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="site blog topic">
    <a id="top"></a>
    <div class="page-wrapper">
        {% include post_header.html %}
        <section>            
            {% capture current_topic %}{{ page.topic }}{% endcapture %}
            {% capture topic_id %}{{ page.sys.id }}{% endcapture %}
            {% assign topics = site.data.contentful.spaces.topics.topic %}
            {{ topic }}
            <div class="section-title">
                Stories about 
                <select id="select-topic" class="select-topic">
                    {% for topic in topics %}
                        {% if topic.topic == current_topic %}
                            <option value="topic-{{topic.topic | slugify }}" data-url="/blog/{{topic.topic | slugify }}" selected>{{ topic.topic | downcase }}</option>
                        {% else %}
                            <option value="topic-{{topic.topic | slugify }}" data-url="/blog/{{topic.topic | slugify }}">{{ topic.topic | downcase }}</option>
                        {% endif %}
                    {% endfor %}
                    <!-- <option value="topic-all">All topics</option> -->
                </select>
            </div>
            {% if page.path == 'pages/all_stories.html' %}
                {% include module_story_grid.html columns="3" %}
            {% else %}
                {% include module_story_grid.html columns="3" topic=topic_id %}
            {% endif %}
            {% include footer_small.html %}
        </section>
    </div>
    {% include js.html %}
</body>

</html>