---
custom_css: user_guide
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="page-section page-user-guide">
    <div class="site-wrapper">
        {% include header.html %}
        
            <div class="content-wrapper">
                
                <div class="content">
                    <div class="breadcrumb">
                        {% include icon_back_arrow.html %}<a href="/user-guides">Back to User Guides</a>
                    </div>
                    <h1>{{ page.title }}</h1>
                    <div class="content-body-text">
                    {% for module in page.modules %}
                        {% 
                            include cases_modules.html 
                            module=module
                        %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        
    </div>
    {% include js.html %}
</body>

</html>